<template>
  <div class="bpm-task">
    <a-tabs class="bpm-task-tabs">
      <div slot="tabBarExtraContent" class="bpm-task-header">
        <a-icon
          type="sync"
          class="header-icon theme-main-hover-color"
          :spin="loading"
          @click="loadData"
        />
        <router-link :to="taskManagePath">
          更多
          <a-icon type="double-right" class="header-icon" />
        </router-link>
      </div>
      <a-tab-pane key="todo" :force-render="true" class="bpm-task-pane">
        <span slot="tab"> <a-icon type="schedule" class="header-icon" />我的待办 </span>
        <div class="bpm-task-content">
          <vue-scroll :ops="ops">
            <a-table
              :columns="columns"
              :data-source="toDoData"
              row-key="dbid"
              :loading="loading"
              :show-header="false"
              :pagination="false"
              size="small"
            >
              <span slot="flowDetailLink" slot-scope="text, record">
                <a href="javascript:;" class="todo-action" @click="toFlowDetail(record)">
                  {{ text }}
                </a>
              </span>
              <span slot="action" slot-scope="text, record">
                <AvicBpmSubmitTaskBtn :flow-task="record" @bpmSubmitSuccess="bpmSubmitSuccess" />
              </span>
            </a-table>
          </vue-scroll>
        </div>
      </a-tab-pane>
      <a-tab-pane key="read" :force-render="true" class="bpm-task-pane">
        <span slot="tab"> <a-icon type="ordered-list" class="header-icon" />我的待阅 </span>
        <div class="bpm-task-content">
          <vue-scroll :ops="ops">
            <a-table
              :columns="columns"
              :data-source="toReadData"
              row-key="dbid"
              :loading="loading"
              :show-header="false"
              :pagination="false"
              size="small"
            >
              <span slot="flowDetailLink" slot-scope="text, record">
                <a href="javascript:;" class="todo-action" @click="toFlowDetail(record)">
                  {{ text }}
                </a>
              </span>
              <span slot="action" slot-scope="text, record">
                <a href="javascript:;" class="todo-action" @click="handleToRead(record)">已阅</a>
              </span>
            </a-table>
          </vue-scroll>
        </div>
      </a-tab-pane>
    </a-tabs>
    <AvicBpmDetailList />
  </div>
</template>
<script>
import { Tabs, Icon, Table, Modal } from 'ant-design-vue';
import AvicBpmSubmitTaskBtn from '@comp/avic/bpm/AvicBpmTask/AvicBpmSubmitTaskBtn';
import AvicBpmDetailList from '@/components/avic/bpm/AvicBpmDetailList';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
const columns = [
  {
    title: '流程模板',
    dataIndex: 'processDefName',
    width: '25%'
  },
  {
    title: '流程节点',
    dataIndex: 'activityalias_',
    width: '25%',
    scopedSlots: { customRender: 'flowDetailLink' }
  },
  {
    title: '提交人',
    dataIndex: 'taskSendUser'
  },
  {
    title: '提交时间',
    dataIndex: 'cTime'
  },
  {
    title: '操作',
    dataIndex: 'dbid',
    scopedSlots: { customRender: 'action' },
    width: '10%'
  }
];
export default {
  name: 'BpmTask',
  components: {
    ATabs: Tabs,
    ATabPane: Tabs.TabPane,
    AIcon: Icon,
    ATable: Table,
    AvicBpmSubmitTaskBtn,
    AvicBpmDetailList
  },
  data: () => {
    return {
      taskManagePath: '/BpmTaskManage',
      columns,
      loading: false,
      toDoData: [],
      toReadData: [],
      pageSize: 10,
      httpConfig: {
        getBpmTask: {
          url: bpmUtils.baseurl + '/todo/portal/waittodo/v1',
          method: 'post'
        },
        saveFinishReader: {
          url: bpmUtils.baseurl + '/business/finishreader/v1',
          method: 'post'
        }
      },
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      }
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    toFlowDetail(row) {
      bpmUtils.executeTask(
        row.processInstance,
        row.executionId,
        row.dbid,
        row.businessId,
        row.formResourceName,
        row.processDefName || row.taskTitle,
        row.taskType
      );
    },
    loadData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      let param = {
        pageSize: this.pageSize,
        tabType: 'todo'
      };
      httpAction(this.httpConfig.getBpmTask.url, param, this.httpConfig.getBpmTask.method)
        .then(res => {
          if (res.success) {
            this.toDoData = res.result.todoRows;
            this.toReadData = res.result.readRows;
          }
          this.loading = false;
        })
        .catch(e => {
          this.loading = false;
        });
    },
    loadToReadData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      let param = {
        pageSize: this.pageSize,
        tabType: 'read'
      };
      httpAction(this.httpConfig.getBpmTask.url, param, this.httpConfig.getBpmTask.method)
        .then(res => {
          if (res.success) {
            this.toReadData = res.result.readRows;
          }
          this.loading = false;
        })
        .catch(e => {
          this.loading = false;
        });
    },
    handleToRead(row) {
      Modal.confirm({
        title: '确定标记为已阅吗？',
        onOk: () => {
          this.saveFinishReader(row);
        }
      });
    },
    saveFinishReader(row) {
      let param = {
        dbid: row.dbid,
        entryId: row.processInstance,
        doTask: true
      };
      httpAction(
        this.httpConfig.saveFinishReader.url,
        param,
        this.httpConfig.saveFinishReader.method
      )
        .then(res => {
          if (res.success) {
            this.loadData();
          }
        })
        .catch(e => {});
    },
    bpmSubmitSuccess() {
      this.loadData();
    }
  }
};
</script>
<style lang="less">
.bpm-task {
  height: 100%;
  .bpm-task-header {
    .header-icon {
      margin-right: 5px;
    }
  }
  .bpm-task-tabs {
    height: 100%;
    .ant-tabs-bar {
      margin: 0;
    }
    .ant-tabs-top-content {
      height: calc(100% - 60px);
      .bpm-task-pane {
        height: 100%;
      }
    }
  }
  .bpm-task-content {
    height: 100%;
  }

  .ant-table-small {
    border: none;
  }
  .todo-action {
    text-decoration: none;
  }
}
</style>
