<template>
  <a-spin :spinning="loading">
    <div class="module module02 module-notice">
      <a-list bordered :data-source="dataList">
        <a-list-item slot="renderItem" slot-scope="item">
          <span>
            <a href="javascript:void(0)" @click="handleDetail(item.id)" :title="item.noticeTitle">{{
              item.noticeTitle
            }}</a>
          </span>
          <a-badge class="a-badge-new" count="NEW" v-if="item.isNew" />
          <span v-else />
          <span>{{ item.startTime }}</span>
          <!--        <span>{{ item.author }}</span>-->
        </a-list-item>
      </a-list>
    </div>
  </a-spin>
</template>

<script>
// import { httpAction } from '@/api/manage';
import Moment from 'moment';
export default {
  name: 'DemoNoticeInfoPortal',
  data() {
    return {
      dataList: [], //列表数据
      postParam: {
        url: '/api/demo/notice/demonoticeinfo/DemoNoticeInfoRest/searchByRows/v1',
        params: {
          rows: '6' // 每页条数
        },
        method: 'Post'
      },
      loading: false
    };
  },
  mounted() {
    this.initData();
  },
  methods: {
    initData() {
      this.loadData();
    },
    // 加载数据
    loadData() {
      let todays = Moment().subtract('days', 0).format('YYYY-MM-DD');
      let result = [
        {
          noticeTitle: '【技术支持与培训】 Redis简介及Redis高可用',
          startTime: '20200929'
        },
        {
          noticeTitle: '【技术支持与培训】基于mxgraph的模型开发方法',
          startTime: '20200929'
        },
        {
          noticeTitle: '【协同研发平台】 协同研发平台用户密码重置',
          startTime: '20200929'
        },
        {
          noticeTitle: '【技术支持与培训】 帆软最新临时授权文件',
          startTime: '20200928'
        },
        {
          noticeTitle: '【技术支持与培训】 基于模型的软件开发方法',
          startTime: '20200928'
        },
        {
          noticeTitle: '【技术支持与培训】 应用系统宕机紧急采集JVM信息脚本及其使用说明',
          startTime: '20200928'
        }
      ];
      result.map(tim => {
        tim.startTime = Moment(tim.startTime).format('YYYY-MM-DD');
        if (tim.startTime == todays) {
          tim.isNew = true;
        } else {
          tim.isNew = false;
        }
      });
      this.dataList = result;
      /*  this.loading = true;
         httpAction(this.postParam.url, this.postParam.params, this.postParam.method)
        .then(res => {
          if (res.result.result) {
            let todays = Moment().subtract('days', 0).format('YYYY-MM-DD');
            res.result.result = [
              {
                noticeTitle: '【技术支持与培训】 Redis简介及Redis高可用',
                startTime: '20200929'
              },
              {
                noticeTitle: '【技术支持与培训】基于mxgraph的模型开发方法',
                startTime: '20200929'
              },
              {
                noticeTitle: '【协同研发平台】 协同研发平台用户密码重置',
                startTime: '20200929'
              },
              {
                noticeTitle: '【技术支持与培训】 帆软最新临时授权文件',
                startTime: '20200928'
              },
              {
                noticeTitle: '【技术支持与培训】 基于模型的软件开发方法',
                startTime: '20200928'
              },
              {
                noticeTitle: '【技术支持与培训】 应用系统宕机紧急采集JVM信息脚本及其使用说明',
                startTime: '20200928'
              }
            ];
            res.result.result.map(tim => {
              tim.startTime = Moment(tim.startTime).format('YYYY-MM-DD');
              if (tim.startTime == todays) {
                tim.isNew = true;
              } else {
                tim.isNew = false;
              }
            });
            this.dataList = res.result.result;
            this.loading = false;
          }
        })
        .catch(() => {
          this.loading = false;
        });*/
    },
    //打开详情页
    handleDetail(id) {
      if (id == '' || id == null) {
        return;
      }
      let windowName = 'NewContentDetailWin';
      let url = 'avic/pt/examples/noticeDemo/demonoticeinfo/DemoNoticeInfoWinDetail';
      url = url + '?id=' + id;
      let urlStr = url.split('?');
      url = encodeURIComponent(urlStr[0].replace(RegExp('/', 'g'), '_')) + '?' + urlStr[1];
      window.open('/routerContentLoader/' + url, windowName);
    }
  }
};
</script>

<style lang="less" scoped>
.module {
  background: #fff;
  border-radius: 2px;
  // 通知公告start
  /deep/ .ant-list-bordered .ant-list-item,
  .ant-list-bordered {
    border: none;
  }
  /deep/ .ant-list-bordered {
    .ant-list-item {
      font-size: 12px;
      color: #252b3a;
      padding:10px 20px;
      display: block;
      span:nth-child(3),
      span:nth-child(4) {
        float: right;
        color: #5d6b7e;
        font-size: 12px;
        margin-left: 10px;
        line-height: 22px;
      }
      .ant-badge .ant-badge-count {
        width: 42px !important;
        height: 18px !important;
        line-height: 18px;
        text-align: center;
        border-radius: 4px !important;
        background: #f66;
        margin-left: 13px;
      }
      .ant-badge-not-a-wrapper:not(.ant-badge-status) {
        vertical-align: top;
      }
    }
    /deep/ .ant-list-item > span:nth-child(1) {
      max-width: 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      a {
        color: #252b3a;
      }
    }
  }
  // 通知公告end
}
</style>
