<template>
  <div class="notice-content">
    <div class="notice-body">
      <div class="notice-wrapper">
        <div class="notice-head">
          <h1 v-if="data && data.noticeTitle">{{ data.noticeTitle }}</h1>
          <span>{{ dataLabel.startTime }}</span>
          <span>{{ data.startTime }}</span>
          <a-divider type="vertical" />
          <span>{{ dataLabel.author }}</span>
          <span>{{ data.author }}</span>
          <a-divider type="vertical" />
          <span>{{ dataLabel.authorDeptIdAlias }}</span>
          <span>{{ data.authorDeptIdAlias }}</span>
          <a-divider type="vertical" />
          <span>{{ dataLabel.endTime }}</span>
          <span>{{ data.endTime }}</span>
        </div>
        <a-divider />
        <div class="notice-main" v-html="data.content">
          <!--        <p v-html="data.content"></p>-->
          <!--        {{}}-->
        </div>
        <div class="notice-file">
          <a-col :span="24">
            <AvicUploader
              key="1"
              element-id="1"
              form-type="detail"
              :allow-add="true"
              :allow-delete="false"
              :allow-preview="true"
              :allow-download="true"
              :update-level="false"
              :colspan="2"
              :form-id="formId"
            />
            <!--附件上传-->
          </a-col>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { httpAction } from '@/api/manage';
import Moment from 'moment';
import AvicUploader from '@comp/avic/pt/common/AvicUploader';
export default {
  name: 'DemoNoticeInfoDetail',
  components: {
    AvicUploader
  },
  data() {
    return {
      id: null,
      data: {},
      dataLabel: {
        authorDeptIdAlias: '发布部门：',
        author: '发布者：',
        startTime: '发布时间：',
        endTime: '失效时间：'
      },
      postParam: {
        url: '/api/demo/notice/demonoticeinfo/DemoNoticeInfoRest/get/v1/',
        method: 'GET'
      },
      formId: ''
    };
  },
  created() {
    this.id = this.$route.query.id;
    this.from;
  },
  mounted() {
    this.loadNoticeDetail();
  },
  methods: {
    // 加载详情信息
    loadNoticeDetail() {
      if (this.formId) {
        this.formId = '';
      }
      httpAction(this.postParam.url + this.id, null, this.postParam.method).then(res => {
        if (res.success) {
          this.formId = res.result.id;
          res.result.startTime = Moment(res.result.startTime).format('YYYY-MM-DD');
          res.result.endTime = Moment(res.result.endTime).format('YYYY-MM-DD');
          res.result.content = res.result.content.replace(/\n/g, '<br/>');
          this.data = res.result;
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.notice-content {
  padding: 20px 0;
  background-color: #f7f9f8;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.notice-body {
  min-height: 600px;
  width: 1000px;
  margin: auto;
  padding: 15px 15px;
  background-color: #fff;
}
.notice-wrapper {
  min-height: 500px;
  width: 100%;
  height: 100%;
  padding: 30px 25px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.notice-head {
  text-align: center;
  span {
    color: #989696;
  }
}
.notice-main {
  font-size: 16px;
  margin-bottom: 40px;
}
.notice-file {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}
</style>
