<template>
  <div class="avic-textarea-count">
    <div class="avic-textarea-num" :style="defaultStyle">{{ num }}/{{ len }}</div>
  </div>
</template>
<script>
export default {
  name: 'AvicTextareaCount',
  props: {
    //最大可输入长度，半角字符长度为1，全角字符长度为2
    len: {
      type: Number,
      required: false,
      default: 200
    },
    //监听textarea的id
    target: {
      type: String,
      required: true,
      default: 'textarea'
    },
    defaultStyle: {
      type: Object,
      required: false,
      default: () => {
        return { bottom: '8px' };
      }
    }
  },
  data() {
    return {
      num: 0,
      targetDom: null,
      myListener: null
    };
  },
  mounted() {
    this.targetDom = document.getElementById(this.target);
    this.myListener = setInterval(this.firstCheck, 500);
    setTimeout(() => {
      if (!this.targetDom) return;
      this.checkWord();
      this.targetDom.addEventListener('input', this.checkWord);
    }, 0);
  },
  beforeDestroy() {
    this.targetDom.removeEventListener('input', this.checkWord);
  },
  methods: {
    firstCheck() {
      if (this.targetDom.value) {
        this.checkWord(this.targetDom.value);
        clearInterval(this.myListener);
      }
    },
    checkWord(text = '') {
      if (!this.targetDom) return;
      let maxlen = this.len,
        str = typeof text == 'string' && text != '' ? text : this.targetDom.value;
      // 区分中英文 汉字算2长度 的算法
      // let curLen = str.replace(/[^\x00-\xff]/g, '**').length / 2
      let curLen = str.length;
      if (curLen > maxlen) {
        // let targetIndex = -1
        // for (let i = str.length; targetIndex === -1; --i) {
        //   // 区分中英文 汉字算2长度 的算法
        //   if (str.substring(0, i).replace(/[^\x00-\xff]/g, '**').length/2 <= maxlen) {
        //     targetIndex = i
        //   }
        // }
        setTimeout(() => {
          // 区分中英文 汉字算2长度 的算法
          // this.targetDom.value = str.substring(0, targetIndex)
          this.targetDom.value = str.substring(0, maxlen);
          this.num = Math.floor(maxlen);
        }, 100);
      } else {
        this.num = Math.floor(curLen);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.avic-textarea-count {
  position: relative;
}
.avic-textarea-count:hover {
  opacity: 0.3;
}
.avic-textarea-num {
  text-align: right;
  position: absolute;
  margin-left: 2px;
  right: 1px;
  color: #888;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 3px;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
</style>
