<!--
    初始化根节点
-->
<template>
  <a-modal
    title="操作"
    cancel-text="取消"
    ok-text="完成"
    :visible="visible"
    @ok="confirm"
    @cancel="closeModal"
  >
    <div class="ini-tree-date">未找到根节点，确定要初始化根节点吗？</div>
  </a-modal>
</template>
<script>
import { httpAction } from '@/api/manage';
import { Modal } from 'ant-design-vue';
export default {
  name: 'AvicInitTreeRootNode',
  components: {
    AModal: Modal
  },
  props: {
    //树列表加载参数
    insertRootParam: {
      type: Object,
      required: true, //校验
      default: null
    },
    visible: {
      type: Boolean,
      required: true, //校验
      default: false
    }
  },
  methods: {
    confirm() {
      this.insertRoot();
    },
    closeModal() {
      this.$emit('close');
    },
    //初始化树节点
    insertRoot() {
      httpAction(this.insertRootParam.url, '', this.insertRootParam.method, true, true, false)
        .then(res => {
          this.$emit('confirm', res);
        })
        .catch(() => {
          this.$emit('close');
        });
    }
  }
};
</script>
