<template>
  <a-dropdown
    class="avic-tree-select"
    v-model="visible"
    :trigger="['click']"
    :overlay-style="{
      background: '#fff',
      height: '260px',
      width: '100%',
      boxShadow: '0 2px 8px rgba(0, 0, 0, 0.15)'
    }"
    :get-popup-container="e => e.parentElement"
    :disabled="disabled"
  >
    <a-input :value="showValue" :placeholder="placeholder" @change="handleInput">
      <a-icon slot="suffix" type="select" @click="handleTrigger" />
    </a-input>
    <AvicTree
      slot="overlay"
      class="avic-tree-select-dropdown"
      :tree-param="loadTreeParam"
      :ref="treeSelectRefName"
      :search-tree-param="searchTreeData"
      :is-load-data="true"
      :default-show-context-menu="false"
      :default-max-parent-id="defaultMaxParentId"
      :tree-loading="treeLoading"
      :default-expand-hierarchy="defaultExpandHierarchy"
      :selected-keys.sync="selectedKeys"
      @select="selectNodeTree"
      @searchTree="searchTree"
      @updateTreeData="updateTreeData"
      @beforeLoadData="beforeLoadData"
    />
  </a-dropdown>
</template>
<script>
import { getTreeById } from '@/utils/avic/common/treeUtils';
import AvicTree from '@/components/avic/pt/common/AvicTree';
import { Dropdown, Input, Icon } from 'ant-design-vue';
export default {
  name: 'AvicTreeSelect',
  components: {
    AvicTree,
    ADropdown: Dropdown,
    AInput: Input,
    AIcon: Icon
  },
  props: {
    // 表单控件值、v-model双向绑定控件数据
    value: {
      type: String,
      default: ''
    },
    defaultShowValue: {
      type: String,
      default: ''
    },
    //是否展示清空图标
    allowClear: {
      type: Boolean,
      default: false
    },
    //输入框提示
    placeholder: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否禁用控件
    disabled: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //默认最高父级ID
    defaultMaxParentId: {
      type: String,
      required: false, //校验
      default: '-1'
    },
    // 默认展开层级
    defaultExpandHierarchy: {
      type: Number,
      default: 2
    },
    //加载树节点请求相关参数
    treeParam: {
      type: Object,
      required: true
    },
    //树搜索请求相关参数
    searchTreeParam: {
      type: Object,
      required: true, //校验
      default: null
    }
  },
  watch: {
    value: {
      immediate: true,
      handler(value) {
        if (value) {
          this.setShowValue();
        }
      }
    },
    defaultShowValue: {
      immediate: true,
      handler(value) {
        if (value) {
          this.showValue = value;
          this.oldValue = value;
        }
      }
    }
  },
  data() {
    return {
      visible: false,
      treeSelectRefName: 'treeSelectRef',
      showValue: this.defaultShowValue,
      openLevel: 1, //每次树展开层级
      selectedKeys: [],
      treeData: [],
      treeLoading: false, // 树加载状态
      searchTreeData: this.searchTreeParam, // 树搜索相关参数
      loadTreeParam: this.treeParam // 树节点加载相关参数
    };
  },
  created() {
    let loadTreeParam = { ...this.treeParam };
    loadTreeParam.url =
      this.treeParam.url + this.defaultExpandHierarchy + '/' + this.defaultMaxParentId;
    this.loadTreeParam = loadTreeParam;
  },
  methods: {
    // 组件外部访问方法--聚焦
    focus() {
      this.handleFocus();
    },
    // 组件外部访问方法--失焦
    blur() {
      this.handleBlur();
    },
    handleTrigger() {
      if (!this.disabled) {
        this.visible = !this.visible;
      }
    },
    // 聚焦事件处理
    handleFocus() {
      if (!this.disabled) {
        this.visible = true;
      }
    },
    // 失焦事件处理
    handleBlur() {
      this.visible = false;
    },
    handleInput(e) {
      this.showValue = this.oldValue;
    },
    setShowValue() {
      let selectNode = getTreeById(this.treeData, this.value);
      if (selectNode) {
        this.showValue = selectNode.title;
        this.oldValue = this.showValue;
        this.selectedKeys = [selectNode.id];
      }
    },
    //树节点选择处理事件
    selectNodeTree(keys, selectNode, e) {
      this.selectedRowKeys = [];
      if (keys && keys.length > 0) {
        this.selectedKeys = keys;
        this.showValue = selectNode.title;
        this.oldValue = this.showValue;
        this.$emit('input', keys[0]);
        this.$emit('change', keys[0]);
        this.$emit('select', keys, selectNode, e);
      }
      this.visible = false;
    },
    //树搜索方法
    searchTree(e) {
      if (!e || !e.trim().length) {
        this.loadTreeParam.url =
          this.treeParam.url + this.defaultExpandHierarchy + '/' + this.defaultMaxParentId;
      } else {
        this.searchTreeData.parameter = { searchText: e.trim() };
      }
    },
    // 树列表加载数据事件
    updateTreeData(res) {
      this.treeLoading = false;
      this.treeData = res;
      this.$emit('updateTreeData', this.treeData);
      this.setShowValue();
    },
    //加载树节点之前,修改请求接口相关参数
    beforeLoadData(treeData, parentId) {
      this.loadTreeParam.url = this.treeParam.url + this.openLevel + '/' + parentId;
    }
  }
};
</script>
