<template>
  <fm-making-form
    ref="makingForm"
    upload
    preview
    generate-code
    generate-json
    clearable
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template slot="action" />
  </fm-making-form>
</template>

<script>
export default {
  props: {
    widgetForm: {
      type: Object,
      required: false, //校验
      default: () => {
        return null;
      }
    }
  },
  mounted() {
    this.$refs.makingForm.setJSON(this.widgetForm);
  }
};
</script>
