<template>
  <a-modal
    class="table-modal"
    title="编辑"
    :visible="visible"
    :style="editModalWidthAndHeight.modalStyle"
    :width="editModalWidthAndHeight.modalStyle.width"
    :body-style="editModalWidthAndHeight.bodyStyle"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="saveForm"> 保存 </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-form-item style="display: none">
        <a-input v-decorator="['menuId']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="按钮/权限名称"
            >
              <a-input
                v-decorator="[
                  'describe',
                  {
                    rules: [
                      { required: true, message: '请输入按钮/权限名称！' },
                      { max: 255, message: '不可超过255个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入按钮/权限名称"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="授权标识"
            >
              <a-input
                v-decorator="[
                  'action',
                  {
                    rules: [
                      { required: true, message: '输入格式为：英文名称:英文名称' },
                      { max: 255, message: '不可超过255个字符！' },
                      {
                        pattern: /^[A-Za-z0-9]+[\:]{1}[A-Za-z0-9]+$/,
                        message: '请输入正确的格式：英文名称:英文名称'
                      }
                    ]
                  }
                ]"
                placeholder="请输入授权标识"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="授权策略"
            >
              <a-radio-group
                v-decorator="[
                  'type',
                  {
                    rules: [{ required: true, message: '请选择授权策略！' }]
                  }
                ]"
                placeholder="请选择授权策略"
              >
                <a-radio value="1">授权后显示</a-radio>
                <a-radio value="2">可编辑（未授权时禁用）</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </a-modal>
</template>
<script>
import { Modal, Button, Form, Input, Col, Radio } from 'ant-design-vue';
import moment from 'moment';
import { httpAction } from '@api/manage';
import { formColLayout, modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)

//network getMenuPermListByPage Preview 查询后台传回属性，改属性
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'menuId',
    type: 'input'
  },
  {
    dataIndex: 'action',
    type: 'input'
  },
  {
    dataIndex: 'describe',
    type: 'input'
  },
  {
    dataIndex: 'type',
    type: 'select'
  },
  {
    dataIndex: 'sort',
    type: 'input'
  }
];
export default {
  name: 'MenuButtonEdit',
  components: {
    AModal: Modal,
    AButton: Button,
    AForm: Form,
    AFormItem: Form.Item,
    AInput: Input,
    ACol: Col,
    ARadio: Radio,
    ARadioGroup: Radio.Group
  },
  props: {
    layout: {
      // 一行几列布局参数
      type: String,
      default: '1'
    },
    requestPublicUrl: {
      // 请求地址路径的公共部分
      type: String,
      required: true
    }
  },
  data() {
    return {
      visible: false, // 弹窗modal显隐
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      editModalWidthAndHeight: modalWidthAndHeight(0.7, 0.7, 108), // 弹窗modal宽高控制
      form: this.$form.createForm(this), // 表单
      modalLoading: false, // 弹窗保存按钮loading状态
      modalFormData, // 表单数据
      //修改接口
      detailParam: {
        // 弹窗详情的请求接口
        url: this.requestPublicUrl + '/getMenuPerm/',
        method: 'get'
      },
      editParam: {
        // 编辑弹窗保存时的请求接口
        url: this.requestPublicUrl + '/updateMenuPerm',
        method: 'post'
      }
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.editModalWidthAndHeight = modalWidthAndHeight(0.7, 0.7, 108);
    });
  },
  methods: {
    moment,
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.visible = false; // 关闭弹窗
      this.modalLoading = false; // 按钮关闭loading状态
    },
    /**
     * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
     * @param {String} id 行数据的id
     */
    modalHandleDetailOrEdit(id) {
      // 点击编辑按钮或者查看详情时,回显数据
      this.form.resetFields(); // 清空表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开弹窗
      let that = this;
      httpAction(this.detailParam.url + id, '', this.detailParam.method) // 请求数据
        .then(res => {
          if (res.success) {
            this.formId = res.result.id; // 设置附件formId
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = {};
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = {};
            for (let key in data) {
              if (data[key]) {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                }
              }
            }
            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
          }
        });
    },
    /**
     * 保存成功的处理函数
     */
    reloadList() {
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadData', false); // 刷新表格
      this.modalLoading = false; // 按钮关闭loading状态
      this.visible = false; // 关闭弹窗
    },
    /**
     * 保存
     */
    saveForm(e) {
      e.preventDefault();
      let that = this;
      this.form.validateFields((err, values) => {
        // 校验表单并处理
        if (!err) {
          this.modalLoading = true;
          let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
          httpAction(this.editParam.url, newValues, this.editParam.method) // 提交
            .then(res => {
              if (res.success) {
                if (that.attachmentRefName) {
                  // 表单含有附件
                  that.$refs[that.attachmentRefName].upload(); // 附件上传
                } else {
                  // 表单不含有附件
                  that.reloadList();
                }
              } else {
                that.modalLoading = false; // 按钮关闭loading状态
                that.visible = false; // 关闭弹窗
              }
            })
            .catch(() => {
              this.modalLoading = false; // 按钮关闭loading状态
              this.visible = false; // 关闭弹窗
            });
        }
      });
    }
  }
};
</script>
