<template>
  <AvicModal
    :visible="globalideaVisible"
    modal-title="修改意见"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="98"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">关闭</a-button>
      <a-button type="primary" :disabled="data.length == 0" :loading="saveLoading" @click="save">
        确定
      </a-button>
    </template>
    <AvicEditTable
      :ref="tableRefName"
      :bordered="true"
      :is-auto-count-scroll-x="true"
      :is-fixed-head="false"
      :columns="selectColumns"
      :data-source="data"
      :row-key="rowKey"
      :pagination-default="false"
      :is-row-selection="false"
      :is-custom-row-click="false"
      @getData="getData"
      @cellChange="handleCellChange"
    />
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { Modal, message, Button } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseTableListMixin } from '@mixins/avic/pt/BaseTableListMixin';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { httpAction } from '@api/manage';
import { mapActions, mapGetters } from 'vuex';
import Store from '@/store/index';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import differenceWith from 'lodash.differencewith';
import isEqual from 'lodash.isequal';
// 表格主键字段
let rowKey = 'dbid';
let pageSettingData = [
  {
    title: '节点',
    dataIndex: 'currentActiveLabel',
    align: 'center'
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    align: 'center'
  },
  {
    title: '接收时间',
    dataIndex: 'iTime',
    align: 'center'
  },
  {
    title: '处理时间',
    dataIndex: 'eTime',
    align: 'center'
  },
  {
    title: '操作类型',
    dataIndex: 'opType',
    align: 'center'
  },
  {
    title: '处理意见',
    dataIndex: 'message',
    scopedSlots: { customRender: 'message' },
    type: 'input',
    isCanEdit: true
  }
];
export default {
  name: 'Globalidea',
  components: {
    AvicModal,
    AButton: Button
  },
  mixins: [baseTableMixin, baseTableListMixin],
  data() {
    return {
      globalideaVisible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 98), // 弹窗modal宽高控制
      saveLoading: false, // 弹窗确定按钮loading状态
      tableRefName: 'GlobalideaTable', // 表格ref名称
      rowKey, // 表格主键字段
      pageSettingData
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 98);
    });
  },
  methods: {
    ...mapActions(['closeGlobalideaModal', 'flowRefresh']),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.closeGlobalideaModal();
    },
    /**
     * 利用表格组件暴露出的方法getData, 接收表格组件请求回的数据(无分页)并处理
     * @param obj 形式: {data: data}
     */
    getData(obj) {
      if (obj.data && obj.data.length > 0) {
        this.dataRecord = JSON.parse(JSON.stringify(obj.data)); // 深拷贝data,记录刷新得到的数据,用于识别是否有编辑项
        this.data = JSON.parse(JSON.stringify(obj.data)); // 渲染表格
      } else {
        this.dataRecord = [];
        this.data = [];
      }
      this.hasTableDataChanged = false;
    },
    /**
     * 保存
     */
    // save() {
    //   this.saveLoading = true;
    //   // 获取表格变化的数据
    //   let { insertRecords, updateRecords } = this.$refs[this.tableRefName].getRecordset();
    //   // 表格有改动的数据
    //   let difData = [...insertRecords, ...updateRecords];
    //   httpAction(
    //     bpmUtils.baseurl + '/business/saveGettracks/v1',
    //     {
    //       data: JSON.stringify(difData),
    //       processInstanceId: Store.state.bpmGlobalidea.data.procinstDbid
    //     },
    //     'post'
    //   )
    //     .then(res => {
    //       if (res.success) {
    //         message.success('修改成功');
    //         this.closeGlobalideaModal();
    //         this.flowRefresh();
    //       }
    //       this.saveLoading = false;
    //     })
    //     .catch(() => {
    //       this.saveLoading = false;
    //     });
    // },
    /**
     * 保存，包括整体保存与独行保存
     */
    save(params) {
      let _this = this;
      // 规避正在保存时连续点击
      if (this.saveLoading) return;
      // 保存按钮打开loading状态
      if (!params.saveItem) {
        this.saveLoading = true;
      }
      // 排除掉组件中自己加的字段，以免影响判断
      let copyDatas = [];
      let recordOldData = [];
      if (params && params.saveItem) {
        copyDatas = JSON.parse(
          JSON.stringify(this.data.filter(item => item[this.rowKey] == params.id))
        );
        recordOldData = JSON.parse(
          JSON.stringify(this.dataRecord.filter(item => item[this.rowKey] == params.id))
        );
      } else {
        copyDatas = JSON.parse(JSON.stringify(this.data));
      }
      for (let i = 0; i < copyDatas.length; i++) {
        let obj = copyDatas[i];
        for (let key in obj) {
          if (key.indexOf('_vue_') != -1) {
            delete obj[key];
          }
        }
      }
      // 表格数据分为两部分: 新加的行newData;旧有的行oldData
      let newData = [];
      let oldData = [];
      for (let i = 0; i < copyDatas.length; i++) {
        if (copyDatas[i][this.rowKey].indexOf(this.newRowName) != -1) {
          newData.push(copyDatas[i]);
        } else {
          oldData.push(copyDatas[i]);
        }
      }
      // 新加的行数据是否编辑了,默认未编辑
      let newDataFlag = false;
      for (let i = 0; i < newData.length; i++) {
        let obj = newData[i];
        for (let key in obj) {
          if (key != this.rowKey && obj[key] != '' && typeof obj[key] != 'undefined') {
            newDataFlag = true; // 编辑过了
          }
        }
      }
      // 旧有的行数据是否有改动, 默认未改
      let oldDataFlag = false;
      if (params && params.saveItem) {
        if (!isEqual(oldData, recordOldData)) {
          oldDataFlag = true; // 改过了
        }
      } else {
        if (!isEqual(oldData, this.dataRecord)) {
          oldDataFlag = true; // 改过了
        }
      }
      // 判断表格的值有无变化,没有变化,提示修改数据
      if (!newDataFlag && !oldDataFlag) {
        if (!params.saveItem) {
          Modal.warning({
            title: '请先修改数据！'
          });
          this.saveLoading = false;
        } else {
          this.$message.warning('请先修改数据！');
        }
        return;
      }
      // // 有改动的数据
      // let changedData = [];
      // 获取旧有的行中编辑过的数据
      let difData = [];
      if (params && params.saveItem) {
        difData = differenceWith(oldData, recordOldData, isEqual);
      } else {
        difData = differenceWith(oldData, this.dataRecord, isEqual);
      }

      // 新加的行与编辑过的行,整体为有改动的数据
      // changedData = [...newData, ...difData];
      // // 校验字段设置: 必填, 非法含有脚本标签, 最大长度
      // let checkArray = this.setCheckArray();
      // // 传设置参数进行校验，检验通过后请求接口保存
      // this.handleAddOrSaveCheck(
      //   changedData,
      //   checkArray,
      //   () => {

      // 保存提交数据整理
      let paramData = [];
      // 新加的行数据将主键删掉
      let newDataDeal = JSON.parse(JSON.stringify(newData));
      for (let i = 0; i < newDataDeal.length; i++) {
        delete newDataDeal[i][_this.rowKey];
      }
      // 新加的行与编辑过的行一起提交
      paramData = [...newDataDeal, ...difData];
      // 请求后台进行保存
      httpAction(
        bpmUtils.baseurl + '/business/saveGettracks/v1',
        {
          data: JSON.stringify(paramData),
          processInstanceId: Store.state.bpmGlobalidea.data.procinstDbid
        },
        'post'
      )
        .then(res => {
          if (res.success) {
            message.success('修改成功');
            _this.closeGlobalideaModal();
            _this.flowRefresh();
          } else {
            _this.saveLoading = false;
          }
        })
        .catch(() => {
          _this.saveLoading = false;
        });
      // },
      //   () => {
      //     this.saveLoading = false;
      //   }
      // );
    }
  },
  computed: {
    ...mapGetters(['getGlobalideaVisible']),
    queryParam() {
      // 表格数据请求参数
      return {
        url: bpmUtils.baseurl + '/business/doGettracksByPage/v1',
        parameter: {
          entryId: Store.state.bpmGlobalidea.data.procinstDbid
        },
        method: 'post'
      };
    }
  },
  watch: {
    /**
     * 监听是否显示
     */
    getGlobalideaVisible: {
      immediate: true,
      handler(globalideaVisible) {
        this.globalideaVisible = globalideaVisible;
        if (globalideaVisible) {
          this.data = [];
          this.dataRecord = [];
          setTimeout(() => {
            this.$refs[this.tableRefName].loadData(this.queryParam);
          }, 0);
        }
      }
    }
  }
};
</script>
