<template>
  <AvicModal
    :visible="selectWorkHandUserVisible"
    modal-title="选择流程委托处理人"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="98"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">取消</a-button>
      <a-button type="primary" :loading="modalLoading" @click="save"> 确定 </a-button>
    </template>
    <AvicBaseTable
      :ref="tableRefName"
      :bordered="true"
      :is-auto-count-scroll-x="true"
      :columns="selectColumns"
      :data-source="data"
      :data-index="dataIndex"
      :row-key="rowKey"
      :is-fixed-head="false"
      :pagination-default="false"
      :is-add-order-number="false"
      @getData="getData"
      @handleRowSelection="handleRowSelection"
    >
      <!-- 点击查看详情 -->
      <template slot="beginUserName" scope="obj">
        <a-tooltip placement="topLeft">
          <template slot="title">
            选中后【{{ obj.data.beginUserName }}】代办工作将委托给【{{ obj.data.endUserName }}】
          </template>
          {{ obj.data.beginUserName }}
        </a-tooltip>
      </template>
    </AvicBaseTable>
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { Button, Tooltip } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { httpAction } from '@api/manage';
import { mapActions, mapGetters } from 'vuex';
// 表格主键字段
let rowKey = 'beginUserId';
let dataIndex = 'beginUserName';
let pageSettingData = [
  {
    isTableHidden: true,
    title: '',
    dataIndex: 'isBeginUser'
  },
  {
    isTableHidden: true,
    title: '委托人Id',
    dataIndex: 'beginUserId'
  },
  {
    title: '委托人',
    dataIndex: 'beginUserName',
    scopedSlots: { customRender: 'beginUserName' }
  },
  {
    isTableHidden: true,
    title: '委托人部门Id',
    dataIndex: 'beginDeptId'
  },
  {
    title: '委托人部门',
    dataIndex: 'beginDeptName'
  },
  {
    isTableHidden: true,
    title: '',
    dataIndex: 'isEndUser'
  },
  {
    isTableHidden: true,
    title: '受托人Id',
    dataIndex: 'endUserId'
  },
  {
    title: '受托人',
    dataIndex: 'endUserName'
  },
  {
    isTableHidden: true,
    title: '受托人部门Id',
    dataIndex: 'endDeptId'
  },
  {
    title: '受托人部门',
    dataIndex: 'endDeptName'
  }
];
export default {
  name: 'SelectWorkHandUser',
  components: {
    AvicModal,
    AButton: Button,
    ATooltip: Tooltip
  },
  mixins: [baseTableMixin],
  props: {
    userList: {
      type: Array,
      required: true
    },
    processKey: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      dataIndex,
      selectWorkHandUserVisible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 98), // 弹窗modal宽高控制
      modalLoading: false, // 弹窗确定按钮loading状态
      tableRefName: 'SelectWorkHandUserTable', // 表格ref名称
      rowKey, // 表格主键字段
      pageSettingData
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 98);
    });
  },
  methods: {
    ...mapActions(['closeSelectWorkHandUserModal']),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.closeSelectWorkHandUserModal();
      this.$emit('closeSelectWorkHandUserList');
      this.selectWorkHandUserVisible = false;
    },
    /**
     * 重写获取表格数据
     */
    getData(obj) {
      if (obj.data && obj.data.length > 0) {
        this.data = obj.data; // 渲染表格
      } else {
        this.data = [];
      }
      if (this.data.length == 0) {
        this.$emit('getSelectWorkHandUserList', []);
      } else {
        this.selectWorkHandUserVisible = true;
      }
    },
    /**
     * 保存
     */
    save() {
      let selectWorkHandUserList = this.data.filter(item => {
        return this.selectedRowKeys.includes(item.beginUserId);
      });
      this.$emit('getSelectWorkHandUserList', selectWorkHandUserList);
      this.selectWorkHandUserVisible = false;
    },

    //加载数据
    loadWorkHandUserData(processKey, selectWorkHand) {
      let paramete = {
        userList: JSON.stringify(selectWorkHand),
        processKey
      };
      let that = this;
      httpAction(this.queryParam.url, paramete, this.queryParam.method)
        .then(res => {
          if (res.success) {
            if (res.result) {
              if (that.pagination) {
                let pagination = { ...that.pagination };
                if (res.result.pageParameter) {
                  pagination.current = res.result.pageParameter.page;
                  pagination.total = res.result.pageParameter.totalCount;
                } else {
                  if (
                    res.result.page !== null &&
                    res.result.page !== undefined &&
                    res.result.page !== ''
                  ) {
                    pagination.current = res.result.page;
                  }
                  if (
                    res.result.records !== null &&
                    res.result.records !== undefined &&
                    res.result.records !== ''
                  ) {
                    pagination.total = res.result.records;
                  } else if (
                    res.result.total !== null &&
                    res.result.total !== undefined &&
                    res.result.total !== ''
                  ) {
                    pagination.total = res.result.total;
                  }
                }
                that.pagination = pagination;
              }
            }
            that.loading = false;
            that.data = res.result;
            //判断是否有数据需要委托,如果有打开委托页面,如果没有提交表单
            if (that.data && that.data.length > 0) {
              that.selectWorkHandUserVisible = true;
              this.$nextTick(() => {
                let selectRowkeys = [];
                this.data.map(item => {
                  selectRowkeys.push(item[this.rowKey]);
                });
                this.selectedRowKeys = selectRowkeys;
                this.$refs[this.tableRefName].changeSelectedRowKeys(selectRowkeys);
              });
            } else {
              that.$emit('getSelectWorkHandUserList', []);
            }
          } else {
            that.loading = false;
          }
        })
        .catch(() => {
          that.loading = false;
        });
    }
  },
  computed: {
    ...mapGetters(['getSelectWorkHandUserVisible']),
    queryParam() {
      // 表格数据请求参数
      return {
        url: '/api/bpm/bpmActor/bpmSelectUserAction2/getWorkHandUsers/v1',
        parameter: {
          userList: JSON.stringify(this.userList),
          processKey: this.processKey
        },
        method: 'post'
      };
    }
  },
  watch: {
    /**
     * 监听是否显示
     */
    getSelectWorkHandUserVisible(selectWorkHandUserVisible) {
      this.selectWorkHandUserVisible = selectWorkHandUserVisible;
    }
  }
};
</script>
