<template>
  <AvicModal
    :visible="startsubflowVisible"
    :modal-title="getIsShowAllFlowModel ? '选择子流程模板' : '流程模板选择'"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="48"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <!-- 所有的模板 -->
    <a-list v-if="getIsShowAllFlowModel" :grid="{ gutter: 16, column: 3 }" :data-source="data">
      <a-list-item slot="renderItem" slot-scope="item">
        <a-card :title="item.catalogName">
          <a-list :data-source="item.children">
            <a-list-item
              slot="renderItem"
              slot-scope="subItem"
              @click="selectFlowModel(item.deploymentId)"
            >
              <a href="javascript:;">
                {{ subItem.pdName }} {{ subItem.pdVersion }}({{
                  subItem.isUflow && subItem.isUflow == 2 ? '自由流程' : '固定流程'
                }})
              </a>
            </a-list-item>
          </a-list>
        </a-card>
      </a-list-item>
    </a-list>
    <!-- 配置的模板 -->
    <a-list v-else bordered :data-source="data">
      <a-list-item slot="renderItem" slot-scope="item" @click="selectFlowModel(item.id)">
        <a href="javascript:;">{{ item.name }}</a>
      </a-list-item>
    </a-list>
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import { List, Card } from 'ant-design-vue';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'Startsubflow',
  components: {
    AvicModal,
    AList: List,
    AListItem: List.Item,
    ACard: Card
  },
  data() {
    return {
      startsubflowVisible: false, // 弹窗modal显隐
      modalWidthAndHeight: modalWidthAndHeight(1280, 540, 48) // 弹窗modal宽高控制
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1280, 540, 48);
    });
  },
  methods: {
    ...mapActions(['closeStartsubflowModal', 'executeUserInfo']),
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      this.closeStartsubflowModal();
    },
    /**
     * 点击模板跳选人
     */
    selectFlowModel(id) {
      this.executeUserInfo(id);
    }
  },
  computed: {
    ...mapGetters([
      'getStartsubflowVisible',
      'getIsShowAllFlowModel',
      'getSelectedFlowModelData',
      'getAllFlowModelData'
    ]),
    /**
     * 列表数据
     */
    data() {
      if (this.getIsShowAllFlowModel) {
        // 所有的模板
        return this.getAllFlowModelData;
      } else {
        // 配置的模板
        return this.getSelectedFlowModelData;
      }
    }
  },
  watch: {
    /**
     * 监听发起子流程弹窗显隐
     */
    getStartsubflowVisible(startsubflowVisible) {
      this.startsubflowVisible = startsubflowVisible;
    }
  }
};
</script>
<style lang="less" scoped>
.ant-card-body{
  padding: 10px;
}
</style>