<template>
  <div class="big-tree">
    <section class="search-bar" :style="searchInputStyle" v-if="hasInput">
      <slot name="pre-input" />
      <div class="input">
        <input
          type="text"
          class="filter-input"
          :placeholder="placeholder"
          v-model="keyword"
          @keyup.13="search"
          @input="debounceInput"
        />
        <a-icon
          class="clear-input-icon"
          v-bind="clearInputIconSetting"
          v-if="keyword"
          @click="
            keyword = '';
            search();
          "
        />
        <i class="icon-search" @click="search">
          <svg
            t="1591318001035"
            class="icon"
            viewBox="0 0 1029 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="2284"
            width="1em"
            height="1em"
          >
            <path
              d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"
              p-id="2285"
            />
          </svg>
        </i>
      </div>
    </section>
    <section ref="content-wrap" class="content-wrap" @scroll="onScroll">
      <div class="tree-phantom" :style="`height: ${phantomHeight}px`" />
      <div class="tree-content" :style="`transform: translateY(${startIndex * itemHeight}px)`">
        <template v-for="(item, index) in renderList">
          <section
            v-if="item.path"
            :key="'k-' + index + '-' + item.id"
            :class="['item', { 'is-hidden': item.isHidden }]"
            :style="`padding-left: ${(item.path.length - 1) * Number(indent)}px`"
          >
            <div class="item-switcher" v-show="!isListData">
              <div
                v-if="!item.isLeaf"
                :class="[
                  item.isLeaf ? 'leaf-node' : 'expand-node',
                  { 'is-expand': item.isExpand, 'is-loading': item.isLoading }
                ]"
                @click="onExpand(item, index)"
              />
            </div>
            <dt-checkbox
              v-model="item.checked"
              :indeterminate="item.indeterminate"
              :disabled="item.isLeaf ? item.disabled : false"
              :is-leaf="item.isLeaf"
              :single="single"
              :asyn-load="asynLoad"
              :load-data="loadAsynData"
              :show-checkbox-leaf-only="showCheckboxLeafOnly"
              :checked-action="checkedAction"
              :show-checkbox="showCheckbox"
              :node="item"
              :class="{ 'is-disabled': item.isLeaf && item.disabled }"
              @on-expand-loading="setExpandLoading"
              @on-loading="setAsynLoad(item)"
              @on-checked="onChecked(item, index)"
              @on-click-label="$emit('onClickLabel', item)"
              @on-dblclick-label="$emit('onDblClickLabel', item)"
            >
              <div class="label" :title="item.title">
                <slot name="dtTitle" :item="item" :keyword="keyword">{{ item.title }}</slot>
                <i v-if="!item.isLeaf && !asynLoad" class="count">({{ item.leafCount }})</i>
              </div>
            </dt-checkbox>
          </section>
        </template>
      </div>
    </section>
    <div class="bg-loading-wrap" v-if="isLoading || isSearching">
      <slot name="loading">
        <dt-loading :is-loading="isLoading" />
      </slot>
    </div>
    <section v-if="renderList.length <= 0" class="no-data">
      <a-empty :image="simpleImage" :description="emptyText" />
    </section>
  </div>
</template>
<script>
import Checkbox from './checkbox.vue';
import loading from './loading';
import './style/base.less';
import { throttle, debounce, clearAll } from './tools.js';
import { Icon, Empty } from 'ant-design-vue';
import {
  isIncludesKeyword,
  getLeafCount,
  depthFirstEach,
  listToTree,
  findSubTree,
  breadthFirstEach,
  findNode,
  isBrother,
  isFunction,
  isUndefined,
  isCheckedOrIndeterminate
} from './util.js';

class BigData {
  _data = []; // 海量数据 tree
  list = []; // 扁平化的tree
  filterList = []; // 根据关键词过滤后的list
  listMap = {}; // this.big.list 对应的 map
  filterTree = []; // 根据关键词过滤后的tree
  disabledList = []; // disabled 为true组成的数组
  checkedKeys = []; // 选中的 ids
  checkedNodes = []; // 选中的 nodes
  allLeafNodes = []; // 被选中的全部叶子节点
  allCheckedList = []; // 所有选中的节点， 用于开启开关 isOnlyInCheckedSearch 时， 仅在选中节点里筛选。
}

export default {
  name: 'AvicBigTree',
  components: {
    'dt-checkbox': Checkbox,
    'dt-loading': loading,
    AIcon: Icon,
    AEmpty: Empty
  },
  props: {
    // 含有过滤输入框
    hasInput: { type: Boolean, default: false },
    // 是否单选
    single: { type: Boolean, default: false },
    // 标题对应字段
    titleTag: { type: String, default: 'title' },
    // 是否异步加载
    asynLoad: { type: Boolean, default: false },
    // 异步加载节点方法
    loadData: { type: Function, default: null },
    // 自动加载节点
    autoLoad: { type: Function, default: null },
    // 去重，但会增加性能负担
    diff: { type: Boolean, default: false },
    // 缩进
    indent: { type: [String, Number], default: 17 },
    // 每一项的高度
    itemHeight: { type: [String, Number], default: 27 },
    // 指定ids展开
    expandKeys: { type: Array, default: () => [] },
    // 展开 level， all: 展开全部； 1: 只展示第一层(最外层)；2: 展示到第二层；、、、
    expandLevel: { type: [String, Number], default: 2 },
    // 输入框 placeholder
    placeholder: { type: String, default: '请输入关键字查找,支持逗号分隔多匹配' },
    // 在 label 上选中动作， 点击label选中 --> none: 不选中；click: 单击； dblclick: 双击；
    checkedAction: { type: String, default: 'none' },
    // 内容为空展示的文本
    emptyText: { type: String, default: '暂无数据' },
    // 是否展示checkbox
    showCheckbox: { type: Boolean, default: false },
    // showCheckboxLeafOnly
    showCheckboxLeafOnly: { type: Boolean, default: false },
    // 默认勾选值
    defaultCheckedKeys: { type: Array, default: () => [] },
    // 搜索框样式
    searchInputStyle: { type: Object, default: () => {} },
    // 列表是以树的形式展示，或者list 形式
    isListData: { type: Boolean, default: false },
    // 清除输入的图标的配置
    clearInputIconSetting: {
      type: Object,
      default: () => {
        return { type: 'close' };
      }
    }
  },
  data() {
    this.big = null;
    return {
      count: 1, // 用于视图更新
      keyword: '', // 关键词
      isLoading: false,
      isSearching: false, // 搜索中
      startIndex: 0, // 渲染的开始区间
      endIndex: 70, // 渲染的结束区间
      throttleSrcoll: '', // 节流
      debounceInput: '',
      defaultMaxParentId: '-1', //最高级的父id
      isOnlyInCheckedSearch: false,
      asynGetQueueArr: [], // 异步读取数据的任务队列
      asynGetLock: false, // 异步任务状态锁
      expandKeysForUse: [], // 搜索用默认展开id实际使用
      expandLevelForUse: 2 //搜索用默认展开层级实际使用
    };
  },
  computed: {
    // 过滤掉 hidden 节点
    unHiddenList() {
      return this.count ? this.big.filterList.filter(i => !i.isHidden) : [];
    },
    // 虚拟高度，与隐藏的数量有关
    phantomHeight() {
      return this.unHiddenList.length * this.itemHeight;
    },
    renderList() {
      return this.unHiddenList.slice(this.startIndex, this.endIndex);
    }
  },
  watch: {
    defaultCheckedKeys(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setCheckedKeys(newVal);
      }
    },
    expandKeys(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setExpand(newVal);
      }
    },
    expandLevel(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.expandLevelForUse = newVal;
      }
    }
  },
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  created() {
    this.big = new BigData();
    this.big.checkedKeys = JSON.parse(JSON.stringify(this.defaultCheckedKeys));
    this.throttleSrcoll = throttle(this.setRenderRange, 80);

    this.expandKeysForUse = this.expandKeys;
    this.expandLevelForUse = this.expandLevel;

    // 非异步加载时自动搜索关键字
    if (!this.loadData) {
      this.debounceInput = debounce(this.search, 300);
    } else {
      this.debounceInput = () => {};
    }
  },
  beforeDestroy() {
    this.clear();
  },
  mounted() {
    if (this.defaultCheckedKeys) {
      this.big.checkedKeys = JSON.parse(JSON.stringify(this.defaultCheckedKeys));
    }
    if (this.autoLoad && typeof this.autoLoad === 'function') {
      this.autoLoad();
    }
  },
  methods: {
    //刷新树
    refresh(tag) {
      this.isLoading = tag;
    },
    // 设置海量数据
    // 注意数据量大小
    // Chrome限制了所能使用的内存极限（64位为1.4GB，32位为1.0GB）
    // 目前测试阶段100w数据能轻松吃满1.4G,具体视数据复杂度而定
    setData({ data, node = null, keyword }) {
      // console.time('setData')
      if (node && node.arrPath.length > 0) {
        let parPath = node.arrPath,
          formatData = this.initAdd(data);
        switch (parPath.length) {
          case 1:
            this.big._data[parPath[0]].children = formatData;
            break;
          case 2:
            this.big._data[parPath[0]].children[parPath[1]].children = formatData;
            break;
          case 3:
            this.big._data[parPath[0]].children[parPath[1]].children[
              parPath[2]
            ].children = formatData;
            break;
          case 4:
            this.big._data[parPath[0]].children[parPath[1]].children[parPath[2]].children[
              parPath[3]
            ].children = formatData;
            break;
          case 5:
            this.big._data[parPath[0]].children[parPath[1]].children[parPath[2]].children[
              parPath[3]
            ].children[parPath[4]].children = formatData;
            break;
          case 6:
            this.big._data[parPath[0]].children[parPath[1]].children[parPath[2]].children[
              parPath[3]
            ].children[parPath[4]].children[parPath[5]].children = formatData;
            break;
          case 7:
            this.big._data[parPath[0]].children[parPath[1]].children[parPath[2]].children[
              parPath[3]
            ].children[parPath[4]].children[parPath[5]].children[parPath[6]].children = formatData;
            break;
          case 8:
            this.big._data[parPath[0]].children[parPath[1]].children[parPath[2]].children[
              parPath[3]
            ].children[parPath[4]].children[parPath[5]].children[parPath[6]].children[
              parPath[7]
            ].children = formatData;
            break;
          default:
            break;
        }
        //哎，到9级分支了
        if (parPath.length > 8) return false;
        this.big.checkedKeys = this.big.checkedKeys.concat(this.defaultCheckedKeys);
        this.init('add');
      } else {
        this.clear(keyword);
        this.big.checkedKeys = JSON.parse(JSON.stringify(this.defaultCheckedKeys));
        this.big._data = data;
        this.init('init');
      }
    },
    // 初始化异步追加的数据
    initAdd(data) {
      data.forEach(node => {
        node.isHidden = true;
        node.isExpand = false;
      });
      return data;
    },
    // 搜索
    search(op) {
      if (this.loadData) {
        this.isLoading = true;
        // return;
        this.loadAsynData(null, null, true);
      } else {
        this.initFilter(op);
        // console.log('search setCheckedKeys')
        this.setCheckedKeys(this.big.checkedKeys);
      }
      if (this.keyword !== '') {
        this.expandKeysForUse = [];
        this.expandLevelForUse = 'all';
      } else {
        this.expandKeysForUse = this.expandKeys;
        this.expandLevelForUse = this.expandLevel;
      }
      this.initExpand();
    },
    init(op) {
      // op: init,add, restore, showCheckedOnly
      if (this.big._data.length === 0) return;
      if (op === 'init' || op === 'add') {
        this.big.list = [];
        this.big.listMap = {};
        this.flatTree(this.big._data);
        if (this.diff) {
          this.big.list.forEach(node => {
            if (node.isLeaf) {
              if (isUndefined(this.big.listMap[node.id])) {
                this.big.listMap[node.id] = node;
              } else {
                if (this.big.listMap[node.id].arrPath.toString() === node.arrPath.toString())
                  return;
                if (isUndefined(this.big.listMap[node.id].otherSide)) {
                  this.big.listMap[node.id].otherSide = [];
                  this.big.listMap[node.id].otherSide.push(node);
                } else {
                  this.big.listMap[node.id].otherSide.push(node);
                }
              }
            } else {
              this.big.listMap[node.id] = node;
            }
          });
        } else {
          this.big.list.forEach(node => (this.big.listMap[node.id] = node));
        }
      }
      this.initFilter(op);
      if (op === 'init' || op === 'restore') this.initExpand();
      this.setCheckedKeys(this.big.checkedKeys);
      if (op !== 'add') this.backToTop();
    },
    // 拉平 tree
    flatTree(data) {
      depthFirstEach({ tree: data, init: true, asynLoad: this.asynLoad }, node => {
        this.big.list.push(node);
      });
    },
    // 初始化处理展开逻辑
    initExpand() {
      if (!this.big || this.big._data.length === 0) return;
      if (this.expandKeysForUse.length > 0) {
        this.setExpand(this.expandKeysForUse);
        return;
      }
      if (/^\d+$/.test(this.expandLevelForUse)) {
        this.big.filterList.forEach(node => {
          node.isExpand = Boolean(node.path.length < this.expandLevelForUse);
          node.isHidden = Boolean(node.path.length > this.expandLevelForUse);
          this.initNode(node);
        });
      } else {
        // 展开全部
        this.big.filterList.forEach(node => {
          node.isExpand = true;
          node.isHidden = false;
          this.initNode(node);
        });
      }
      this.setCount();
    },
    // 指定id展开
    setExpand(keys = []) {
      if (keys.length <= 0) return;
      if (!this.big || this.big._data.length === 0) return;
      const nodes = keys.map(id => this.big.listMap[id]).filter(v => v);
      const ids = Array.from(new Set(nodes.map(node => node.path).flat(1)));
      this.big.filterList.forEach(node => {
        if (node.isLeaf) {
          node.isExpand = false;
          // if(this.asynLoad){
          //   node.isHidden = true;
          // }else{
          node.isHidden = Boolean(!ids.includes(node.parentId));
          // }
        } else {
          if (node.children && node.children.length > 0) {
            node.isExpand = Boolean(ids.includes(node.id));
          } else {
            node.isExpand = false;
          }
          // 控制默认展开层级
          // if(node.children && node.children.length > 0){
          node.isHidden = false;
          // }else{
          // node.isHidden = true;
          // }
        }
        this.initNode(node);
      });
      this.setCount();
    },
    // 初始化节点所需要的字段
    initNode(node) {
      node.checked = node.checked || false;
      node.indeterminate = node.indeterminate || false;
      node.disabled = node.disabled || false;
    },
    // 设置非叶子节点的异步加载状态
    setExpandLoading({ node, expandLoading = false }) {
      if (node && node.isLoading !== null) node.isLoading = expandLoading;
      if (
        node &&
        node.parentId &&
        node.parentId !== null &&
        node.arrPath &&
        node.arrPath.length - 1 > 0
      ) {
        let parentArrPath = node.arrPath.slice(0, node.arrPath.length - 1);
        this.setExpandParentLoading({ parentArrPath, expandLoading });
      }
      this.emitChecked();
    },
    // 处理自己及祖先的加载状态
    setExpandParentLoading({ parentArrPath, expandLoading = false }) {
      if (parentArrPath === null || parentArrPath === undefined) return;
      const parentNode = findNode(this.big.filterTree, parentArrPath);
      parentNode.isLoading = expandLoading;
      if (parentNode.parentId !== null && parentNode.parentId && parentNode.arrPath.length - 1 > 0)
        this.setExpandParentLoading({
          parentId: parentNode.arrPath.slice(0, parentNode.arrPath.length - 1),
          expandLoading
        });
    },
    // 回显选中状态
    setCheckedKeys(keys = []) {
      if (!Array.isArray(keys)) {
        console.warn('参数需要是一个数组');
        return;
      }
      this.clearChecked();
      const nodes = keys.map(id => this.big.listMap[id]);
      nodes.forEach((node, index) => {
        if (node && node.isLeaf) {
          node.checked = true;
          if (!isBrother(node, nodes[index + 1])) this.handleCheckedChange(node);
        }
      });
      this.emitChecked();
    },
    // 动态设置组件去重(演示预留，不推荐直接使用)
    setDiff(newV) {
      this.diff = newV;
    },
    // 回显选中状态
    setCheckedNodes(nodes = []) {
      if (!Array.isArray(nodes)) {
        console.warn('The argument to function setCheckedNodes must be an array');
        return;
      }
      if (nodes.length > 0) {
        let keys = nodes.map(i => i.id);
        // console.log('setCheckedNodes setCheckedKeys')
        this.setCheckedKeys(keys);
        keys = null;
      }
    },
    // 获取选中状态
    getCheckedKeys() {
      return this.big.checkedKeys;
    },
    getCheckedNodes() {
      return this.big.checkedNodes;
    },
    // 返回全部被选中的叶子节点
    getAllLeafNodes() {
      return this.big.allLeafNodes;
    },
    // 点击展开与收缩
    onExpand(node) {
      if (this.asynLoad && node.children.length == 0) {
        if (this.loadData) {
          this.loadAsynData(node, () => {
            node.isExpand = !node.isExpand;
            this.showOrHiddenChildren(node, !node.isExpand);
          });
        }
      } else {
        node.isExpand = !node.isExpand;
        this.showOrHiddenChildren(node, !node.isExpand);
      }
    },
    // 取消选中
    unChecked(node) {
      if (!node) {
        this.big.list.map(function (i) {
          if (i.checked || i.indeterminate) {
            i.checked = false;
            i.indeterminate = false;
          }
        });
        this.emitChecked();
        return;
      }
      node.checked = false;
      this.handleCheckedChange(node);
      this.emitChecked();
      if (this.diff) {
        if (node.otherSide && node.otherSide.length > 0) {
          node.otherSide.map(i => {
            this.unChecked(i);
          });
        }
      }
    },
    // 点击checkbox
    onChecked(node) {
      // 单选逻辑
      if (this.single) {
        this.checkedKeys = [];
        this.big.checkedNodes.map(i => {
          i.checked = false;
        });
      }
      this.handleCheckedChange(node);
      this.emitChecked();
      this.$emit('onClickCheckbox', node);
    },
    // 发送给父组件选中信息
    emitChecked() {
      this.big.checkedNodes = this.big.list.filter(i => i.checked || i.indeterminate); // 返回”所有“选中的节点 或者 父节点(子节点部分选中)
      if (this.diff) {
        let allLeafNodesMap = {};
        this.big.allLeafNodes = this.big.checkedNodes.filter(i => i.isLeaf);
        // 遍历查重
        let k = 0,
          j = 0;
        const arrLen = this.big.allLeafNodes.length;
        while (j < arrLen) {
          let i = this.big.allLeafNodes[k];
          if (i.isLeaf) {
            if (isUndefined(allLeafNodesMap[i.id])) {
              allLeafNodesMap[i.id] = {};
              allLeafNodesMap[i.id] = i;
              allLeafNodesMap[i.id].oIndex = k;
              allLeafNodesMap[i.id].otherSide = [];
            } else {
              if (allLeafNodesMap[i.id].arrPath.toString() === i.arrPath.toString()) return;

              if (!i.otherSide) {
                allLeafNodesMap[i.id].otherSide.push(i);
              }
              this.big.allLeafNodes.splice(k, 1);
              k--;
            }
          }
          k++;
          j++;
        }
      } else {
        this.big.allLeafNodes = this.big.checkedNodes.filter(i => i.isLeaf);
      }
      this.big.checkedKeys = this.big.checkedNodes.map(i => i.id);
      this.$emit('onChange', {
        checkedKeys: this.big.checkedKeys,
        checkedNodes: this.big.allLeafNodes
      });
      this.setCount();
    },
    // 处理选中逻辑
    handleCheckedChange(node) {
      if (node.checked) node.indeterminate = false;
      if (this.single) return;
      this.doChildrenChecked(node);
      let parentArrPath = node.arrPath.slice(0, node.arrPath.length - 1);
      this.doParentChecked(parentArrPath);
      this.big.disabledList.forEach((node, index) => {
        if (!isBrother(node, this.big.disabledList[index + 1]))
          this.doParentChecked(node.arrPath.slice(0, node.arrPath.length - 1));
      });
    },
    // 1. 隐藏： 子孙后代都要隐藏， 2. 展开：仅儿子展开, value
    showOrHiddenChildren(node, isHidden) {
      if (node.isLeaf) return;
      if (isHidden) {
        depthFirstEach({ tree: node.children, asynLoad: this.asynLoad }, node => {
          node.isHidden = isHidden;
          node.isExpand = false;
        });
      } else {
        node.children.forEach(j => {
          j.isHidden = isHidden;
          j.isExpand = false;
        });
      }
      this.setCount();
    },
    // 异步读取
    // search:主动搜索标记位，区别于展开异步节点的逻辑
    loadAsynData(node, cb, search = false) {
      if (this.loadData && typeof this.loadData === 'function') {
        this.setExpandLoading({ node, expandLoading: true });
        let searchWord = search ? this.keyword : '';
        this.loadData(node, searchWord).then(() => {
          this.setExpandLoading({ node, expandLoading: false });
          this.isLoading = false;
          if (isFunction(cb)) cb();
        });
      } else {
        this.isLoading = false;
      }
    },
    // 异步读取失败
    loadErr(node) {
      this.setExpandLoading({ node, expandLoading: false });
    },
    // 执行异步请求任务队列
    //  this.asynGetQueueArr:[], // 异步读取数据的任务队列
    //  this.asynGetLock:false, // 异步任务状态锁
    runAsynGetQueue() {
      if (this.asynGetLock) return; // 有请求任务
      if (this.asynGetQueueArr.length > 0) {
        this.asynGetLock = true; // 任务执行，上锁
        let asynQuery = this.asynGetQueueArr.shift();
        this.loadAsynData(asynQuery.node, () => {
          if (asynQuery.cb) asynQuery.cb();
          this.asynGetLock = false; // 执行完，解锁
          this.runAsynGetQueue();
        });
      }
    },
    // 处理子、孙后代
    doChildrenChecked(node) {
      if (!node.children) return;
      const checked = node.checked;
      depthFirstEach({ tree: node.children, asynLoad: this.asynLoad }, i => {
        if (i.isLeaf && i.disabled) return;
        if (!i.isLeaf && i.children.length <= 0) {
          if (this.asynLoad && this.loadData && checked) {
            // 异步节点按队列获取
            this.asynGetQueueArr.push({
              node: i,
              cb: () => {
                i.checked = checked;
                depthFirstEach({ tree: i.children, asynLoad: this.asynLoad }, q => {
                  if (q.isLeaf && q.disabled) return;
                  q.indeterminate = false;
                  q.checked = checked;
                });
                this.doChildrenChecked(i);
                let parentArrPath = i.arrPath.slice(0, i.arrPath.length - 1);
                this.doParentChecked(parentArrPath);
                this.emitChecked();
              }
            });
            this.runAsynGetQueue();
          }
        }
        i.indeterminate = false;
        i.checked = checked;
      });
    },
    // 处理自己及祖先
    doParentChecked(parentArrPath) {
      if (parentArrPath === null || parentArrPath === undefined || parentArrPath.length === 0)
        return;
      const allDirectChildren = findSubTree(this.big.filterTree, parentArrPath);
      const parentNode = findNode(this.big.filterTree, parentArrPath);
      const childrenAllChecked = allDirectChildren.every(i => i.checked);
      this.checkParentIndeterminate(parentNode, allDirectChildren);
      parentNode.checked = childrenAllChecked;
      if (childrenAllChecked) parentNode.indeterminate = false;
      if (parentNode.parentId !== null)
        this.doParentChecked(parentNode.arrPath.slice(0, parentNode.arrPath.length - 1));
    },
    // 子元素部分选中，核对祖先是否部分选中
    checkParentIndeterminate(parentNode, directChildren) {
      const hasChecked = directChildren.some(i => i.checked);
      const hasUnchecked = directChildren.some(i => !i.checked);
      const partOfChecked = hasChecked && hasUnchecked;
      const childrenHasIndeterminate = directChildren.some(i => i.indeterminate);
      const isIndeterminate = partOfChecked || childrenHasIndeterminate;
      parentNode.indeterminate = !!isIndeterminate;
      directChildren.forEach(node => {
        if (node.checked) node.indeterminate = false;
      });
    },
    // 监听滚动
    onScroll() {
      this.throttleSrcoll();
    },
    // 设置可见区域的区间
    setRenderRange(scrollTop = this.$refs['content-wrap'].scrollTop) {
      const count = Math.ceil(this.$el.clientHeight / this.itemHeight) + 40; // 可见项数
      const startIndex = Math.floor(scrollTop / this.itemHeight);
      this.startIndex = startIndex > 20 ? startIndex - 20 : 0;
      this.endIndex = this.startIndex + count;
      this.setCount();
    },
    // 筛选节点
    initFilter(op) {
      // set this.big.filterList
      this.setFilterList(op);
      this.setCount();
      // 过滤后的tree  同时也将children挂载到了this.filterList的节点
      this.big.filterTree = listToTree(this.big.filterList);
      breadthFirstEach({ tree: this.big.filterTree }, node => {
        if (!node.isLeaf) {
          node.leafCount = getLeafCount({
            tree: this.big.filterTree,
            node,
            asynLoad: this.asynLoad
          });
        }
      });
      this.big.disabledList = this.big.filterList.filter(i => i.disabled);
    },

    // set this.big.filterList
    setFilterList(op) {
      if (op === 'showCheckedOnly') {
        // 不直接 this.big.filterList = this.big.checkedNodes, 因为之前的 filter 将 滤掉的 非叶子节点indeterminate = true 丢失了。场景，1. 输入关键字，2. 点击showCheckedOnly
        this.big.filterList = this.big.list.filter(i => {
          const is = isCheckedOrIndeterminate(i, this.big.list);
          if (is) {
            i.checked = true;
            i.indeterminate = false;
          }
          return is;
        });
        return;
      }
      if (this.isOnlyInCheckedSearch && this.big.allCheckedList.length > 0) {
        if (this.keyword.trim() === '') {
          this.big.filterList = this.big.allCheckedList;
          return;
        }
        if (this.asynLoad) {
          // 异步加载，前台不过滤数据
          this.big.filterList = this.big.allCheckedList;
        } else {
          this.big.filterList = this.big.allCheckedList.filter(i => {
            return isIncludesKeyword(i, this.keyword, this.big.allCheckedList);
          });
        }
        return;
      }
      if (this.keyword.trim() === '') {
        this.big.filterList = this.big.list;
        return;
      }
      if (this.asynLoad) {
        // 异步加载，前台不过滤数据
        this.big.filterList = this.big.list;
      } else {
        this.big.filterList = this.big.list.filter(i => {
          return isIncludesKeyword(i, this.keyword, this.big.list);
        });
      }
    },

    // 回到顶部
    backToTop() {
      this.$nextTick(() => {
        this.$refs['content-wrap'].scrollTop = 0;
        this.setRenderRange();
      });
    },

    // 清空所有选中
    clearChecked() {
      this.big.list.forEach(node => {
        node.checked = false;
        node.indeterminate = false;
      });
    },

    // 根据 count 触发 computed
    setCount() {
      this.count++;
    },

    // 仅展示选中的项
    showCheckedOnly(isOnlyInCheckedSearch = true) {
      this.keyword = '';
      this.init('showCheckedOnly');
      // 开关，仅在选中节点里筛选
      this.isOnlyInCheckedSearch = isOnlyInCheckedSearch;
      if (isOnlyInCheckedSearch) {
        this.big.allCheckedList = this.big.checkedNodes.slice();
      } else {
        this.big.allCheckedList = [];
      }
    },

    restore() {
      this.isOnlyInCheckedSearch = false;
      this.big.allCheckedList = [];
      this.init('restore');
    },
    // 手动更新选中状态
    update() {
      this.setCount();
    },

    // 清空内存占用
    clear(keyword) {
      this.count = 1;
      if (!keyword) {
        this.keyword = ''; // 关键词
      }
      this.isSearching = false; // 搜索中
      this.startIndex = 0; // 渲染的开始区间
      this.endIndex = 70; // 渲染的结束区间
      this.isOnlyInCheckedSearch = false;
      clearAll(this.big.list);
      // console.log('this.big.list',this.big.list)
      if (this.big) {
        this.big._data = []; // 海量数据 tree
        this.big.list = []; // 扁平化的tree
        this.big.filterList = []; // 根据关键词过滤后的list
        this.big.listMap = {}; // this.big.filterList 对应的 map
        this.big.filterTree = []; // 根据关键词过滤后的tree
        this.big.disabledList = []; // disabled 为true组成的数组
        this.big.checkedKeys = []; // 选中的 ids
        this.big.checkedNodes = []; // 选中的 nodes
        this.big.allLeafNodes = []; // 被选中的全部叶子节点
        this.big.allCheckedList = [];
      }
    }
  }
};
</script>
