<template>
  <div ref="list" class="infinite-list-container" @scroll="scrollEvent($event)">
    <div class="infinite-list-phantom" :style="{ height: listHeight + 'px' }" />
    <div class="infinite-list" :style="{ transform: getTransform }">
      <div
        ref="items"
        class="infinite-list-item"
        v-for="(item, index) in visibleData"
        :key="`k-${index}-${item.id}`"
        :style="{ height: itemSize + 'px', lineHeight: itemSize + 'px' }"
      >
        <slot :item="item">{{ item.title || item.label }}</slot>
      </div>
    </div>
  </div>
</template>
<script>
class BigList {
  listData = []; // 海量数据
}

export default {
  name: 'VirtualList',
  props: {
    // 每行个数
    rowSize: {
      type: Number,
      default: 1
    },
    //每项高度
    itemSize: {
      type: Number,
      default: 25
    }
  },
  data() {
    this.big = null;
    return {
      // 可视区域高度
      screenHeight: 0,
      // 偏移量
      startOffset: 0,
      // 起始索引
      start: 0,
      // 单数据用
      listData: [],
      // 结束索引
      end: null,
      // 列表长度
      listLength: 0
    };
  },
  created() {
    this.big = new BigList();
  },
  computed: {
    //列表总高度
    listHeight() {
      return (this.listLength / this.rowSize) * this.itemSize + this.itemSize * 2;
    },
    //可显示的列表项数
    visibleCount() {
      return Math.ceil(this.screenHeight / this.itemSize) * this.rowSize + this.rowSize * 2;
    },
    //偏移量对应的style
    getTransform() {
      return `translate3d(0,${this.startOffset}px,0)`;
    },
    //获取真实显示列表数据
    // visibleData(){
    //   return this.big.listData.slice(this.start, Math.min(this.end,this.listLength));
    // },
    visibleData: {
      get() {
        if (this.listLength === 1) {
          return this.listData;
        } else {
          return this.big.listData.slice(this.start, Math.min(this.end, this.listLength));
        }
      },
      set(data) {
        this.listData = data;
      }
    }
  },
  watch: {
    defaultValue: {
      immediate: true, // 这句重要
      handler(newV) {
        if (newV) {
          this.setData(newV);
        }
      }
    }
  },
  mounted() {
    // 页面数据初始化
    this.screenHeight = this.$el.clientHeight;
    this.start = 0;
    // 这里的截取结束位置需要根据开始位置和首屏显示的条数来确定
    this.end = this.start + this.visibleCount;
  },
  methods: {
    setData(data) {
      this.listLength = data.length;
      if (this.listLength === 1) {
        this.visibleData = data;
      } else {
        this.big.listData = data;
      }
    },
    scrollEvent() {
      // 当前滚动位置
      let scrollTop = this.$refs.list.scrollTop;
      // 此时的开始索引
      this.start = Math.floor(scrollTop / this.itemSize) * this.rowSize;
      // 此时的结束索引
      this.end = this.start + this.visibleCount;
      // 滚动时列表盒子的偏移量
      this.startOffset = scrollTop - (scrollTop % this.itemSize) * this.rowSize;
    }
  }
};
</script>

<style scoped>
.infinite-list-container {
  height: 100%;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.infinite-list-phantom {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.infinite-list {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  text-align: left;
}

.infinite-list-item {
  /* padding: 0 10px; */
  display: inline-block;
  /* color: #555; */
  box-sizing: border-box;
  /* border: 1px solid #999; */
}
</style>
