.resize-handle {
  position: absolute;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: none;
  z-index: 1;
}

.resize-handle-tm {
  height: 6px;
  width: 98%;
  top: 0;
  left: 1%;
  cursor: n-resize;
}
.resize-handle-ml {
  height: 98%;
  width: 6px;
  top: 1%;
  left: 0;
  cursor: w-resize;
}

.resize-handle-mr {
  height: 98%;
  width: 6px;
  top: 1%;
  right: 0;
  cursor: e-resize;
}

.resize-handle-bm {
  height: 6px;
  width: 98%;
  bottom: 0;
  left: 1%;
  cursor: s-resize;
}

.nested > .resize-layout > .vdr > .collapse > .collapse-header {
  width: 100%;
}
.resize-handle-tm:hover,
.resize-handle-bm:hover,
.resize-handle-ml:hover,
.resize-handle-mr:hover {
  /* transform: scale(1.1); */
  display: block;
}
.resize-handle-tm:hover,
.resize-handle-bm:hover {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.02)
  );
}
.resize-handle-ml:hover,
.resize-handle-mr:hover {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.02)
  );
}
