<template>
  <a-modal
    class="cus-dialog-container"
    :title="title"
    :visible.sync="dialogVisible"
    :mask-closable="false"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    :destroy-on-close="true"
    ref="elDialog"
    :footer="null"
    @cancel="close"
    :id="id"
  >
    <div class="cus-dialog-center" v-if="show">
      <slot />
    </div>

    <span v-if="action" slot="footer" class="dialog-footer" :element-loading-text="loadingText">
      <slot name="action">
        <a-button @click="close">{{ $t('fm.actions.cancel') }}</a-button>
        <a-button type="primary" @click="submit">{{ $t('fm.actions.confirm') }}</a-button>
      </slot>
    </span>
  </a-modal>
</template>

<script>
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
export default {
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    loadingText: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    width: {
      type: String,
      default: '600px'
    },
    form: {
      type: Boolean,
      default: true
    },
    action: {
      type: Boolean,
      default: true
    },
    center: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    show() {
      if (this.form) {
        return this.showForm;
      } else {
        return true;
      }
    }
  },
  data() {
    return {
      loading: false,
      modalWidthAndHeight: modalWidthAndHeight(1, 1, 55, 'auto', '#f1f2f7'),
      dialogVisible: this.visible,
      id: 'dialog_' + new Date().getTime(),
      showForm: false
    };
  },
  methods: {
    close() {
      this.dialogVisible = false;
    },
    submit() {
      this.loading = true;
      this.$emit('on-submit');
    },
    end() {
      this.loading = false;
    },
    getContainer() {
      return document.getElementById('bodyThem');
    }
  },
  mounted() {
    this.modalWidthAndHeight.modalStyle['top'] = '0px';
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 55, 'auto', '#f1f2f7');
      this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
    });
  },
  watch: {
    dialogVisible(val) {
      if (!val) {
        this.loading = false;
        this.$emit('on-close');
        setTimeout(() => {
          this.showForm = false;
        }, 300);
      } else {
        this.showForm = true;
      }
    },
    visible(val) {
      this.dialogVisible = val;
    }
  }
};
</script>
