<template>
  <div class="vue-grid-item-content">
    <template v-if="widget.type == 'smallPage'">
      <CardContainer :element="widget" />
    </template>
  </div>
</template>

<script>
import CardContainer from './CardContainer';
export default {
  props: ['widget'],
  components: {
    CardContainer
  }
};
</script>
<style lang="less" scoped>
.vue-grid-item-content {
  height: 100%;
}
</style>
