<template>
  <AvicBpmStepsTemplate :ref="refName" :flow-param="tracksParam" />
</template>

<script>
import AvicBpmStepsTemplate from '@comp/avic/bpm/AvicBpmStepsTemplate';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { mapGetters } from 'vuex';
export default {
  name: 'AvicBpmSteps',
  components: {
    AvicBpmStepsTemplate
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getFlowRefresh', 'getEntryId'])
  },
  watch: {
    getEntryId(entryId) {
      if (this.entryId != entryId) {
        this.entryId = entryId;
        this.loadData();
      }
    },
    //刷新页面
    getFlowRefresh() {
      this.loadData();
    }
  },
  data() {
    return {
      url: bpmUtils.baseurl + '/business/doGettracks/v1',
      tracksParam: {
        url: '',
        parameter: {
          entryId: ''
        },
        method: 'post'
      },
      entryId: '',
      refName: 'flowSteps'
    };
  },
  mounted() {
    this.entryId = this.$store.state.bpmModel.entryId;
    this.loadData();
  },
  methods: {
    loadData() {
      if (this.entryId) {
        //有实例id 后台查询处理意见数据
        this.tracksParam.parameter.entryId = this.entryId;
        this.tracksParam.url = this.url;
        this.$refs[this.refName].refreshStepsTracking();
      } else {
        //无实例id 拟稿阶段  初始化数据
        this.$refs[this.refName].initStepsTracking();
      }
    }
  }
};
</script>
