<!--
  启动流程时多个流程需要选择要启动的流程
-->
<template>
  <a-modal
    :title="title"
    :visible="visible"
    :mask-closable="false"
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <div>
      <AvicBaseTable
        ref="formCodeTable"
        :bordered="true"
        :is-fixed-head="false"
        :columns="tableColumns"
        :data-source="data"
        :row-key="rowKey"
        :is-multi-selection="false"
        :is-add-order-number="false"
        :pagination-default="false"
        @handleRowSelection="handleRowSelection"
        @handleRowDblClick="handleRowDblClick"
      />
    </div>
  </a-modal>
</template>
<script>
import { Modal } from 'ant-design-vue';
import AvicBaseTable from '@comp/avic/pt/common/AvicBaseTable';
import { httpAction } from '@api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
const tableColumns = [
  {
    title: '流程名称',
    dataIndex: 'name',
    width: '70%'
  },
  {
    title: '版本',
    dataIndex: 'version',
    customRender: (text, record, index) => {
      return 'V' + text;
    }
  }
];
const rowKey = 'key';
export default {
  name: 'AvicBpmFormCode',
  components: {
    AModal: Modal,
    AvicBaseTable
  },
  props: {
    //prop接收传过来的参数
    formCode: {
      type: String,
      required: true //校验
    },
    //是否打开流程详情页面
    isOpenFlow: {
      type: Boolean,
      required: false, //校验
      default: false
    }
  },
  data() {
    return {
      title: '请选择您要启动的流程',
      visible: false,
      formcodeParam: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/getprocessbyformcode/v1',
        parameter: {
          formCode: this.formCode
        },
        method: 'post'
      },
      rowKey,
      tableColumns,
      data: [],
      selectCode: [],
      params: ''
    };
  },
  mounted() {
    this.$emit('afterFormCodeLoad'); //渲染完毕调用父组件方法
  },
  methods: {
    loadFormcode(params) {
      this.params = params;
      this.getprocessByformcode();
    },
    //获取流程表单code
    getprocessByformcode() {
      httpAction(this.formcodeParam.url, this.formcodeParam.parameter, this.formcodeParam.method)
        .then(res => {
          if (res.success) {
            if (res.result.length == 1) {
              this.$emit('beforeLoadformCode', res.result[0], this.params);
              this.openFlow(res.result[0]);
              this.selectCode = [];
            } else {
              this.data = res.result;
              this.visible = true;
            }
          } else {
            this.$message.error('获取表单关联流程失败!');
            this.$emit('beforeLoadformCode', null, this.params);
          }
        })
        .catch(() => {
          this.$message.error('获取表单关联流程失败!');
          this.$emit('beforeLoadformCode', null, this.params);
        });
    },
    handleOk() {
      if (this.selectCode.length < 1) {
        this.$message.warning('请选择您要启动的流程!');
        return;
      }
      this.visible = false;
      this.$emit('beforeLoadformCode', this.selectCode[0], this.params);
      this.openFlow(this.selectCode[0]);
      this.$refs.formCodeTable.changeSelectedRowKeys([]);
      this.selectCode = [];
    },
    handleCancel() {
      this.selectCode = [];
      this.$refs.formCodeTable.changeSelectedRowKeys([]);
      this.visible = false;
      this.$emit('beforeLoadformCode', true, this.params);
    },
    //选中事件
    handleRowSelection(e) {
      if (e.selectedRowKeys.length > 0) {
        this.selectCode = this.data.filter(tim => tim.key == e.selectedRowKeys[0]);
      } else {
        this.selectCode = [];
      }
    },
    handleRowDblClick(row) {
      if (row[this.rowKey]) {
        this.selectCode = [row];
      }
      this.handleOk();
    },
    openFlow(result) {
      if (this.isOpenFlow) {
        bpmUtils
          .addListStart(result.dbid, result.name)
          .then(res => {})
          .catch(() => {
            this.$message.error('启动流程失败!');
          });
      }
    }
  }
};
</script>
