<template>
  <div class="avic-export-box" title="导出当前页">
    <a-button icon="export" @click="handleExport">导出</a-button>
    <a-modal
      title="导出"
      :visible="visible"
      :style="modalWidthAndHeight.modalStyle"
      :body-style="{ height: '320px', overflowY: 'auto' }"
      width="580px"
      :confirm-loading="loading"
      :mask-closable="false"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <div>
        <div :style="{ borderBottom: '1px solid #E9E9E9', marginBottom: '8px', height: '28px' }">
          <a-checkbox
            :indeterminate="indeterminate"
            :checked="checkAll"
            @change="onCheckAllChange"
            :style="{ float: 'right' }"
          >
            全选
          </a-checkbox>
          <span class="message-box">请选择需要导出的项目：</span>
        </div>
        <a-checkbox-group v-model="checkedList" @change="onChange">
          <a-row>
            <template v-for="option in columnOptions">
              <a-col :key="option.value" :span="8">
                <a-checkbox :value="option.value">
                  {{ option.label }}
                </a-checkbox>
              </a-col>
            </template>
          </a-row>
        </a-checkbox-group>
      </div>
      <a-divider />
      <div>
        <div :style="{ borderBottom: '1px solid #E9E9E9', marginBottom: '8px', height: '28px' }">
          <span class="message-box"> 请选择需要导出的数据：</span>
        </div>
        <a-radio-group v-model="checkData">
          <template v-for="option in dataOptions">
            <a-radio :key="option.value" :value="option.value" :disabled="option.disabled">
              {{ option.label }}
            </a-radio>
          </template>
        </a-radio-group>
      </div>
    </a-modal>
  </div>
</template>
<script>
import { download } from '@api/manage';
import { Modal, Button } from 'ant-design-vue';
import { modalWidthAndHeightBylayout } from '@utils/avic/layout/baseMouldStyles';
export default {
  name: 'AvicExport',
  components: {
    AModal: Modal,
    AButton: Button
  },
  props: {
    //文件名
    fileName: {
      type: String,
      required: false,
      default: 'exportExcel'
    },
    //列数据
    dataGridheaders: {
      type: Array,
      required: true
    },
    //列表的数据
    datas: {
      type: Array,
      required: true
    },
    // 列表中已选择的行数据
    selectedRows: {
      type: Array,
      default: () => []
    },
    //导出页签名称
    sheetName: {
      type: String,
      required: false,
      default: 'sheet1'
    },
    // 导出列是否带序号
    hasRowNum: {
      type: Boolean,
      required: false,
      default: true
    },
    //不导出的列 多个用 , 号隔开
    unContainFields: {
      type: String,
      required: false,
      default: 'id,action'
    }
  },
  data() {
    return {
      modalWidthAndHeight: modalWidthAndHeightBylayout('1', 108),
      checkData: 'row',
      indeterminate: true,
      checkAll: false,
      checkedList: [],
      excelExportParam: {
        url: 'api/appsys/common/excelExport/download/v1',
        parameter: {
          fileName: '', //文件名
          dataGridheaders: [], //列数据
          datas: [], //表格数据
          sheetName: '', //表格页签名称
          hasRowNum: true, //导出列是否带序号
          unContainFields: '' //不导出的数据
        },
        method: 'post'
      },
      visible: false,
      loading: false
    };
  },
  watch: {
    dataGridheaders: {
      immediate: true,
      handler(val) {
        this.initCheckList();
      }
    }
  },
  computed: {
    dataOptions() {
      let dataOptions = [
        { label: '已选行数据', value: 'row', disabled: !this.selectedRows.length },
        { label: '本页数据', value: 'page' }
        // { label: '所有数据', value: 'all' } // 暂无此选项所需的后台API支撑
      ];
      return dataOptions;
    },
    columnOptions() {
      if (!this.dataGridheaders.length) {
        return [];
      }
      let options = [];
      let unContainFields = this.unContainFields.split(',');
      this.dataGridheaders.map(col => {
        if (!unContainFields.includes(col.dataIndex)) {
          options.push({ label: col.title, value: col.dataIndex });
        }
      });
      return options;
    }
  },
  methods: {
    initCheckList() {
      let checkedList = [];
      this.dataGridheaders.map(col => {
        if (col.visible) {
          checkedList.push(col.dataIndex);
        }
      });
      this.checkedList = checkedList;

      // 计算全选/半选状态
      this.indeterminate =
        !!this.checkedList.length && this.checkedList.length < this.columnOptions.length;
      this.checkAll = this.checkedList.length === this.columnOptions.length;
    },
    onChange(checkedList) {
      this.indeterminate = !!checkedList.length && checkedList.length < this.columnOptions.length;
      this.checkAll = checkedList.length === this.columnOptions.length;
    },
    onCheckAllChange(e) {
      let checkedList = [];
      if (e.target.checked) {
        this.columnOptions.map(col => {
          checkedList.push(col.value);
        });
      }
      Object.assign(this, {
        checkedList,
        indeterminate: false,
        checkAll: e.target.checked
      });
    },
    handleCancel() {
      this.visible = false;
      this.loading = false;
    },
    handleOk() {
      // 校验：至少选择一列
      if (!this.checkedList.length) {
        this.$message.warning('请选择需要导出的项目！');
        return;
      }
      if (!this.checkData || (this.checkData === 'row' && !this.selectedRows.length)) {
        this.$message.warning('请选择需要导出的数据！');
        return;
      }
      // 构建导出的请求参数--datas
      let datas = [];
      // 构建导出的请求参数--unContainFields
      let unContainFields = this.unContainFields.split(',');
      this.columnOptions.map(col => {
        if (!this.checkedList.includes(col.value) && !unContainFields.includes(col.value)) {
          unContainFields.push(col.value);
        }
      });

      // 区分数据选项-所有数据
      if (this.checkData === 'all') {
        // TODO 调用业务模块中的导出接口
      } else {
        this.loading = true;
        datas = this.checkData === 'row' ? this.selectedRows : this.datas;
        this.excelExportParam.parameter = {
          fileName: encodeURI(this.fileName),
          dataGridheaders: encodeURI(JSON.stringify(this.dataGridheaders)),
          hasRowNum: encodeURI(this.hasRowNum),
          datas: encodeURI(JSON.stringify(datas)),
          sheetName: encodeURI(this.sheetName),
          unContainFields: encodeURI(unContainFields.join(','))
        };
        download(
          this.excelExportParam.url,
          this.excelExportParam.parameter,
          this.excelExportParam.method
        )
          .then(res => {
            this.$emit('back-export', 'success');
            this.handleCancel();
            this.loading = false;
          })
          .catch(response => {
            this.$emit('back-export', 'error');
            this.handleCancel();
            this.loading = false;
          });
      }
    },
    handleExport() {
      this.visible = true;
      this.initCheckList();
      this.loading = false;
    }
  }
};
</script>
<style lang="less" scoped>
.avic-export-box {
  display: inline;
  .message-box {
    text-align: center;
  }
}
</style>
