<template>
  <a-layout-sider
    v-model="collapsed"
    :class="[
      'sider',
      isDesktop() ? null : 'shadow',
      theme,
      fixSiderbar ? 'ant-fixed-sidemenu' : null
    ]"
    width="200px"
    :collapsible="collapsible"
    :trigger="null"
  >
    <logo />
    <!-- 左侧导航美化滚动条 S -->
    <div :style="{ height: 'calc(100% - 59px)' }">
      <vue-scroll :ops="ops">
        <s-menu
          :collapsed="collapsed"
          :menu="menus"
          :theme="theme"
          :mode="mode"
          style="padding: 0"
          @select="onSelect"
        />
      </vue-scroll>
    </div>
    <!-- 左侧导航美化滚动条 E -->
  </a-layout-sider>
</template>

<script>
import ALayoutSider from 'ant-design-vue/es/layout/Sider';
import Logo from '../Logo';
import SMenu from './index';
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import Vue from 'vue';
import VueScroll from 'vuescroll/dist/vuescroll-native';
Vue.use(VueScroll);

export default {
  name: 'SideMenu',
  components: { ALayoutSider, Logo, SMenu, VueScroll },
  mixins: [mixin, mixinDevice],
  props: {
    mode: {
      type: String,
      required: false,
      default: 'inline'
    },
    theme: {
      type: String,
      required: false,
      default: 'dark'
    },
    collapsible: {
      type: Boolean,
      required: false,
      default: false
    },
    collapsed: {
      type: Boolean,
      required: false,
      default: false
    },
    menus: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      }
    };
  },
  methods: {
    onSelect(obj) {
      console.log(obj);
      this.$emit('menuSelect', obj);
    }
  }
};
</script>
