<template>
  <div class="button-box">
    <a-button v-bind="$attrs" :loading="loding" @click="batchDownload">
      <slot />
    </a-button>
  </div>
</template>

<script>
import { Button } from 'ant-design-vue';
import { download } from '@api/manage';
import moment from 'moment';
export default {
  name: 'BatchBtn',
  components: {
    AButton: Button
  },
  props: {
    fileName: {
      type: String,
      default: '批量下载' + moment().format('YYYY-MM-DD') + '.zip'
    },
    formId: {
      type: String,
      required: true
    },
    elementId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      //批量下载
      batchDownloadParam: {
        url: '/api/appsys/common/uploader/multidownload/v1',
        method: 'post'
      },
      loding: false
    };
  },
  computed: {
    parameter() {
      return {
        formId: this.formId,
        elementId: this.elementId,
        fileName: this.fileName
      };
    }
  },
  methods: {
    // 附件批量下载
    batchDownload() {
      this.loding = true;
      download(this.batchDownloadParam.url, this.parameter, this.batchDownloadParam.method)
        .then(res => {
          this.$message.success('附件下载成功');
          this.loding = false;
        })
        .catch(response => {
          this.$message.error('附件下载失败');
          this.loding = false;
        });
    }
  }
};
</script>

<style lang="less" scoped>
.button-box {
  display: inline-block;
  margin: 0;
}
</style>
