<!--
  文件列表
-->
<template>
  <a-row v-show="fileList.length" class="uploader-file-list">
    <a-col
      v-for="(file, index) in fileList"
      :key="index"
      :md="allowResponsive ? 12 : span"
      :lg="allowResponsive ? 12 : span"
      :xl="allowResponsive ? 8 : span"
      :xxl="allowResponsive ? 6 : span"
    >
      <AvicFile
        :task-name="taskName"
        :flow-uploader="flowUploader"
        :key="file.id"
        :entry-id="entryId"
        :allow-encry="allowEncry"
        :allow-preview="allowPreview"
        :allow-delete="allowDelete"
        :allow-download="allowDownload"
        :update-level="updateLevel"
        :form-id="formId"
        :view-type="viewType"
        v-bind="$attrs"
        :file="file"
        @preview="preview"
        @remove="removeFile"
      />
    </a-col>
    <AvicPreview v-model="previewFile" :allow-encry="allowEncry" />
  </a-row>
</template>

<script>
import { Row, Col } from 'ant-design-vue';
import AvicFile from './file';
import AvicPreview from './preview';
export default {
  name: 'List',
  components: {
    AvicFile,
    AvicPreview,
    ARow: Row,
    ACol: Col
  },
  props: {
    fileList: {
      type: Array,
      required: true, //校验
      default: null
    },
    formId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否可以修改秘籍
    updateLevel: {
      type: Boolean,
      default: false
    },
    //一列显示多少个
    colspan: {
      type: Number,
      default: 1
    },
    //是否允许删除附件
    allowDelete: {
      type: Boolean,
      default: false
    },
    //是否允许下载附件
    allowDownload: {
      type: Boolean,
      default: false
    },
    //是否允许预览
    allowPreview: {
      type: Boolean,
      default: false
    },
    //是否加密
    allowEncry: {
      type: Boolean,
      required: false,
      default: false
    },
    //是否流程上传
    flowUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //流程节点
    taskName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //实力id
    entryId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //视图类型 line block
    viewType: {
      type: String,
      required: false, //校验
      default: 'line'
    },
    //视图类型 line block
    allowResponsive: {
      type: Boolean,
      required: false, //校验
      default: false
    }
  },
  data() {
    return {
      span: 24,
      previewFile: null
    };
  },
  watch: {
    colspan: {
      immediate: true,
      handler(newV) {
        if (newV) {
          if (newV > 3) {
            this.span = 24 / 3;
          } else if (newV < 1) {
            this.span = 24 / 1;
          } else {
            this.span = 24 / newV;
          }
        }
      }
    }
  },
  methods: {
    //删除文件
    removeFile(file) {
      this.$emit('remove', file);
    },
    //预览图片
    preview(file) {
      this.previewFile = file;
    },
    closePreview() {
      this.previewFile = null;
    }
  }
};
</script>

<style lang="less">
.uploader-file-list {
  margin: 0 -8px;
  margin-top: 10px;
  .ant-col-12:nth-child(2n + 2) .file-wrapper .file-block {
    margin-right: 0;
    margin-left: 5px;
  }
}
.uploader-file-list > .ant-col-12:nth-child(odd) {
  clear: both;
}
.uploader-file-list .anticon {
  cursor: pointer;
  margin: 0 4px;
}
</style>
