<!---
    文件预览
-->
<template>
  <div class="avic-upload-preview">
    <a-icon
      v-if="allowPreview && fileType"
      class="close-icon"
      :type="loading ? 'loading' : 'eye'"
      @click="previewOpen()"
      style="font-size: 14px"
    />
    <!--图片预览--->
    <img-viewer ref="viewer" :options="{ navbar: false, title: false, url: 'data-source' }" />
    <div class="img">
      <a-modal
        class="avic-upload-preview-modal"
        :style="modalWidthAndHeight.modalStyle"
        :width="modalWidthAndHeight.modalStyle.width"
        :body-style="modalWidthAndHeight.bodyStyle"
        :title="`${name}预览 ${file.name}`"
        :visible="previewVisible"
        :footer="null"
        @cancel="handleCancel"
      >
        <!--图片预览--->
        <!-- <AvicAsyncComponent
          :path="imgpath"
          v-if="!error && fileType == 'image'"
          :flow="flowData"
          :modal-width-and-height="modalWidthAndHeight"
          @setError="setError"
        /> -->
        <!--表格预览--->
        <AvicAsyncComponent
          :path="excelpath"
          v-if="!error && fileType == 'excel'"
          :flow="flowData"
          :modal-width-and-height="modalWidthAndHeight"
          @setError="setError"
        />
        <!--word预览--->
        <AvicAsyncComponent
          :path="wordpath"
          v-if="!error && fileType == 'word'"
          :flow="flowData"
          :modal-width-and-height="modalWidthAndHeight"
          @setError="setError"
        />
        <!--进度条--->
        <fileProgress class="avic-preview-progress" :progress="progress" />
        <!--错误提示--->
        <div v-if="error">{{ error }}</div>
      </a-modal>
    </div>
  </div>
</template>
<script>
import { Modal, Icon } from 'ant-design-vue';
import { httpAction, download } from '@/api/manage';
import ImgViewer from './preview/imgViewer';
// import previewImg from '@comp/avic/pt/common/AvicUploader/components/preview/img';
import fileProgress from '@comp/avic/pt/common/AvicUploader/components/progress';
// import previewExcel from '@comp/avic/pt/common/AvicUploader/components/preview/excel';
// import previewWord from '@comp/avic/pt/common/AvicUploader/components/preview/word';

import AvicAsyncComponent from '@comp/avic/pt/common/AvicAsyncComponent/index';

import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { fileTypeAll, getFileExtension } from '@comp/avic/pt/common/AvicUploader/components/util';
export default {
  name: 'Preview',
  components: {
    fileProgress,
    AvicAsyncComponent,
    ImgViewer,
    // previewImg,
    // previewExcel,

    // previewWord,
    AModal: Modal,
    AIcon: Icon
  },
  props: {
    //返回数据
    file: {
      required: false, //校验
      default: ''
    },
    //是否允许预览
    allowPreview: {
      type: Boolean,
      default: false
    },
    //是否加密
    allowEncry: {
      type: Boolean,
      required: false,
      default: false
    },
    //是否流程上传
    flowUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //流程节点
    taskName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //实力id
    entryId: {
      type: String,
      required: false, //校验
      default: ''
    }
  },
  data() {
    return {
      imgpath: 'components/avic/pt/common/AvicUploader/components/preview/img',
      excelpath: 'components/avic/pt/common/AvicUploader/components/preview/excel',
      wordpath: 'components/avic/pt/common/AvicUploader/components/preview/word',
      //文件预览
      downloadFileParam: {
        url: '/api/appsys/common/uploader/downloadForPreview/v1/',
        method: 'get'
      },
      //下载验证
      downloadFlowFileParam: {
        url: '/api/appsys/common/uploader/validDownload/v1',
        method: 'post'
      },
      previewVisible: false,
      previewImgVisible: false,
      fileType: '',
      progress: 0,
      error: '',
      modalWidthAndHeight: modalWidthAndHeight(0.7, 0.7, 108),
      openPdf: '/assets/js/pdf/web/viewer.html?file=',
      name: '图片',
      flowData: '',
      isHasDownload: true,
      loading: false //预览图标的loading 效果控制参数
    };
  },
  watch: {
    file: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.getFileType(newV);
        }
      }
    }
  },
  methods: {
    //关闭预览框
    handleCancel() {
      //双向绑定
      this.$emit('input', null);
      this.previewVisible = false;
      this.previewImgVisible = false;
      this.excelData = null;
      //预览图片完成后，页面继续滚动
      //document.body.style = `overflow: auto;`;
    },
    //预览图片
    previewOpen() {
      this.loading = true;
      if (this.flowUploader) {
        this.previewFlow();
      } else {
        this.preview();
      }
    },
    //流程预览图片
    previewFlow() {
      if (this.entryId && this.taskName && this.file.id) {
        if (
          this.fileType == 'pdf' ||
          this.fileType == 'word' ||
          this.fileType == 'excel' ||
          this.fileType == 'ppt'
        ) {
          this.downloadFlow(); //验证文件是否能下载
        }
        this.preview();
      } else {
        this.$message.error('预览失败缺少参数!');
        this.loading = false;
      }
    },
    //预览图片
    preview() {
      if (this.fileType == 'image') {
        this.previewAction();
      } else if (
        this.fileType == 'pdf' ||
        this.fileType == 'word' ||
        this.fileType == 'excel' ||
        this.fileType == 'ppt'
      ) {
        this.previewDocument();
      }
    },
    getFileType(file) {
      if (file.name && file && file.id && file.complete) {
        let extension = getFileExtension(file.name);

        let fileType = '';
        if (extension.length > 0) {
          fileType = extension[1];
        }

        // 大写转小写 统一校验格式
        fileType = fileType.toLowerCase();

        let fileTypeList = fileTypeAll();
        if (fileTypeList['image'].filter(tim => tim == fileType).length > 0) {
          this.fileType = 'image';
          this.name = '图片';
        } else if (fileTypeList['pdf'].filter(tim => tim == fileType).length > 0) {
          this.fileType = 'pdf';
          this.name = 'PDF';
        }
        // else if (fileTypeList['excel'].filter(tim => tim == fileType).length > 0) {
        //   this.fileType = 'excel';
        //   this.name = '表格';
        //   this.modalWidthAndHeight = modalWidthAndHeight(0.7, 0.7, 108,'hidden');
        // } else if (fileTypeList['word'].filter(tim => tim == fileType).length > 0) {
        //   this.fileType = 'word';
        //   this.name = '文档';
        // } else if (fileTypeList['ppt'].filter(tim => tim == fileType).length > 0) {
        //   this.name = 'PPT';
        //   this.fileType = 'ppt';
        // }
      }
    },
    //流程pdf文件是否能下载验证
    downloadFlow() {
      if (this.entryId && this.taskName) {
        let parameter = {
          fileId: this.file.id,
          // allowEncry:this.allowEncry,
          _taskName: this.taskName,
          _entryId: this.entryId
        };
        let url = this.downloadFlowFileParam.url;
        let method = this.downloadFlowFileParam.method;
        httpAction(url, parameter, method, false, true, false, true)
          .then(res => {
            if (!res.result) {
              this.isHasDownload = false;
            } else {
              this.isHasDownload = true;
            }
            this.levelLoading = false;
          })
          .catch(response => {
            this.levelLoading = false;
          });
      }
    },
    // pdf 文件预览 ,先验证是否有预览权限，再打开新窗口预览
    previewDocument() {
      if (this.file) {
        if (this.file.id && this.file.complete) {
          let url = '';
          if (this.entryId.length > 0 && this.taskName != null && this.taskName != undefined) {
            url =
              this.downloadFileParam.url +
              this.file.id +
              '/' +
              this.allowEncry +
              '/' +
              this.entryId +
              '/' +
              this.taskName;
          } else {
            url = this.downloadFileParam.url + this.file.id + '/' + this.allowEncry;
          }
          download(url, null, 'get', null, '', false)
            .then(res => {
              if (res) {
                this.flowData = res;
                window.open(
                  this.openPdf +
                    encodeURIComponent(
                      this.downloadFileParam.url + this.file.id + '/' + this.allowEncry
                    ) +
                    '&isHasDownload=' +
                    this.isHasDownload
                );
                this.loading = false;
              }
            })
            .catch(response => {
              this.loading = false;
            });
        } else if (this.file.file) {
          this.previewVisible = true;
          this.loading = false;
          if (this.fileType == 'image') {
            this.flowData = this.file.file;
          } else if (this.fileType == 'excel') {
            this.flowData = this.file.file;
          } else if (this.fileType == 'word') {
            this.flowData = this.file.file;
          }
        }
      }
    },
    //预览请求
    previewAction() {
      //预览图片时蒙层后面的页面禁止滚动
      //document.body.style = `overflow: hidden;`;
      if (this.file) {
        if (!this.previewImage) {
          // console.log('this.file', this.file);
          if (this.file.id && this.file.complete && !this.file.file) {
            let url = '';
            if (this.entryId.length > 0 && this.taskName != null && this.taskName != undefined) {
              url =
                this.downloadFileParam.url +
                this.file.id +
                '/' +
                this.allowEncry +
                '/' +
                this.entryId +
                '/' +
                this.taskName;
            } else {
              url = this.downloadFileParam.url + this.file.id + '/' + this.allowEncry;
            }
            download(
              url,
              null,
              'get',
              progress => {
                if (progress >= 100) {
                  this.progress = 0;
                } else {
                  this.progress = progress;
                }
              },
              '',
              false,
              4,
              preVisible => {
                this.previewImgVisible = preVisible;
              }
            )
              .then(res => {
                if (res) {
                  this.flowData = res;
                  let that = this;
                  let filereader = new FileReader();
                  filereader.onloadend = function (event) {
                    let image = event.target.result.replace(
                      'data:application/json;',
                      'data:img/jpg;'
                    );
                    that.file.file = image;
                    that.$refs.viewer.show([
                      {
                        thumbnail: image,
                        source: image
                      }
                    ]);
                  };
                  filereader.readAsDataURL(res);

                  this.loading = false;
                }
              })
              .catch(response => {
                this.loading = false;
                // this.$message.error(`预览${this.name}失败`);
              });
          } else if (this.file.file) {
            this.flowData = this.file.file;
            this.$refs.viewer.show([
              {
                thumbnail: this.file.file,
                source: this.file.file
              }
            ]);
            this.loading = false;
          }
        }
      }
    },
    setError(e) {
      this.error = e;
    }
  }
};
</script>
<style lang="less">
.avic-upload-preview {
  display: inline-block;
  margin: 0 4px;
}
.avic-preview-progress {
  position: relative;
  top: 50%;
}
</style>
