<!--
  文件上传按钮
-->
<template>
  <div class="button-box">
    <a-button v-bind="$attrs" @click="uploadfile">
      <slot />
    </a-button>
  </div>
</template>

<script>
import { Button } from 'ant-design-vue';
export default {
  name: 'AddBtn',
  components: {
    AButton: Button
  },
  methods: {
    uploadfile() {
      this.$emit('upload');
    }
  }
};
</script>

<style lang="less">
.button-box {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
</style>
