<template>
  <!-- 美化body滚动条 S -->
  <vue-scroll :ops="ops">
    <global-layout>
      <!-- 右边头部内容 -->
      <div id="headerContainer">
        <div class="header-container-left">
          <a-tabs
            default-active-key="0"
            :active-key="selected"
            type="editable-card"
            :hide-add="true"
            size="small"
            @change="handleChange"
            @edit="handleEdit"
          >
            <a-tab-pane v-for="(item, key) in pageList" :key="key">
              <div slot="tab">
                <div @contextmenu.prevent="showContextMenu($event, key)">
                  <template v-if="key == 0">
                    <TabsDropdown
                      :ref="tabsDropRefName"
                      :menu-visible.sync="visible"
                      :item="item"
                      @handleIndexSetting="handleIndexSetting"
                    />
                  </template>
                  <template v-else>
                    <a-icon class="menu-icon" v-if="item.meta.icon" :type="item.meta.icon" />
                    {{ item.meta.title }}
                  </template>
                </div>
                <!-- 暂时关闭该功能 By Cj -->
                <!-- <a-popover
                  :key="key"
                  :destroy-tooltip-on-hide="false"
                  overlay-class-name="menu-preview-popover"
                >
                  <template slot="content">
                    <avic-content-preview :preview-page="item" />
                  </template>
                  <div @contextmenu.prevent="showContextMenu($event, key)">
                    <a-icon class="menu-icon" v-if="item.meta.icon" :type="item.meta.icon" />
                    {{ item.meta.title }}
                  </div>
                </a-popover>-->
              </div>
            </a-tab-pane>
          </a-tabs>
          <vue-context-menu
            class="context-menu"
            :context-menu-data="contextMenuData"
            :transfer-index="0"
            @close2left="close2left"
            @close2right="close2right"
            @closeAllOthers="closeAllOthers"
            @refresh="refresh"
          />
        </div>
        <div class="header-container-right">
          <ul class="action action-full user-wrapper">
            <li class="user-info">
              <a-dropdown placement="bottomCenter">
                <div class="ant-dropdown-link user-info-zone" :title="nickname()">
                  <a-avatar :src="userHead" />
                  <div class="user-name">{{ nickname() }}</div>
                </div>
                <a-menu slot="overlay" class="user-dropdown-menu-wrapper" style="width: 180px">
                  <a-menu-item>
                    <a class="logout-title" href="javascript:;" @click="handleMulti">
                      <a-icon type="team" />
                      <span>切换组织</span>
                    </a>
                  </a-menu-item>
                  <a-menu-item>
                    <a class="logout-title" href="javascript:;" @click="handlework">
                      <a-icon type="desktop" />
                      <span>工作台</span>
                    </a>
                  </a-menu-item>
                  <a-menu-item>
                    <a class="logout-title" href="javascript:;" @click="handleIndexSetting">
                      <a-icon type="setting" />
                      <span>首页设置</span>
                    </a>
                  </a-menu-item>
                  <a-menu-item>
                    <a class="logout-title" href="javascript:;" @click="handleLogout">
                      <a-icon type="logout" />
                      <span>退出登录</span>
                    </a>
                  </a-menu-item>
                </a-menu>
              </a-dropdown>
            </li>
            <li class="user_message">
              <header-notice class="action" />
            </li>
            <li>
              <div>
                <a-icon
                  theme="filled"
                  type="appstore"
                  @click="showPreviewList = !showPreviewList"
                />
                <TaskPreviewList
                  :show-preview-list="showPreviewList"
                  :page-list="pageList"
                  @close="showPreviewList = false"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 组织切换 -->
      <ChangeMultiOrg :ref="orgModalRefName" />
      <!-- 个人设置 -->
      <!-- <PersonalSetting :ref="setModalRefName"></PersonalSetting> -->
      <!-- 右边内容区域 -->
      <div
        class="content-container-box"
        :class="[contentHeight === 'Auto' ? 'height-auto' : 'height-fixed']"
        id="roll"
      >
        <!-- 回到顶部 -->
        <a-back-top :target="rolls" class="ant-back-top-inner">
          <a-icon type="arrow-up" />
        </a-back-top>
        <vue-scroll v-if="contentHeight !== 'Auto'" :ops="ops" class="height-fixed-scroll">
          <!-- <transition :name="transitionName"> -->
          <keep-alive :include="getKeepAliveCompList">
            <router-view />
          </keep-alive>
          <!-- </transition> -->
        </vue-scroll>
        <!-- <transition v-else :name="transitionName"> -->
        <keep-alive v-else :include="getKeepAliveCompList">
          <router-view />
        </keep-alive>
        <!-- </transition> -->
      </div>
    </global-layout>
    <a-modal
      :visible="editIndexModal"
      :title="portLet.portletName ? '【' + portLet.portletName + '】' + '设置' : '首页设置'"
      :centered="true"
      :mask-closable="false"
      :style="modalWidthAndHeight.modalStyle"
      :width="modalWidthAndHeight.modalStyle.width"
      :body-style="modalWidthAndHeight.bodyStyle"
      :destroy-on-close="true"
      ok-text="保存"
      @ok="savePortalDesign"
      @cancel="closeModal"
    >
      <template v-if="show">
        <later
          :widget-form="widgetForm"
          :port-let="portLet"
          @updateDesign="updateDesign"
          @updatePortLetList="updatePortLetList"
        />
      </template>
    </a-modal>
  </vue-scroll>
  <!-- 美化body滚动条 E -->
</template>

<script>
import { Icon, Menu, Avatar, Dropdown, Tabs, Modal } from 'ant-design-vue';
import Vue from 'vue';
import { ACCESS_TOKEN, MICRO_SERVICE_TOKEN } from '@/store/mutationTypes';
import { mixin } from '@/utils/avic/layout/mixin.js';
import { mapActions, mapGetters } from 'vuex';
import VueContextMenu from 'vue-contextmenu';
import VueScroll from 'vuescroll/dist/vuescroll-native';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import GlobalLayout from '@portal/pageLayouts/common/GlobalMainLayout';
import HeaderNotice from '@portal/pageModules/HeaderNotice';
import TaskPreviewList from '@portal/pageModules/TaskPreviewList';
// import AvicContentPreview from '@comp/avic/pt/common/AvicContentPreview';
import ChangeMultiOrg from '@views/avic/pt/system/personalSetting/ChangeMultiOrg';
import TabsDropdown from '@views/avic/pt/system/dashboard/components/TabsDropdown';
import { httpAction } from '@/api/manage';
import config from '@config/defaultSettings';
// import PersonalSetting from '@views/avic/pt/system/personalSetting/index'

Vue.use(VueScroll);
Vue.use(VueContextMenu);

export default {
  name: 'MainLayout',
  components: {
    GlobalLayout,
    // AvicContentPreview,
    TabsDropdown,
    HeaderNotice,
    TaskPreviewList,
    // APopover: Popover,
    AIcon: Icon,
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AAvatar: Avatar,
    ADropdown: Dropdown,
    ATabPane: Tabs.TabPane,
    ChangeMultiOrg,
    // PersonalSetting,
    later: () => ({
      // 需要加载的组件 (应该是一个 `Promise` 对象)
      component: import('@comp/avic/pt/common/AvicFormMaking/entry.vue'),
      // 异步组件加载时使用的组件
      // loading: loadingComp,
      // 加载失败时使用的组件
      // error: '',
      // 展示加载时组件的延时时间。默认值是 200 (毫秒)
      delay: 200,
      // 如果提供了超时时间且组件加载也超时了，
      // 则使用加载失败时使用的组件。默认值是：`Infinity`
      timeout: 3000
    })
  },
  mixins: [mixin],
  data() {
    return {
      editIndexModal: false,
      portalDesignData: null,
      defaultWidgetForm: {
        list: [],
        config: { labelWidth: 100, labelPosition: 'right', size: 'small' }
      },
      modalWidthAndHeight: modalWidthAndHeight(0.95, 0.9, 60, 'auto', 'fff'),
      show: false,
      activeKey: '0',
      orgModalRefName: 'multiOrgModal',
      // setModalRefName: 'SetModal',
      showPreviewList: false,
      /* 标签页中激活的视图索引值 */
      selected: 0,
      /* 标签页中显示的视图列表 */
      pageList: [],
      /* 调用右键菜单的当前标签页索引,默认-1表示未调用 */
      optMenuIdx: -1,
      userHead: '',
      previewObj: null,
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      },
      // 右键菜单数据
      contextMenuData: {
        menuName: 'demo',
        // 菜单显示的位置
        axis: {
          x: null,
          y: null
        },
        // 菜单选项
        menulists: [
          {
            fnHandler: 'close2left', // Binding events(绑定事件)
            icoName: 'arrow-left', // icon (icon图标 )
            btnName: '关闭左边' // The name of the menu option (菜单名称)
          },
          {
            fnHandler: 'close2right',
            icoName: 'arrow-right',
            btnName: '关闭右边'
          },
          {
            fnHandler: 'closeAllOthers',
            icoName: 'close',
            btnName: '关闭其他'
          },
          {
            fnHandler: 'refresh',
            icoName: '',
            btnName: '刷新'
          }
        ]
      },
      //首页门户配置
      tabsDropRefName: 'tabsDropRefName',
      visible: false,
      updateForPortletUrl: '/api/appsys/portlet/portalConfig/updateForPortlet/v1',
      portLet: {},
      handleType: 'init',
      content: ''
    };
  },
  watch: {
    pageList() {
      let res = [];
      this.pageList.map(item => {
        res = res.concat(item.meta.compName);
      });
      this.$store.commit('SET_KEEPALIVE_COMP_LIST', res);
    },
    $route(newRoute) {
      let isExistIndex = -1;
      this.pageList.map((item, index) => {
        if (item.fullPath === newRoute.fullPath) {
          isExistIndex = index;
        }
      });
      if (isExistIndex !== -1) {
        this.selected = isExistIndex;
        if (this.isCloseView) {
          this.transitionName = 'close';
          this.isCloseView = false;
        } else {
          this.transitionName = 'review';
        }
        this.pageList[isExistIndex] = this.routeObj2PageObj(newRoute);
      } else {
        this.pageList.push(this.routeObj2PageObj(newRoute));
        this.selected = this.pageList.length - 1;
        this.transitionName = 'open';
      }
    }
  },
  computed: {
    ...mapGetters(['getOpenedViewList', 'getKeepAliveCompList', 'getGlobalCfgItem', 'getPortLet']),
    widgetForm() {
      let widgetForm = {};
      if (this.handleType == 'init') {
        widgetForm = this.getGlobalCfgItem('PORTAL_DESIGN');
      } else if (this.handleType == 'add' || this.handleType == 'edit') {
        widgetForm = this.content;
      }
      widgetForm = widgetForm ? widgetForm : this.defaultWidgetForm;
      widgetForm.config['id'] = this.portLet.id;
      // 权限过滤
      let basicComponents = this.getPortLet('PORTALLET_SMALLPAGES');
      if (widgetForm && widgetForm.list.length > 0) {
        //权限判断
        let wlen = widgetForm.list.length;
        // let bcLen = basicComponents.length;
        for (let i = 0; i < wlen; i++) {
          let isSwith = false;
          widgetForm.list[i].key = Date.parse(new Date()) + '_' + Math.ceil(Math.random() * 99999);
          if (basicComponents && basicComponents.length > 0) {
            let bcLen = basicComponents.length;
            for (let j = 0; j < bcLen; j++) {
              if (widgetForm.list[i].id == basicComponents[j].id) {
                isSwith = true;
                widgetForm.list[i].url = basicComponents[j].menuUrl;
              }
            }
          }
          if (!isSwith) {
            widgetForm.list[i].url = 'avic/pt/system/portLet/portLetCards/401';
          }
        }
      }
      return widgetForm;
    }
  },
  created() {
    this.modalWidthAndHeight.bodyStyle.padding = '0';
    if (this.$route.path !== this.homePageRoutePath) {
      const homePageRoute = {
        name: config.homePageConfig.name,
        path: this.homePageRoutePath,
        fullPath: this.homePageRoutePath,
        meta: {
          icon: config.homePageConfig.icon,
          permissionList: [],
          title: config.homePageConfig.title,
          compName: ['Dashboard']
        }
      };
      this.pageList.push(homePageRoute);
    }
    this.pageList.push(this.routeObj2PageObj(this.$route));
    this.selected = this.pageList.length - 1;

    this.getAvatar();
  },
  methods: {
    ...mapActions(['Logout']),
    ...mapGetters(['nickname', 'avatar']),
    updateDesign(data) {
      this.portalDesignData = data;
    },
    // 保存门户配置
    savePortalDesign() {
      if (this.portalDesignData && this.portLet.id) {
        let param = {
          id: this.portLet.id,
          content: JSON.stringify(this.portalDesignData),
          portletName: this.portLet.portletName
        };
        httpAction(this.updateForPortletUrl, param, 'post')
          .then(res => {
            if (res.success) {
              // 修改用户默认配置时更新个性化配置中的门户配置
              let id = this.getGlobalCfgItem('PORTAL_DESIGN');
              if (id && id == this.portLet.id) {
                // 全局保存设计内容content
                this.$store.commit('UPDATE_CUSTOM_PORTLET', {
                  key: 'PORTAL_DESIGN_CONTENT',
                  val: JSON.stringify(this.portalDesignData)
                });
              }
              // 更新tabsDropwn 列表信息
              this.$refs[this.tabsDropRefName][0].refreshData();
              this.editIndexModal = false;
            } else {
              this.editIndexModal = false;
            }
          })
          .catch(() => {});
      }
    },
    handleChange(activeKey) {
      this.select(activeKey);
      this.$router.push(this.pageList[activeKey].fullPath);
    },
    handleEdit(targetKey, action) {
      if (action === 'remove' && targetKey !== 0) {
        this.deletethis(targetKey);
      }
    },
    closeModal() {
      // 返回关闭事件
      this.editIndexModal = false;
    },
    getTokenAvatar(url) {
      let xmlhttp;
      let that = this;
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open('GET', url, true);
      xmlhttp.responseType = 'arraybuffer';
      xmlhttp.setRequestHeader('X-Access-Token', Vue.ls.get(ACCESS_TOKEN)); //该处加上你当前的token
      if (Vue.ls.get(MICRO_SERVICE_TOKEN)) {
        xmlhttp.setRequestHeader('x-kong-api-key', 'bearer ' + Vue.ls.get(MICRO_SERVICE_TOKEN));
      }
      xmlhttp.onload = function () {
        let xml = this;
        if (xml.status == 200) {
          that.userHead =
            'data:image/png;base64,' +
            btoa(
              new Uint8Array(xml.response).reduce(
                (data, byte) => data + String.fromCharCode(byte),
                ''
              )
            );
        } else {
          that.userHead = '/assets/images/common/default-avatar.png';
        }
      };
      xmlhttp.send();
    },
    getAvatar() {
      let that = this;
      if (that.avatar()) {
        return that.getTokenAvatar(window._CONFIG['domainURL'] + that.avatar());
      } else {
        that.userHead = '/assets/images/common/default-avatar.png';
      }
    },
    routeObj2PageObj(obj) {
      let _comps = [];
      obj.matched.map(item => {
        if (item.components.default && item.components.default.name) {
          _comps.push(item.components.default.name);
        }
      });
      return {
        id: obj.meta.id || 'MENU_ID_UNDEFINED',
        name: obj.name,
        path: obj.path,
        fullPath: obj.fullPath,
        meta: {
          icon: obj.meta.icon,
          permissionList: obj.meta.permissionList,
          title: obj.meta.title,
          compName: _comps, // 路由匹配的所有组件名称
          routeObj: obj
        }
      };
    },
    //删除当前页面
    deletethis(key) {
      // 关闭当前标签页时，路由定向到后一页或者前一页
      if (key === this.selected) {
        let toPath = null;
        if (key < this.pageList.length - 1) {
          toPath = this.pageList[key + 1].fullPath;
        } else {
          toPath = this.pageList[key - 1].fullPath;
        }

        this.pageList.splice(key, 1);
        this.$router.push(toPath);
        this.isCloseView = true;
      } else {
        this.pageList.splice(key, 1);
        this.selected = key < this.selected ? this.selected - 1 : this.selected;
      }
    },
    select(key) {
      this.selected = key;
    },
    showContextMenu(e, index) {
      this.optMenuIdx = index;
      let x = e.clientX;
      let y = e.clientY;
      // Get the current location
      this.contextMenuData.axis = {
        x,
        y
      };
    },
    // 关闭左边
    close2left() {
      if (this.selected === 0) {
        return;
      }
      let closedNum = this.pageList.splice(1, this.optMenuIdx - 1).length;
      if (this.selected < this.optMenuIdx) {
        this.selected = 1;
        this.$router.push(this.pageList[1].fullPath);
      } else {
        this.selected = this.selected - closedNum;
      }
    },
    // 关闭右边
    close2right() {
      this.pageList.splice(this.optMenuIdx + 1, this.pageList.length - this.optMenuIdx - 1);
      if (this.selected > this.optMenuIdx) {
        this.selected = this.optMenuIdx;
        this.$router.push(this.pageList[this.optMenuIdx].fullPath);
      }
    },
    // 关闭其他, 不关闭首页
    closeAllOthers() {
      this.pageList.splice(this.optMenuIdx + 1, this.pageList.length - this.optMenuIdx - 1);
      this.pageList.splice(1, this.optMenuIdx - 1);
      this.selected = this.optMenuIdx === 0 ? 0 : 1;
      this.$router.push(this.pageList[this.selected].fullPath);
    },

    // 单标签页刷新事件
    refresh() {
      this.pageList.map((item, idx) => {
        if (
          this.optMenuIdx === idx &&
          item.meta.routeObj &&
          item.meta.routeObj.matched &&
          item.meta.routeObj.matched.length > 0
        ) {
          this.$store.commit(
            'SET_REFRESH_MENU_NAME',
            item.meta.routeObj.matched[item.meta.routeObj.matched.length - 1].components.default
              .name
          );
        }
      });
    },
    changeActive() {
      this.dropVisable = true;
    },
    removeActive() {
      this.dropVisable = false;
    },
    handlework() {
      this.$router.push('/console');
    },
    handleIndexSetting(res) {
      this.portLet = res;
      if (res.content) {
        this.handleType = 'edit';
        this.content = res.content;
      } else {
        this.handleType = 'add';
        this.content = this.defaultWidgetForm;
      }
      this.visible = false;
      this.editIndexModal = true;
      this.show = true;
    },
    handleLogout() {
      const that = this;
      Modal.confirm({
        title: '提示',
        content: '需要注销登录吗 ?',
        closable: true,
        onOk() {
          return that
            .Logout(true)
            .then(() => {
              window.location.href = '/';
              //window.location.reload()
            })
            .catch(err => {
              that.$message.error({
                title: '错误',
                description: err.message
              });
            });
        },
        onCancel() {}
      });
    },
    handleMulti() {
      this.$refs[this.orgModalRefName].openModal();
    },
    handleSetting() {
      this.$refs[this.setModalRefName].openModal();
    },
    //删除操作更新portlet首页名称列表
    updatePortLetList(withoutCloseMd) {
      if (!withoutCloseMd) {
        this.closeModal();
      }
      this.$refs[this.tabsDropRefName][0].refreshData();
    },
    rolls() {
      //回到顶部
      return document.getElementById('roll');
    }
  }
};
</script>

<style lang="less">
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
}
a:visited {
  text-decoration: none !important;
}
#headerContainer {
  width: 100%;
  height: 42px;
  line-height: 42px;
  margin-bottom: 10px;
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 20px rgba(202, 202, 202, 0.85);
}
.content-container-box {
  position: relative;
  box-shadow: 0 0 8px rgba(202, 202, 202, 0.85);
  border-radius: 8px;
  margin-bottom: 10px;
}
.content-container-box.height-auto {
  min-height: calc(100vh - 62px);
  > *:first-child {
    min-height: calc(100vh - 62px);
    border-radius: 8px;
  }
}
.content-container-box.height-fixed {
  height: calc(100vh - 62px);
  > .height-fixed-scroll:first-child {
    > .__panel:first-child {
      > .__view:first-child {
        > *:first-child {
          min-height: calc(100vh - 62px);
          border-radius: 8px;
        }
      }
    }
  }
}

.menu-preview-popover {
  width: 300px;
  height: 240px;
  .ant-popover-title {
    font-weight: 600;
    text-align: center;
  }
}
.header-container-left {
  height: 100%;
  max-width: calc(100% - 335px);
  min-width: 640px;
  float: left;
  padding-left: 10px;
  position: relative;

  .ant-tabs-bar {
    border: none;
    margin-bottom: 0;

    .menu-icon {
      margin-right: 0;
    }
  }

  .ant-tabs {
    &.ant-tabs-card .ant-tabs-tab {
      padding: 0 24px;
      background-color: white;
      margin-right: 10px;

      .ant-tabs-close-x {
        width: 12px;
        height: 12px;
        opacity: 0;
        cursor: pointer;
        font-size: 12px;
        margin: 0;
        position: absolute;
        top: 36%;
        right: 6px;
      }

      &:hover .ant-tabs-close-x {
        opacity: 1;
      }
    }
  }
}

.header-container-left .context-menu .context-menu-list {
  float: none;
  width: 100px;
  height: 28px;
  padding: 5px;
  margin: 5px 2px !important;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}
.header-container-left .context-menu .context-menu-list:hover {
  background: #1890ff;
  .nav-name-right {
    color: #fff;
  }
}
.nav-name-right {
  width: 100% !important;
  position: absolute !important;
  top: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

//    右边样式
.header-container-right {
  min-width: 320px;
  float: right;
  padding-right: 15px;
}

.header-container-right .user-wrapper li {
  float: right;
  width: 60px;
  font-size: 24px;
  text-align: center;
  color: #1890ff;
}
.header-container-right .user-wrapper .user_message {
  cursor: pointer;
  padding: 3px 14px 0 14px;
  display: inline-block;
  transition: all 0.3s;
  height: 70%;
  line-height: 46px;
}
.header-container-right .user-wrapper li div span.ant-badge {
  font-size: 24px;
}
.header-container-right .user-wrapper li div .ant-avatar-image {
  width: 24px;
  height: 24px;
  float: left;
  margin: 15px 10px 15px 0;
}
.header-container-right .user-wrapper li:hover {
  cursor: pointer;
}
.user-info {
  width: 200px !important;
  text-align: left !important;

  .user-dropdown-menu-wrapper {
    width: 180px;
  }
}
.user-info .user-info-zone {
  margin-left: 25px;
  height: 42px;
}
.user-info .user-name {
  color: #898a8c;
  font-size: 14px;
  padding-left: 5px;
  float: left;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
}

@keyframes right-in {
  0% {
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: 90%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: 30%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: 0;
    width: 100%;
    position: absolute;
  }
}

@-moz-keyframes right-in {
  0% {
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: 90%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: 30%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: 0;
    width: 100%;
    position: absolute;
  }
}

@-webkit-keyframes right-in {
  0% {
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: 90%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: 30%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: 0;
    width: 100%;
    position: absolute;
  }
}

@-o-keyframes right-in {
  0% {
    opacity: 0;
    left: 100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: 90%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: 60%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: 30%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: 0;
    width: 100%;
    position: absolute;
  }
}

@keyframes left-in {
  0% {
    opacity: 0;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: -90%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: -60%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: -30%;
    width: 100%;
    position: absolute;
  }
}

@-moz-keyframes left-in {
  0% {
    opacity: 0;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: -90%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: -60%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: -30%;
    width: 100%;
    position: absolute;
  }
}

@-webkit-keyframes left-in {
  0% {
    opacity: 0;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: -90%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: -60%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: -30%;
    width: 100%;
    position: absolute;
  }
}

@-o-keyframes left-in {
  0% {
    opacity: 0;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  25% {
    opacity: 0.2;
    left: -100%;
    width: 100%;
    position: absolute;
  }
  50% {
    opacity: 0.5;
    left: -90%;
    width: 100%;
    position: absolute;
  }
  75% {
    opacity: 0.8;
    left: -60%;
    width: 100%;
    position: absolute;
  }
  100% {
    opacity: 1;
    left: -30%;
    width: 100%;
    position: absolute;
  }
}

.open-enter-active {
  animation: right-in 0.2s;
}

.open-leave-active {
  animation: left-in 0.2s reverse;
}

.close-enter-active {
  animation: left-in 0.2s;
}

.close-leave-active {
  animation: right-in 0.2s reverse;
}

.review-enter-active {
  animation: right-in 0.2s;
}

.review-leave-active {
  animation: left-in 0.2s reverse;
}

.header-container-left .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 42px;
}
.header-container-left .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  line-height: 51px;
}
/* 不同屏幕分辨率下页签尺寸 */

@media screen and (max-height: 768px) {
  .header-container-left .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
    height: 40px;
  }
  .header-container-left .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    line-height: 38px;
  }
}
</style>
