.avic-bpm-process{
  .surface{
    .process-model-wrapper{
      height: calc(100% - 50px);
    }
  }
  .advanced-search-form {
    padding: 3px 8px;
  }
  .surface-tools-bar .opt-btn-advsearch {
    margin-left: 5px !important;
  }
}
