<template>
  <a-card>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目编号"
          >
            <a-input
              v-decorator="[
                'projectCode',
                {
                  rules: [
                    { required: true, message: '请输入项目编号！' },
                    { max: 15, message: '不可超过15个字符！' }
                  ]
                }
              ]"
              :disabled="isDisabledAuth('user:projectCode')"
              style="width: 100%"
              placeholder="请输入项目编号"
            />
            <!-- 普通输入框 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目名称"
          >
            <a-input
              v-decorator="[
                'projectName',
                {
                  rules: [
                    { required: true, message: '请输入项目名称！' },
                    { max: 15, message: '不可超过15个字符！' }
                  ]
                }
              ]"
              style="width: 100%"
              placeholder="请输入项目名称"
            />
            <!-- 普通输入框 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目负责人"
          >
            <AvicCommonSelect
              v-decorator="[
                'projectManager',
                {
                  rules: [{ required: true, message: '请选择项目负责人！' }]
                }
              ]"
              style="width: 100%"
              type="userSelect"
              select-model="single"
              placeholder="请选择项目负责人"
            />
            <!-- 选人 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="所属部门"
          >
            <AvicCommonSelect
              v-decorator="[
                'projectDept',
                {
                  rules: [{ required: false, message: '请选择所属部门！' }]
                }
              ]"
              style="width: 100%"
              type="deptSelect"
              select-model="single"
              placeholder="请选择所属部门"
            />
            <!-- 选部门 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="所属角色"
          >
            <AvicCommonSelect
              v-decorator="[
                'projectRole',
                {
                  rules: [{ required: false, message: '请选择所属角色！' }]
                }
              ]"
              style="width: 100%"
              type="roleSelect"
              select-model="single"
              placeholder="请选择所属角色"
            />
            <!-- 选角色 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目群组"
          >
            <AvicCommonSelect
              v-decorator="[
                'projectGroup',
                {
                  rules: [{ required: false, message: '请选择项目群组！' }]
                }
              ]"
              style="width: 100%"
              type="groupSelect"
              select-model="single"
              placeholder="请选择项目群组"
            />
            <!-- 选群组 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="所属岗位"
          >
            <AvicCommonSelect
              v-decorator="[
                'projectPosition',
                {
                  rules: [{ required: false, message: '请选择所属岗位！' }]
                }
              ]"
              style="width: 100%"
              type="positionSelect"
              select-model="single"
              placeholder="请选择所属岗位"
            />
            <!-- 选岗位 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目密级"
          >
            <a-select
              v-decorator="[
                'projectSecret',
                {
                  rules: [{ required: true, message: '请选择项目密级！' }]
                }
              ]"
              :get-popup-container="triggerNode => triggerNode.parentNode"
              option-filter-prop="children"
              :show-search="true"
              :allow-clear="true"
              style="width: 100%"
              placeholder="请选择项目密级"
            >
              <a-select-option
                v-for="item in projectSecretList"
                :key="item.sysLookupTlId"
                :value="item.lookupCode"
              >
                {{ item.lookupName }}
              </a-select-option>
            </a-select>
            <!-- 下拉框 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="项目状态"
          >
            <a-radio-group
              v-decorator="[
                'projectStatus',
                {
                  rules: [{ required: true, message: '请选择项目状态！' }]
                }
              ]"
            >
              <a-radio
                v-for="item in projectStatusList"
                :key="item.sysLookupTlId"
                :value="item.lookupCode"
              >
                {{ item.lookupName }}
              </a-radio>
            </a-radio-group>
            <!-- 单选 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="项目技术"
          >
            <a-checkbox-group
              v-decorator="[
                'projectTechs',
                {
                  rules: [{ required: false, message: '请选择项目技术！' }],
                  initialValue: []
                }
              ]"
            >
              <a-checkbox
                v-for="item in projectTechsList"
                :key="item.sysLookupTlId"
                :value="item.lookupCode"
              >
                {{ item.lookupName }}
              </a-checkbox>
            </a-checkbox-group>
            <!-- 多选 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目合同额"
          >
            <a-input-number
              v-decorator="[
                'projectContractAmount',
                {
                  rules: [{ required: false, message: '请输入项目合同额！' }]
                }
              ]"
              style="width: 100%"
              :min="1"
              :max="100"
              :step="1"
              :precision="2"
              placeholder="请输入项目合同额"
            />
            <!-- 数字输入框 -->
          </a-form-item>
        </a-col>
        <a-col v-bind="formColLayout.cols">
          <a-form-item
            :label-col="formColLayout.labelCol"
            :wrapper-col="formColLayout.wrapperCol"
            label="项目启动时间"
          >
            <a-date-picker
              v-decorator="[
                'projectStartTime',
                {
                  rules: [{ required: false, message: '请选择项目启动时间！' }]
                }
              ]"
              style="width: 100%"
              format="YYYY-MM-DD"
              :disabled-date="formatDisabledDate"
              :show-today="true"
              placeholder="请选择项目启动时间"
            />
            <!-- 日期 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="项目描述"
          >
            <a-textarea
              v-decorator="[
                'projectRemark',
                {
                  rules: [
                    { required: false, message: '请输入项目描述！' },
                    { max: 50, message: '不可超过50个字符！' }
                  ]
                }
              ]"
              style="width: 100%"
              :rows="1"
              placeholder="请输入项目描述"
            />
            <!-- 文本域 -->
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-bind="formColLayout.fixed.cols">
          <a-form-item
            :label-col="formColLayout.fixed.labelCol"
            :wrapper-col="formColLayout.fixed.wrapperCol"
            label="附件上传"
          >
            <AvicUploader
              key="1"
              element-id="1"
              form-type="add"
              :drag-uploader="true"
              :multiple="true"
              save-type="DataBase"
              :file-size-limit="40"
              :ref="attachmentRefName"
              :allow-encry="false"
              :allow-same-name="false"
              :allow-preview="true"
              :allow-download="true"
              :allow-delete="true"
              :chunk-enabled="true"
              :colspan="2"
              :update-level="true"
              :form-id="formId"
              :file-size="15"
              table-name="MPM_PROJECT_INFO"
              @afterUpload="uploadCompleteFile"
            />
            <!-- 附件上传 -->
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </a-card>
</template>
<script>
import AvicUploader from '@comp/avic/pt/common/AvicUploader';
import AvicCommonSelect from '@comp/avic/pt/org/AvicCommonSelect';
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
import { formatDisabledDate } from '@utils/avic/common/format';
export default {
  name: 'FormLayoutDemo',
  components: {
    AvicUploader,
    AvicCommonSelect
  },
  data() {
    return {
      formColLayout: formColLayout('2'), // 调用布局公共方法
      form: this.$form.createForm(this), // 表单
      projectStatusList: [
        {
          sysLookupTlId: '1',
          lookupCode: '1',
          lookupName: '无效'
        },
        {
          sysLookupTlId: '2',
          lookupCode: '2',
          lookupName: '有效'
        }
      ], // 项目状态通用代码数组
      projectTechsList: [
        {
          sysLookupTlId: '1',
          lookupCode: '1',
          lookupName: '前端'
        },
        {
          sysLookupTlId: '2',
          lookupCode: '2',
          lookupName: '后端'
        },
        {
          sysLookupTlId: '3',
          lookupCode: '3',
          lookupName: '移动端'
        },
        {
          sysLookupTlId: '4',
          lookupCode: '4',
          lookupName: '微服务'
        }
      ], // 项目技术通用代码数组
      projectSecretList: [
        {
          sysLookupTlId: '1',
          lookupCode: '1',
          lookupName: '非密'
        },
        {
          sysLookupTlId: '2',
          lookupCode: '2',
          lookupName: '一般'
        },
        {
          sysLookupTlId: '3',
          lookupCode: '3',
          lookupName: '秘密'
        },
        {
          sysLookupTlId: '4',
          lookupCode: '4',
          lookupName: '机密'
        }
      ], // 项目密级通用代码数组
      formId: '',
      attachmentRefName: 'avicAddUploaderFile' // 标志表单是否含有附件
    };
  },
  methods: {
    formatDisabledDate,
    isDisabledAuth(code) {
      // 控件编辑权限控制
      return this.disabledAuthFilter(code, this.$route.meta);
    },
    uploadCompleteFile() {}
  }
};
</script>
