<template>
  <div class="error-card">
    <div class="error-card-box">
      <a-icon class="icon" :type="errorIcon" />
      <div class="message">{{ errorMessage }}</div>
    </div>
  </div>
</template>
<script>
import { Icon } from 'ant-design-vue';
export default {
  name: 'AvicErrorCard',
  components: {
    AIcon: Icon
  },
  props: {
    errorMessage: {
      //加载失败时的文案
      type: String,
      required: false,
      default: '加载失败'
    },
    errorIcon: {
      //加载失败时的显示的图标
      type: String,
      required: false,
      default: 'warning'
    }
  }
};
</script>
<style lang="less" scoped>
.error-card {
  width: 100%;
  height: 100%;
  position: relative;
  .error-card-box {
    position: absolute;
    top: 40%;
    right: 50%;
    text-align: center;
    .icon {
      font-size: 25px;
      color: #09f;
    }
    .message {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}
</style>
