<template>
  <div class="dom_box">
    <h1>模态框</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">点击打开模态框</a-col>
        <a-col :span="5">
          <a-button type="primary" title="点击打开" @click="showSelectModal">
            点击打开模态框
          </a-button>
          <AvicModal
            class="table-modal"
            :visible="visible"
            modal-title="对话框"
            :adjust-size="true"
            :modal-height="0.8"
            :modal-width="0.8"
            :modal-cut-height="108"
            :centered="true"
            :destroy-on-close="false"
            :mask-closable="false"
            @cancel="hideSelectModal"
          >
            <template>
              <div>
                <h1>Content of the modal</h1>
              </div>
            </template>
            <template slot="footer">
              <a-button @click="hideSelectModal">取消</a-button>
              <a-button type="primary" @click="handleConfirm">确定</a-button>
            </template>
          </AvicModal>
        </a-col>
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
              &lt;template&gt;
                &lt;div&gt;
                  &lt;a-button type="primary" title="点击打开" @click="showSelectModal" &gt;点击打开模态框&lt;/a-button&gt;
                  &lt;AvicModal
                    class="table-modal"
                    :visible="visible"
                    modal-title="对话框"
                    :adjust-size="true"
                    :modal-height="0.8"
                    :modal-width="0.8"
                    :modal-cut-height="108"
                    :centered="true"
                    :destroy-on-close="false"
                    :mask-closable="false"
                    @cancel="hideSelectModal"
                  &gt;
                    &lt;template &gt;
                      &lt;div&gt;
                        &lt;h1 &gt;测试内容&lt;/h1&gt;
                      &lt;/div&gt;
                    &lt;/template&gt;
                    &lt;template slot="footer"&gt;
                      &lt;a-button @click="hideSelectModal"&gt;取消&lt;/a-button&gt;
                      &lt;a-button type="primary" @click="handleConfirm"&gt;确定&lt;/a-button&gt;
                    &lt;/template&gt;
                  &lt;/AvicModal&gt;
                &lt;/div&gt;
              &lt;/template&gt;

              &lt;script&gt;
                import {Button} from "ant-design-vue";
                import AvicModal from '@comp/avic/pt/common/AvicModal';
                export default {
                  name: "avicModal",
                  components: {
                    AButton: Button,
                    AvicModal
                  },
                  data() {
                    return {
                      visible: false,
                    }
                  },
                  methods: {
                    showSelectModal() {
                      if (!this.disabled) {
                        this.visible = true
                      }
                    },
                    hideSelectModal() {
                      this.$nextTick(() =&gt; {
                        this.visible = false
                      })
                    },
                    handleConfirm(){
                      //点击确认执行函数
                    }
                  }
                }

              &lt;/script&gt;
            </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
  </div>
</template>
<script>
import { Button, Table, Icon } from 'ant-design-vue';
import AvicModal from '@comp/avic/pt/common/AvicModal';
export default {
  name: 'BottonGroup',
  components: {
    AvicModal,
    AButton: Button,
    ATable: Table,
    AIcon: Icon
  },
  data() {
    return {
      visible: false,
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'visible',
          explain: '弹窗显隐',
          type: 'Boolean',
          default: 'False',
          required: 'false'
        },
        {
          parameter: 'modalTitle',
          explain: '弹窗标题',
          type: 'String',
          default: '',
          required: 'false'
        },
        {
          parameter: 'adjustSize',
          explain: '是否需要右上角全屏按钮',
          type: 'Boolean',
          default: 'true',
          required: 'false'
        },
        {
          parameter: 'closeAble',
          explain: '是否需要右上角关闭按钮',
          type: 'Boolean',
          default: 'true',
          required: 'false'
        },
        {
          parameter: 'setModalStyle',
          explain: '弹窗整体样式',
          type: 'Object',
          default: '',
          required: 'false'
        },
        {
          parameter: 'setModalBodyStyle',
          explain: '弹窗中间body部分样式',
          type: 'Object',
          default: '',
          required: 'false'
        },
        {
          parameter: 'modalHeight',
          explain: '弹窗modal宽度占屏幕比例',
          type: 'Number',
          default: '0.7',
          required: 'false'
        },
        {
          parameter: 'modalWidth',
          explain: '弹窗modal高度占屏幕比例',
          type: 'Number',
          default: '0.7',
          required: 'false'
        },
        {
          parameter: 'modalCutHeight',
          explain: '弹窗modal的body的高度比整个弹窗modal少的高度',
          type: 'Number',
          default: '55',
          required: 'false'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    showSelectModal() {
      if (!this.disabled) {
        this.visible = true;
      }
    },
    hideSelectModal() {
      this.$nextTick(() => {
        this.visible = false;
      });
    },
    handleConfirm() {
      //点击确认执行函数
    }
  }
};
</script>
<style lang="less" scoped>
@import './style/base.less';
</style>
