<template>
  <div class="dom_box">
    <h1>流程选人</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">选择类型:</a-col>
        <a-col :span="3">
          <AvicBpmCommonSelect
            :button-data="buttonData"
            :visible="visible"
            :is-show-opinion="isShowOpinion"
            :default-select-users="defaultSelectUsers"
            @bpmSubmit="bpmSubmit"
            @closeBpmSelectUser="closeBpmSelectUser"
          />
          <a-input v-model="userName" @click="inputClick">
            <a-icon @click="inputClick" slot="addonAfter" type="user" />
          </a-input>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" />
              <a-icon v-show="!openList" type="eye-invisible" />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
              &lt;template&gt;
                &lt;a-col :span="formColLayout.fixed.cols"&gt;
                  &lt;a-form-item :label-col="formColLayout.fixed.labelCol" :wrapper-col="formColLayout.fixed.wrapperCol" label="附件上传"&gt;
                      &lt;AvicBpmCommonSelect :buttonData="buttonData"
                          :visible="visible"
                          :isShowOpinion="isShowOpinion"
                          :defaultSelectUsers="defaultSelectUsers"
                          @bpmSubmit="bpmSubmit"
                          @closeBpmSelectUser="closeBpmSelectUser"
                      /&gt;
                  &lt;/a-form-item&gt;
                &lt;/a-col&gt;
              &lt;/template&gt;
            <hr />
            <p>script部分</p>
            &lt;script&gt;
              export default {
                components: {
                      AvicBpmCommonSelect,
                },
                  data() {
                    return {
                      //打开流程选人必备参数
                      buttonData:{
                        procinstDbid: "8a69dea06f237a75016f36fcda1f49b5",
                        executionId: "8a69d9576d662f36016d7073445a015c.8a69dea06f237a75016f36fcda1f49b5",
                        taskId: "8a69dea06f237a75016f36fcdaa14a00",
                        event: "dosubmit",
                        targetActivityName: "fork1",
                        lable: "测试流程"
                      },
                      //流程选人框是否打开
                      visible:false,
                      //是否显示文本输入框
                      isShowOpinion:true,
                      //默认选中用户
                      defaultSelectUsers:null,
                  },
              },
              methods:{
                  onOpenList(){
                    this.openList = !this.openList;
                  },
                  //打开流程选人
                  inputClick(){
                    this.visible  =true;
                  },
                  //流程选人点击确定
                  bpmSubmit(res){
                    //设置默认选中
                    this.defaultSelectUsers = res;
                    this.visible  =false;
                  },
                  //流程选人点击取消
                  closeBpmSelectUser(){
                    this.defaultSelectUsers =  null;
                    this.visible  =false;
                  },
                }
            &lt;/script&gt;
            </pre>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>
<script>
import AvicBpmCommonSelect from '@comp/avic/bpm/AvicBpmCommonSelect';
import { Table, Input, Icon } from 'ant-design-vue';
export default {
  name: 'SelectDom',
  components: {
    AvicBpmCommonSelect,
    ATable: Table,
    AInput: Input,
    AIcon: Icon
  },
  data() {
    return {
      //打开流程选人必备参数
      buttonData: {
        procinstDbid: '8a69c6b273945f2201739e7339e22036',
        executionId: '8a69dac46d3ef92b016d4c31dbca2d25.8a69c6b273945f2201739e7339e22036',
        taskId: '8a69c6b273945f2201739e733a342084',
        event: 'dosubmit',
        targetActivityName: 'task2',
        lable: '送领导审批'
      },
      //流程选人框是否打开
      visible: false,
      //是否显示流程意见
      isShowOpinion: true,
      //默认选中用户
      defaultSelectUsers: null,
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        }
      ],
      data: [
        {
          parameter: 'buttonData',
          explain: '打开流程选人必备数据',
          type: 'Object',
          default: '-'
        },
        {
          parameter: 'visible',
          explain: '流程选人是否显示',
          type: 'Boolean',
          default: 'false'
        },
        {
          parameter: 'isShowOpinion',
          explain: '是否显示流程意见',
          type: 'Boolean',
          default: 'false'
        },
        {
          parameter: 'defaultSelectUsers',
          explain: '默认选中用户',
          type: 'Object',
          default: '-'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataEvent: [
        {
          parameter: 'bpmSubmit',
          explain: '点击确定',
          default: '选人选中的数据'
        },
        {
          parameter: 'closeBpmSelectUser',
          explain: '点击取消',
          default: '-'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    //打开流程选人
    inputClick() {
      this.visible = true;
    },
    //流程选人点击确定
    bpmSubmit(res) {
      //设置默认选中
      this.defaultSelectUsers = res;
      if (
        res &&
        res.users &&
        res.users.users &&
        res.users.users.length > 0 &&
        res.users.users[0].selectedUsers &&
        res.users.users[0].selectedUsers.length > 0
      ) {
        this.userName = res.users.users[0].selectedUsers[0].userName;
      }
      this.visible = false;
      console.log(res);
    },
    //流程选人点击取消
    closeBpmSelectUser() {
      this.defaultSelectUsers = null;
      this.visible = false;
      console.log(this.visible);
    }
  }
};
</script>
<style lang="less" scoped>
@import './style/base.less';
</style>
