<template>
  <div class="dom_box">
    <h1>导出按钮</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">导出按钮:</a-col>
        <a-col :span="19">
          <AvicExport
            class="table-handle-button"
            :file-name="exportFileName"
            :data-gridheaders="columns"
            :datas="data"
          />
        </a-col>
        <a-col :span="3" />
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                      &lt;template&gt;
                        &lt;a-col :span="3"&gt;导出按钮&lt;/a-col&gt;
                        &lt;a-col :span="5"&gt;
                                AvicExport
                                  class="table-handle-button"
                                  :file-name="exportFileName"
                                  :data-gridheaders="columns"
                                  :datas="data"
                                /&gt;
                        &lt;/a-col&gt;
                      &lt;/a-col&gt;
                      &lt;/template&gt;
                      <hr />
                      <p>script部分</p>
                      &lt;script&gt;
                        import { AvicExport } from '@comp/avic/pt/common/AvicButtons';
                        export default {
                          components: {
                                AvicExport,
                          },
                          data(){
                            columns:[
                              {
                              title: '参数',
                              dataIndex: 'parameter',
                              },{
                                title: '说明',
                                dataIndex: 'explain',
                              },{
                                title: '类型',
                                dataIndex: 'type',
                              },{
                                title: '默认值',
                                dataIndex: 'default',
                              },{
                                title: '是否必填',
                                dataIndex: 'required',
                              },
                            ],
                            data:[
                              {
                                parameter:'fileName',
                                explain:'导出的文件名称',
                                type:'String',
                                default:'exportExcel',
                                required:''法律色
                              },{
                                parameter:'dataGridheaders',
                                explain:'导出表的列数据,数据格式同表格列数据一致',
                                type:'Array',
                                default:'空',
                                required:'true'
                              },{
                                parameter:'datas',
                                explain:'导出表格的数据,数据格式同表格行数据一致',
                                type:'Array',
                                default:'空',
                                required:'true'
                              }, {
                                parameter:'sheetName',
                                explain:'导出表格页签名称',
                                type:'String',
                                default:'sheet1',
                                required:'false'
                              },{
                                parameter:'hasRowNum',
                                explain:'导出表格是否带行号',
                                type:'Boolean',
                                default:'true',
                                required:'false'
                              },{
                                parameter:'unContainFields',
                                explain:'不导出的列多个用,号隔空',
                                type:'String',
                                default:'id',
                                required:'false'
                              }
                            ],
                            exportFileName:"导出表格",
                          }
                        }
                      &lt;/script&gt;
                      </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>

    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>
<script>
import { AvicExport } from '@comp/avic/pt/common/AvicButtons';
import { Table, Icon } from 'ant-design-vue';
export default {
  name: 'ExportBtn',
  components: {
    AvicExport,
    ATable: Table,
    AIcon: Icon
  },
  data() {
    return {
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'fileName',
          explain: '导出的文件名称',
          type: 'String',
          default: 'exportExcel',
          required: ''
        },
        {
          parameter: 'dataGridheaders',
          explain: '导出表的列数据,数据格式同表格列数据一致',
          type: 'Array',
          default: '空',
          required: 'true'
        },
        {
          parameter: 'datas',
          explain: '导出表格的数据,数据格式同表格行数据一致',
          type: 'Array',
          default: '空',
          required: 'true'
        },
        {
          parameter: 'sheetName',
          explain: '导出表格页签名称',
          type: 'String',
          default: 'sheet1',
          required: 'false'
        },
        {
          parameter: 'hasRowNum',
          explain: '导出表格是否带行号',
          type: 'Boolean',
          default: 'true',
          required: 'false'
        },
        {
          parameter: 'unContainFields',
          explain: '不导出的列多个用,号隔空',
          type: 'String',
          default: 'id',
          required: 'false'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'default'
        }
      ],
      dataEvent: [
        {
          parameter: 'back-export',
          explain: '导出完成事件',
          default: 'success 导出成功,error 导出失败'
        }
      ],
      exportFileName: '导出表格'
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
