/* eslint-disable vue/no-parsing-error */
<template>
  <div class="dom_box">
    <h1>表单扩展行示例</h1>
    <div class="dom_content">
      <h3>代码演示</h3>
      <a-row>
        <a-col :span="24">
          <a-form :form="form" layout="horizontal">
            <a-row style="margin-bottom: 12px">
              <a-col :span="10">
                <a-col
                  v-bind="formColLayout.labelCol"
                  style="text-align: right; padding-right: 0.4rem"
                >
                  环境变量
                </a-col>
                <a-col v-bind="formColLayout.wrapperCol">
                  <a-button
                    type="primary"
                    size="small"
                    style="width: 80px"
                    icon="plus"
                    @click="addLine"
                  />
                </a-col>
              </a-col>
            </a-row>
            <a-row v-for="item in extendLineList" :key="item.id">
              <a-col :span="10">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="变量"
                >
                  <a-input
                    v-decorator="[
                      'key' + item.id,
                      {
                        rules: [{ required: true, message: '请输入变量！' }]
                      }
                    ]"
                    style="width: 100%"
                    placeholder="请输入变量"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="10">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="值"
                >
                  <a-input
                    v-decorator="[
                      'value' + item.id,
                      {
                        rules: [{ required: true, message: '请输入值！' }]
                      }
                    ]"
                    style="width: 100%"
                    placeholder="请输入值"
                  />
                </a-form-item>
              </a-col>
              <a-col :span="4" style="padding-left: 20px">
                <a-form-item :label-col="{ span: 0 }" :wrapper-col="{ span: 24 }" label="">
                  <a-button
                    type="primary"
                    size="small"
                    style="width: 80px"
                    icon="delete"
                    @click="removeLine(item)"
                  />
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-col>
        <a-col :span="24" style="margin-top: 24px">
          <a-col :span="20">
            <a-button @click="saveForm" style="float: right">保存</a-button>
          </a-col>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" />
              <a-icon v-show="!openList" type="eye-invisible" />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
              &lt;template&gt;
                &lt;a-row&gt;
                  &lt;a-col :span="24"&gt;
                    &lt;a-form :form="form" layout="horizontal"&gt;
                      &lt;a-row style="margin-bottom: 12px;"&gt;
                        &lt;a-col :span="10"&gt;
                          &lt;a-col v-bind="formColLayout.labelCol" style="text-align: right; padding-right: 0.4rem;"&gt;
                            环境变量
                          &lt;/a-col&gt;
                          &lt;a-col v-bind="formColLayout.wrapperCol"&gt;
                            &lt;a-button type="primary" size="small" style="width: 80px;" icon="plus" @click="addLine" /&gt;
                          &lt;/a-col&gt;
                        &lt;/a-col&gt;
                      &lt;/a-row&gt;
                      &lt;a-row v-for="item in extendLineList" :key="item.id"&gt;
                        &lt;a-col :span="10"&gt;
                          &lt;a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="变量"&gt;
                            &lt;a-input
                              v-decorator="[
                                'key' + item.id,
                                      {
                                        rules: [
                                          { required: true, message: '请输入变量！' }
                                        ]
                                      }
                                    ]"
                              style="width: 100%;"
                              placeholder="请输入变量"
                            /&gt;
                          &lt;/a-form-item&gt;
                        &lt;/a-col&gt;
                        &lt;a-col :span="10"&gt;
                          &lt;a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="值"&gt;
                            &lt;a-input
                              v-decorator="[
                                'value' + item.id,
                                      {
                                        rules: [
                                          { required: true, message: '请输入值！' }
                                        ]
                                      }
                                    ]"
                              style="width: 100%;"
                              placeholder="请输入值"
                            /&gt;
                          &lt;/a-form-item&gt;
                        &lt;/a-col&gt;
                        &lt;a-col :span="4" style="padding-left: 20px;"&gt;
                          &lt;a-form-item :label-col="{ span: 0 }" :wrapper-col="{ span: 24 }" label=""&gt;
                            &lt;a-button type="primary" size="small" style="width: 80px;" icon="delete" @click="removeLine(item)"&gt;&lt;/a-button&gt;
                          &lt;/a-form-item&gt;
                        &lt;/a-col&gt;
                      &lt;/a-row&gt;
                    &lt;/a-form&gt;
                  &lt;/a-col&gt;
                  &lt;a-col :span="24" style="margin-top: 24px;"&gt;
                    &lt;a-col :span="20"&gt;
                      &lt;a-button @click="saveForm" style="float: right;"&gt;保存&lt;/a-button&gt;
                    &lt;/a-col&gt;
                  &lt;/a-col&gt;
                &lt;/a-row&gt;
              &lt;/template&gt;
              &lt;script&gt;
                import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
                export default {
                  data() {
                    return {
                      formColLayout: formColLayout('2'), // 调用布局公共方法
                      form: this.$form.createForm(this), // 表单
                      count: 0,
                      extendLineList: [{ // 行数据数组
                        id: 0,
                        key: '',
                        value: ''
                      }]
                    }
                  },
                  mounted() {
                    // 定义初始化表单数据
                    this.extendLineList = [
                      {id: 0, key: 1, value: 1.1},
                      {id: 1, key: 2, value: 2.1},
                      {id: 2, key: 3, value: 3.1}
                    ]
                    // 表单赋值
                    this.$nextTick(() => {
                      for(let i = 0;i &lt; this.extendLineList.length;i++) {
                        let obj1 = {}
                        obj1['key' + this.extendLineList[i].id] = this.extendLineList[i].key
                        let obj2 = {}
                        obj2['value' + this.extendLineList[i].id] = this.extendLineList[i].value
                        this.form.setFieldsValue(obj1)
                        this.form.setFieldsValue(obj2)
                      }
                    })
                  },
                  methods: {
                    /**
                    * 添加行
                    */
                    addLine() {
                      this.count += 1;
                      this.extendLineList.push({
                        id: this.count,
                        key: '',
                        value: ''
                      });
                    },
                    /**
                    * 删除行
                    */
                    removeLine(item) {
                      this.extendLineList = this.extendLineList.filter((i) =&gt; i.id !== item.id);
                    },
                    /**
                    * 保存
                    */
                    saveForm() {
                      this.form.validateFields((err, values) => {
                        if(!err) {
                          // 校验基础表单并处理
                          alert('表单序列化：' + JSON.stringify(values))
                        }
                      })
                    },
                  }
                }
              &lt;/script&gt;
            </pre>
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script>
import { Form, Row, Col, Button, Input } from 'ant-design-vue';
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
export default {
  name: 'FormExtendLineDemo',
  components: {
    AForm: Form,
    AFormItem: Form.Item,
    ARow: Row,
    ACol: Col,
    AButton: Button,
    AInput: Input
  },
  data() {
    return {
      formColLayout: formColLayout('2'), // 调用布局公共方法
      form: this.$form.createForm(this), // 表单
      count: 0,
      extendLineList: [
        {
          // 行数据数组
          id: 0,
          key: '',
          value: ''
        }
      ],
      openList: false
    };
  },
  mounted() {
    // 定义初始化表单数据
    this.extendLineList = [
      { id: 0, key: 1, value: 1.1 },
      { id: 1, key: 2, value: 2.1 },
      { id: 2, key: 3, value: 3.1 }
    ];
    // 表单赋值
    this.$nextTick(() => {
      for (let i = 0; i < this.extendLineList.length; i++) {
        let obj1 = {};
        obj1['key' + this.extendLineList[i].id] = this.extendLineList[i].key;
        let obj2 = {};
        obj2['value' + this.extendLineList[i].id] = this.extendLineList[i].value;
        this.form.setFieldsValue(obj1);
        this.form.setFieldsValue(obj2);
      }
    });
  },
  methods: {
    /**
     * 添加行
     */
    addLine() {
      this.count += 1;
      this.extendLineList.push({
        id: this.count,
        key: '',
        value: ''
      });
    },
    /**
     * 删除行
     */
    removeLine(item) {
      this.extendLineList = this.extendLineList.filter(i => i.id !== item.id);
    },
    /**
     * 保存
     */
    saveForm() {
      this.form.validateFields((err, values) => {
        if (!err) {
          // 校验基础表单并处理
          this.$info({
            title: '表单序列化：',
            content: JSON.stringify(values),
            onOk() {}
          });
        }
      });
    },
    onOpenList() {
      this.openList = !this.openList;
    }
  }
};
</script>

 
<style lang="less" scoped>
@import './style/base.less';
</style>
