<template>
  <div class="dom_box">
    <h1>计数文本框</h1>
    <div class="dom_content">
      <h3>双向绑定</h3>
      <a-row :gutter="[8, 16]">
        <a-col :span="5" class="attr-label">计数文本框:</a-col>
        <a-col :span="10">
          <a-textarea
            v-decorator="[
              'projectRemark',
              {
                rules: [{ required: false, message: '请输入项目描述！' }]
              }
            ]"
            id="projectRemark"
            placeholder="请输入描述 "
            :auto-size="{ minRows: 3, maxRows: 5 }"
          />
          <AvicTextareaCount :target="'projectRemark'" :len="1000" />
        </a-col>
      </a-row>

      <a-row>
        <a-col :span="24">
          <div class="code_box" @click="onOpenList">
            查看代码
            <div class="code_icon">
              <a-icon v-show="openList" type="eye" /><a-icon
                v-show="!openList"
                type="eye-invisible"
              />
            </div>
          </div>
          <div class="code_main" v-show="openList">
            <pre>
                      &lt;template&gt;
                        &lt;a-col :span="3"&gt;计数文本框&lt;/a-col&gt;
                        &lt;a-col :span="10"&gt;
                        &lt;a-textarea
                          v-decorator="[
                            'projectRemark' ,
                            {
                              rules: [{ required: false, message: '请输入项目描述！' }]
                            }
                          ]"
                          id="projectRemark"
                          placeholder="请输入描述 "
                          :auto-size="{ minRows: 3, maxRows: 5 }"
                        /&gt;
                        &lt;AvicTextareaCount :target="'projectRemark'" :len="1000" /&gt;&lt;/a-col&gt;
                        &lt;/template&gt;
                        <hr />
                        <p>script部分</p>
                        &lt;script&gt;
                          import AvicTextareaCount from '@/components/avic/pt/common/AvicErrorCard'
                          export default {
                            components: {
                                  AvicTextareaCount,
                            },
                          }
                        &lt;/script&gt;
                      </pre>
          </div>
        </a-col>
      </a-row>
    </div>

    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>

    <!--    <div class="dom_content">-->
    <!--      <h3>事件</h3>-->
    <!--      <a-table-->
    <!--        :columns="columnsEvent"-->
    <!--        :dataSource="dataEvent"-->
    <!--        :pagination="false"-->
    <!--      >-->

    <!--      </a-table>-->
    <!--    </div>-->
  </div>
</template>
<script>
import AvicTextareaCount from '@comp/avic/pt/common/AvicTextarea/Count';
import { Table, Icon } from 'ant-design-vue';
export default {
  name: 'BottonGroup',
  components: {
    AvicTextareaCount,
    ATable: Table,
    AIcon: Icon
  },
  data() {
    return {
      openList: false,
      userName: '',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'len',
          explain: '最大可输入长度，半角字符长度为1，全角字符长度为2',
          type: 'Number',
          default: '200',
          required: 'false'
        },
        {
          parameter: 'target',
          explain: '监听textarea的id',
          type: 'String',
          default: 'textarea',
          required: 'true'
        },
        {
          parameter: 'defaultStyle ',
          explain: '默认样式',
          type: 'Object',
          default: "{ bottom: '-4px' }",
          required: 'false'
        }
      ]
    };
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
