<template>
  <a-modal
    class="table-modal"
    title="编辑"
    :visible="visible"
    :style="editModalWidthAndHeight.modalStyle"
    :width="editModalWidthAndHeight.modalStyle.width"
    :body-style="editModalWidthAndHeight.bodyStyle"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="mainSaveForm"> 保存 </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="分组名"
            >
              <a-input
                v-decorator="[
                  'name',
                  {
                    rules: [
                      { required: true, message: '请输入分组名！' },
                      { max: 15, message: '不可超过15个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入分组名"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="分组描述"
            >
              <a-input
                v-decorator="[
                  'describe',
                  {
                    rules: [
                      { required: false, message: '请输入分组描述！' },
                      { max: 200, message: '不可超过200个字符！' }
                    ]
                  }
                ]"
                placeholder="请输入分组描述"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="图标"
            >
              <a-input
                v-decorator="[
                  'icon',
                  {
                    rules: [{ required: false, message: '请选择图标！' }]
                  }
                ]"
                :read-only="true"
                placeholder="请选择图标"
                @click="selectIcons"
              >
                <a-icon
                  slot="addonAfter"
                  :style="{ cursor: 'pointer' }"
                  type="setting"
                  @click="selectIcons"
                />
              </a-input>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="排序"
            >
              <a-input-number
                v-decorator="[
                  'sort',
                  {
                    rules: [{ required: true, message: '请输入排序！' }],
                    initialValue: 1
                  }
                ]"
                :min="1"
                :max="9999999999"
                :step="1"
                :precision="0"
                placeholder="请输入排序"
              />
              <!-- 数字输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
    <icons
      :icon-choose-visible="iconChooseVisible"
      @choose="handleIconChoose"
      @close="handleIconCancel"
    />
  </a-modal>
</template>
<script>
import { Modal, Col, Button, Form, Input, InputNumber } from 'ant-design-vue';
import moment from 'moment';
import { httpAction } from '@api/manage';
import { loadLookUp } from '@utils/avic/http/loadLookUp';
import { formColLayout, modalWidthAndHeightBylayout } from '@utils/avic/layout/baseMouldStyles';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
import { validateCheckboxMaxlength } from '@utils/avic/common/validate';
import { parentTableMixin } from '@views/avic/pt/system/menu/mixin/parentTableMixin';

let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'name',
    type: 'input'
  },
  {
    dataIndex: 'icon',
    type: 'input'
  },
  {
    dataIndex: 'describe',
    type: 'input'
  },
  {
    dataIndex: 'sort',
    type: 'input'
  }
];

export default {
  name: 'MenuGroupEditGroup',
  components: {
    AModal: Modal,
    ACol: Col,
    AButton: Button,
    AForm: Form,
    AFormItem: Form.Item,
    AInput: Input,
    AInputNumber: InputNumber
  },
  props: {
    layout: {
      type: String,
      default: '1'
    },
    requestPublicUrl: {
      type: String,
      required: true
    },
    modalFormLookupParams: {
      type: Array,
      default: () => []
    }
  },
  mixins: [parentTableMixin],
  data() {
    return {
      visible: false, // 弹窗modal显隐
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      editModalWidthAndHeight: modalWidthAndHeightBylayout(this.layout, 96), // 编辑弹窗modal宽高控制
      form: this.$form.createForm(this),
      modalLoading: false, // 弹窗保存按钮loading状态
      formId: '', // 附件上传formId
      modalFormData,
      iconChooseVisible: false,
      projectClassStatusList: [],
      projectClassLevelList: [],
      secretLevelList: [],
      detailParam: {
        // 详情弹窗的请求接口
        url: this.requestPublicUrl + '/getMenuGroupType/',
        method: 'get'
      },
      editParam: {
        // 编辑弹窗保存时的请求接口
        url: this.requestPublicUrl + '/updateMenuGroupType',
        method: 'post'
      }
    };
  },
  methods: {
    validateCheckboxMaxlength,
    moment,
    closeModal() {
      // 返回关闭事件
      this.visible = false;
      this.modalLoading = false; // 按钮关闭loading状态
    },
    loadLookUp(params) {
      // 获取表单通用代码
      if (params) {
        loadLookUp(params, data => {
          for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < params.length; j++) {
              if (data[i].fileName === params[j].fileName) {
                this[params[j].fileName + 'List'] = data[i].value;
              }
            }
          }
        });
      }
    },
    modalHandleDetailOrEdit(id) {
      // 点击编辑按钮或者查看详情时,回显数据
      this.form.resetFields(); // 清空表单
      if (this.formId) {
        this.formId = '';
      }
      this.visible = true; // 打开弹窗
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
      let that = this;
      httpAction(this.detailParam.url + id, '', this.detailParam.method) // 请求数据
        .then(res => {
          if (res.success) {
            this.formId = res.result.id; // 设置附件formId
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key] !== null && data[key] !== '') {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                }
              }
            }
            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
          }
        });
    },
    uploadCompleteFile(successFile, errorFile) {
      if (errorFile.length == 0) {
        this.reloadList();
      } else {
        this.modalLoading = false; // 按钮关闭loading状态
      }
    },
    reloadList() {
      // 保存成功后处理
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadMainData', true); // 刷新表格
      this.modalLoading = false;
      this.visible = false;
    },
    mainSaveForm(e) {
      // 点击保存按钮
      e.preventDefault();
      let that = this;
      // 校验表单并处理
      this.form.validateFieldsAndScroll((err, values) => {
        if (!err) {
          this.modalLoading = true;
          // 提交前数据处理
          let newValues = formDataPretreatment(values, this.modalFormData);
          // 提交
          httpAction(this.editParam.url, newValues, this.editParam.method)
            .then(res => {
              if (res.success) {
                if (that.attachmentRefName) {
                  // 附件上传
                  that.$refs[that.attachmentRefName].upload();
                } else {
                  that.reloadList();
                }
              } else {
                that.modalLoading = false;
                that.visible = false;
              }
            })
            .catch(() => {
              this.modalLoading = false;
              this.visible = false;
            });
        }
      });
    }
  }
};
</script>
