<template>
    <AvicModal
            class="table-modal"
            :visible="visible"
            modal-title="编辑"
            :set-modal-style="modalWidthAndHeight.modalStyle"
            :set-modal-body-style="modalWidthAndHeight.bodyStyle"
            :modal-width="modalWidthAndHeight.standardModalStyle.width"
            :modal-height="modalWidthAndHeight.standardModalStyle.height"
            wrap-class-name="table-modal-wrap"
            :adjust-size="true"
            :centered="true"
            :destroy-on-close="true"
            :mask-closable="false"
            @cancel="closeModal"
    >
        <template slot="footer">
            <a-button @click="closeModal" title="返回" :disabled="disabled">返回</a-button>
            <a-button type="primary" :loading="modalLoading" @click="saveForm" title="保存">
                保存
            </a-button>
        </template>
        <a-form :form="form" layout="horizontal">
            <a-form-item style="display: none">
                <a-input v-decorator="['id']" />
            </a-form-item>
            <a-form-item style="display: none">
                <a-input v-decorator="['version']" />
            </a-form-item>
            <div>
                <a-row>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="商品id">
                            <a-input v-decorator="['goodsId',{rules: [{ required: true , message: '请输入商品id！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入商品id" :title="form.getFieldValue('goodsId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="库存数量">
                            <a-input-number  v-decorator="['num',{rules: [{ required: true , message: '请输入库存数量！' }]}]" :min="-9999999999" :max="9999999999" :step="1" :precision="0" :parser="value => formatNumber(value, 0)" placeholder="请输入库存数量"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="组织ID">
                            <a-input v-decorator="['orgId',{rules: [{ required: true , message: '请输入组织ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 5)}]}]" placeholder="请输入组织ID" :title="form.getFieldValue('orgId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="部门ID">
                            <a-input v-decorator="['deptId',{rules: [{ required: true , message: '请输入部门ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入部门ID" :title="form.getFieldValue('deptId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="系统标识ID">
                            <a-input v-decorator="['sysId',{rules: [{ required: true , message: '请输入系统标识ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入系统标识ID" :title="form.getFieldValue('sysId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="密级">
                            <a-select v-decorator="['secretLevel',{rules: [{ required: true , message: '请选择密级！' },{validator: (rule, value, callback) => validateCheckboxMaxlength(rule, value, callback, 50)}]}]"  :get-popup-container="triggerNode => triggerNode.parentNode" option-filter-prop="children" :show-search="true" :allow-clear="true" placeholder="请选择密级">
                                <a-select-option v-for="item in secretLevelList" :key="item.sysLookupTlId" :value="item.lookupCode">
                                    {{ item.lookupName }}
                                </a-select-option>
                            </a-select>
                        </a-form-item>
                    </a-col>
                </a-row>
            </div>
        </a-form>
    </AvicModal>
</template>
<script>
    import { httpAction } from '@api/manage';
    import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
    import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

    // 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
    let modalFormData = [
        {
            dataIndex: 'id',
            type: 'input'
        },
        {
            dataIndex: 'version',
            type: 'input'
        },
        {
            dataIndex: 'goodsId',
            type: 'input'
        },
        {
            dataIndex: 'num',
            type: 'inputnumber',
            precision: 0
        },
        {
            dataIndex: 'orgId',
            type: 'input'
        },
        {
            dataIndex: 'deptId',
            type: 'input'
        },
        {
            dataIndex: 'sysId',
            type: 'input'
        },
        {
            dataIndex: 'secretLevel',
            type: 'select'
        }
    ];
    export default {
        name: 'StockEdit',
        mixins: [baseModalFormMixin],
        props: {
            paramId: {
                // 初始查询参数
                type: String,
                default: ''
            }
        },
        data() {
            return {
                modalFormData, // 表单数据
                secretLevelList : [],
                detailParam: {
                    // 弹窗详情的请求接口
                    url: this.requestPublicUrl + '/get/v1/',
                    method: 'get'
                },
                editParam: {
                    // 编辑弹窗保存时的请求接口
                    url: this.requestPublicUrl + '/save/v1',
                    method: 'post'
                },
                attachmentRefName: '',
            };
        },
        mounted() {
            this.modalHandleDetailOrEdit(this.paramId);
        },
        methods: {
            /**
             * 点击返回、点击X关闭事件
             */
            closeModal() {
                // 查看用户是否有未提交内容
                if (this.isDataChange) {
                    // 数据有改动，提示用户
                    this.Modal.confirm({
                        title: '您有数据未提交，确定关闭弹窗吗？',
                        onOk: () => {
                            if (this.formSubmitTimes !== 0) {
                                this.$emit('reloadData', true); // 已提交表单则刷新列表
                            }
                            this.$emit('close');
                        }
                    });
                } else {
                    if (this.formSubmitTimes !== 0) {
                        this.$emit('reloadData', true); // 已提交表单则刷新列表
                    }
                    this.$emit('close');
                }
            },
            /**
             * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
             * @param {String} id 行数据的id
             */
            modalHandleDetailOrEdit(id) {
                // 点击编辑按钮或者查看详情时,回显数据
                this.form.resetFields(); // 清空表单
                if (this.formId) {
                    this.formId = '';
                }
                this.visible = true; // 打开弹窗
                this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
                let that = this;
                httpAction(this.detailParam.url + id, '', this.detailParam.method) // 请求数据
                        .then(res => {
                            if (res.success) {
                                this.formId = res.result.id; // 设置附件formId
                                // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
                                let data = new Object();
                                for (let i = 0; i < this.modalFormData.length; i++) {
                                    data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
                                }
                                // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
                                let newData = new Object();
                                for (let key in data) {
                                    if (data[key] !== null && data[key] !== '') {
                                        newData[key] = data[key];
                                    }
                                }
                                // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
                                for (let key in newData) {
                                    for (let i = 0; i < that.modalFormData.length; i++) {
                                        if (
                                            (that.modalFormData[i].dataIndex === key &&
                                                    that.modalFormData[i].type === 'date') ||
                                            (that.modalFormData[i].dataIndex === key &&
                                                    that.modalFormData[i].type === 'datetime')
                                        ) {
                                            newData[key] = this.moment(data[key]);
                                        } else if (
                                                that.modalFormData[i].dataIndex === key &&
                                                that.modalFormData[i].type === 'checkbox'
                                        ) {
                                            newData[key] = data[key].split(';');
                                        } else if (
                                                that.modalFormData[i].dataIndex === key &&
                                                that.modalFormData[i].type === 'commonselect'
                                        ) {
                                            newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                                        }
                                    }
                                }
                                this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
                                this.$nextTick(() => {
                                    this.isDataChange = false;
                                });
                            }
                        });
            },
            /**
             * 附件发生变化
             */
            fileChange(data) {
                // 打开表单后，附件加载后重新获取表单初始化数据
                if (data.flag == 'completeUpload' && this.formSubmitTimes == 0) {
                    this.$nextTick(() => {
                        this.isDataChange = false;
                    });
                }
            },
            /**
             * 附件afterUpload执行函数
             */
            uploadCompleteFile(successFile, errorFile) {
                if (errorFile.length > 0) {
                    // 有附件保存失败的处理
                    this.$refs[this.attachmentRefName].$el.scrollIntoView(); // 页面滚动到附件位置
                    this.modalLoading = false; // 按钮关闭loading状态
                    this.disabled = false; // 返回按钮可用
                } else {
                    // 所有附件都保存成功的处理
                    this.reloadList();
                }
            },
            /**
             * 保存成功的处理函数
             */
            reloadList() {
                this.$message.success('保存成功！'); // 提示成功
                this.$emit('reloadData', false); // 刷新表格
                this.$emit('close');
            },
            /**
             * 保存
             */
            saveForm(e) {
                e.preventDefault();
                let that = this;
                this.form.validateFieldsAndScroll((err, values) => {
                    // 校验表单并处理
                    if (!err) {
                        this.modalLoading = true;
                        this.disabled = true; // 返回按钮不可用
                        let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
                        httpAction(this.editParam.url, newValues, this.editParam.method) // 提交
                        .then(res => {
                            if (res.success) {
                                // 保存成功后，记录提交成功次数
                                that.formSubmitTimes++;
                                // 多次保存，每次保存的version要不同，所以在保存后将version加1
                                that.form.setFieldsValue({ version: Number(newValues.version) + 1 + '' });
                                if (that.attachmentRefName) {
                                    // 表单含有附件
                                    that.$refs[that.attachmentRefName].upload(); // 附件上传
                                } else {
                                    // 表单不含有附件
                                    that.reloadList();
                                }
                            } else {
                                that.modalLoading = false; // 按钮关闭loading状态
                                that.disabled = false; //返回按钮可用
                            }
                        })
                        .catch(() => {
                            that.modalLoading = false; // 按钮关闭loading状态
                            that.disabled = false; //返回按钮可用
                        });
                    }
                });
            }
        }
    };
</script>

