<!--
  upload
-->
<template>
  <!-- -->
  <div class="avic-upload">
    <div class="upload-button">
      <!---- :accept="uploadAcceptType" -->
      <file-upload
        v-model="filesBind"
        class="avic-upload"
        :name="name"
        :input-id="inputId"
        :post-action="uploaderAction"
        :extensions="uploadFileType"
        :maximum="fileNumLimit"
        :multiple="multiple"
        :headers="uploadHeaders"
        ref="upload"
        :directory="allowAdd"
        :size="size"
        :thread="uploadMaxThread"
        :data="uploadData"
        :add-index="false"
        :disabled="directoryfile"
        :chunk-enabled="chunkEnabled"
        :chunk="chunk"
        :drop="dragUploader"
        :drop-directory="false"
        @input="selectFile"
        @input-filter="inputFilter"
        @input-file="inputFile"
      >
        <AddBtn v-if="!allowAdd" icon="plus" :loading="uploadLoading"> 选择文件 </AddBtn>
      </file-upload>

      <UploadBtn
        v-if="allowUpload"
        :loading="uploadLoading"
        type="primary"
        icon="upload"
        @upload="upload"
      >
        上传
      </UploadBtn>
      <!-- <a-button size="small" type="primary" v-if="toUpload" @click="upload()">确认上传</a-button> by cuijj 2020-05-22-->
      <BatchBtn
        v-if="allowDownload && files[elementId].length"
        :form-id="formId"
        :element-id="elementId"
        size="small"
        icon="download"
      >
        批量下载
      </BatchBtn>
      <span class="file-text">已添加{{ files[elementId].length }}附件</span>
      <div class="file-open" @click="onOpenList()">
        <a-icon v-show="openList" type="caret-down" />
        <a-icon v-show="!openList" type="caret-left" />
      </div>
    </div>
    <div
      v-show="dragUploader == true && $refs.upload && $refs.upload.dropActive"
      class="avic-uploader-drop-active"
    >
      <h3 class="drop-message">将文件拖拽到此上传</h3>
    </div>
    <a-spin :spinning="listLoading">
      <transition name="bounce">
        <AvicList
          :file-list="files[elementId]"
          :secret-level-list="secretLevelList"
          :flow-uploader="flowUploader"
          :task-name="taskName"
          :entry-id="entryId"
          :form-id="formId"
          :update-level="updateLevel"
          :colspan="colspan"
          :allow-delete="allowDelete"
          :allow-download="allowDownload"
          :allow-preview="allowPreview"
          :allow-encry="allowEncry"
          :allow-responsive="allowResponsive"
          :view-type="viewType"
          v-show="openList"
          @remove="removeFile"
        />
      </transition>
    </a-spin>
  </div>
</template>
<script>
import Vue from 'vue';
import { Spin, Icon } from 'ant-design-vue';
// import FileUpload from 'vue-upload-component'
import AddBtn from './components/addBtn';
import UploadBtn from './components/uploadBtn';
import BatchBtn from './components/batchBtn';
import { randomUUID } from '@/utils/avic/common/util';
import { httpAction } from '@/api/manage';
import AvicList from './components/list';
import ChunkUploadHandler from './components/chunk/AvicChunk';
import { fileTypeAll, fileAcceptTypeAll, createRegExp } from './components/util';
import { message } from 'ant-design-vue';
import { ACCESS_TOKEN } from '@/store/mutationTypes';
const uploaderBaseUrl = '/api/appsys/common/uploader';
const uploaderUrl = uploaderBaseUrl + '/upload/v1';
const getInfosUrl = uploaderBaseUrl + '/getInfos/v1';
export default {
  components: {
    ASpin: Spin,
    AIcon: Icon,
    AvicList,
    FileUpload: require('vue-upload-component'),
    AddBtn,
    UploadBtn,
    BatchBtn
  },
  props: {
    //表单id
    formId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //table 名称
    tableName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否多选
    multiple: {
      type: Boolean,
      required: false, //校验
      default: true
    },
    //文件最多上传个数
    fileNumLimit: {
      type: Number,
      default: 10
    },
    //文件大小 单位 mb 默认10mb
    fileSizeLimit: {
      type: Number,
      default: 10
    },
    uploadType: {
      type: String,
      required: false, //校验
      default: 'all'
    },
    //文件类型 默认图片
    fileType: {
      type: String,
      required: false, //校验
      default: ''
    },
    acceptType: {
      type: String,
      required: false, //校验
      default: ''
    },
    //一列显示多少个
    colspan: {
      type: Number,
      default: 1
    },
    //是否可以修改秘籍
    updateLevel: {
      type: Boolean,
      default: false
    },
    //上传最大线程
    uploadMaxThread: {
      type: Number,
      default: 5
    },
    //是否显示上传按钮
    allowUpload: {
      type: Boolean,
      default: false
    },
    //是否允许下载附件
    allowDownload: {
      type: Boolean,
      default: false
    },
    //是否允许添加附件
    allowAdd: {
      type: Boolean,
      default: false
    },
    //是否允许删除附件
    allowDelete: {
      type: Boolean,
      default: false
    },
    //是否允许预览
    allowPreview: {
      type: Boolean,
      default: false
    },
    //是否允许文件名称重复
    allowSameName: {
      type: Boolean,
      default: false
    },
    //是否分片上传
    chunkEnabled: {
      required: false, //校验
      type: Boolean,
      default: false
    },
    //分片上传每一片的大小
    minChunkSize: {
      required: false, //校验
      type: Number,
      default: 1
    },
    //上传类型,包括DataBase、Disk、Fastfds和第三方
    saveType: {
      type: String,
      required: false,
      default: 'DataBase'
    },
    //密级通用代码
    secretLevel: {
      type: String,
      required: false,
      default: 'PLATFORM_FILE_SECRET_LEVEL'
    },
    //是否自动上传
    uploadAuto: {
      required: false, //校验
      type: Boolean,
      default: false
    },
    //是否加密
    allowEncry: {
      type: Boolean,
      required: false,
      default: false
    },
    //所有附件ID，根据这些ID加载附件
    attIds: {
      type: String,
      required: false,
      default: ''
    },
    //未知类型
    category: {
      type: String,
      required: false,
      default: ''
    },
    //fastdfs存储附件节点的组名
    nodeId: {
      type: String,
      required: false,
      default: ''
    },
    //未知类型
    markProcess: {
      type: String,
      required: false,
      default: ''
    },
    //多附件的每个附件组件的唯一id
    inputId: {
      type: String,
      required: false,
      default: '1'
    },
    elementId: {
      type: String,
      required: false,
      default: '1'
    },
    //是否拖拽上传
    dragUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //表单类型 add  edit detail
    formType: {
      type: String,
      required: false, //校验
      default: ''
    },
    //是否流程节点
    flowdUplaod: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //是否流程上传
    flowUploader: {
      type: Boolean,
      required: false, //校验
      default: false
    },
    //当前流程节点
    taskName: {
      type: String,
      required: false, //校验
      default: ''
    },
    //实力id
    entryId: {
      type: String,
      required: false, //校验
      default: ''
    },
    //视图类型 line block
    viewType: {
      type: String,
      required: false, //校验
      default: 'block'
    },
    allowResponsive: {
      type: Boolean,
      required: false, //校验
      default: false
    }
  },
  data() {
    return {
      secretLevelList: [], //文件秘籍
      filesBind: [],
      files: { [this.elementId]: [] }, //文件集合
      directoryfile: false, //附件是否 directory
      name: 'file', //上传时候的文件名称
      uploaderAction: uploaderUrl, // 上传文件地址
      uploadHeaders: {
        'X-Access-Token': Vue.ls.get(ACCESS_TOKEN)
      },
      uploadData: {
        //文件上传的参数
        addTime: new Date().getTime(),
        guid: randomUUID(),
        formId: this.formDataId,
        tableName: this.tableName,
        saveType: this.saveType,
        allowEncry: this.allowEncry,
        category: this.category,
        nodeId: this.nodeId,
        markProcess: this.markProcess
        //elementId: this.elementId,
      },
      size: 0, //最大文件大小
      uploadFileType: '', //上传文件类型
      uploadAcceptType: '', //选中框限制类型
      regexp: null, // 正则验证对象
      formDataId: '', //form表单数据
      //获取文件或者密级
      formInfoParam: {
        url: getInfosUrl,
        parameter: {
          formId: this.formDataId,
          elementId: this.elementId,
          attIds: this.attIds,
          fileCategory: '',
          secretLevel: this.secretLevel
        },
        method: 'post'
      },
      //分片上传参数
      chunkBody: {
        addTime: new Date().getTime(),
        guid: randomUUID(),
        formId: this.formDataId,
        tableName: this.tableName,
        saveType: this.saveType,
        allowEncry: this.allowEncry,
        chunkSize: 0
        //elementId: this.elementId,
      },
      //分片上传参数
      chunk: {
        handler: ChunkUploadHandler, //这句很重要覆盖插件的分片上传代码
        headers: {
          'X-Access-Token': Vue.ls.get(ACCESS_TOKEN)
        },
        action: uploaderUrl,
        uploadBody: this.chunkBody,
        startBody: this.chunkBody,
        finishBody: this.chunkBody,
        minSize: 0,
        maxActive: 1000,
        maxRetries: 3 // 最大重试次数
      },
      uploadLoading: false, //上传按钮状态
      completeFiles: [], //所有上传文件的集合
      listLoading: false, //加载状态
      openList: true, //展开附件
      toUpload: false // 手动提交上传按钮是否显示
    };
  },
  watch: {
    //计算单个文件最大
    fileSizeLimit: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          this.size = 1024 * 1024 * newV;
        }
      }
    },
    //计算分片上传单个大小
    minChunkSize: {
      immediate: true,
      handler(newV) {
        if (newV > 0) {
          this.chunk.minSize = 1024 * 1024 * newV;
          this.chunkBody.chunkSize = 1024 * 1024 * newV;
        }
      }
    },
    // formID
    formId: {
      immediate: true,
      handler(newV) {
        if (this.formDataId != newV) {
          this.formDataId = newV;
          this.uploadData.formId = newV;
          this.chunkBody.formId = newV;
          this.chunk.uploadBody = this.chunkBody;
          this.chunk.startBody = this.chunkBody;
          this.chunk.finishBody = this.chunkBody;
          //获取上传的文件或者秘籍
          if (this.formType != 'add') {
            this.getfileInfos();
          }
        }
      }
    },
    //上传的文件类型
    uploadType: {
      immediate: true,
      handler(newV) {
        if (newV && newV != 'all') {
          let types = newV.split(',');
          let fileType = [];
          let acceptType = [];
          types.map(tim => {
            if (tim) {
              let fileTypeList = fileTypeAll();
              fileType = fileType.concat(fileTypeList[tim]);
            }
          });
          if (types.length == 1) {
            let fileAcceptTypeList = fileAcceptTypeAll();
            acceptType.push(fileAcceptTypeList[types[0]]);
          }
          if (fileType && fileType.length > 0) {
            this.regexp = createRegExp(fileType);
            this.uploadFileType = fileType.join(',');
          }
          if (acceptType && acceptType.length > 0) {
            this.uploadAcceptType = acceptType.join(',');
          }
        }
      }
    },
    filesBind: {
      immediate: true,
      handler(newV) {
        this.files[this.elementId] = newV;
      }
    }
  },
  mounted() {
    //计算文件大小
    if (this.fileSizeLimit > 0) {
      this.size = 1024 * 1024 * this.fileSizeLimit;
    }
    //计算文件大小
    if (this.minChunkSize > 0) {
      this.chunk.minSize = 1024 * 1024 * this.minChunkSize;
      this.chunkBody.chunkSize = 1024 * 1024 * this.minChunkSize;
    }
    //文件类型
    if (this.fileType) {
      this.regexp = createRegExp(this.fileType);
      this.uploadFileType = this.fileType;
    }
    //浏览器选择文件类型
    if (this.acceptType) {
      this.uploadAcceptType = this.fileType;
    }
    //获取上传的文件或者秘籍
    if (this.$refs.upload && !this.$refs.upload.active && this.formType == 'add') {
      this.getfileInfos();
    }
    if (this.elementId) {
      this.files = { [this.elementId]: [] };
    }
  },
  methods: {
    onOpenList() {
      // this.openList = !this.openList; //隐藏已上传文件列表
      let filesArr = this.files[this.elementId].length;
      if (filesArr > 0) {
        this.openList = !this.openList;
      } else {
        this.openList = false;
      }
    },
    //删除文件
    removeFile(file) {
      if (file) {
        this.$refs.upload.remove(file);
        if (file.id) {
          this.files[this.elementId] = this.files[this.elementId].filter(tim => tim.id != file.id);
        }
        this.filesBind = this.files[this.elementId];
      }
      if (!file.success) {
        this.uploadLoading = false;
        this.$refs.upload.active = false;
        file.active = false;
      }
      // this.$emit('change', this.filesBind);
      // change事件添加标志位做区分 by cuijj 2020-05-22
      this.$emit('change', {
        file: this.filesBind,
        flag: 'delete'
      });
    },
    //设置文件
    setfile(list) {
      let result = [];
      list.map(tim => {
        result.push({
          size: tim.size,
          data: {
            secretLevel: tim.secret,
            secretName: tim.secretName
          },
          secretName: tim.secretName,
          name: tim.name,
          id: tim.fileId,
          complete: true, // 是否已经上传
          active: false,
          success: true,
          timeout: 50000,
          speed: 0,
          progress: 0.0
        });
      });
      return result;
    },
    //上传触发上传事件
    upload(formId) {
      //上传前置事件
      this.$emit('beforeUpload');
      if (formId) {
        this.setUploadData(formId);
      } else if (this.formDataId) {
        this.setUploadData(this.formDataId);
      } else {
        message.error('formId不存在');
        return null;
      }
      //上传前置事件
      if (this.$refs.upload && this.files[this.elementId].length > 0) {
        let uplaodFile = this.files[this.elementId].filter(tim => !tim.complete);
        // 重新上传参数设置 Start by cuijj 2020-05-11
        uplaodFile.map(file => {
          this.$refs.upload.update(file, { active: true, error: '', progress: '0.00' });
        });
        // 重新上传参数设置 End by cuijj 2020-05-11
        this.completeFiles = []; // 每次上传开始，清空上传文件集合 by cuijj 2020-05-11
        if (uplaodFile.length > 0) {
          this.$refs.upload.active = true;
          this.toUpload = false;
        } else {
          //上传后置事件
          this.$emit('afterUpload', [], []);
        }
      } else {
        //上传后置事件
        this.$emit('afterUpload', [], []);
      }
    },
    //设置上传文件的参数
    setUploadData(formId) {
      this.files[this.elementId].map(tim => {
        if (!tim.complete) {
          tim.data.size = tim.size;
          tim.data.addTime = new Date().getTime();
          tim.data.guid = new Date().getTime();
          tim.data.formId = formId;
          tim.data.tableName = this.tableName;
          tim.data.saveType = this.saveType;
          tim.data.allowEncry = this.allowEncry;
          tim.data.fileName = encodeURIComponent(tim.name);
          tim.data.elementId = this.elementId;
          tim.data.category = this.category;
          tim.data.nodeId = this.nodeId;
          tim.data.markProcess = this.markProcess;
          // tim.name = encodeURIComponent(tim.name);
        }
      });
    },
    //验证文件秘籍是否大于传入秘籍
    validateUploaderFileSecret(validateSecretLevel) {
      let errorMessage = '';
      if (validateSecretLevel) {
        for (let i = 0; i < this.filesBind.length; i++) {
          let file = this.filesBind[i];
          if (Number(file.data.secretLevel) > Number(validateSecretLevel)) {
            if (file.complete) {
              errorMessage = '已上传的第' + (i + 1) + '个附件密级高于文档密级！';
              message.error(errorMessage);
              break;
            } else {
              errorMessage = '待上传的第' + (i + 1) + '个附件密级高于文档密级！';
              message.error(errorMessage);
              break;
            }
          }
        }
      }
      return errorMessage;
    },
    //获取文件秘籍或者已经上传的文件
    getfileInfos() {
      if (this.formType != 'add') {
        this.formInfoParam.parameter.formId = this.formDataId;
      }
      this.listLoading = true;
      httpAction(
        this.formInfoParam.url,
        this.formInfoParam.parameter,
        this.formInfoParam.method,
        false,
        true,
        false,
        true
      )
        .then(res => {
          if (res.success) {
            if (res.result.fileList.length == 0) {
              this.openList = false;
            } else {
              this.openList = true;
            }
            this.files[this.elementId] = this.setfile(res.result.fileList);
            this.filesBind = this.files[this.elementId];
            if (this.filesBind.length > 0) {
              // this.$emit('change', this.filesBind);
              // change事件添加标志位做区分 by cuijj 2020-05-22
              this.$emit('change', {
                file: this.filesBind,
                flag: 'completeUpload'
              });
            }
            this.secretLevelList = res.result.secretLevelList;
          }
          this.listLoading = false;
        })
        .catch(response => {
          this.listLoading = false;
        });
    },
    //上传后置事件
    afterUpdate() {
      setTimeout(() => {
        this.disabledfile = false;
        this.uploadLoading = false; // “选择文件”按钮loading状态恢复 by cuijj 2020-05-09
      }, 100);
      if (this.$refs.upload.uploaded == true) {
        let suucessFiles = [];
        let errorFiles = [];
        this.completeFiles.map(tim => {
          if (tim.response && (tim.response.retCode == '200' || tim.response.success == true)) {
            suucessFiles.push(tim);
          } else {
            errorFiles.push(tim);
          }
        });
        if (errorFiles.length > 0) {
          message.error(`共有${errorFiles.length}文件上传失败`);
        }
        //上传后置事件
        this.$emit('afterUpload', suucessFiles, errorFiles);
      }
    },
    //选择文件时候掉用方法
    selectFile(list) {
      //验证最多上传个数
      if (
        this.$refs.upload.active != true &&
        this.filesBind &&
        this.filesBind.length > this.fileNumLimit
      ) {
        message.warning(`上传文件最多不得超过${this.fileNumLimit}个`);
      }
      if (!this.openList) {
        this.openList = true;
      }
    },
    //选择文件过滤方法
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        //验证上传文件类型
        if (this.regexp != null && !this.regexp.test(newFile.name)) {
          message.error('您选中的文件格式不符合要求！');
          return prevent();
        }
        //严重最大上传文件
        if (newFile.size > this.size) {
          message.error(`文件大小不得超过${this.fileSizeLimit}Mb`);
          return prevent();
        }
        //验证最多上传个数
        if (this.filesBind && this.filesBind.length >= this.fileNumLimit) {
          message.destroy();
          message.warning(`上传文件最多不得超过${this.fileNumLimit}个`);
        }
        //验证文件名是否重复
        if (!this.allowSameName) {
          let allowSameFile = this.filesBind.filter(tim => tim.name == newFile.name);
          if (allowSameFile.length > 0) {
            message.error(`${newFile.name}文件已存在`);
            return prevent();
          }
        }
        //设置文件大小
        newFile.data.size = newFile.size;
        //设置文件默认秘籍
        if (this.secretLevelList.length > 0) {
          newFile.data.secretLevel = this.secretLevelList[0].lookupCode;
        }
        if (this.formDataId) {
          this.toUpload = true;
        }
        // this.$emit('change', newFile);
        // change事件添加标志位做区分 by cuijj 2020-05-22
        this.$emit('change', {
          file: newFile,
          flag: 'inputFilter'
        });
      }
    },
    //文件上传中的过滤方法
    inputFile(newFile, oldFile) {
      if (newFile && oldFile) {
        //开始上传
        if (newFile.active !== oldFile.active) {
          //this.directoryfile = true;
          this.uploadLoading = true;
        }
        // 上传进度
        if (newFile.progress !== oldFile.progress) {
          this.uploadLoading = true; // 上传过程中，不可选择文件 by cuijj 2020-05-11
          // 上传失败时，进度不可显示完成误导用户 by cuijj 2020-05-11
          if (newFile.error !== oldFile.error) {
            newFile.progress =
              newFile.progress == '100' || newFile.progress == '100.00' ? '99' : newFile.progress;
          }
        }
        // 上传错误
        if (newFile.error !== oldFile.error) {
          this.completeFiles.push(newFile);
          // newFile.progress = 0; // 进度要保留 by cuijj 2020-05-09
          // newFile.complete = true; // 是否已经上传 上传失败设为false，以便重新上传 by cuijj 2020-05-09
          this.afterUpdate();
        }
        // 上传成功
        if (newFile.success !== oldFile.success) {
          this.completeFiles.push(newFile);
          if (
            newFile.response &&
            (newFile.response.retCode == '200' || newFile.response.success == true)
          ) {
            if (newFile.response.responseBody) {
              newFile.fileId = newFile.response.responseBody;
              newFile.id = newFile.response.responseBody;
            } else {
              newFile.fileId = newFile.response.result;
              newFile.id = newFile.response.result;
            }

            newFile.complete = true; // 是否已经上传
          } else {
            newFile.error = true;
          }
          this.afterUpdate();
          // newFile.progress = 0; // 进度要保留 by cuijj 2020-05-09
        }
      }

      // 自动上传
      if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
        if (this.uploadAuto && !this.$refs.upload.active) {
          this.$refs.upload.active = true;
        }
      }
    }
  }
};
</script>
<style lang="less" scoped>
.avic-upload {
  position: relative;
  height: 100%;

  .upload-button {
    .file-uploads {
      overflow: initial;
      margin: 0 8px 0 0;
    }
    .file-text {
      padding: 0 10px;
      line-height: 28px;
      font-size: 12px;
    }
    .file-open {
      display: inline-block;
      color: #787878;
      cursor: pointer;
    }
  }
  .avic-uploader-drop-active {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #dadada;
    opacity: 0.8;
    z-index: 999;
    .drop-message {
      position: absolute;
      top: 40%;
      right: 40%;
    }
  }
  .bounce-enter-active {
    animation: fadeOut 0.4s;
  }
  .bounce-leave-active {
    animation: fadeOut 0.4s reverse;
  }

  @keyframes fadeOut {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
</style>
