<template>
  <div>
    <a-form :form="form" :layout="formLayout" :label-col="labelCol" :wrapper-col="wrapperCol">
      <div class="basic-title">
        <span>切换组织</span>
      </div>
      <a-form-item label="组织">
        <a-select
          style="width: 200px"
          :value="multiOrg.currentOrg.orgName"
          @change="switchOrg"
          @focus="getNewOrg"
        >
          <a-select-option v-for="item in multiOrg.orgList" :key="item.id" :value="item.name">
            {{ item.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="部门">
        <a-select
          style="width: 200px"
          :value="userDept.currentDept.currentDeptName"
          @change="switchIdentity"
          @focus="getNewDept"
          :disabled="loading"
        >
          <a-icon slot="suffixIcon" type="loading" v-if="loading" />
          <a-select-option v-for="item in userDept.deptList" :key="item.id" :value="item.name">
            {{ item.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
    </a-form>
    <a-row>
      <a-col :offset="4">
        <a-icon slot="icon" type="question-circle-o" style="color: red" />
        <a-button type="primary" @click="saveOrg">保存</a-button>
        <!-- </a-popconfirm> -->
        <a-button title="重置" @click="cancelSetMultiorg">重置</a-button>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import { Button, Form, Select, Icon } from 'ant-design-vue';
import { httpAction } from '@api/manage';
import Vue from 'vue';
import { ACCESS_TOKEN, USER_INFO, ACCESS_KEY_ID, USER_PERMISSIONLIST } from '@/store/mutationTypes';
import { formColLayout } from '@utils/avic/layout/baseMouldStyles';
import config from '@config/defaultSettings';
import store from '@/store';
import NProgress from 'nprogress';

NProgress.configure({ showSpinner: false }); // NProgress Configuration

let publicPath = '/api/appsys/user/multiorg';

export default {
  name: 'ChangeMultiOrg',
  components: {
    AForm: Form,
    ASelect: Select,
    AButton: Button,
    AIcon: Icon
  },
  data() {
    return {
      labelCol: { xs: 4, sm: 4, lg: 4, xl: 4 },
      wrapperCol: { xs: 20, sm: 20, md: 20, lg: 20, xl: 20 },
      initOrgName: '',
      initDeptName: '',
      title: '切换组织',
      visible: false,
      cofirm: false,
      loading: false,
      isDefault: true,
      clickDeptSelect: false,
      initUserInfo: {},
      newUserInfo: null,
      finalUserInfo: null,
      formColLayout: formColLayout(this.layout), // 调用布局公共方法
      selected: {
        orgName: null,
        deptName: null
      },
      userDept: {
        currentDept: {
          currentDeptName: null,
          currentDeptId: null
        },
        isNewFirst: true,
        deptList: []
      },
      multiOrg: {
        currentOrg: {
          orgName: null,
          currentOrgId: null
        },
        orgList: [],
        reqOrgId: null
      },
      orgId: null,
      form: this.$form.createForm(this),
      formLayout: 'horizontal',
      //请求多组织相关数据
      reqConfig: {
        current: {
          url: publicPath + '/current'
        },
        orgList: {
          url: publicPath + '/list/org'
        },
        orgDept: {
          url: publicPath + '/list/dept/'
        },
        changeOrg: {
          url: publicPath + '/change',
          method: 'post',
          params: { orgId: null, deptId: null }
        }
      }
    };
  },
  mounted() {
    this.currentMultiOrg();
  },
  methods: {
    //获取用户当前身份多组织
    currentMultiOrg() {
      httpAction(this.reqConfig.current.url)
        .then(res => {
          if (res.code === '500') {
            this.$$message.error(res.message.toString());
          } else {
            this.userDept.currentDept.currentDeptName = res.result.currentDeptName;
            this.userDept.currentDept.currentDeptId = res.result.currentDeptId;
            this.multiOrg.currentOrg.orgName = res.result.currentOrgName;
            this.multiOrg.currentOrg.currentOrgId = res.result.currentOrgId;
            this.newUserInfo = Object.assign(this.initUserInfo, {
              initOrgName: this.multiOrg.currentOrg.orgName,
              initDeptName: this.userDept.currentDept.currentDeptName,
              initOrgId: this.multiOrg.currentOrg.currentOrgId,
              initDeptId: this.userDept.currentDept.currentDeptId
            });
            Vue.ls.set(USER_INFO, this.newUserInfo, 7 * 24 * 60 * 60 * 1000);
            this.initOrgName = res.result.currentOrgName;
            this.initDeptName = res.result.currentDeptName; // 记录表单初始化数据
          }
        })
        .catch(err => {});
    },
    // 组织信息切换
    switchOrg(v, l) {
      this.orgId = l.key;
      this.multiOrg.currentOrg.orgName = v;
      this.multiOrg.currentOrg.currentOrgId = l.key;
      this.selected.orgName = v;
      //为防止网络延迟大，请求初始禁用下面选择框
      this.loading = true;
      httpAction(this.reqConfig.orgDept.url + this.orgId)
        .then(res => {
          // console.log('res', res)
          //有数据相应，激活选择框
          this.loading = false;
          //组织下没有部门的情况
          if (res.result.length === 0) {
            this.userDept.deptList = [];
            this.reqConfig.changeOrg.params.deptId = null;
            this.userDept.currentDept.currentDeptName = '';
            this.userDept.currentDept.currentDeptId = null;
          } else {
            this.userDept.deptList = res.result;
            let isHasTrue = false;
            if (this.userDept.deptList.length > 0) {
              this.userDept.deptList.map(item => {
                if (item.current === 'true') {
                  isHasTrue = true;
                  this.userDept.currentDept.currentDeptName = item.name;
                  this.userDept.currentDept.currentDeptId = item.id;
                }
              });
              //初始化选中的部门
              if (!isHasTrue) {
                this.userDept.currentDept.currentDeptName = this.userDept.deptList[0].name;
                this.userDept.currentDept.currentDeptId = this.userDept.deptList[0].id;
              }
            }
          }
          this.reqConfig.changeOrg.params.orgId = this.orgId;
          this.isDefault = false;
          this.clickDeptSelect = false; //部门是否选择过设置为否
        })
        .catch(err => {});
    },

    requstDeptMethod(arg) {
      let self = this;
      httpAction(self.reqConfig.orgDept.url + arg).then(res => {
        self.loading = false;
        self.userDept.deptList = res.result;
        if (self.userDept.deptList.length > 0) {
          self.userDept.deptList.map(item => {
            if (item.current === 'true') {
              self.userDept.currentDept.currentDeptName = item.name;
              self.userDept.currentDept.currentDeptId = item.id;
            }
          });
        }
      });
    },
    getNewDept() {
      if (this.isDefault) {
        this.requstDeptMethod(this.multiOrg.currentOrg.currentOrgId);
      } else {
        if (this.userDept.isNewFirst) {
          this.requstDeptMethod(this.orgId);
        }
      }
    },
    getNewOrg() {
      if (this.multiOrg.orgList.length > 0) return;
      httpAction(this.reqConfig.orgList.url)
        .then(res => {
          this.multiOrg.orgList = res.result;
        })
        .catch(err => {});
    },
    //当切换部门信息时触发
    switchIdentity(value, node) {
      this.clickDeptSelect = true;

      this.reqConfig.changeOrg.params.orgId = this.orgId;
      this.reqConfig.changeOrg.params.deptId = node.key; //部门信息保存到提交参数中
      this.userDept.currentDept.currentDeptId = node.key; //部门信息保存到用户页面中
      this.userDept.currentDept.currentDeptName = value;
      this.selected.deptName = value;
    },
    saveOrg() {
      let that = this;
      this.$confirm({
        title: '提示',
        content: '确定要切换到当前选中的身份吗？',
        closable: true,
        onOk: () => {
          that.setMultiOrg();
        },
        onCancel() {}
      });
    },
    //发送切换后的组织和部门信息，切换组织
    setMultiOrg() {
      let self = this;
      this.reqConfig.changeOrg.params.deptId = this.userDept.currentDept.currentDeptId;
      this.reqConfig.changeOrg.params.orgId = this.multiOrg.currentOrg.currentOrgId;
      httpAction(
        this.reqConfig.changeOrg.url,
        this.reqConfig.changeOrg.params,
        this.reqConfig.changeOrg.method
      )
        .then(res => {
          if (res.code === '500') {
            this.$message.error(res.message.toString());
          } else if (res.code === '200') {
            Vue.ls.set(ACCESS_TOKEN, res.result, config.tokenTime);
            this.finalUserInfo = Object.assign(this.initUserInfo, {
              initOrgName: self.multiOrg.currentOrg.orgName,
              initDeptName: self.userDept.currentDept.currentDeptName,
              initOrgId: self.reqConfig.changeOrg.params.orgId,
              initDeptId: self.reqConfig.changeOrg.params.deptId
            });
            Vue.ls.set(USER_INFO, this.finalUserInfo, 7 * 24 * 60 * 60 * 1000);
            Vue.ls.remove(ACCESS_KEY_ID);

            NProgress.start();
            this.visible = false;
            store.dispatch('SetLocalPermission', []); //清除
            Vue.ls.remove(USER_PERMISSIONLIST);
            store.dispatch('GetPermissionList').then(res => {});
            NProgress.done();
            this.$message.success('切换身份成功');
          }
        })
        .catch(err => {
          this.$message.error('切换身份失败', err);
        });
    },
    /**
     * 重置
     */
    cancelSetMultiorg() {
      this.currentMultiOrg();
    }
  }
};
</script>
