<template>
  <div class="flow-detail-page">
    <!-- <LoadingPage v-if="loading" /> -->
    <a-layout class="flow-detail-card">
      <a-layout-content class="flow-content">
        <a-spin
          :spinning="loadingSaveState || loading"
          wrapper-class-name="flow-detail-content-spin"
          :tip="loadingTips"
          size="large"
        >
          <div class="flow-content-wrapper">
            <div class="flow-content-top">
              <AvicBpmHead
                :flow-custom-vars="flowCustomVars"
                :is-scroll-down="isScrollDown"
                @saveAndStartProcess="saveAndStartProcess"
                @saveForm="saveForm"
                @beforeBpmButtons="beforeBpmButtons"
                @afterBpmButtons="afterBpmButtons"
                @flowCustomFunction="flowCustomFunction"
                @scrollViewByTab="scrollViewByTab"
                @handleFixedTop="handleFixedTop"
              />
            </div>
            <div
              ref="flowBody"
              class="flow-content-body"
              :class="{ 'flow-content-body-down': isScrollDown && !fixedTop }"
            >
              <div class="bpm-pic-tab">
                <template v-for="item in bpmTabs">
                  <div
                    v-if="item.display == '1' && item.id != 'bpm_idea_tab'"
                    :ref="item.id"
                    :key="item.id"
                    class="section-content"
                  >
                    <div v-if="item.display == '1'" class="section-title">
                      {{ item.name }}
                      <a
                        v-if="item.id == 'bpm_pic_tab' && item.display == '1'"
                        href="#"
                        @click="changeTabs"
                      >
                        {{ switchTitle }}
                      </a>
                    </div>
                    <div class="section-iframe">
                      <component
                        v-if="item.id == 'bpm_form_tab'"
                        :is="componentFile"
                        ref="flowDetail"
                        @changeFlowCustomVars="changeFlowCustomVars"
                      />
                      <div v-if="item.id == 'bpm_pic_tab' && item.display == '1'" class="main">
                        <AvicBpmTrackAndChart :is-steps="isSteps" />
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </a-spin>
      </a-layout-content>
    </a-layout>
  </div>
</template>

<script>
// import LoadingPage from '@comp/avic/pt/common/AvicLoading'

import { Modal } from 'ant-design-vue';
import ErrorPage from '@views/exception/404';
import AvicBpmChartTemplate from '@/components/avic/bpm/AvicBpmChartTemplate';
import AvicBpmHead from '@/components/avic/bpm/AvicBpmHead';
import AvicBpmChart from '@/components/avic/bpm/AvicBpmContent/AvicBpmChart';
import AvicBpmTracking from '@/components/avic/bpm/AvicBpmContent/AvicBpmTracking';
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import AvicBpmTrackAndChart from '@/components/avic/bpm/AvicBpmContent/AvicBpmTrackAndChart/index';
// import Store from '@/store/index'

Vue.component('AvicBpmChartTemplate', AvicBpmChartTemplate);

// import('@/store/modules/bpm/bpmSave').then(res => {
//   Store.registerModule(['bpmSave'], res.default)
// })
// import('@/store/modules/bpm/bpmEditor').then(res => {
//   Store.registerModule(['bpmEditor'], res.default)
// })
// import('@/store/modules/bpm/bpmModel').then(res => {
//   Store.registerModule(['bpmModel'], res.default)
// })
export default {
  components: {
    AvicBpmTrackAndChart,
    // ALayout: Layout,
    // ALayoutContent: Layout.LayoutContent,
    // LoadingPage,
    AvicBpmHead,
    AvicBpmChart,
    AvicBpmTracking
  },
  data() {
    const componentFile = this.render;
    return {
      id: null,
      contentLastScrollTop: 0,
      isScrollDown: false,
      fixedTop: true,
      openType: 'add',
      loadingTips: '正在加载流程表单',
      loadingSaveState: false,
      loading: true,
      bpmTabs: [], // 显示区域数据
      flowCustomVars: {},
      isSteps: true, // 流程意见显隐控制
      componentFile,
      switchTitle: '查看详情'
    };
  },
  watch: {
    id() {
      this.render();
    },
    getLoadingState(val) {
      if (val) {
        this.loadingTips = '正在加载流程表单';
      }
      this.loading = val;
    },
    getLoadingSaveState(val) {
      if (val) {
        this.loadingTips = '正在提交表单';
      }
      this.loadingSaveState = val;
    },
    //监听tab数据变化
    getTabs(tabs) {
      this.bpmTabs = tabs;
    }
  },
  created() {
    this.id = this.$route.params.id;
    this.openType = this.$route.query.id ? 'edit' : 'add';
    this.setFlowData();
  },
  computed: {
    ...mapGetters(['getTabs', 'getLoadingState', 'getLoadingSaveState'])
  },
  mounted() {
    this.bpmTabs = this.$store.state.bpmTabs.tabs;
    this.contentLastScrollTop = this.$refs.flowBody.scrollTop;
    this.$refs.flowBody.addEventListener('scroll', this.handleScroll);
    //刷新页面提示并关闭窗口
    if (this.openType == 'add') {
      this.refreshWindow();
    }
  },
  methods: {
    ...mapActions(['flowEditorInitFunc', 'closeLoading']),
    render() {
      let url = decodeURIComponent(this.id).replace(RegExp('_', 'g'), '/');
      this.componentFile = resolve => ({
        component: import(`@views/${url}`),
        //loading: LoadingPage,
        error: ErrorPage,
        delay: 100,
        timeout: 10000
      });
    },
    //设置流程数据
    setFlowData() {
      //设置流程标题
      bpmUtils.setTitle(this.$route.query.title);
      if (this.openType == 'add') {
        if (!this.$route.query.defineId) {
          this.$message.error('系统错误缺少参数');
        }
        //初始化流程按钮和参数
        this.flowEditorInitFunc({ _bpm_defineId: this.$route.query.defineId });
      } else if (this.openType == 'edit') {
        //初始化流程按钮和参数
        this.flowEditorInitFunc({
          _bpm_entryId: this.$route.query.entryId,
          _bpm_executionId: this.$route.query.executionId,
          _bpm_taskId: this.$route.query.taskId,
          _bpm_formId: this.$route.query.id
        });
      } else {
        this.$message.error('系统错误缺少参数');
      }
    },
    saveAndStartProcess(params) {
      this.$refs.flowDetail[0].saveAndStartProcess(params);
    },
    saveForm(params) {
      this.$refs.flowDetail[0].saveForm(params);
    },
    beforeBpmButtons(params) {
      this.$refs.flowDetail[0].beforeBpmButtons(params);
    },
    afterBpmButtons(params) {
      this.$refs.flowDetail[0].afterBpmButtons(params);
    },
    flowCustomFunction(params) {
      this.$refs.flowDetail[0].flowCustomFunction(params);
    },
    changeFlowCustomVars(params) {
      this.flowCustomVars = Object.assign({}, this.flowCustomVars, params);
    },
    handleFixedTop(val) {
      this.fixedTop = val;
    },
    scrollViewByTab(tab) {
      if (tab.id) {
        this.$refs[tab.id][0].scrollIntoView({ behavior: 'smooth' });
      }
    },
    handleScroll() {
      let scrollTop = this.$refs.flowBody.scrollTop;
      if (scrollTop > 0 && scrollTop - this.contentLastScrollTop > 0) {
        this.isScrollDown = true;
      } else {
        this.isScrollDown = false;
      }
      this.contentLastScrollTop = scrollTop;
    },
    refreshWindow() {
      if (window.name.indexOf('isReload') != -1) {
        Modal.warning({
          title:
            '流程参数错误！无法初始化权限按钮！您可能是通过非法的途径进入了当前页面，例如重复刷新页面，拷贝链接到浏览器地址栏等操作。点击确定关闭表单',
          onOk: () => {
            window.close();
          }
        });
      } else {
        window.name = window.name + 'isReload';
      }
    },
    /*查看详情*/
    changeTabs() {
      this.isSteps = !this.isSteps;
      if (this.isSteps) {
        this.switchTitle = '查看详情';
      } else {
        this.switchTitle = '收起';
      }
    }
  }
};
</script>
<style lang="less">
#bodyThem {
  overflow: hidden;
}
.flow-detail-page {
  .flow-detail-card {
    .flow-content-wrapper {
      height: 100vh;
      .flow-content-body {
        width: 100%;
        height: calc(100% - 54px);
        position: fixed;
        top: 54px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        .section-iframe {
          width: 100%;
        }
        .section-content {
          width: 100%;
        }
      }
      .flow-content-body-down {
        height: calc(100% - 40px);
        top: 40px;
      }
    }
  }
}
.flow-detail-content-spin {
  & > .ant-spin {
    position: fixed !important;
  }
}
</style>
<style lang="less" scoped>
@import '~@assets/styles/common/base-flow-detail.less';
</style>
