.antv_skin( @primary-color ) {
  [ant-click-animating-without-extra-node]::after,
  .ant-click-animating-node {
    border-radius: inherit;
    border: 0 solid @primary-color;
  }
  .ant-alert-info {
    border: 1px solid color(~`colorPalette('@{primary-color}', 3) `);
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-alert-info .ant-alert-icon {
    color: @primary-color;
  }
  .ant-alert-with-description {
    border-radius: @border-radius-base;
  }
  .ant-anchor-ink-ball {
    border: 2px solid @primary-color;
  }
  .ant-anchor-link-active > .ant-anchor-link-title {
    color: @primary-color;
  }
  .ant-select-auto-complete.ant-select .ant-input:focus,
  .ant-select-auto-complete.ant-select .ant-input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-badge-status-processing {
    background-color: @primary-color;
  }
  .ant-badge-status-processing::after {
    border-radius: 50%;
    border: 1px solid @primary-color;
  }
  .ant-breadcrumb a:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn {
    border-radius: @border-radius-base;
  }
  .ant-btn:not([disabled]):active {
    box-shadow: none;
  }
  .ant-btn-lg {
    border-radius: @border-radius-base;
  }
  .ant-btn-sm {
    border-radius: @border-radius-base;
  }
  .ant-btn.ant-btn-link:active,
  .ant-btn.ant-btn-link:focus,
  .ant-btn.ant-btn-link:hover {
    border-color: transparent;
  }
  .ant-btn:active,
  .ant-btn.active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }

  .ant-btn-primary {
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-btn.ant-btn-primary:hover,
  .ant-btn.ant-btn-primary:focus {
    background-color: color(~`colorPalette('@{primary-color}', 5) `);
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    color: #fff;
  }
  .ant-btn-primary:active,
  .ant-btn-primary.active {
    background-color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
    border-right-color: color(~`colorPalette('@{primary-color}', 5) `);
    border-left-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
    border-right-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-group .ant-btn-primary:last-child:not(:first-child),
  .ant-btn-group .ant-btn-primary + .ant-btn-primary {
    border-left-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-ghost:hover,
  .ant-btn-ghost:focus {
    color: color(~`colorPalette('@{primary-color}', 5) `);
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-ghost:active,
  .ant-btn-ghost.active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-btn-dashed:hover,
  .ant-btn-dashed:focus {
    color: color(~`colorPalette('@{primary-color}', 5) `);
    background-color: #fff;
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-dashed:hover > a:only-child,
  .ant-btn-dashed:focus > a:only-child {
    color: currentColor;
  }
  .ant-btn-dashed:hover > a:only-child::after,
  .ant-btn-dashed:focus > a:only-child::after {
    background: transparent;
  }
  .ant-btn-dashed:active,
  .ant-btn-dashed.active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-btn-link {
    color: @primary-color;
  }
  .ant-avic-icon-enter {
    background-color: @primary-color;
    color: #fff;
  }
  .ant-btn-background-ghost.ant-btn-primary {
    color: @primary-color;
    border-color: @primary-color;
  }
  .ant-btn-background-ghost.ant-btn-primary:hover,
  .ant-btn-background-ghost.ant-btn-primary:focus {
    color: color(~`colorPalette('@{primary-color}', 5) `);
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-btn-background-ghost.ant-btn-primary:active,
  .ant-btn-background-ghost.ant-btn-primary.active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-fullcalendar-value:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-fullcalendar-value:active {
    background: @primary-color;
    color: #fff;
  }
  .ant-fullcalendar-today .ant-fullcalendar-value,
  .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-value {
    box-shadow: 0 0 0 1px @primary-color inset;
  }
  .ant-fullcalendar-selected-day .ant-fullcalendar-value,
  .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value {
    background: @primary-color;
    color: #fff;
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-month:hover,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-month:active,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-date:active {
    background: color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-month,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
    border-top-color: @primary-color;
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-value {
    color: @primary-color;
  }
  .ant-card-actions > li > span:hover {
    color: @primary-color;
  }
  .ant-card-actions > li > span a:hover {
    color: @primary-color;
  }
  .ant-cascader-picker:focus .ant-cascader-input {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-cascader-menu-item:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: @primary-color;
  }
  .ant-checkbox-checked.ant-checkbox-disabled .ant-checkbox-inner{
    border-color: @primary-color !important;
  }
  .ant-checkbox-checked::after {
    border: 1px solid @primary-color;
  }
  .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #f5f5f5;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: @primary-color;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: @primary-color;
  }
  .ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
    border-right-width: 1px !important;
  }
  .ant-calendar-header a:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-date:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-date:active {
    color: #fff;
    background: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-today .ant-calendar-date {
    border-color: @primary-color;
    color: @primary-color;
  }
  .ant-calendar-selected-day .ant-calendar-date {
    background: fade(@primary-color, 8%);
  }
  .ant-calendar-selected-date .ant-calendar-date,
  .ant-calendar-selected-start-date .ant-calendar-date,
  .ant-calendar-selected-end-date .ant-calendar-date {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-selected-date .ant-calendar-date:hover,
  .ant-calendar-selected-start-date .ant-calendar-date:hover,
  .ant-calendar-selected-end-date .ant-calendar-date:hover {
    background: @primary-color;
  }
  .ant-calendar .ant-calendar-ok-btn {
    color: #fff;
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-calendar .ant-calendar-ok-btn:hover,
  .ant-calendar .ant-calendar-ok-btn:focus {
    color: #fff;
    background-color: color(~`colorPalette('@{primary-color}', 5) `);
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar .ant-calendar-ok-btn:active,
  .ant-calendar .ant-calendar-ok-btn.active {
    color: #fff;
    background-color: color(~`colorPalette('@{primary-color}', 7) `);
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-calendar-range .ant-calendar-input:hover,
  .ant-calendar-range .ant-calendar-time-picker-input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-range .ant-calendar-input:focus,
  .ant-calendar-range .ant-calendar-time-picker-input:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-range .ant-calendar-in-range-cell::before {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-time-picker-select li:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-month-panel-header a:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-month-panel-month:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-year-panel {
    border-radius: @border-radius-base;
    background: #fff;
  }
  .ant-calendar-year-panel-header a:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-year-panel-year:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-decade-panel-header a:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-calendar-decade-panel-decade:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade:hover {
    background: @primary-color;
    color: #fff;
  }
  .ant-calendar-week-number .ant-calendar-body tr:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-calendar-week-number .ant-calendar-body tr.ant-calendar-active-week {
    background: color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-dropdown-menu-item-selected,
  .ant-dropdown-menu-submenu-title-selected,
  .ant-dropdown-menu-item-selected > a,
  .ant-dropdown-menu-submenu-title-selected > a {
    color: @primary-color;
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    background-color: fade(@primary-color, 10%);
    color: @primary-color;
  }
  .theme-blue .ant-dropdown-menu-item-selected, 
  .theme-blue .ant-dropdown-menu-submenu-title-selected, 
  .theme-blue .ant-dropdown-menu-item-selected > a, 
  .theme-blue .ant-dropdown-menu-submenu-title-selected > a{
    background-color: fade(@primary-color, 10%);
    color: @primary-color;
  }
  .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected,
  .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected:hover,
  .ant-dropdown-menu-dark .ant-dropdown-menu-item-selected > a {
    background: @primary-color;
    color: #fff;
  }
  .is-validating.has-feedback .ant-form-item-children-icon {
    color: @primary-color;
  }
  .ant-input-number:not(.ant-input-number-disabled):hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input-number:not(.ant-input-number-disabled):focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
  .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input-number-focused {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input:not([disabled]):hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input:not([disabled]):focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-group-addon .ant-select-open .ant-select-selection,
  .ant-input-group-addon .ant-select-focused .ant-select-selection {
    color: @primary-color;
  }
  .ant-input-group.ant-input-group-compact-addon:not(:first-child):not(:last-child):hover,
  .ant-input-group.ant-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
  .ant-input-group.ant-input-group-compact > .ant-input:not(:first-child):not(:last-child):hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input-group.ant-input-group-compact-addon:not(:first-child):not(:last-child):focus,
  .ant-input-group.ant-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
  .ant-input-group.ant-input-group-compact > .ant-input:not(:first-child):not(:last-child):focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selection:hover,
  .ant-input-group.ant-input-group-compact > .ant-calendar-picker .ant-input:hover,
  .ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:hover,
  .ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:hover,
  .ant-input-group.ant-input-group-compact > .ant-mention-wrapper .ant-mention-editor:hover,
  .ant-input-group.ant-input-group-compact > .ant-time-picker .ant-time-picker-input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selection:focus,
  .ant-input-group.ant-input-group-compact > .ant-calendar-picker .ant-input:focus,
  .ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:focus,
  .ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:focus,
  .ant-input-group.ant-input-group-compact > .ant-mention-wrapper .ant-mention-editor:focus,
  .ant-input-group.ant-input-group-compact > .ant-time-picker .ant-time-picker-input:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-group.ant-input-group-compact > *:last-child:hover,
  .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection:hover,
  .ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input:hover,
  .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:last-child .ant-input:hover,
  .ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input:hover,
  .ant-input-group.ant-input-group-compact
  > .ant-cascader-picker-focused:last-child
  .ant-input:hover,
  .ant-input-group.ant-input-group-compact
  > .ant-mention-wrapper:last-child
  .ant-mention-editor:hover,
  .ant-input-group.ant-input-group-compact
  > .ant-time-picker:last-child
  .ant-time-picker-input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-input-group.ant-input-group-compact > *:last-child:focus,
  .ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selection:focus,
  .ant-input-group.ant-input-group-compact > .ant-calendar-picker:last-child .ant-input:focus,
  .ant-input-group.ant-input-group-compact > .ant-select-auto-complete:last-child .ant-input:focus,
  .ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input:focus,
  .ant-input-group.ant-input-group-compact
  > .ant-cascader-picker-focused:last-child
  .ant-input:focus,
  .ant-input-group.ant-input-group-compact
  > .ant-mention-wrapper:last-child
  .ant-mention-editor:focus,
  .ant-input-group.ant-input-group-compact
  > .ant-time-picker:last-child
  .ant-time-picker-input:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-group.ant-input-group-compact > *:last-child:focus .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-select:last-child
  > .ant-select-selection:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-calendar-picker:last-child
  .ant-input:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-select-auto-complete:last-child
  .ant-input:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-cascader-picker:last-child
  .ant-input:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-cascader-picker-focused:last-child
  .ant-input:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-mention-wrapper:last-child
  .ant-mention-editor:focus
  .ant-cascader-input,
  .ant-input-group.ant-input-group-compact
  > .ant-time-picker:last-child
  .ant-time-picker-input:focus
  .ant-cascader-input {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-list-item-meta-title > a:hover {
    color: @primary-color;
  }
  .flowPath{
    .ant-list-item:hover{
      background: fade(@primary-color,10%);
    }
  }
  .ant-mention-wrapper .ant-mention-editor:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-mention-wrapper .ant-mention-editor:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-mention-wrapper.ant-mention-active:not(.disabled) .ant-mention-editor {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-mention-dropdown-notfound.ant-mention-dropdown-item .anticon-loading {
    color: @primary-color;
  }
  .ant-mention-dropdown-item:hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-mention-dropdown-item.focus,
  .ant-mention-dropdown-item-active {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-layout-sider-children{
    .ant-menu-item:active,
    .ant-menu-submenu-title:active,
    .ant-menu-submenu-selected,
    .ant-menu-item-selected,
    .ant-menu-submenu-active{
      .ant-menu-submenu-title{
        color: @primary-color !important;
        background: fade(@primary-color,10%);
        .anticon{
          color: @primary-color;
          transition: none;
        }
      }
    }
  }

  .ant-menu-item > a:hover {
    color: @primary-color;
  }
  .ant-menu-submenu-popup{
    .ant-menu-item:hover,
    .ant-menu-item-active,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
      color: @primary-color;
      .ant-menu-submenu-title{
        background: fade(@primary-color,10%);
        color: @primary-color;
        i{
          color: @primary-color;
        }
      }
    }
  }
  .ant-menu-item-selected {
    color: @primary-color;
  }
  .ant-menu-item-selected > a,
  .ant-menu-item-selected > a:hover {
    color: @primary-color;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: fade(@primary-color,10%);
    color: @primary-color;
    .anticon{
      color: @primary-color;
    }
  }
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: linear-gradient(to right, @primary-color, @primary-color);
  }
  .ant-menu-vertical .ant-menu-submenu-selected,
  .ant-menu-vertical-left .ant-menu-submenu-selected,
  .ant-menu-vertical-right .ant-menu-submenu-selected {
    color: @primary-color;
  }
  .ant-menu-vertical .ant-menu-submenu-selected > a,
  .ant-menu-vertical-left .ant-menu-submenu-selected > a,
  .ant-menu-vertical-right .ant-menu-submenu-selected > a {
    color: @primary-color;
  }
  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-submenu:hover,
  .ant-menu-horizontal > .ant-menu-item-active,
  .ant-menu-horizontal > .ant-menu-submenu-active,
  .ant-menu-horizontal > .ant-menu-item-open,
  .ant-menu-horizontal > .ant-menu-submenu-open,
  .ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: @primary-color;
  }
  .ant-menu-horizontal > .ant-menu-item > a:hover {
    color: @primary-color;
  }
  .ant-menu-horizontal > .ant-menu-item-selected > a {
    color: @primary-color;
  }
  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid @primary-color;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: @primary-color;
  }
  .ant-message-info .anticon,
  .ant-message-loading .anticon {
    color: @primary-color;
  }

  .ant-confirm-info .ant-confirm-body > .anticon {
    color: @primary-color;
  }

  .ant-notification-notice-icon-info {
    color: @primary-color;
  }
  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    border-color: @primary-color;
  }
  .ant-pagination-item:focus a,
  .ant-pagination-item:hover a {
    color: @primary-color;
  }
  .ant-pagination-item-active {
    border-color: @primary-color;
  }
  .ant-pagination-item-active a {
    color: @primary-color;
  }
  .ant-pagination-item-active:focus,
  .ant-pagination-item-active:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-pagination-item-active:focus a,
  .ant-pagination-item-active:hover a {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: @primary-color;
  }
  .ant-pagination-prev:hover a,
  .ant-pagination-next:hover a {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: @primary-color;
    color: @primary-color;
  }
  .ant-pagination-options-quick-jumper input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-pagination-options-quick-jumper input:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-pagination-simple .ant-pagination-simple-pager input:hover {
    border-color: @primary-color;
  }
  .ant-progress-success-bg,
  .ant-progress-bg {
    background-color: @primary-color;
  }
  .ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-focused .ant-radio-inner {
    border-color: @primary-color;
  }
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: @primary-color;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 3px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-radio-checked::after {
    border-radius: 50%;
    border: 1px solid @primary-color;
  }
  .ant-radio-inner::after {
    background-color: @primary-color;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: @primary-color;
  }
  .ant-radio-button-wrapper:first-child:last-child {
    border-radius: @border-radius-base;
  }
  .ant-radio-button-wrapper:hover,
  .ant-radio-button-wrapper-focused {
    color: @primary-color;
  }
  .ant-radio-button-wrapper-checked {
    background: #fff;
    border-color: @primary-color;
    color: @primary-color;
    box-shadow: -1px 0 0 0 @primary-color;
  }
  .ant-radio-button-wrapper-checked::before {
    background-color: @primary-color !important;
  }
  .ant-radio-button-wrapper-checked:first-child {
    border-color: @primary-color;
  }
  .ant-radio-button-wrapper-checked:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: -1px 0 0 0 color(~`colorPalette('@{primary-color}', 5) `);
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-radio-button-wrapper-checked:active {
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
    box-shadow: -1px 0 0 0 color(~`colorPalette('@{primary-color}', 7) `);
    color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: @primary-color;
    border-color: @primary-color;
    color: #fff;
  }
  .ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    background: color(~`colorPalette('@{primary-color}', 5) `);
    color: #fff;
  }
  .ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    border-color: color(~`colorPalette('@{primary-color}', 7) `);
    background: color(~`colorPalette('@{primary-color}', 7) `);
    color: #fff;
  }
  .ant-select:not(.ant-select-disabled) .ant-select-selection:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-select-open .ant-select-selection {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-select-dropdown-menu-item:hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-select-dropdown-menu-item-active {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item-selected
  .ant-select-selected-icon,
  .ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item-selected:hover
  .ant-select-selected-icon {
    color: @primary-color;
  }
  .ant-slider-track {
    background-color: color(~`colorPalette('@{primary-color}', 3) `);
  }
  .ant-slider-handle {
    border: solid 2px color(~`colorPalette('@{primary-color}', 3) `);
  }
  .ant-slider-handle.ant-tooltip-open {
    border-color: @primary-color;
  }
  .ant-slider:hover .ant-slider-track {
    background-color: color(~`colorPalette('@{primary-color}', 4) `);
  }
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: color(~`colorPalette('@{primary-color}', 4) `);
  }
  .ant-spin {
    color: rgba(0, 0, 0, 0.65);
    color: @primary-color;
  }

  .ant-spin-dot i {
    background-color: @primary-color;
  }
  .ant-steps-item-icon > .ant-steps-icon {
    color: @primary-color;
  }
  .ant-steps-item-process .ant-steps-item-icon {
    border-color: @primary-color;
    background-color: #fff;
  }
  .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: @primary-color;
  }
  .ant-steps-item-finish .ant-steps-item-icon {
    border-color: @primary-color;
    background-color: #fff;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: @primary-color;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: @primary-color;
  }
  .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: @primary-color;
  }
  .ant-steps-item-finish > .ant-steps-item-tail::after {
    background-color: @primary-color;
  }
  .ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: @primary-color;
  }
  .ant-switch-checked.ant-switch-loading .ant-switch-loading-icon {
    color: @primary-color;
  }
  .ant-switch:focus {
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-switch-checked {
    background-color: @primary-color !important;
  }
  .ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
    color: @primary-color;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, 
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: @primary-color;
  }
  .ant-table-filter-dropdown
  .ant-dropdown-menu
  .ant-dropdown-submenu-contain-selected
  .ant-dropdown-menu-submenu-title::after {
    color: @primary-color;
  }
  .ant-table-filter-dropdown-link {
    color: @primary-color;
  }
  .ant-table-filter-dropdown-link:hover {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-table-filter-dropdown-link:active {
    color: color(~`colorPalette('@{primary-color}', 7) `);
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: #fff;
    color: @primary-color;
  }
  .ant-tabs-extra-content .ant-tabs-new-tab:hover {
    color: @primary-color;
    border-color: @primary-color;
  }
  .ant-tabs.ant-tabs-card.ant-tabs-bottom > .ant-tabs-bar .ant-tabs-tab-active {
    color: @primary-color;
  }
  .ant-tabs-ink-bar {
    background-color: @primary-color;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: @primary-color;
    .anticon {
      color: @primary-color;
    }
  }
  .ant-tabs-nav .ant-tabs-tab:active {
    color: @primary-color;
    .anticon {
      color: @primary-color;
    }
  }
  .navLayout .ant-layout-content .labelPage .ant-tabs-nav .ant-tabs-tab{
    &.ant-tabs-tab-active {
      color:@primary-color;
      .anticon {
        color: @primary-color;
      }
    }
  }
  .ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav .ant-tabs-tab-active{
    color: @primary-color;
  }
  .ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
    color: @primary-color;
  }
  .ant-tag-checkable-checked {
    background-color: @primary-color;
  }
  .ant-tag-checkable:active {
    background-color: #fff;
  }
  .main-box {
    .head-box{
      .ant-tag-checkable-checked{
        color: @primary-color ;
      }
    }
  }
  .ant-tag-blue {
    color: @primary-color;
    background: color(~`colorPalette('@{primary-color}', 1) `);
    border-color: color(~`colorPalette('@{primary-color}', 3) `);
  }
  .ant-tag-blue-inverse {
    background: @primary-color;
    border-color: @primary-color;
    color: #fff;
  }
  .ant-time-picker-panel-select li:hover {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-time-picker-input:hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-time-picker-input:focus {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
    box-shadow: 0 0 0 2px color(~`colorPalette('@{primary-color}', 2) `);
  }
  .ant-timeline-item-head-blue {
    border-color: @primary-color;
    color: @primary-color;
  }
  .ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-select-tree-checkbox-wrapper:hover .ant-select-tree-checkbox-inner,
  .ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner,
  .ant-select-tree-checkbox-input:focus + .ant-select-tree-checkbox-inner {
    border-color: @primary-color;
  }
  .ant-select-tree-checkbox-checked::after {
    border: 1px solid @primary-color;
  }
  .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner::after {
    background-color: @primary-color;
  }
  .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    background-color: @primary-color;
    color: #fff;
  }
  .ant-select-tree li span.ant-select-icon_loading .ant-select-switcher-loading-icon {
    color: @primary-color;
  }
  .ant-select-tree
  li
  span.ant-select-tree-switcher.ant-select-tree-switcher_open
  .ant-select-switcher-loading-icon,
  .ant-select-tree
  li
  span.ant-select-tree-switcher.ant-select-tree-switcher_close
  .ant-select-switcher-loading-icon {
    color: @primary-color;
  }
  .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover::before,
  .ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li
  span.ant-tree-node-content-wrapper:hover::before {
    background: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-tree.ant-tree-directory
  > li.ant-tree-treenode-selected
  > span.ant-tree-checkbox
  .ant-tree-checkbox-inner,
  .ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li.ant-tree-treenode-selected
  > span.ant-tree-checkbox
  .ant-tree-checkbox-inner {
    border-color: @primary-color;
  }
  .ant-tree.ant-tree-directory
  > li.ant-tree-treenode-selected
  > span.ant-tree-checkbox.ant-tree-checkbox-checked
  .ant-tree-checkbox-inner::after,
  .ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li.ant-tree-treenode-selected
  > span.ant-tree-checkbox.ant-tree-checkbox-checked
  .ant-tree-checkbox-inner::after {
    border-color: @primary-color;
  }
  .ant-tree.ant-tree-directory
  > li.ant-tree-treenode-selected
  > span.ant-tree-node-content-wrapper::before,
  .ant-tree.ant-tree-directory
  .ant-tree-child-tree
  > li.ant-tree-treenode-selected
  > span.ant-tree-node-content-wrapper::before {
    background: @primary-color;
  }
  .ant-tree-checkbox-wrapper:hover .ant-tree-checkbox-inner,
  .ant-tree-checkbox:hover .ant-tree-checkbox-inner,
  .ant-tree-checkbox-input:focus + .ant-tree-checkbox-inner {
    border-color: @primary-color;
  }
  .ant-tree-checkbox-checked::after {
    border: 1px solid @primary-color;
  }
  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
    background-color: @primary-color;
  }
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-tree li.drag-over > span[draggable] {
    background-color: @primary-color;
    color: #fff;
  }
  .ant-tree li.drag-over-gap-top > span[draggable] {
    border-top-color: @primary-color;
  }
  .ant-tree li.drag-over-gap-bottom > span[draggable] {
    border-bottom-color: @primary-color;
  }
  .ant-tree
  li.ant-tree-treenode-loading
  span.ant-tree-switcher.ant-tree-switcher_open
  .ant-tree-switcher-loading-icon,
  .ant-tree
  li.ant-tree-treenode-loading
  span.ant-tree-switcher.ant-tree-switcher_close
  .ant-tree-switcher-loading-icon {
    color: @primary-color;
  }
  .ant-tree li .ant-tree-node-content-wrapper:hover {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: @primary-color;
    color: #fff;
  }
  .ant-upload.ant-upload-select-picture-card:hover {
    border-color: @primary-color;
  }
  .ant-upload.ant-upload-drag.ant-upload-drag-hover:not(.ant-upload-disabled) {
    border: 2px dashed color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: color(~`colorPalette('@{primary-color}', 5) `);
  }
  .ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: color(~`colorPalette('@{primary-color}', 1) `);
  }

  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }
  .backlog{
    .ant-list-item:hover{
      background-color: fade(@primary-color, 10%);
      .title{
        color: @primary-color;
      }
    }
  }
  .shortcut {
    .ant-card-bordered{
      .ant-card-head{
        .ant-card-head-title{
          background: #f5f7fa;
          a{
            color: #252b3a;
            transition: none;
          }
        }
        .ant-card-head-title:hover{
          background:@primary-color;
          a,.anticon {
            color:#fff;
          }
        }
      }
    }
  }
}