/* renke 主题样式 start */
.avic_skin(
@primary-color,
@theme-start,
@theme-end,
@nav-start,
@nav-end,
@content-bg: #f2f2f2
) {

  /***  ----------------3、公共元素样式start-------- ------------------- */
  // td:hover之后的颜色
  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: fade(@primary-color,5%);
  }
  /* 主题菜单中的收藏图标 */
  .icon-menu-fav {
    color: @primary-color !important;
  }

  /* 主题-个人设置Pop层 */
  .popover-user {
    .ant-popover-inner-content {
      .popover-user-con {
        li:hover {
          background-color:fade(@primary-color,10%);
          color:@primary-color;
        }
      }
    }
  }
  /* 主题-消息Pop层 */
  .popover-news {
    .ant-popover-inner-content {
      .popover-news-new {
        li:hover {
          background-color:fade(@primary-color,10%);
        }
      }
    }
  }
  /* renke 主题样式 end */
  /* 页签右键菜单样式皮肤 By Cj start */
  .context-menu .context-menu-list:hover {
    color: @primary-color;
    background: fade(@primary-color,10%) !important;
  }
  /* 页签右键菜单样式皮肤 By Cj end */
  .module .backlog .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr:hover > td:nth-child(1) a{
    color: @primary-color;
  }
  .bpm-start-process .avic-module-tab .ant-tabs-content .process-tab-pane .process-tab-content .process-model-group{
    border-left: 3px solid @primary-color;
  }
}


