@import '../avic-default';
// avic-default中只是枚举了所有ant-design样式中可能用到的产量
// 不一定都在平台自定义样式base-style中用到
// 非ant-design控件也统一使用avic-default中常量进行样式管理
// 例如目前只支持@primary-color修改主色调和@border-radius-base修改圆角
// 需要支持其他属性需另外在base-style中扩展
// * vue.config.js 中已设置的常量会覆盖全局其他的同名常量*
// 下面的border属性在取消注释后会覆盖上方引入的avic-default中的同名属性
// @border-radius-base:4px;
@import '~@assets/styles/common/base-style';
@import 'skin-register';
@import '~@comp/avic/pt/common/AvicBaseTable/style/base';
.theme-blue-initial {
  .theme( #0e94cd, #29b8cc, #0b67a7, #0b67a7, #29b8cc, #e8edf7 ); // 默认蓝色
  /* 换肤-默认蓝色 */
  .navLayout {
    .ant-layout-content {
      background: #0b67a7;
      .index-con {
        padding: 12px;
        // background: rgba(0,0,0,0.1);
      }
    }
    .base-layout-sider {
      .ant-input-search {
        //导航搜索框
        .ant-input {
          background: rgba(255, 255, 255, 0.15);
          color: #bcd5e1;
          border: 1px solid rgba(255, 255, 255, 0.15);
        }
        .ant-input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.6) !important;
        }
        .ant-input-suffix {
          .anticon {
            color: #fff;
          }
        }
      }
      .base-menu {
        background: none;
        border: none;
        .ant-menu-item > .anticon {
          color: #fff;
        }
        .ant-menu-item {
          padding-right: 29px;
          // padding-left: 16px !important;
        }
        .ant-menu-item-active,
        .ant-menu-item:hover,
        .ant-menu-submenu-active,
        .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
        .ant-menu-submenu-popup .ant-menu-item-selected,
        .ant-menu-item-selected,
        .ant-menu-submenu .ant-menu-submenu-title:hover {
          color: #fff !important;
          background-color: rgba(255, 255, 255, 0.15) !important;
          .anticon {
            color: #fff !important;
          }
          .ant-menu-submenu-title:hover {
            color: #fff !important;
          }
        }
        .ant-menu-item,
        .ant-menu-submenu,
        .ant-menu-submenu .ant-menu-submenu-title {
          color: #fff !important;
          .anticon {
            color: #fff !important;
          }
        }
        .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
        .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
        .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
        .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.3)
          );
        }
      }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        color: #fff;
        .anticon {
          color: #fff;
        }
      }
      
    }
    .ant-menu-submenu > .ant-menu {
      border-radius: 0;
    }
    .ant-layout-content .labelPage {
      //background: #fff;
      // border-left: 1px solid #f1f1f1;
    }
    .ant-layout-content .index-con .panel .ant-list-split .ant-list-item a:hover {
      color: #0e94cd;
    }
    .theme-content {
      // padding: 8px;
      // overflow: auto;
      // height: calc(100% - 36px);

      .theme-content-wrapper {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 110px);
        > *:first-child {
          min-height: calc(100vh - 110px);
          width: 100%;
        }
      }
    }
  }
  /* 框架样式补充 By Cj start */
  .navLayout-h {
    .labelPage .ant-tabs.ant-tabs-card .ant-tabs-tab .ant-tabs-close-x {
      opacity: 1 !important;
    }
  }
  /* 框架样式补充 By Cj end */
}
.theme-blue {
  .theme(#526ecc, #526ecc, #526ecc, #fff, #fff, #e8edf7 ); // 蓝色
}
.theme-red {
  .theme(#c02c38, #c02c38, #c02c38, #fff, #fff, #e8edf7 ); // 红色
}
.theme-purple {
  .theme(#724eb7, #724eb7, #724eb7, #fff, #fff, #e8edf7 ); // 紫色
}
.theme-green {
  .theme(#12a182, #12a182, #12a182, #fff, #fff, #e8edf7 ); // 绿色
}
.theme-ashen {
  .theme(#66697a, #66697a, #66697a, #fff, #fff, #e8edf7 ); // 灰白色
  a,
  a:active,
  a:hover,
  a:focus {
    color: #222;
  }
}

/* 登录页固定色，不跟随皮肤 */
.loginBox {
  .theme(#0e94cd, #29b8cc, #0b67a7, #0b67a7, #29b8cc ); // 默认蓝色
}
