@charset "utf-8";
.container{
    width: 100%;
    height: 100%;
    background: url(~@assets/images/console/img_bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.topside-layout-header{
    width: 100%;
    height: 64px;
    background: url(~@assets/images/console/bg_header.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 28px 0 35px;
    box-sizing: border-box;
}
.logo{
    margin: 6px 6px 0 0;
    float: left;
    height: 48px;
    width: 48px;
}
.system-title{
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 22px;
  color: #fff;
}
.topside-layout-header .head_right{
    float: right;
}
.topside-layout-header .head_right p{
    width: 42px;
    height: 36px;
    margin: 27px 0;
    position: relative;
    float: left;
}
.topside-layout-header .head_right p em{
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
    border-radius: 14px;
    line-height: 14px;
    padding: 4px 6px;
    background: #ff0000;
    position: absolute;
    top: -10px;
    right: -10px;
}
.user{
  float: right;
  height: 40px;
  margin: 12px 5px 12px 5px;
}
.user img{
    float: left;
}
.user img.bottom{
    margin: 13px 0 13px 10px;
}
.user span{
    float: left;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.container .content{
    flex-direction: column;
    width: 100%;
    height: calc(100% - 329px);
    padding: 0px 53px 0px 53px;
    box-sizing: border-box;
}
.fav-menu-wrapper{
    width: 100%;
    position: relative;
    height: 105px;
}
.ul_top::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
}
.ul_top::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
   border-radius: 6px;
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    background: #0081cc;
}
.ul_top::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 6px;
    background: #00639c;
}
/* 收藏按钮*/
.fav-menu-wrapper .ul_top{
    /* position: absolute;
    z-index: 8999; */
    padding: 12px 48px 12px 48px;
}
.fav-menu-wrapper .ul_top.ul_toggle{
  /* width: calc(100% - 183px);
  overflow-x: scroll; */
  display: inline-flex;
  width: 100%;
}
.fav-menu-wrapper .ul_top.ul_open{
    background: url(~@assets/images/console/img_bg.jpg) no-repeat;
    border-bottom: 1px solid#00a0ea;
    max-height: 500px;
    overflow: auto;
}
.fav-menu-wrapper ul.ul_top a{
  margin: 0 0.5%;
  min-width: 9%;
  width: 9%;
}
.fav-menu-wrapper ul.ul_top .fav-menu {
  width: 100%;
  height: 60px;
  border-radius: 2px;
  padding: 18px 6px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  display: block;
  word-wrap: break-word;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
.fav-menu-wrapper ul.ul_top .fav-menu  em{
    width: 36px;
    height: 36px;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    background: #d9001b;
    position: absolute;
    top: -10px;
    right: -16px;
}
.fav-menu-wrapper ul.ul_top .fav-menu.list1{
    background: -moz-linear-gradient(top,#12afff,#1e3e9d);
    background: -webkit-gradient(linear,0 50%,100% 50%,from(#12afff),to(#1e3e9d));
    background: -webkit-linear-gradient(top,#12afff,#1e3e9d);
    background: -o-linear-gradient(top,#12afff,#1e3e9d);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12afff', endColorstr='#1e3e9d',GradientType=1 );
}

.fav-menu-wrapper ul.ul_top .fav-menu.list0{
    background: -moz-linear-gradient(top,#41f3aa,#079751);
    background: -webkit-gradient(linear,0 50%,100% 50%,from(#41f3aa),to(#079751));
    background: -webkit-linear-gradient(top,#41f3aa,#079751);
    background: -o-linear-gradient(top,#41f3aa,#079751);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41f3aa', endColorstr='#079751',GradientType=1 );
}

.fav-menu-wrapper ul.ul_top .fav-menu.list2{
    background: -moz-linear-gradient(top,#4afaf8,#0082da);
    background: -webkit-gradient(linear,0 50%,100% 50%,from(#4afaf8),to(#0082da));
    background: -webkit-linear-gradient(top,#4afaf8,#0082da);
    background: -o-linear-gradient(top,#4afaf8,#0082da);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4afaf8', endColorstr='#0082da',GradientType=1 );
}

.fav-menu-wrapper ul.ul_top .fav-menu.list-add{
    background: #9bd0e81f;
    border: 1px dashed #2687c9;
    margin: 0 6px;
    padding: 6px 10px;
    width: 9%;
}
.fav-menu-wrapper ul.ul_top .fav-menu.list-add img{
  height: 48px;
  width: 48px;
}
.fav-menu-wrapper .con_meun_all{
    position: absolute;
    z-index: 999;
}
.con_middle{
    /* margin-top: 40px; */
    display: inline-flex;
    height: 100%;
    justify-content: center;
}
.bet_left{
    width: 26%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}
p.font_head{
    font-size: 20px;
    color: #00eaff;
    line-height: 20px;
    position: relative;
    text-indent: 24px;
    margin:0;
}
p.font_head img{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
div.bet_box{
    margin-top: 12px;
    height: 100%;
    overflow-y: auto;
}
div.bet_box img {
    width: 100%;
}
div.bet_other_box{
    margin-top: 20px;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(17,47,94,0.2);
    border: 1px solid rgba(0,234,255,0.1);
    border-radius: 5px;
    color: #0395f8;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
ul.bet_list{
    padding-right: 10px;
}
.bet_box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
}
.bet_box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 6px;
    background: #0081cc;
}
.bet_box::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 6px;
    background: #00639c;
}

ul.bet_list li{
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,234,255,0.1);
    border-radius: 2px;
    width: 100%;
    padding: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
ul.bet_list li p{
    color: #00eaff;
    font-size: 14px;
    line-height: 14px;
	width: 100%;
    word-break: break-all;
}
ul.bet_list li p span{
    float: right;
    color: #00eaff;
    font-size: 14px;
}
ul.bet_list li p span i{
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
}
ul.bet_list li a{
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    margin-top: 14px;
    display: block;
    width: 100%;
    word-break: break-all;
}
.bet_middle{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 48%;
    box-sizing: border-box;
    padding: 0px 52px;
}
.bet_middle p.font_head{
    position: relative;
}
.con_focus p{
    color: #85e3fd;
    font-size: 16px;
    line-height: 48px;
}
p.font_head a.add img{
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
}
.bet_right{
    height: 100%;
    width: 26%;
    display: inline-flex;
    flex-direction: column;
}
.bet_right em{
  font-style: normal;
  color: #ffffff;
  font-size: 12px;
  border-radius: 12px;
  line-height: 10px;
  padding: 3px 6px 4px 4px;
  background: #ff0000;
  position: absolute;
  top: -12px;
  left: 10px;
  text-indent: 0px;
}
.earlyWarning{
    height: 58px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,234,255,0.1);
    border-radius: 2px;
    width: 100%;
    margin: 12px 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.earlyWarning img.earlyWarning_img{
    float: left;
    margin: 5px 0;
}
.earlyWarning p{
    float: left;
    line-height: 30px;
    text-indent: 10px;
}
.earlyWarning span{
    float: left;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    margin-left: 10px;
}
.earlyWarning .button{
    float: right;
    width: 13px;
    margin: 13px 0;
}
a.button{
    width: 95px;
    height: 95px;
    position: absolute;
    left: 26px;
    bottom: 26px;
    z-index: 100;
}

.warning-panel{
  height: 48px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,234,255,0.1);
  border-radius: 2px;
  width: 100%;
  margin: 12px 0;
  padding: 8px 16px;
  box-sizing: border-box;
}
.warning-panel .warning-wrapper{
  height: 32px;
}
.warning-panel .icon-warning{
  float: left;
  width: 30px;
  height: 30px;
}
.warning-panel p{
  float: left;
  line-height: 30px;
  text-indent: 10px;
}
.warning-panel .warning-msg{
  float: left;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
}

.warning-slider-wrapper{
  overflow: hidden;
  height: 30px;
  padding: 0;
}
.warning-slider-wrapper span{
    width: 100%;
}
.arttext{
    background-image: -webkit-linear-gradient(bottom, #0395f8, #4afaf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
/* 大屏深蓝主题Index页面底部样式 START */
.con_bottom{
  height: 130px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
ul.lymeun{
  position: absolute;
  right: 50px;
  bottom: 4px;
}
ul.lymeun a{
  color: #fff;
}
ul.lymeun li{
  float: left;
  width: 112px;
}
ul.lymeun li img{
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: block;
  z-index: 8000;
  position: relative;
}
ul.lymeun li span{
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
}
.lymeun li ul{
  background: #0096ff;
  height: 64px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  left: -55px;
  text-align: center;
  line-height: 64px;
  color: #ffffff;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 16px;
}
ul.lymeun li.lysystem{
  display: none;
  width: auto;
}
ul.lymeun li.lysystem.selected{
  display: list-item;
}
ul.lymeun li ul li{
  width: 138px;
  padding: 0px 5px;
  height: 64px;
  overflow: hidden; 
}
/* 大屏深蓝主题Index页面底部样式 END */