<template>
  <div class="empty-body">
    <img class="img_401" src="@/views/avic/pt/system/portLet/portLetCards/images-m/img401.png" />
    <!--       <a-icon class="img_lock" type="lock" theme="filled"/>-->
    <span>非常抱歉！您无权访问该页面！</span>
  </div>
</template>

<script>
export default {
  name: '401'
};
</script>

<style lang="less" scoped>
.empty-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-flow: column;
  .img_401 {
    position: relative;
    display: inline-block;
    max-width: 240px;
    height: 50%;
    max-height: 128px;
  }
  span {
    margin-top: 10px;
  }
}
</style>
