<template>
  <div class="module module04">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 仪表盘<span>(10)</span> </template>
        <div class="module-in">
          <ul class="information02">
            <li>
              <div class="sky">
                <!-- 此为图表盒子 -->
                <img src="@/views/avic/pt/system/portLet/portLetCards/images-m/img01.png" alt="" />
              </div>
              <div class="information02-data">
                <span>50%</span>
                <p>压力仪表盘</p>
              </div>
            </li>
            <li>
              <div class="sky">
                <!-- 此为图表盒子 -->
                <img src="@/views/avic/pt/system/portLet/portLetCards/images-m/img02.png" alt="" />
              </div>
              <div class="information02-data">
                <span>28%</span>
                <p>完成率</p>
              </div>
            </li>
          </ul>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>
<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
export default {
  name: 'DashboardChart',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
