<template>
  <!-- 最新动态 -->
  <div class="module module06">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 最新动态<span>(10)</span> </template>
        <div class="module-in">
          <div class="dynamic">
            <a-timeline>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">张梦鸽</span>
                <span class="span02">需求贴：求（#PT_V5_3040）excel导入源码</span>
                <p>4小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">孙琪琪</span>
                <span class="span02">问题贴：怎样更改流程选人中拟稿人初始化值</span>
                <p>5小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">徐在于</span>
                <span class="span02">问题贴：635 电子视图 参数域 组件</span>
                <p>6小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">平台管理员</span>
                <span class="span02">登录系统，进行修改密码操作</span>
                <p>7小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">平台管理员</span>
                <span class="span02">登录系统，进行修改密码操作</span>
                <p>8小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">崔晶晶</span>
                <span class="span02">登录系统，进行修改密码操作</span>
                <p>8小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">陈建</span>
                <span class="span02">登录系统，进行修改密码操作</span>
                <p>9小时之前</p>
              </a-timeline-item>
              <a-timeline-item>
                <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px" />
                <span class="span01">王鹏</span>
                <span class="span02">登录系统，进行修改密码操作</span>
                <p>9小时之前</p>
              </a-timeline-item>
            </a-timeline>
          </div>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>

<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
// import MtimeIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/MtimeIcon';
export default {
  name: 'LatestNews',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {};
  },
  methods: {
    callback() {
      console.log();
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
