<template>
  <div class="module module02 bpm-task">
    <a-tabs class="bpm-task-tabs">
      <div slot="tabBarExtraContent" class="bpm-task-header">
        <shuaxin-icon class="theme-main-hover-color panel-icon" @click="loadData" />
        <router-link :to="taskManagePath">
          <gengduo-icon class="panel-icon" />
        </router-link>
      </div>
      <a-tab-pane key="todo" :force-render="true" class="bpm-task-pane">
        <span slot="tab">我的待办</span>
        <div class="module-in">
          <a-skeleton active :loading="loading">
            <div class="backlog">
              <vue-scroll :ops="ops">
                <a-list size="default" tem-layout="horizontal" :data-source="toDoData">
                  <a-list-item slot="renderItem" slot-scope="item">
                    <a-list-item-meta>
                      <a slot="title">
                        <span class="title" @click="toFlowDetail(item)">
                          {{ item.processDefName }}----{{ item.activityalias_ }}
                        </span>
                        <span class="todo">
                          <AvicBpmSubmitTaskBtn
                            :flow-task="item"
                            @bpmSubmitSuccess="bpmSubmitSuccess"
                        /></span>
                        <span class="todo-time">{{ item.cTime }}</span>
                        <span class="todo-name">{{ item.taskSendUser }}</span>
                      </a>
                    </a-list-item-meta>
                  </a-list-item>
                </a-list>
              </vue-scroll>
            </div>
          </a-skeleton>
        </div>
      </a-tab-pane>
      <a-tab-pane key="read" :force-render="true" class="bpm-task-pane">
        <span slot="tab">我的待阅</span>
        <div class="module-in bpm-task-content">
          <div class="backlog">
            <vue-scroll :ops="ops">
              <a-list size="default" item-layout="horizontal" :data-source="toReadData">
                <a-list-item slot="renderItem" slot-scope="item">
                  <a-list-item-meta>
                    <a slot="title">
                      <span class="title" @click="toFlowDetail(item)">
                        {{ item.processDefName }}----{{ item.activityalias_ }}
                      </span>
                      <span class="todo">
                        <a-button type="link" @click="handleToRead(item)" style="font-size: 12px">
                          已阅
                        </a-button>
                      </span>
                      <span class="todo-time">{{ item.cTime }}</span>
                      <span class="todo-name">{{ item.taskSendUser }}</span>
                    </a>
                  </a-list-item-meta>
                </a-list-item>
              </a-list>
              <!-- <a-table
                :columns="columns"
                :data-source="toReadData"
                row-key="dbid"
                :loading="loading"
                :show-header="false"
                size="small"
              >
                <span slot="flowDetailLink" slot-scope="text, record">
                  <a href="javascript:;" class="todo-action" @click="toFlowDetail(record)">{{
                    text
                  }}</a>
                </span>
                <span slot="action" slot-scope="text, record">
                  <a href="javascript:;" class="todo-action" @click="handleToRead(record)">已阅</a>
                </span>
              </a-table> -->
            </vue-scroll>
          </div>
        </div>
      </a-tab-pane>
    </a-tabs>
    <AvicBpmDetailList />
  </div>
</template>
<script>
import { Tabs } from 'ant-design-vue';
import { httpAction } from '@/api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import AvicBpmSubmitTaskBtn from '@comp/avic/bpm/AvicBpmTask/AvicBpmSubmitTaskBtn';
import AvicBpmDetailList from '@/components/avic/bpm/AvicBpmDetailList';
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';

const columns = [
  {
    title: '流程模板',
    dataIndex: 'processDefName',
    scopedSlots: { customRender: 'flowDetailLink' },
    ellipsis: true
  },
  {
    title: '流程节点',
    dataIndex: 'activityalias_'
  },
  {
    title: '提交人',
    dataIndex: 'taskSendUser',
    width: 120,
    align: 'center'
  },
  {
    title: '提交时间',
    dataIndex: 'cTime',
    width: 160,
    align: 'center'
  },
  {
    title: '操作',
    dataIndex: 'dbid',
    scopedSlots: { customRender: 'action' },
    width: 80,
    align: 'center'
  }
];

export default {
  name: 'MyTask',
  components: {
    GengduoIcon,
    ShuaxinIcon,
    // 自定义图标
    AvicBpmSubmitTaskBtn,
    AvicBpmDetailList,
    ATabs: Tabs,
    ATabPane: Tabs.TabPane
  },
  data: () => {
    return {
      taskManagePath: '/BpmTaskManage',
      columns,
      loading: false,
      toDoData: [],
      toReadData: [],
      pageSize: 8,
      httpConfig: {
        getBpmTask: {
          url: bpmUtils.baseurl + '/todo/portal/waittodo/v1',
          method: 'post'
        },
        saveFinishReader: {
          url: bpmUtils.baseurl + '/business/finishreader/v1',
          method: 'post'
        }
      },
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      }
    };
  },
  created() {
    this.loadData();
  },
  //流程详情页面关闭后刷新页面
  beforeRouteEnter(to, from, next) {
    next(_this => {
      window['bpmOperatorRefresh'] = () => {
        _this.loadData();
      };
    });
  },
  methods: {
    toFlowDetail(row) {
      bpmUtils.executeTask(
        row.processInstance,
        row.executionId,
        row.dbid,
        row.businessId,
        row.formResourceName,
        row.processDefName || row.taskTitle,
        row.taskType
      );
    },
    loadData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      let param = {
        pageSize: this.pageSize,
        tabType: 'todo'
      };
      httpAction(this.httpConfig.getBpmTask.url, param, this.httpConfig.getBpmTask.method)
        .then(res => {
          if (res.success) {
            this.toDoData = res.result.todoRows;
            this.toReadData = res.result.readRows;
          }
          this.loading = false;
        })
        .catch(e => {
          this.loading = false;
        });
    },
    loadToReadData() {
      if (this.loading) {
        return;
      }
      this.loading = true;
      let param = {
        pageSize: this.pageSize,
        tabType: 'read'
      };
      httpAction(this.httpConfig.getBpmTask.url, param, this.httpConfig.getBpmTask.method)
        .then(res => {
          if (res.success) {
            this.toReadData = res.result.readRows;
          }
          this.loading = false;
        })
        .catch(e => {
          this.loading = false;
        });
    },
    handleToRead(row) {
      // modal提示是否删除
      this.$confirm({
        title: '确定标记为已阅吗？',
        onOk: () => {
          // 确认删除
          this.saveFinishReader(row);
        }
      });
    },
    saveFinishReader(row) {
      let param = {
        dbid: row.dbid,
        entryId: row.processInstance,
        doTask: true
      };
      httpAction(
        this.httpConfig.saveFinishReader.url,
        param,
        this.httpConfig.saveFinishReader.method
      )
        .then(res => {
          if (res.success) {
            this.loadData();
          }
        })
        .catch(e => {});
    },
    bpmSubmitSuccess() {
      this.loadData();
    }
  }
};
</script>
<style lang="less">
@import './style/base.less';
.bpm-task {
  height: 100%;
  .ant-table-content .ant-table-placeholder {
    border: none !important;
    .ant-empty {
      margin-top: 88px;
    }
  }
  .bpm-task-header {
    .header-icon {
      margin-right: 5px;
    }
  }
  .bpm-task-tabs {
    height: 100%;
    .ant-tabs-bar {
      margin: 0;
    }
    .ant-tabs-top-content {
      height: calc(100% - 46px);
      .bpm-task-pane {
        height: 100%;
        .module-in {
          height: 100%;
        }
      }
    }
  }
  .bpm-task-content {
    height: 100%;
  }

  .ant-table-small {
    border: none;
  }
  .todo-action {
    text-decoration: none;
  }
}
</style>
