<template>
  <div class="module module02">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 通知公告<span>(10)</span> </template>
        <div class="module-in">
          <a-list bordered :data-source="data">
            <a-list-item slot="renderItem" slot-scope="item, index">
              <span>
                <a :href="item.url"> {{ item.title }}</a>
              </span>
              <a-badge class="a-badge-new" count="NEW" v-if="index < 3" />
              <span v-else />
              <span>{{ item.time }}</span>
              <span>{{ item.name }}</span>
            </a-list-item>
          </a-list>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>

<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
const data = [
  //通知公告
  {
    title: '【技术支持与培训】 Redis简介及Redis高可用',
    time: '7-8',
    name: '康晓光',
    url: 'https://www.baidu.com/'
  },
  {
    title: '【技术支持与培训】基于mxgraph的模型开发方法',
    time: '7-1',
    name: '王鹤',
    url: 'https://www.baidu.com/'
  },
  {
    title: '【协同研发平台】 协同研发平台用户密码重置',
    time: '6-22',
    name: '连长鹤',
    url: 'https://www.baidu.com/'
  },
  {
    title: '【技术支持与培训】 帆软最新临时授权文件【2020.8.20】',
    time: '6-3',
    name: '薛雪莉',
    url: 'https://www.baidu.com/'
  },
  {
    title: '【技术支持与培训】 基于模型的软件开发方法',
    time: '4-11',
    name: '董永江',
    url: 'https://www.baidu.com/'
  },
  {
    title: '【技术支持与培训】 应用系统宕机紧急采集JVM信息脚本及其使用说明',
    time: '4-8',
    name: '薛雪莉',
    url: 'https://www.baidu.com/'
  }
];
export default {
  name: 'NoticeAnnouncement',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {
      data
    };
  },
  methods: {
    callback() {
      console.log();
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
.ant-empty {
  margin-top: 96px;
}
</style>
