<template>
  <!-- 快捷入口 -->

  <div class="module module04">
    <a-tabs default-active-key="1">
      <a-tab-pane key="1">
        <template slot="tab"> 快捷入口<span>(10)</span> </template>
        <div class="module-in">
          <div class="shortcut">
            <a-list
              :grid="{ gutter: 16, xs: 2, sm: 2, md: 2, lg: 3, xl: 3, xxl: 3 }"
              :data-source="shortcutData"
            >
              <a-list-item slot="renderItem" slot-scope="item">
                <a-card>
                  <template slot="title">
                    <a href="#">
                      <a-icon :type="item.icon" theme="filled" />
                      {{ item.title }}
                    </a>
                  </template>
                </a-card>
              </a-list-item>
            </a-list>
          </div>
        </div>
      </a-tab-pane>
      <!-- 右侧图标 -->
      <template slot="tabBarExtraContent">
        <shuaxin-icon class="panel-icon" />
        <gengduo-icon class="panel-icon" />
      </template>
    </a-tabs>
  </div>
</template>

<script>
import GengduoIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/GengduoIcon';
import ShuaxinIcon from '@/views/avic/pt/system/portLet/portLetCards/icon/ShuaxinIcon';
const shortcutData = [
  //快捷入口
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '我的经费'
  },
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '我的出差'
  },
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '会议申请'
  },
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '我的请假'
  },
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '办公用品'
  },
  {
    icon: 'file-text',
    url: 'https://www.baidu.com/',
    title: '添加更多'
  }
];
export default {
  name: 'QuickAccess',
  components: {
    // 自定义图标
    GengduoIcon,
    ShuaxinIcon
  },
  data() {
    return {
      shortcutData //快捷入口
    };
  },
  methods: {
    callback() {
      console.log();
    }
  }
};
</script>

<style lang="less" scoped>
@import './style/base.less';
</style>
