<!-- 选角色 -->
<template>
  <a-modal
    :width="680"
    :body-style="{ height: '469px' }"
    wrap-class-name="common-content role-select-content vxe-table--ignore-clear"
    centered
    title=""
    :visible="visible"
    :destroy-on-close="false"
    :mask-closable="false"
    @ok="handleOk"
    @cancel="handleClose"
  >
    <div class="popup-title">
      <h2>{{ title }}</h2>
      <h4>{{ sideInfo }}</h4>
    </div>
    <div class="commonselect-container-box">
      <div class="container-left">
        <div class="v-select">
          <a-select
            v-if="orgList.length > 0"
            style="width: 142px"
            placeholder="当前组织"
            show-search
            option-filter-prop="children"
            :filter-option="filterOption"
            :value="orgSelect.id"
            @change="handleChange"
          >
            <a-select-option :key="item.id" :value="item.id" v-for="item in orgList">
              {{ item.orgName }}
            </a-select-option>
          </a-select>
          <a-input-search
            :class="{ 'only-search': orgList.length == 0 }"
            :placeholder="searchPlaceholder"
            :allow-clear="true"
            v-model="searchText"
            @search="handleSearch"
          />
        </div>
        <div class="container-checkbox">
          <AvicBigTable
            :ref="tableRefName"
            :bordered="false"
            :style="{ height: '100%' }"
            :is-auto-count-scroll-x="true"
            :is-multi-selection="isMultiSelection"
            :columns="columns"
            :data-source="data"
            :row-key="rowKey"
            :data-index="dataIndex"
            :is-add-order-number="false"
            :is-custom-row-click-as-single-check="false"
            :radio-column-setting="{ width: 30 }"
            :checkbox-column-setting="{ width: 30 }"
            :pagination-default="pagination"
            @getData="getData"
            @handleRowSelection="handleRowSelection"
            @handleTableChange="handleTableChange"
            @handleRowDblClick="handleRowDblClick"
          >
            <template scope="obj">
              <span class="cell-txt" :title="obj.data[dataIndex]">
                <span>{{ obj.data[dataIndex] }}</span>
              </span>
              <span class="cell-popover">
                <b>
                  <a-popover>
                    <template slot="content">
                      <p style="margin: 0">
                        {{ obj.data['desc'] ? obj.data['desc'] : '暂无描述' }}
                      </p>
                    </template>
                    <a-icon type="question-circle" />
                  </a-popover>
                </b>
              </span>
            </template>
          </AvicBigTable>
        </div>
      </div>
      <div class="container-right">
        <div class="container-right-top">
          <a-checkbox
            :indeterminate="indeterminate"
            :checked="checkAll"
            @change="handleCheckAllChange"
          >
            已选{{ name }}
          </a-checkbox>
          <a-icon class="total-delete-icon" type="delete" @click="handleDelSelectedTotal" />
        </div>
        <div class="checkgroup">
          <ul v-if="select.length > 0">
            <draggable
              v-model="select"
              v-bind="dragOptions"
              handle=".li-drag"
              @start="drag = true"
              @end="dragEnd"
            >
              <li v-for="item in select" :key="item.id" :title="item.roleName">
                <div class="checkbox-area">
                  <a-checkbox
                    :value="item.id"
                    :checked="item.checked"
                    @change="handleSelectChange(item)"
                  >
                    <span>{{ item.roleName }}</span>
                    <span style="color: #c9c9c9; font-size: 12px">
                      {{ item.orgIdentityName ? '(' + item.orgIdentityName + ')' : '' }}
                    </span>
                  </a-checkbox>
                </div>
                <div class="checkadd custom-icons-list li-drag">
                  <AvicIcon icon-source="avic" svg-name="drag" />
                </div>
                <div class="checkclose" @click="handleDelSelectedItem(item)">
                  <a-icon type="close-circle" theme="filled" />
                </div>
              </li>
            </draggable>
          </ul>
          <div v-else style="width: 100%; height: 100%">
            <a-empty :image="simpleImage" class="no-data" />
          </div>
        </div>
      </div>
    </div>
  </a-modal>
</template>
<script>
import { Modal, Select, Input, Checkbox, Icon, Empty, Popover } from 'ant-design-vue';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
import draggable from 'vuedraggable';
import { searchOrgName, selectOrgName } from './api';
import { httpAction } from '@/api/manage';
//角色列
const roleColumns = [
  {
    title: '角色名称',
    dataIndex: 'roleName'
  }
];
export default {
  name: 'RoleSelect',
  components: {
    AModal: Modal,
    ASelect: Select,
    ASelectOption: Select.Option,
    AInputSearch: Input.Search,
    ACheckbox: Checkbox,
    AIcon: Icon,
    AEmpty: Empty,
    APopover: Popover,
    AvicBigTable: () => import('@comp/avic/pt/common/AvicBigTable'),
    draggable,
    AvicIcon
  },
  props: {
    //是否显示
    show: {
      type: Boolean,
      required: true,
      default: false
    },
    // 名称
    name: {
      type: String,
      default: '角色'
    },
    // 标题
    title: {
      type: String,
      default: '角色选择'
    },
    // 辅助提示信息
    sideInfo: {
      type: String,
      default: ''
    },
    // 搜索提示
    searchPlaceholder: {
      type: String,
      default: '请输入角色名称'
    },
    //单选 single ，多选 multi
    selectModel: {
      type: String,
      required: false,
      default: 'single'
    },
    //多选最多选择数量
    maxSelect: {
      type: Number,
      required: false,
      default: 0
    },
    defaultValue: {
      type: Object,
      required: false,
      default: null
    },
    //双向绑定改变事件
    modelChange: {
      type: [Object, String],
      required: false,
      default: null
    },
    //组织范围
    viewScope: {
      type: String,
      required: false,
      default: ''
    },
    //应用id
    appId: {
      type: String,
      required: false,
      default: ''
    },
    //默认加载指定组织下的数据
    defaultOrgId: {
      type: String,
      required: false,
      default: ''
    },
    //组织id
    orgId: {
      type: String,
      required: false,
      default: ''
    },
    // 角色请求接口url
    roleUrl: {
      type: String,
      default: '/api/appsys/common/select/getInitRoleInfo/v1'
    },
    // 角色请求接口method
    roleMethodType: {
      type: String,
      default: 'POST'
    },
    // 获取初始化角色的组织信息请求地址
    getInitRoleInfoUrl: {
      type: String,
      default: '/api/appsys/common/select/getSelectedRoleInfo/v1'
    },
    // 获取初始化角色的组织信息请求类型
    getInitRoleInfoMethod: {
      type: String,
      default: 'post'
    }
  },
  data() {
    return {
      visible: false, // 弹窗显示与否
      orgSelect: {}, // 选中组织
      orgList: [], // 组织列表
      searchText: '', // 搜索内容
      defaultSelectedRows: [], // 默认选择框选中的值
      localOrgId: '',
      tableRefName: 'roleSelectTable', // 表格ref名称
      page: '1', // 初始请求第几页
      rows: '20', // 初始每页请求几条数据
      sord: 'asc',
      pagination: {
        // 表格分页配置
        layouts: ['PrevPage', 'JumpNumber', 'NextPage', 'FullJump'],
        border: false,
        align: 'left',
        currentPage: 1,
        pageSize: 20,
        pagerCount: 3
      },
      columns: [], // 表格列配置
      data: [], // 表格数据
      rowKey: 'id', // 表格数据唯一key
      dataIndex: 'roleName',
      indeterminate: false, // 右侧区域已选角色复选框半选状态
      checkAll: false, // 右侧区域已选角色复选框全选状态
      select: [], // 右侧区域列表
      drag: false, // 右侧区域列表拖拽状态
      dragOptions: {
        // 右侧区域列表拖拽配置参数
        animation: 300,
        group: 'sideMenuDragGroup',
        disabled: false,
        ghostClass: 'ghost',
        forceFallback: true,
        fallbackClass: 'drag-fallback'
      }
    };
  },
  computed: {
    /**
     * 单选 or 多选
     */
    isMultiSelection() {
      let isMultiSelection = false;
      if (this.selectModel === 'single') {
        isMultiSelection = false;
      } else if (this.selectModel === 'multi') {
        isMultiSelection = true;
      }
      return isMultiSelection;
    },
    /**
     * 最多选择的数量
     */
    maxSelectNumber() {
      let maxSelectNumber = 0;
      if (this.maxSelect > 0) {
        maxSelectNumber = this.maxSelect;
      }
      return maxSelectNumber;
    },
    /**
     * 表格数据请求参数
     */
    queryParam() {
      return {
        url: this.roleUrl,
        parameter: {
          searchText: this.searchText,
          viewScope: this.viewScope,
          defaultOrgId: this.defaultOrgId,
          orgId: this.localOrgId,
          appId: this.appId,
          rows: this.rows,
          page: this.page,
          sord: this.sord
        },
        method: this.roleMethodType
      };
    }
  },
  watch: {
    show: {
      immediate: true,
      handler(newV) {
        this.visible = newV;
        if (newV === true) {
          this.init();
        }
      }
    },
    orgId: {
      immediate: true,
      handler(newV) {
        this.localOrgId = newV;
      }
    },
    defaultValue: {
      immediate: true,
      handler(value) {
        if (value) {
          this.loadingDefaultData(value, '1');
        }
      }
    },
    //双向绑定，处理回填数据
    modelChange: {
      immediate: true,
      handler(newV) {
        if (newV && newV.ids) {
          let ids = newV.ids.split(';');
          let names = newV.names.split(';');
          let orgIdentitys = newV.orgIdentitys ? newV.orgIdentitys.split(';') : [];
          let orgIdentityNames = newV.orgIdentityNames ? newV.orgIdentityNames.split(';') : [];
          if (orgIdentityNames.length == 0) {
            httpAction(this.getInitRoleInfoUrl, ids, this.getInitRoleInfoMethod)
              .then(res => {
                if (res.success && res.result) {
                  res.result.map(item => {
                    this.defaultSelectedRows.push({
                      id: item.id,
                      roleName: item.name,
                      orgIdentity: item.orgIdentity,
                      orgIdentityName: item.orgIdentityName
                    });
                  });
                }
              })
              .catch(() => {
                for (let i = 0; i < ids.length; i++) {
                  this.defaultSelectedRows.push({
                    id: ids[i],
                    roleName: names[i],
                    orgIdentity: '',
                    orgIdentityName: ''
                  });
                }
              });
          } else {
            for (let i = 0; i < ids.length; i++) {
              this.defaultSelectedRows.push({
                id: ids[i],
                roleName: names[i],
                orgIdentity: orgIdentitys[i],
                orgIdentityName: orgIdentityNames[i]
              });
            }
          }
        } else {
          if (!newV && this.select.length > 0) {
            this.empty();
          }
        }
      }
    }
  },
  beforeCreate() {
    this.simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  },
  mounted() {
    if (this.defaultValue) {
      this.loadingDefaultData(this.defaultValue, '2');
    }
  },
  methods: {
    /**
     * 初始化函数
     */
    init() {
      this.findSearchOrgName();
    },
    /**
     * 请求表格数据
     */
    initTable() {
      this.finInitRoleInfo(res => {
        this.setSelect(res);
      });
    },
    /**
     * 下拉框filterOption
     */
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
    /**
     * 下拉框改变切换组织
     */
    handleChange(value) {
      this.orgSelect = this.orgList.filter(item => item.id === value)[0];
      this.localOrgId = this.orgSelect.id;
      this.initTable();
    },
    /**
     * 输入框搜索事件
     */
    handleSearch(value) {
      this.searchText = value;
      this.finInitRoleInfo(() => {
        // 请求表格数据
        this.$nextTick(() => {
          let selectIds = [];
          for (let i = 0; i < this.select.length; i++) {
            selectIds.push(this.select[i].id);
          }
          this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
        });
      });
    },
    /**
     * 接收表格数据,渲染表格
     */
    getData(obj) {
      if (obj.data && obj.data.result && obj.data.result.length > 0) {
        this.data = obj.data.result;
      } else {
        this.data = [];
      }
    },
    /**
     * 当手动勾选并且值发生改变时触发的事件
     */
    handleRowSelection({ selectedRowKeys, selectedRows, record, isSelected, isFromCheckboxAll }) {
      if (this.selectModel === 'multi') {
        // 多选
        let selectIds = [];
        for (let i = 0; i < this.select.length; i++) {
          selectIds.push(this.select[i].id);
        }
        if (isSelected) {
          // 选中
          if (!selectIds.includes(record.id)) {
            if (this.maxSelectNumber > 0 && selectIds.length > this.maxSelectNumber - 1) {
              this.$message.warning(`已设置最多选择${this.maxSelectNumber}项！`);
              this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
            } else {
              this.select.push(record);
            }
          }
        } else {
          // 取消选中
          if (selectIds.includes(record.id)) {
            this.select.splice(
              this.select.findIndex(e => e.id == record.id),
              1
            );
          }
        }
      } else {
        // 单选
        if (selectedRows.length == 0) {
          this.setSelectRow([]);
        } else if (selectedRows.length == 1) {
          this.setSelectRow(selectedRows);
        }
      }
    },
    /**
     * 表格行双击
     */
    handleRowDblClick(row) {
      if (this.selectModel !== 'multi') {
        this.setSelectRow([row]);
        const result = this.getResult();
        this.$emit('callBack', result);
        this.visible = false;
      }
    },
    /**
     * 接收并处理分页、排序信息
     */
    handleTableChange(obj) {
      // 接收分页、排序信息
      let pagination = obj.pagination; // 分页信息
      let sorter = obj.sorter; // 排序信息
      // 处理分页信息
      this.page = pagination.currentPage; // 页数
      this.rows = pagination.pageSize; // 每页条数
      // 处理排序信息
      if (sorter) {
        this.sord = sorter.sord || ''; // 排序方式: desc降序 asc升序
      }
      // 请求表格数据
      this.$refs[this.tableRefName].loadData(this.queryParam, () => {
        this.$nextTick(() => {
          let selectIds = [];
          for (let i = 0; i < this.select.length; i++) {
            selectIds.push(this.select[i].id);
          }
          this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
        });
      });
    },
    /**
     * 右侧区域复选框选择变化
     */
    handleSelectChange(item) {
      let select = [...this.select];
      for (let i = 0; i < select.length; i++) {
        if (select[i].id == item.id) {
          select[i].checked = !select[i].checked;
        }
      }
      this.select = select;
      this.allCheckStyle();
    },
    /**
     * 右侧区域列表单独删除
     */
    handleDelSelectedItem(item) {
      let select = [];
      let selectIds = [];
      for (let i = 0; i < this.select.length; i++) {
        if (this.select[i].id !== item.id) {
          select.push(this.select[i]);
          selectIds.push(this.select[i].id);
        }
      }
      this.select = select;
      this.allCheckStyle();
      this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
    },
    /**
     * 右侧区域列表批量删除
     */
    handleDelSelectedTotal() {
      let selectedNum = 0;
      let selectedData = [];
      let unselectedData = [];
      for (let i = 0; i < this.select.length; i++) {
        if (this.select[i].checked) {
          selectedNum++;
          selectedData.push(this.select[i]);
        } else {
          unselectedData.push(this.select[i]);
        }
      }
      if (selectedNum == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      } else {
        this.select = unselectedData;
        let selectIds = [];
        unselectedData.map(item => {
          selectIds.push(item.id);
        });
        this.allCheckStyle();
        this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
      }
    },
    /**
     * 已选角色复选框选择样式控制
     */
    allCheckStyle() {
      let showNum = 0;
      this.select.map(item => {
        if (item.checked) {
          showNum++;
        }
      });
      this.checkAll = showNum > 0 && showNum == this.select.length;
      this.indeterminate = showNum > 0 && showNum < this.select.length;
    },
    /**
     * 已选角色复选框点击事件
     */
    handleCheckAllChange(e) {
      if (e.target.checked) {
        // 全选
        let select = [...this.select];
        select.map(item => {
          item.checked = true;
        });
        this.select = select;
        this.indeterminate = false;
        this.checkAll = true;
      } else {
        // 全不选
        let select = [...this.select];
        select.map(item => {
          item.checked = false;
        });
        this.select = select;
        this.indeterminate = false;
        this.checkAll = false;
      }
    },
    /**
     * 右侧区域列表拖拽end事件
     */
    dragEnd() {
      this.drag = false;
    },
    /**
     * 设置右侧区域列表合集
     */
    setSelectRow(rows) {
      let select = [...this.select];
      for (let i = 0; i < rows.length; i++) {
        for (let j = 0; j < select.length; j++) {
          if (rows[i].id == select[j].id) {
            rows[i].checked = select[j].checked;
          }
        }
      }
      this.select = rows;
    },
    //清空选中数据
    empty() {
      this.select = []; //选择的列
    },
    findSelectOrgName() {
      selectOrgName(this.viewScope, this.defaultOrgId)
        .then(res => {
          if (res.success) {
            this.orgList = res.result;
            if (res.result.length > 0) {
              if (!this.localOrgId) {
                this.localOrgId = res.result[0].id;
              }
              this.orgSelect = this.orgList.filter(tim => tim.id === this.localOrgId)[0];
            }
          }
          this.initTable();
        })
        .catch(response => {
          this.initTable();
        });
    },
    //获取默认选中组织
    findSearchOrgName() {
      if (this.orgSelect.length > 0) {
        return;
      }
      searchOrgName('', this.viewScope, this.defaultOrgId)
        .then(res => {
          if (res.success) {
            if (!this.defaultOrgId) {
              this.localOrgId = res.result.orgId;
              this.orgSelect = res.result;
            }
          }
          this.findSelectOrgName();
        })
        .catch(response => {
          this.findSelectOrgName();
        });
    },
    //加载默认值 判断是否需要去查询数据库
    loadingDefaultData(value, num) {
      if (value) {
        let isLoading = false;
        if (typeof value.ids === 'undefined') {
          let ids = (value + '').split(';');
          for (let i = 0; i < ids.length; i++) {
            this.defaultSelectedRows.push({
              id: ids[i],
              roleName: '',
              orgIdentity: '',
              orgIdentityName: ''
            });
          }
          isLoading = true;
        } else {
          let ids = [];
          let names = [];
          let orgIdentitys = [];
          let orgIdentityNames = [];
          if (value.ids) {
            ids = (value.ids + '').split(';');
          }
          if (value.names) {
            names = value.names.split(';');
          }
          if (value.orgIdentitys) {
            orgIdentitys = value.orgIdentitys.split(';');
          }
          if (value.orgIdentityNames) {
            orgIdentityNames = value.orgIdentityNames.split(';');
          }
          if (ids.length > 0 && ids.length !== names.length) {
            isLoading = true;
          }
          for (let i = 0; i < ids.length; i++) {
            this.defaultSelectedRows.push({
              id: ids[i],
              roleName: names[i],
              orgIdentity: orgIdentitys[i],
              orgIdentityName: orgIdentityNames[i]
            });
          }
        }
        if (isLoading) {
          this.finInitRoleInfo(res => {
            this.setSelect(res, true);
          });
        }
      }
    },
    //设置默认选中
    setSelect(res, isCallBack = false) {
      if (this.defaultSelectedRows) {
        this.defaultSelectedRows.map(item => {
          let noSelect = this.select.filter(tim => tim.id === item.id);
          //判断是否已经在已选中元素中
          if (noSelect.length === 0) {
            this.select.push(item);
          }
        });
        let selectIds = [];
        this.select.map(item => {
          selectIds.push(item.id);
        });
        this.$nextTick(() => {
          this.$refs[this.tableRefName].changeSelectedRowKeys(selectIds);
        });
        this.defaultSelectedRows = [];
      }
      if (isCallBack) {
        const result = this.getResult();
        setTimeout(() => {
          this.$emit('defaultBack', result);
        }, 100);
      }
    },
    //加载角色列表
    finInitRoleInfo(success) {
      this.columns = roleColumns;
      this.$refs[this.tableRefName].loadData(this.queryParam, res => {
        if (success && res.result && res.result.result) {
          success(res.result.result);
        }
      });
    },
    /**
     * 加工返回数据
     */
    getResult() {
      let ids = '';
      let names = '';
      let orgIdentitys = '';
      let orgIdentityNames = '';
      if (this.select && this.select.length > 0) {
        this.select.map((res, i) => {
          if (i > 0) {
            ids += ';';
            names += ';';
            orgIdentitys += ';';
            orgIdentityNames += ';';
          }
          ids += res.id;
          names += res.roleName;
          orgIdentitys += res.orgIdentity;
          orgIdentityNames += res.orgIdentityName;
        });
      }
      let result = { ids, names, orgIdentitys, orgIdentityNames };
      return result;
    },
    /**
     * 确定
     */
    handleOk() {
      const result = this.getResult();
      if (result.ids) {
        this.$emit('callBack', result);
      } else {
        this.$emit('callBack', null);
      }
      this.visible = false;
    },
    /**
     * 取消
     */
    handleClose() {
      this.visible = false;
      this.$emit('close');
    }
  }
};
</script>
