<template>
  <div v-show="colMenuVisible" ref="colMenu" :style="style" class="table-col-menu">
    <a v-if="colMenuList" class="level-one-menu" href="javascript:;" @click="subMenuVisible">
      <a-icon :type="colMenuList.icon" style="margin-right: 3px" />
      <span>{{ colMenuList.text }}</span>
      <a-icon type="right" />
      <ul v-show="isSubMenuShow" class="sub-menu">
        <li v-for="(item, index) in data" :key="index">
          <a-checkbox
            :value="item.dataIndex"
            :checked="item.checked"
            @change="menuClick(item.dataIndex)"
          >
            {{ item.title || item.slots.content }}
          </a-checkbox>
        </li>
      </ul>
    </a>
  </div>
</template>
<script>
export default {
  name: 'TableColMenu',
  props: {
    colMenuVisible: {
      type: Boolean,
      default: false
    },
    colMenuList: {
      type: Object,
      default: () => {}
    },
    colsData: {
      type: Array,
      default: () => []
    },
    selectColumns: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      style: {},
      isSubMenuShow: false,
      data: this.initData(),
      selectData: this.initSelectData()
    };
  },
  created() {
    window.addEventListener('contextmenu', e => this.setPosition(e));
  },
  mounted() {
    let _this = this;
    document.addEventListener('click', function (e) {
      if (_this.$refs.colMenu) {
        if (_this.$refs.colMenu.contains(e.target)) return;
        _this.$emit('update:colMenuVisible', false);
        _this.isSubMenuShow = false;
      }
    });
  },
  methods: {
    setPosition(e) {
      if (e.clientY < document.body.offsetHeight / 2) {
        this.style = {
          left: e.clientX + 'px',
          top: e.clientY + 'px'
        };
      } else {
        this.style = {
          left: e.clientX + 'px',
          bottom: document.body.offsetHeight - e.clientY + 'px'
        };
      }
    },
    subMenuVisible() {
      this.isSubMenuShow = !this.isSubMenuShow;
    },
    initData() {
      let data = [];
      if (this.selectColumns) {
        for (let i = 0; i < this.colsData.length; i++) {
          for (let j = 0; j < this.selectColumns.length; j++) {
            if (this.colsData[i].dataIndex == this.selectColumns[j].dataIndex) {
              this.colsData[i].checked = true;
              break;
            } else {
              this.colsData[i].checked = false;
            }
          }
          data.push(this.colsData[i]);
        }
      } else {
        for (let i = 0; i < this.colsData.length; i++) {
          this.colsData[i].checked = true;
          data.push(this.colsData[i]);
        }
      }
      return data;
    },
    initSelectData() {
      let selectData = [];
      this.selectColumns.map(item => {
        selectData.push(item.dataIndex);
      });
      return selectData;
    },
    menuClick(dataIndex) {
      let dataSource = [...this.data];
      for (let i = 0; i < dataSource.length; i++) {
        if (dataSource[i].dataIndex == dataIndex) {
          dataSource[i].checked = !dataSource[i].checked;
        }
      }
      this.data = dataSource;
      if (this.selectData.indexOf(dataIndex) == -1) {
        this.selectData.push(dataIndex);
      } else {
        this.selectData = this.selectData.filter(item => item != dataIndex);
      }
      this.$emit('select', this.selectData);
    }
  }
};
</script>
<style lang="less">
.table-col-menu {
  position: fixed;
  z-index: 1;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .level-one-menu {
    position: relative;
    display: block;
    line-height: 20px;
    padding: 8px;
    text-decoration: none;

    .sub-menu {
      position: absolute;
      left: calc(100% + 1px);
      top: 0;
      width: 150px;
      max-height: 200px;
      padding: 5px 8px;
      line-height: 28px;
      overflow-y: auto;
      overflow-x: hidden;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

      li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      li:hover span {
        color: #1890ff;
      }
    }
  }
}
</style>
