<template>
  <div class="exception">
    <div class="content">
      <div class="desc">个性化配置数据管理插件Demo</div>
      <div style="display: flex; margin: 20px">
        <a-textarea
          v-model="pagerCfg"
          placeholder="输入需要保存的个性化数据"
          style="flex: 5; float: left; margin-right: 20px"
          autosize
        />
        <a-button style="flex: 1.5; float: left" @click="handleSavePagerRule">配置分页器</a-button>
      </div>
      <div style="display: flex; margin: 20px">
        <a-textarea
          v-model="columnsCfg"
          placeholder="输入需要保存的个性化数据"
          style="flex: 5; float: left; margin-right: 20px"
          autosize
        />
        <a-button style="flex: 1.5; float: left" @click="handleSaveColumns">配置表格展示</a-button>
      </div>
      <div style="display: flex; margin: 20px">
        <a-textarea
          v-model="searchHistoryCfg"
          placeholder="输入需要保存的个性化数据"
          style="flex: 5; float: left; margin-right: 20px"
          autosize
        />
        <a-tooltip placement="right">
          <template slot="title">
            <span>默认最多10条</span>
          </template>
          <a-button style="flex: 1.5; float: left" @click="handleSaveSearchHistory">
            配置搜索历史
          </a-button>
        </a-tooltip>
      </div>
      <div style="margin: 20px">本模块已保存的个性化数据{{ cfgContent }}</div>
      <div style="margin: 20px">
        本模块已保存的搜索历史数据{{ JSON.parse(cfgContent).MK_SEARCH_HISTORY }}
      </div>
      <h3>
        模块内自定义扩展配置API：
        <b>SAVE_MODULE_ITEM_CFG</b>，参照
        <h4>src\store\modules\customConfig.js</h4>
      </h3>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { menuRefreshMixin } from '@/mixins/avic/pt/MenuRefreshMixin';

export default {
  name: 'CustomConfigDemo',
  mixins: [menuRefreshMixin],
  data() {
    return {
      pagerCfg: 35,
      columnsCfg:
        '[{"key":"goodsName","name":"商品名称","sort":""},{"key":"goodsCnt","name":"商品库存","sort":"DESC"}]',
      searchHistoryCfg: '[{"name":"组织机构","key":"orgName","val":"系统工程部"}]',
      cfgContent: ''
    };
  },
  computed: {
    ...mapGetters(['getModuleCfg', 'getModuleCfgItem'])
  },
  created() {
    this.loadModuleCfg();
  },
  mounted() {
    this.loadModuleCfg();
  },
  methods: {
    loadModuleCfg() {
      this.cfgContent = JSON.stringify(
        this.getModuleCfg(this.$store.state.customConfig.customCfgKeys.MN_CUSTOMCONFIG_DEMO)
      );
    },
    handleSavePagerRule() {
      this.$store.commit('SAVE_MODULE_PAGER_RULE', {
        key: this.$store.state.customConfig.customCfgKeys.MN_CUSTOMCONFIG_DEMO,
        val: { pageSize: this.pagerCfg }
      });

      this.loadModuleCfg();
    },
    handleSaveColumns() {
      this.$store.commit('SAVE_MODULE_COLUMNS', {
        key: this.$store.state.customConfig.customCfgKeys.MN_CUSTOMCONFIG_DEMO,
        val: this.columnsCfg
      });

      this.loadModuleCfg();
    },
    handleSaveSearchHistory() {
      this.$store.commit('SAVE_MODULE_SEARCH_HISTORY', {
        key: this.$store.state.customConfig.customCfgKeys.MN_CUSTOMCONFIG_DEMO,
        val: this.searchHistoryCfg
      });

      this.loadModuleCfg();
    }
  }
};
</script>

<style lang="less" scoped>
.exception {
  height: 100%;
  align-items: center;
  text-align: center;
  display: inline-flex;
  min-width: 100%;
  margin: 0 auto;
  padding: 5% 150px;
  .img {
    display: inline-block;
    padding-right: 52px;
    zoom: 1;
    img {
      height: 360px;
      max-width: 430px;
    }
  }
  .content {
    display: inline-block;
    flex: auto;
    h1 {
      color: #434e59;
      font-size: 72px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 24px;
    }
    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}
</style>
