<template>
  <ConsoleLayout v-if="layoutMode === 'topsidemenu'" />
  <MainLayout v-else-if="layoutMode === 'favmenu'" />
  <HPlusLayout v-else-if="layoutMode === 'hplusmenu'" />
  <TraditionLayout v-else-if="layoutMode === 'traditionmenu'" />
  <SimpleLayout v-else-if="layoutMode === 'simplemenu'" />
  <WinLayout v-else-if="layoutMode === 'winmenu'" />
  <TabLayout v-else />
</template>
<script>
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import TabLayout from '@portal/pageLayouts/TabLayout';
import MainLayout from '@portal/pageLayouts/MainLayout';
import HPlusLayout from '@portal/theme/HPlusLayout';
import TraditionLayout from '@portal/theme/TraditionLayout';
import SimpleLayout from '@portal/theme/SimpleLayout';
import WinLayout from '@portal/theme/WinLayout';
import ConsoleLayout from '@portal/theme/ConsoleLayout';
export default {
  name: 'LayoutIndex',
  components: {
    TabLayout,
    MainLayout,
    HPlusLayout,
    TraditionLayout,
    SimpleLayout,
    WinLayout,
    ConsoleLayout
  },
  mixins: [mixin, mixinDevice]
};
</script>
