<!--
    图片预览
-->
<template>
  <div ref="excelBox" class="avic-preview-excel-box">
    <div v-if="excelData && excelData.SheetNames.length > 0" class="excel-tabs">
      <a-tabs :active-key="excelActiveKey" @change="excelChangeTab">
        <a-tab-pane
          v-for="(sheetName, index) in excelData.SheetNames"
          :key="index"
          :tab="sheetName"
        />
      </a-tabs>
    </div>
    <div ref="excel" class="excel-box" :style="excelStyle" v-html="html">{{ html }}</div>
  </div>
</template>
<script>
import { Tabs } from 'ant-design-vue';
// import XLSX from 'xlsx'
export default {
  name: 'PreviewExcel',
  components: {
    ATabs: Tabs,
    ATabPane: Tabs.TabPane
  },
  props: {
    //数据流
    flow: {
      required: false, //校验
      default: ''
    },
    //弹框大小
    modalWidthAndHeight: {
      required: false, //校验
      default: ''
    }
  },
  data() {
    return {
      excelData: null, //表格数据
      excelActiveKey: 0, //当前切换tab
      html: '', //显示html数据
      excelStyle: {} //表格样式
    };
  },
  watch: {
    flow: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.readExcel(newV);
        }
      }
    }
  },
  methods: {
    //设置表格背景颜色
    setExcelBackgroundColor() {
      try {
        if (this.excelData) {
          let wsname = this.excelData.SheetNames[this.excelActiveKey];
          let ws = this.excelData.Sheets[wsname];
          for (let key in ws) {
            if (ws[key].s && ws[key].s.fgColor) {
              this.$nextTick(function () {
                if (this.$refs.excel.querySelector('#sjs-' + key)) {
                  this.$refs.excel.querySelector('#sjs-' + key).style.backgroundColor =
                    '#' + ws[key].s.fgColor.rgb;
                }
              });
            }
          }
        }
      } catch (e) {}
    },
    //切换表格面板
    excelChangeTab(e) {
      let XLSX = require('xlsx');
      this.excelActiveKey = e;
      if (this.excelData) {
        let wsname = this.excelData.SheetNames[e];
        let ws = this.excelData.Sheets[wsname];
        if (Object.getOwnPropertyNames(ws).length > 2) {
          let HTML = XLSX.utils.sheet_to_html(ws);
          this.html = HTML;
          this.setExcelBackgroundColor();
        } else {
          this.html = '';
        }
      }
    },
    //显示表格
    readExcel(res) {
      if (typeof FileReader === 'undefined') {
        this.$emit('setError', '您的浏览器不兼容预览，请升级浏览器');
      } else {
        let XLSX = require('xlsx');
        let height = parseInt(this.modalWidthAndHeight.bodyStyle.height) - 100;
        if (height < 0) {
          height = 10;
        }
        this.excelStyle = { height: height + 'px' };
        let _this = this;
        let filereader = new FileReader();
        filereader.onloadend = function (event) {
          let binary = '';
          let bytes = new Uint8Array(event.target.result);
          bytes.map(tim => {
            binary += String.fromCharCode(tim);
          });
          let workbook = XLSX.read(binary, { type: 'binary', cellStyles: true });
          let wsname = workbook.SheetNames[0];
          let ws = workbook.Sheets[wsname];
          let HTML = XLSX.utils.sheet_to_html(ws);
          _this.html = HTML;
          _this.excelData = workbook;
          _this.setExcelBackgroundColor();
        };
        filereader.readAsArrayBuffer(res);
      }
    }
  }
};
</script>
<style lang="less">
.avic-preview-excel-box {
  height: auto;
  width: 100%;
  overflow: hidden;
  .excel-box {
    overflow: auto;
    width: 100%;
  }
  table {
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    tbody {
      text-align: center;
      tr {
        text-align: center;
        td {
          word-break: keep-all;
          white-space: nowrap;
          border: 1px solid #ccc;
          text-align: center;
        }
      }
    }
  }
}
</style>
