<!--
    图片预览
-->
<template>
  <div>
    <div class="avic-preview-img-box" v-viewer="{ fullscreen: true }">
      <!--图片预览--->
      <img ref="img" :src="image" @load="adaptiveImg" />
    </div>
  </div>
</template>
<script>
import 'viewerjs/dist/viewer.css';
import Viewer from 'v-viewer';
import Vue from 'vue';
Vue.use(Viewer);
export default {
  name: 'PreviewImg',
  props: {
    //数据流
    flow: {
      required: false, //校验
      default: ''
    },
    //弹框大小
    modalWidthAndHeight: {
      required: false, //校验
      default: ''
    }
  },
  data() {
    return {
      image: ''
    };
  },
  watch: {
    flow: {
      immediate: true,
      handler(newV) {
        if (newV) {
          this.readImg(newV);
        }
      }
    }
  },
  mounted() {
    const viewer = this.$el.querySelector('.avic-preview-img-box').$viewer;
    viewer.show();
  },
  methods: {
    //显示图片
    readImg(res) {
      if (typeof FileReader === 'undefined') {
        this.$emit('setError', '您的浏览器不兼容预览，请升级浏览器');
      } else {
        let _this = this;
        let filereader = new FileReader();
        filereader.onloadend = function (event) {
          _this.image = event.target.result.replace('data:application/json;', 'data:img/jpg;');
        };
        filereader.readAsDataURL(res);
      }
    },
    //调整图片大小
    adaptiveImg(e) {
      let img = this.$refs.img;
      if (img.offsetWidth > parseInt(this.modalWidthAndHeight.modalStyle.width)) {
        this.$refs.img.style.width = '100%';
      }
      if (img.offsetHeight > parseInt(this.modalWidthAndHeight.modalStyle.height)) {
        this.$refs.img.style.height = '100%';
      }
    }
  }
};
</script>
<style lang="less" scoped>
.avic-preview-img-box {
  overflow: auto;
  text-align: center;
}
</style>
