<template>
  <div ref="resizeLayout" class="resize-layout">
    <slot />
  </div>
</template>
<script>
import Bus from '@utils/avic/common/eventBus.js';
export default {
  name: 'AvicResizeLayout',
  props: {
    direction: {
      type: String,
      default: 'h' // h 水平  / v 垂直
    }
  },
  data() {
    return {
      resizeLayoutPadding: 6,
      isActive: true,
      hasParentPanel: false,
      parentPanelInstance: null,
      parentPanelMounted: false,
      pNodeObserver: null
    };
  },
  watch: {
    hasParentPanel(newVal) {
      if (newVal) {
        this.checkInit();
      }
    },
    parentPanelMounted(newVal) {
      if (newVal) {
        this.checkInit();
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initLayout();
    });
    this.initPanelsLink();
    this.bindParentEvents();
    this.bindResizeEvents();
  },
  activated() {
    this.isActive = true;
    this.initLayout();
  },
  deactivated() {
    this.isActive = false;
  },
  beforeDestroy() {
    this.unbindResizeEvents();
    if (this.pNodeObserver) {
      this.pNodeObserver.disconnect();
    }
  },
  methods: {
    checkInit() {
      if (this.hasParentPanel && this.parentPanelMounted) {
        this.initLayout();
      }
    },
    bindResizeEvents() {
      window.addEventListener('resize', this.handleDomResize);
      Bus.$on('resize', this.handleDomResize);
    },
    handleDomResize() {
      if (!this.hasParentPanel) {
        this.initLayout();
      }
    },
    unbindResizeEvents() {
      window.removeEventListener('resize', this.initLayout);
    },
    pNodeObserverCallback(mutations, observer) {
      this.initLayout();
    },
    bindParentEvents() {
      if (this.pNodeObserver) {
        this.pNodeObserver.disconnect();
      }
      this.pNodeObserver = new MutationObserver(this.pNodeObserverCallback);
      let options = {
        attributes: true,
        attributeFilter: ['style']
      };
      this.pNodeObserver.observe(this.$el.parentNode, options);
    },
    initLayout() {
      if (!this.isActive) {
        return;
      }
      if (!this.$slots.default) {
        return;
      }
      this.initPanel();
    },
    initPanelsLink() {
      let _lastIdxInSlot = -1;
      let _self = this;
      this.$slots.default.map((item, idx) => {
        if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout-panel') {
          if (_lastIdxInSlot !== -1) {
            item.componentInstance.lastPanelInstance =
              _self.$slots.default[_lastIdxInSlot].componentInstance;
            _self.$slots.default[_lastIdxInSlot].componentInstance.nextPanelInstance =
              item.componentInstance;
          }
          _lastIdxInSlot = idx;
        }
      });
    },
    initPanel() {
      let _firstPanelIdx = -1;
      let _lastPanelIdx = -1;
      let _panelCount = 0;
      let fixedWidth = 0;
      let fixedHeight = 0;
      let fixedPanelCount = 0;
      const _self = this;
      this.$slots.default.map((item, idx) => {
        if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout-panel') {
          _panelCount++;
          _lastPanelIdx = idx;
          _firstPanelIdx = _firstPanelIdx === -1 ? idx : _firstPanelIdx;

          if (_self.direction.toLowerCase() === 'h') {
            if (item.componentInstance.width) {
              fixedPanelCount++;
              fixedWidth += item.componentInstance.width;
            }
          } else {
            if (item.componentInstance.height) {
              fixedPanelCount++;
              fixedHeight += item.componentInstance.height;
            }
          }
        }
      });
      let curPanelIdx = 0;
      let layoutW = parseInt(
        window.getComputedStyle(this.$el.parentNode, null).getPropertyValue('width') || 0
      );
      let layoutH = parseInt(
        window.getComputedStyle(this.$el.parentNode, null).getPropertyValue('height') || 0
      );

      if (this.parentPanelInstance) {
        if (this.parentPanelInstance.direction === 't') {
          layoutH = layoutH - this.resizeLayoutPadding;
        }

        if (this.parentPanelInstance.direction === 'l') {
          layoutW = layoutW - this.resizeLayoutPadding;
        }
      }
      if (_panelCount === 1) {
        this.$slots.default[_firstPanelIdx].componentInstance.direction = 'a';
        this.$slots.default[_firstPanelIdx].componentInstance.handles = [];
        this.$slots.default[_firstPanelIdx].componentInstance.initSize(0, 0, layoutW, layoutH);
        this.$slots.default[_firstPanelIdx].componentInstance.index = 0;
        this.$slots.default[_firstPanelIdx].componentInstance.isCollapsed = false;
      } else {
        let preOffset = 0;
        this.$slots.default.map((item, idx) => {
          if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout-panel') {
            if (_self.direction.toLowerCase() === 'h') {
              if (idx === _firstPanelIdx) {
                item.componentInstance.direction = 'l';
                item.componentInstance.handles = ['mr'];
              } else if (idx === _lastPanelIdx) {
                item.componentInstance.handles = [];
                item.componentInstance.direction = 'r';
              } else {
                item.componentInstance.handles = ['mr'];
                item.componentInstance.direction = 'l';
              }
              // let testWidth = parseInt((layoutW - fixedWidth) / (_panelCount - fixedPanelCount))
              let testWidth = (layoutW - fixedWidth) / (_panelCount - fixedPanelCount);
              let width = item.componentInstance.width
                ? item.componentInstance.minWidth > item.componentInstance.width
                  ? item.componentInstance.minWidth
                  : item.componentInstance.width
                : item.componentInstance.minWidth > testWidth
                ? item.componentInstance.minWidth
                : testWidth;
              item.componentInstance.initSize(preOffset, 0, width, layoutH);
              preOffset += width;
            } else {
              if (idx === _firstPanelIdx) {
                item.componentInstance.handles = ['bm'];
                item.componentInstance.direction = 't';
              } else if (idx === _lastPanelIdx) {
                item.componentInstance.handles = [];
                item.componentInstance.direction = 'b';
              } else {
                item.componentInstance.handles = ['bm'];
                item.componentInstance.direction = 't';
              }
              // let testHeight = parseInt((layoutH - fixedHeight) / (_panelCount - fixedPanelCount))
              let testHeight = (layoutH - fixedHeight) / (_panelCount - fixedPanelCount);
              let height = item.componentInstance.height
                ? item.componentInstance.minHeight > item.componentInstance.height
                  ? item.componentInstance.minHeight
                  : item.componentInstance.height
                : item.componentInstance.minHeight > testHeight
                ? item.componentInstance.minHeight
                : testHeight;
              item.componentInstance.initSize(0, preOffset, layoutW, height);
              preOffset += height;
            }
            item.componentInstance.index = curPanelIdx;
            item.componentInstance.isCollapsed = false;
            curPanelIdx += 1;
          }
        });
      }

      this.$slots.default.map((item, idx) => {
        if (item.componentOptions && item.componentOptions.tag === 'avic-resize-layout-panel') {
          if (item.componentInstance.pNodeMounted) {
            item.componentInstance.pNodeUpdate = true;
          } else {
            item.componentInstance.pNodeMounted = true;
          }
        }
      });
    }
  }
};
</script>
<style lang="less">
.resize-layout {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  background: none;
}
</style>
