<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-tools-bar">
      <!-- 操作按钮: 批量办理 -->
      <a-button icon="edit" @click="batchHandleTodo({ param: { id: selectedRowKeys } })">
        批量办理
      </a-button>
      <!-- 普通查询 -->
      <AvicBpmMyMissionBaseSearch
        ref="bpmBaseSearch"
        style="display: inline-block"
        :options="options"
        @bpmBaseSearch="myMissionBaseSearch"
      />
      <!-- 高级查询 -->
      <a-button class="opt-btn-advsearch" @click="handleAdvancedSearch(tableRefName)">
        高级搜索
      </a-button>
      <AvicChangeTableSize @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <div class="surface-content">
      <!-- 高级搜索表单区域 -->
      <AvicAdvancedSearchCollapse
        :ref="advancedSearchRefName"
        class="adv-search"
        :real-advanced-search-form-data="realAdvancedSearchFormData"
        @onChange="changeShowAdvancedSearch"
        @search="advancedSearch"
      >
        <template #form>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="标题"
            >
              <a-input v-decorator="['taskTitle']" allow-clear @pressEnter="handleEnterForSearch" />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="紧急程度"
            >
              <a-select
                v-decorator="['priority']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in priorityList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请人"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStarter',
                  {
                    initialValue: null
                  }
                ]"
                type="userSelect"
                select-model="single"
              />
              <!-- 选人 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请部门"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStartDept',
                  {
                    initialValue: null
                  }
                ]"
                type="deptSelect"
                select-model="single"
              />
              <!-- 选部门 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期开始日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'Begin']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="开始日期"
                :disabled-date="
                  startValue => disabledStartDate(startValue, 'processStartTime' + 'End')
                "
              />
              <!-- 开始日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期结束日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'End']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="结束日期"
                :disabled-date="endValue => disabledEndDate(endValue, 'processStartTime' + 'Begin')"
              />
              <!-- 结束日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="流程状态"
            >
              <a-select
                v-decorator="['businessState']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in businessStateList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </template>
      </AvicAdvancedSearchCollapse>
      <!-- 表格内容 -->
      <div class="surface-table">
        <!-- 表格 -->
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="todoTaskRowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <template slot="taskTitle" scope="obj">
            <a-popover>
              <template slot="content">
                <div class="task-content">
                  <div class="task-info">
                    <div class="task-info-label">标题</div>
                    <div class="task-info-value">{{ obj.data['taskTitle'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">发送人</div>
                    <div class="task-info-value">{{ obj.data['taskSendUser'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">接收时间</div>
                    <div class="task-info-value">
                      {{ moment(obj.data['createTime']).format('YYYY-MM-DD HH:mm:ss') }}
                    </div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">当前节点</div>
                    <div class="task-info-value">{{ obj.data['curActName'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">上一节点</div>
                    <div class="task-info-value">{{ obj.data['preActName'] || '开始' }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">下一节点</div>
                    <div class="task-info-value">{{ obj.data['nextActName'] || '结束' }}</div>
                  </div>
                </div>
              </template>
              <a-icon
                v-if="openEditFlowLoading && openEditFlowId == obj.data[rowKey]"
                type="loading"
                class="table-detail-link"
              />
              <a
                v-if="!openEditFlowLoading || openEditFlowId != obj.data[rowKey]"
                href="javascript:;"
                class="table-detail-link"
                @click="handleFlowDetail({ refName: detailModalRefName, param: obj.data })"
              >
                {{ obj.data['taskTitle'] }}
              </a>
            </a-popover>
          </template>
          <template slot="priority" scope="obj">
            <a-badge v-if="obj.data['priority'] == 1" color="red" text="特急" />
            <a-badge v-if="obj.data['priority'] == 2" color="orange" text="紧急" />
            <a-badge v-if="obj.data['priority'] == 0" color="#108ee9" text="一般" />
          </template>
          <template slot="action" scope="obj">
            <AvicBpmSubmitTaskBtn :flow-task="obj.data" @bpmSubmitSuccess="bpmSubmitSuccess" />
          </template>
        </AvicBaseTable>
        <!--启动流程时多个流程需要选择您要启动的流程-->
        <AvicBpmFormCode :ref="getFormCodeRefName" :is-open-flow="true" :form-code="formCode" />
      </div>
    </div>
  </div>
</template>
<script>
import { Button, Icon, Popover } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import AvicBpmMyMissionBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmMyMissionBaseSearch';
import AvicBpmFormCode from '@comp/avic/bpm/AvicBpmFormCode';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
// import AvicBpmListSelect from '@comp/avic/bpm/AvicBpmListSelect';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { baseFlowMixin } from '@mixins/avic/pt/BaseFlowMixin';
import { httpAction } from '@/api/manage';
import { Modal } from 'ant-design-vue';
import AvicBpmSubmitTaskBtn from '@comp/avic/bpm/AvicBpmTask/AvicBpmSubmitTaskBtn';
import moment from 'moment';
import config from '@config/defaultSettings';
//流程formCode
let formCode = 'mpmProjectInfoWorkflow';
// 表格主键字段
let rowKey = 'dbid';
// 表格主键字段
let todoTaskRowKey = 'dbid';
let todoTaskUrl = '/api/bpm/bpm/task';
// 此模块通用代码params
let lookupParams = [{ fileName: 'priority' }, { fileName: 'businessState' }];
let todoTotalNumber = 0;
let toReadTotalNumber = 0;
let batchHandleUrl = '/api/bpm/bpm/batchhandle';
// 表格查看详情字段
let dataIndex = ['taskTitle', 'priority', 'action'];
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    width: 80,
    maxWidth: 80
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    width: 80
  },
  {
    title: '申请日期',
    dataIndex: 'processStartTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '接收时间',
    dataIndex: 'createTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '当前节点',
    dataIndex: 'curActName',
    align: 'left',
    width: 120
  },
  {
    title: '应完时间',
    dataIndex: 'reasonableFinishTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '处理人',
    dataIndex: 'taskSendUser',
    align: 'center',
    width: 100,
    fixed: 'right'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    align: 'center',
    width: 70,
    fixed: 'right',
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },
  {
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    align: 'center',
    width: 90,
    fixed: 'right'
  }
];
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    type: 'input',
    decorator: {
      rules: []
    },
    placeholder: '请输入标题'
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: '0',
        lookupName: '一般'
      },
      {
        sysLookupTlId: '1',
        lookupCode: '1',
        lookupName: '特急'
      },
      {
        sysLookupTlId: '2',
        lookupCode: '2',
        lookupName: '紧急'
      }
    ]
  },
  {
    title: '申请人',
    dataIndex: 'processStarter',
    scopedSlots: { customRender: 'processStarter' },
    type: 'commonselect',
    placeholder: '请选择申请人',
    controlType: 'userSelect',
    selectModel: 'single'
  },
  {
    title: '申请部门',
    dataIndex: 'processStartDept',
    scopedSlots: { customRender: 'processStartDept' },
    type: 'commonselect',
    placeholder: '请选择申请部门',
    controlType: 'deptSelect',
    selectModel: 'single'
  },
  {
    title: '申请日期',
    titleRange: '申请日期范围',
    dataIndex: 'processStartTime',
    scopedSlots: { customRender: 'processStartTime' },
    type: 'daterange',
    decoratorRange: {
      rules: [{ required: false, message: '请选择申请日期范围！' }]
    },
    placeholderRange: ['开始日期', '结束日期'],
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  },
  {
    title: '流程状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: 'start',
        lookupName: '拟稿中'
      },
      {
        sysLookupTlId: '1',
        lookupCode: 'active',
        lookupName: '流转中'
      },
      {
        sysLookupTlId: '2',
        lookupCode: 'ended',
        lookupName: '已完成'
      }
    ]
  }
];
export default {
  name: 'TodoTask',
  components: {
    AvicBpmMyMissionBaseSearch,
    AvicBpmFormCode,
    // AvicBpmListSelect,
    AvicBpmSubmitTaskBtn,
    AButton: Button,
    AIcon: Icon,
    APopover: Popover
  },
  mixins: [baseTableMixin, baseFlowMixin, baseSearchMixin],
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      priorityList: [], //高级查询通用代码字段
      businessStateList: [], //高级查询通用代码字段
      formCode,
      lookupParams, // 此模块通用代码params
      isActiveAllLookup: true, //控制不走高级查询的通用代码查询
      todoTaskRowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      avicAdvancedSearchData,
      todoTotalNumber,
      toReadTotalNumber,
      rowKey,
      tableRefName: 'TodoTaskTable', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
      taskType: '',
      taskFinished: '',
      options: [
        //普通查询组件传入的选项值
        { value: 'urgent', name: '紧急程度' },
        { value: 'receiveDate', name: '接收日期' }
      ],
      batchHandleParam: {
        // 批量办理请求接口
        url: batchHandleUrl + '/doBatchHandle/v1',
        method: 'post',
        parameter: {
          entryIds: '',
          executionIds: '',
          taskIds: ''
        }
      },
      batchHandleAfterParam: {
        // 批量办理执行完之后，请求办理结果详情
        url: batchHandleUrl + '/getBatchHandleInfo/v1',
        method: 'post'
      },
      getOperateRight: {
        //操作列办理接口
        url: '/api/bpm/bpm/business/getoperateright/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: todoTaskUrl + '/searchHistTaskByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            taskType: '0',
            taskFinished: '0',
            nodeId: this.params.nodeId,
            nodeType: this.params.nodeType,
            pdId: this.params.procDefId
          },
          keyWord: 1,
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    moment,
    initRealAdvancedSearchFormData() {
      for (let j = 0; j < this.lookupParams.length; j++) {
        for (let k = 0; k < this.avicAdvancedSearchData.length; k++) {
          if (this.avicAdvancedSearchData[k].dataIndex === this.lookupParams[j].fileName) {
            this[this.lookupParams[j].fileName + 'List'] = this.avicAdvancedSearchData[k].list;
          }
        }
      }
      return this.avicAdvancedSearchData;
    },
    //右键刷新时，右边表格刷新的方法
    menuRefreshReset() {
      // 右键刷新时,基础数据重置
      // 重置分页
      this.page = '1';
      this.rows = config.defaultPageSize;
      // 重置排序
      this.sidx = '';
      this.sord = '';
      // 重置普通搜索
      this.searchText = '';
      // 重置高级查询表单
      if (this.$refs[this.advancedSearchRefName]) {
        this.$refs[this.advancedSearchRefName].searchForm.resetFields();
      }
      this.advancedSearchParam = {};
      // 重置选中
      this.selectedRowKeys = [];
      // 重新请求表格数据
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //手动点击左边树选中节点后，右边表格数据重新加载
    reloadTable() {
      if (this.params.nodeId != '' && this.params.nodeType != '') {
        this.$refs[this.tableRefName].loadData(this.queryParam);
      }
    },
    //基本查询
    myMissionBaseSearch(params) {
      let searchParamReset = {
        taskType: '0',
        taskFinished: '0',
        nodeId: this.params.nodeId,
        nodeType: this.params.nodeType,
        pdId: this.params.procDefId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //办理成功后，回调方法
    bpmSubmitSuccess() {
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //获取我的代办总条数
    getNumber(todoCount, readCount) {
      this.todoTotalNumber = todoCount;
      this.toReadTotalNumber = readCount;
      this.$emit('getTodoTotalNumber', {
        todoCount: this.todoTotalNumber,
        toReadCount: this.toReadTotalNumber
      });
    },
    //获取数据后渲染表格
    getData(obj) {
      this.getNumber(obj.data.todoCount, obj.data.readCount);
      this.data = obj.data.rows;
    },
    //批量办理
    batchHandleTodo(params) {
      if (params.param.id.length <= 0) {
        this.$message.warning('请选择要办理的记录！');
        return;
      } else {
        let resultData = [];
        this.batchHandleParam.parameter.taskIds = '';
        this.batchHandleParam.parameter.entryIds = '';
        this.batchHandleParam.parameter.executionIds = '';
        for (let i = 0; i < this.data.length; i++) {
          for (let m = 0; m < params.param.id.length; m++) {
            if (params.param.id[m] == this.data[i].dbid) {
              resultData.push(this.data[i]);
            }
          }
        }
        for (let j = 0; j < resultData.length; j++) {
          if (this.batchHandleParam.parameter.taskIds == '') {
            this.batchHandleParam.parameter.taskIds = resultData[j].dbid;
            this.batchHandleParam.parameter.entryIds = resultData[j].processInstance;
            this.batchHandleParam.parameter.executionIds = resultData[j].executionId;
          } else {
            this.batchHandleParam.parameter.taskIds =
              this.batchHandleParam.parameter.taskIds + ',' + resultData[j].dbid;
            this.batchHandleParam.parameter.entryIds =
              this.batchHandleParam.parameter.entryIds + ',' + resultData[j].processInstance;
            this.batchHandleParam.parameter.executionIds =
              this.batchHandleParam.parameter.executionIds + ',' + resultData[j].executionId;
          }
        }
        Modal.confirm({
          title: '确定批量操作吗？',
          content: '提示：只有符合批量办理前提条件的才会被办理成功',
          onOk: () => {
            let that = this;
            that.delLoading = true;
            httpAction(
              that.batchHandleParam.url,
              that.batchHandleParam.parameter,
              that.batchHandleParam.method
            )
              .then(res => {
                if (res.success) {
                  that.delLoading = false;
                  that.selectedRowKeys = [];
                  that.$refs[that.tableRefName].changeSelectedRowKeys([]);
                  that.getBatchHandleInfo();
                }
              })
              .catch(() => {
                that.delLoading = false;
              });
          }
        });
      }
    },
    //批量办理后，请求执行结果，并刷新页面
    getBatchHandleInfo(initMessage) {
      let that = this;
      httpAction(that.batchHandleAfterParam.url, '', that.batchHandleAfterParam.method)
        .then(res => {
          if (res.success) {
            let total = res.result.result[0];
            let success = res.result.result[1];
            let error = res.result.result[2];
            if (Number(total) <= Number(success) + Number(error)) {
              this.$message.success(
                '操作完成！共提交了' + total + '条，成功' + success + '条，失败' + error + '条'
              );
              that.$refs[that.tableRefName].loadData(that.queryParam);
            } else {
              if (!initMessage) {
                this.$message.success('正在进行批量操作...', 1.1);
              }
              setTimeout(function () {
                //更新进度
                that.getBatchHandleInfo(true);
              }, 1000);
            }
          }
        })
        .catch(() => {
          that.delLoading = false;
        });
    },
    /**
     * 打开流程详情页面
     * @param {*} res
     */
    handleFlowDetail(params) {
      let _this = this;
      this.openEditFlowLoading = true;
      this.openEditFlowId = params.param.executionId;
      // entryId, executionId, taskId, formId, url, title, taskType, flowDetailUrl
      bpmUtils
        .executeTask(
          params.param.processInstance,
          params.param.executionId,
          params.param.dbid,
          params.param.businessId,
          params.param.formResourceName,
          params.param.processDefName || params.param.taskTitle,
          params.param.taskType
        )
        .then(() => {
          //打开成功
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        })
        .catch(() => {
          //打开失败
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        });
    }
  }
};
</script>
<style lang="less">
.task-content {
  width: 280px;
  display: inline-block;

  .task-info {
    display: flex;

    .task-info-label {
      width: 85px;
      text-align: left;
      line-height: 24px;
    }
    .task-info-value {
      width: 195px;
    }
  }
}
</style>
