<template>
  <div class="surface">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-tools-bar">
      <!-- 操作按钮: 添加 编辑 删除 导入 导出 -->
      <a-button
        icon="edit"
        @click="batchHandleToRead({ refName: editModalRefName, param: { id: selectedRowKeys } })"
      >
        批量阅文
      </a-button>
      <!-- 普通查询 -->
      <AvicBpmMyMissionBaseSearch
        ref="bpmBaseSearch"
        style="display: inline-block"
        :options="options"
        @bpmBaseSearch="myMissionBaseSearch"
      />
      <!-- 高级查询 -->
      <a-button class="opt-btn-advsearch" @click="handleAdvancedSearch(tableRefName)">
        高级搜索
      </a-button>
      <AvicChangeTableSize @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <div class="surface-content">
      <!-- 高级搜索表单区域 -->
      <AvicAdvancedSearchCollapse
        :ref="advancedSearchRefName"
        class="adv-search"
        :real-advanced-search-form-data="realAdvancedSearchFormData"
        @onChange="changeShowAdvancedSearch"
        @search="advancedSearch"
      >
        <template #form>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="标题"
            >
              <a-input v-decorator="['taskTitle']" allow-clear @pressEnter="handleEnterForSearch" />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="紧急程度"
            >
              <a-select
                v-decorator="['priority']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in priorityList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请人"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStarter',
                  {
                    initialValue: null
                  }
                ]"
                type="userSelect"
                select-model="single"
              />
              <!-- 选人 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请部门"
            >
              <AvicCommonSelect
                v-decorator="[
                  'processStartDept',
                  {
                    initialValue: null
                  }
                ]"
                type="deptSelect"
                select-model="single"
              />
              <!-- 选部门 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期开始日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'Begin']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="开始日期"
                :disabled-date="
                  startValue => disabledStartDate(startValue, 'processStartTime' + 'End')
                "
              />
              <!-- 开始日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期结束日期"
            >
              <a-date-picker
                v-decorator="['processStartTime' + 'End']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="结束日期"
                :disabled-date="endValue => disabledEndDate(endValue, 'processStartTime' + 'Begin')"
              />
              <!-- 结束日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="流程状态"
            >
              <a-select
                v-decorator="['businessState']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in businessStateList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </template>
      </AvicAdvancedSearchCollapse>
      <!-- 表格内容 -->
      <div class="surface-table">
        <!-- 表格 -->
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="taskTitle" scope="obj">
            <a-popover>
              <template slot="content">
                <div class="task-content">
                  <div class="task-info">
                    <div class="task-info-label">标题</div>
                    <div class="task-info-value">{{ obj.data['taskTitle'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">发送人</div>
                    <div class="task-info-value">{{ obj.data['taskSendUser'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">申请日期</div>
                    <div class="task-info-value">
                      {{ moment(obj.data['processStartTime']).format('YYYY-MM-DD HH:mm:ss') }}
                    </div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">当前节点</div>
                    <div class="task-info-value">{{ obj.data['curActName'] }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">上一节点</div>
                    <div class="task-info-value">{{ obj.data['preActName'] || '开始' }}</div>
                  </div>
                  <div class="task-info">
                    <div class="task-info-label">下一节点</div>
                    <div class="task-info-value">{{ obj.data['nextActName'] || '结束' }}</div>
                  </div>
                </div>
              </template>
              <a-icon
                v-if="openEditFlowLoading && openEditFlowId == obj.data[rowKey]"
                type="loading"
                class="table-detail-link"
              />
              <a
                v-if="!openEditFlowLoading || openEditFlowId != obj.data[rowKey]"
                href="javascript:;"
                class="table-detail-link"
                @click="handleFlowDetail({ refName: detailModalRefName, param: obj.data })"
              >
                {{ obj.data.taskTitle }}
              </a>
            </a-popover>
          </template>
          <template slot="priority" scope="obj">
            <a-badge v-if="obj.data['priority'] == 1" color="red" text="特急" />
            <a-badge v-if="obj.data['priority'] == 2" color="orange" text="紧急" />
            <a-badge v-if="obj.data['priority'] == 0" color="#108ee9" text="一般" />
          </template>
          <template slot="action" scope="obj">
            <a-button type="link" style="font-size: 12px" @click="handleToRead(obj.data)">
              已阅
            </a-button>
          </template>
        </AvicBaseTable>
        <!--启动流程时多个流程需要选择您要启动的流程-->
        <AvicBpmFormCode :ref="getFormCodeRefName" :is-open-flow="true" :form-code="formCode" />
      </div>
    </div>
  </div>
</template>
<script>
import { Button, Icon, Popover } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import AvicBpmMyMissionBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmMyMissionBaseSearch';
import AvicBpmFormCode from '@comp/avic/bpm/AvicBpmFormCode';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
// import AvicBpmListSelect from '@comp/avic/bpm/AvicBpmListSelect';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { baseFlowMixin } from '@mixins/avic/pt/BaseFlowMixin';
import { httpAction } from '@/api/manage';
import { Modal } from 'ant-design-vue';
import moment from 'moment';
//流程formCode
let formCode = 'mpmProjectInfoWorkflow';
// 表格主键字段
let rowKey = 'dbid';
// 请求地址路径的公共部分抽为变量
let toReadUrl = '/api/bpm/bpm/task';
let batchHandleUrl = '/api/bpm/bpm/batchhandle';
// 此模块通用代码params
let lookupParams = [{ fileName: 'priority' }, { fileName: 'businessState' }];
// 表格查看详情字段
let dataIndex = ['taskTitle', 'priority', 'action'];
let toReadTotalNumber = 0;
//表格显示字段
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    minWidth: 220,
    fixed: 'left'
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    width: 80
    // customRender(value, row, rowKey) {
    //   if (value && value === '1') {
    //     return '特急';
    //   } else if (value && value === '2') {
    //     return '紧急';
    //   } else if (value && value === '0') {
    //     return '一般';
    //   } else {
    //     return value;
    //   }
    // },
  },
  {
    title: '申请日期',
    dataIndex: 'processStartTime',
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss',
    width: 150
  },
  {
    title: '当前节点',
    dataIndex: 'curActName',
    align: 'left',
    width: 150
  },
  {
    title: '处理人',
    dataIndex: 'taskSendUser',
    scopedSlots: { customRender: 'taskSendUser' },
    align: 'center',
    width: 100,
    fixed: 'right'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    align: 'center',
    width: 80,
    fixed: 'right',
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },
  {
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' },
    align: 'center',
    width: 100,
    fixed: 'right'
  }
];
//高级查询字段
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'taskTitle',
    scopedSlots: { customRender: 'taskTitle' },
    type: 'input',
    decorator: {
      rules: []
    },
    placeholder: '请输入标题'
  },
  {
    title: '紧急程度',
    dataIndex: 'priority',
    scopedSlots: { customRender: 'priority' },
    align: 'center',
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: '0',
        lookupName: '一般'
      },
      {
        sysLookupTlId: '1',
        lookupCode: '1',
        lookupName: '特急'
      },
      {
        sysLookupTlId: '2',
        lookupCode: '2',
        lookupName: '紧急'
      }
    ]
  },
  {
    title: '申请人',
    dataIndex: 'processStarter',
    scopedSlots: { customRender: 'processStarter' },
    type: 'commonselect',
    placeholder: '请选择申请人',
    controlType: 'userSelect',
    selectModel: 'single'
  },
  {
    title: '申请部门',
    dataIndex: 'processStartDept',
    scopedSlots: { customRender: 'processStartDept' },
    type: 'commonselect',
    placeholder: '请选择申请部门',
    controlType: 'deptSelect',
    selectModel: 'single'
  },
  {
    title: '申请日期',
    titleRange: '申请日期范围',
    dataIndex: 'processStartTime',
    scopedSlots: { customRender: 'processStartTime' },
    type: 'daterange',
    decoratorRange: {
      rules: [{ required: false, message: '请选择申请日期范围！' }]
    },
    placeholderRange: ['开始日期', '结束日期'],
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  },
  {
    title: '流程状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: 'start',
        lookupName: '拟稿中'
      },
      {
        sysLookupTlId: '1',
        lookupCode: 'active',
        lookupName: '流转中'
      },
      {
        sysLookupTlId: '2',
        lookupCode: 'ended',
        lookupName: '已完成'
      }
    ]
  }
];
export default {
  name: 'ToRead',
  components: {
    AvicBpmMyMissionBaseSearch,
    AvicBpmFormCode,
    // AvicBpmListSelect,
    AButton: Button,
    AIcon: Icon,
    APopover: Popover
  },
  mixins: [baseTableMixin, baseFlowMixin, baseSearchMixin],
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      priorityList: [], //高级查询通用代码字段
      businessStateList: [], //高级查询通用代码字段
      formCode,
      toReadUrl, // 请求地址路径的公共部分
      lookupParams, // 此模块通用代码params
      isActiveAllLookup: true, //控制不走高级查询的通用代码查询
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      avicAdvancedSearchData,
      getFormCodeRefName: 'getFormCodeRefName', //获取FormCode ref
      tableRefName: 'ToReadTaskTable', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      taskType: '',
      taskFinished: '',
      toReadTotalNumber,
      batchHandleReadParam: {
        // manage页面删除的请求接口
        url: batchHandleUrl + '/doBatchRead/v1',
        method: 'post',
        parameter: {
          entryIds: '',
          executionIds: '',
          taskIds: ''
        }
      },
      batchHandleAfterParam: {
        // manage页面删除的请求接口
        url: batchHandleUrl + '/getBatchHandleInfo/v1',
        method: 'post'
      },
      saveFinishReaderUrl: {
        url: '/api/bpm/bpm/business/finishreader/v1',
        method: 'post'
      },
      options: [
        //普通查询组件传入的选项值
        { value: 'urgent', name: '紧急程度' },
        { value: 'receiveDate', name: '接收日期' }
      ]
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: toReadUrl + '/searchHistTaskByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            taskType: '1',
            taskFinished: '0',
            nodeId: this.params.nodeId,
            nodeType: this.params.nodeType,
            pdId: this.params.procDefId
          },
          keyWord: 1,
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    moment,
    initRealAdvancedSearchFormData() {
      for (let j = 0; j < this.lookupParams.length; j++) {
        for (let k = 0; k < this.avicAdvancedSearchData.length; k++) {
          if (this.avicAdvancedSearchData[k].dataIndex === this.lookupParams[j].fileName) {
            this[this.lookupParams[j].fileName + 'List'] = this.avicAdvancedSearchData[k].list;
          }
        }
      }
      return this.avicAdvancedSearchData;
    },
    reloadTable(param) {
      if (param.nodeId != '' && param.nodeType != '') {
        this.params = param;
        this.$refs[this.tableRefName].loadData(this.queryParam);
      }
    },
    //获取已阅总条数
    getNumber(total) {
      this.toReadTotalNumber = total;
      this.$emit('getToReadTotalNumber', this.toReadTotalNumber);
    },
    //获取数据后渲染表格
    getData(obj) {
      this.getNumber(obj.data.readCount);
      this.data = obj.data.rows;
    },
    //基本查询
    myMissionBaseSearch(params) {
      let searchParamReset = {
        taskType: '1',
        taskFinished: '0',
        nodeId: this.params.nodeId,
        nodeType: this.params.nodeType,
        pdId: this.params.procDefId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //已阅
    handleToRead(row) {
      // modal提示是否删除
      Modal.confirm({
        title: '确定标记为已阅吗？',
        onOk: () => {
          // 确认删除
          this.saveFinishReader(row);
        }
      });
    },
    //已阅，确认后的函数
    saveFinishReader(row) {
      let param = {
        dbid: row.dbid,
        entryId: row.processInstance,
        doTask: true
      };
      let that = this;
      httpAction(this.saveFinishReaderUrl.url, param, this.saveFinishReaderUrl.method)
        .then(res => {
          if (res.success) {
            that.$refs[that.tableRefName].loadData(that.queryParam);
          }
        })
        .catch(e => {});
    },
    //批量已阅
    batchHandleToRead(params) {
      if (params.param.id.length <= 0) {
        this.$message.warning('请选择要办理的记录！');
        return;
      } else {
        this.batchHandleReadParam.parameter.taskIds = '';
        this.batchHandleReadParam.parameter.entryIds = '';
        this.batchHandleReadParam.parameter.executionIds = '';
        let resultData = [];
        for (let i = 0; i < this.data.length; i++) {
          for (let m = 0; m < params.param.id.length; m++) {
            if (params.param.id[m] == this.data[i].dbid) {
              resultData.push(this.data[i]);
            }
          }
        }
        for (let j = 0; j < resultData.length; j++) {
          if (this.batchHandleReadParam.parameter.taskIds == '') {
            this.batchHandleReadParam.parameter.taskIds = resultData[j].dbid;
            this.batchHandleReadParam.parameter.entryIds = resultData[j].processInstance;
            this.batchHandleReadParam.parameter.executionIds = resultData[j].executionId;
          } else {
            this.batchHandleReadParam.parameter.taskIds =
              this.batchHandleReadParam.parameter.taskIds + ',' + resultData[j].dbid;
            this.batchHandleReadParam.parameter.entryIds =
              this.batchHandleReadParam.parameter.entryIds + ',' + resultData[j].processInstance;
            this.batchHandleReadParam.parameter.executionIds =
              this.batchHandleReadParam.parameter.executionIds + ',' + resultData[j].executionId;
          }
        }
        Modal.confirm({
          title: '确定批量操作吗？',
          content: '提示：只有符合批量办理前提条件的才会被办理成功',
          onOk: () => {
            let that = this;
            that.delLoading = true;
            httpAction(
              that.batchHandleReadParam.url,
              that.batchHandleReadParam.parameter,
              that.batchHandleReadParam.method
            )
              .then(res => {
                if (res.success) {
                  that.delLoading = false;
                  this.getBatchHandleInfo();
                }
              })
              .catch(e => {
                that.delLoading = false;
              });
          }
        });
      }
    },
    //批量已阅的回调函数
    getBatchHandleInfo() {
      httpAction(this.batchHandleAfterParam.url, '', this.batchHandleAfterParam.method)
        .then(res => {
          if (res.success) {
            let total = res.result.result[0];
            let success = res.result.result[1];
            let error = res.result.result[2];
            this.$message.success(
              '操作完成！共提交了' + total + '条，成功' + success + '条，失败' + error + '条'
            );
            this.$refs[this.tableRefName].loadData(this.queryParam);
          }
        })
        .catch(e => {
          this.delLoading = false;
        });
    },
    //打开流程详情页面
    handleFlowDetail(params) {
      let _this = this;
      this.openEditFlowLoading = true;
      this.openEditFlowId = params.param.executionId;
      // entryId, executionId, taskId, formId, url, title, taskType, flowDetailUrl
      bpmUtils
        .executeTask(
          params.param.processInstance,
          params.param.executionId,
          params.param.dbid,
          params.param.businessId,
          params.param.formResourceName,
          params.param.processDefName || params.param.taskTitle,
          params.param.taskType
        )
        .then(params => {
          //打开成功
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        })
        .catch(() => {
          //打开失败
          _this.openEditFlowLoading = false;
          _this.openEditFlowId = '';
        });
    }
  }
};
</script>
<style lang="less">
.no-layout-content {
  height: 100%;
  background-color: #fff;
  padding: 10px;
}
.bpm-home {
  .bpm-home-header {
    .header-icon {
      margin-right: 5px;
    }
  }

  .ant-table-small {
    border: none;
  }

  .todo-action {
    text-decoration: none;
  }
}
</style>
