<template>
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>消息通知</h3>
          <!-- 查询 -->
          <div class="surface-tools-bar">
            <!-- 操作按钮: 添加 编辑 删除 导入 导出 -->
            <a-select
              :get-popup-container="triggerNode => triggerNode.parentNode"
              default-value="0"
              style="width: 100px; margin-right: 7px"
              @change="handleChange"
            >
              <a-select-opt-group class="default-option news-manage">
                <span
                  slot="label"
                  style="font-size: 14px; color: rgba(0, 0, 0, 0.85); font-weight: 500"
                >
                  <a-icon type="sound" />我的接收
                </span>
                <a-select-option value>全部</a-select-option>
                <a-select-option value="0">未读</a-select-option>
                <a-select-option value="1">已读</a-select-option>
              </a-select-opt-group>
              <a-select-opt-group class="default-option news-manage">
                <span
                  slot="label"
                  style="font-size: 14px; color: rgba(0, 0, 0, 0.85); font-weight: 500"
                >
                  <a-icon type="user" />我的发送
                </span>
                <a-select-option value="2">我的发送</a-select-option>
              </a-select-opt-group>
            </a-select>
            <!-- 普通查询 -->
            <a-input-search
              class="opt-btn-commonsearch"
              v-show="searchPlaceholder != ''"
              v-model="searchText"
              :placeholder="searchPlaceholder"
              :title="searchPlaceholder"
              :allow-clear="true"
              @search="searchByKeyWord(tableRefName)"
            />
            <a-button
              class="opt-btn-advsearch"
              title="高级搜索"
              @click="handleAdvancedSearch(tableRefName)"
            >
              高级搜索
            </a-button>
            <a-button
              type="primary"
              icon="plus"
              class="table-handle-button"
              @click="handleAdd({ refName: addModalRefName, param: {} })"
            >
              添加
            </a-button>
            <a-button icon="delete" class="table-handle-button" @click="handleDelete">
              删除
            </a-button>
            <a-button
              @click="haveRead"
              icon="check-circle"
              :disabled="recvOrSend == 0"
              class="table-handle-button"
            >
              标记已读
            </a-button>
            <a-button
              @click="noRead"
              icon="stop"
              :disabled="recvOrSend == 0"
              class="table-handle-button"
            >
              标记未读
            </a-button>
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 表格内容 -->
          <AvicAdvancedSearchCollapse
            :ref="advancedSearchRefName"
            :real-advanced-search-form-data="realAdvancedSearchFormData"
            @onChange="changeShowAdvancedSearch"
            @search="advancedSearch"
          >
            <template #form>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="消息的标题"
                >
                  <a-input
                    v-decorator="[
                      'attribute01',
                      {
                        rules: [
                          { message: '请输入项目分类编号！' },
                          {
                            validator: (rule, value, callback) =>
                              validateInputMaxlength(rule, value, callback, 30)
                          }
                        ]
                      }
                    ]"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="消息内容"
                >
                  <a-input
                    v-decorator="[
                      'content',
                      {
                        rules: [
                          { message: '请输入项目分类名称！' },
                          {
                            validator: (rule, value, callback) =>
                              validateInputMaxlength(rule, value, callback, 30)
                          }
                        ]
                      }
                    ]"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="发送时间开始日期"
                >
                  <a-date-picker
                    v-decorator="['sendDate' + 'Begin']"
                    style="width: 100%; min-width: 100px"
                    format="YYYY-MM-DD HH:mm:ss"
                    show-time
                    :show-today="true"
                    placeholder="发送时间"
                    :disabled-date="startValue => disabledStartDate(startValue, 'sendDate' + 'End')"
                  />
                  <!-- 开始日期 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="发送时间结束日期"
                >
                  <a-date-picker
                    v-decorator="['sendDate' + 'End']"
                    style="width: 100%; min-width: 100px"
                    format="YYYY-MM-DD HH:mm:ss"
                    show-time
                    :show-today="true"
                    placeholder="结束日期"
                    :disabled-date="endValue => disabledEndDate(endValue, 'sendDate' + 'Begin')"
                  />
                  <!-- 结束日期 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="消息发送人"
                >
                  <AvicCommonSelect
                    v-decorator="[
                      'sendUser',
                      {
                        initialValue: null
                      }
                    ]"
                    type="userSelect"
                    select-model="single"
                  />
                  <!-- 选人 -->
                </a-form-item>
              </a-col>
            </template>
          </AvicAdvancedSearchCollapse>
          <div class="surface-table">
            <!-- 表格 -->
            <AvicBaseTable
              :ref="tableRefName"
              :table-size="tableSize"
              :is-auto-count-scroll-x="true"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
            >
              <!-- 点击查看详情 -->
              <template slot="attribute01" scope="obj">
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click="
                    handleDetail({
                      refName: detailModalRefName,
                      param: { id: obj.data[rowKey] }
                    })
                  "
                >
                  {{ obj.data.attribute01 }}
                </a>
              </template>
              <template slot="action" scope="obj">
                <div style="text-align: center">
                  <a-switch
                    checked-children="是"
                    un-checked-children="否"
                    @click="
                      isRead({ param: { id: obj.data[rowKey], isReadFlag: obj.data.isReaded } })
                    "
                    :checked="obj.data.isReaded == '是' ? true : false"
                  />
                </div>
              </template>
            </AvicBaseTable>
          </div>
        </div>
        <!-- 弹窗表单区域 -->
        <NewsAdd
          v-if="showAddModal"
          :ref="addModalRefName"
          layout="2"
          :request-public-url="requestPublicUrl"
          @reloadData="reloadData($event, tableRefName)"
          @close="showAddModal = false"
        />
        <NewsDetail
          v-if="showDetailModal"
          :ref="detailModalRefName"
          layout="2"
          :param-id="paramId"
          :request-public-url="requestPublicUrl"
          @closeDetail="menuRefresh"
          @close="showDetailModal = false"
        />
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { Icon, Button, Select, Modal } from 'ant-design-vue';
import NewsAdd from '@views/avic/pt/system/messages/NewsAdd';
import NewsDetail from '@views/avic/pt/system/messages/NewsDetail';
import { httpAction } from '@api/manage';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin'; //高级搜索混入文件
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_NEWSMANAGE';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/appsys/message/MessageRest';

let lookupParams = [
  // { "fileName": "isReaded", "lookUpType": "PLATFORM_MESSAGE_READFLAG" },
];
// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['attribute01', 'action'];
let pageSettingData = [
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    isSearch: true,
    title: '消息的标题',
    dataIndex: 'attribute01',
    scopedSlots: { customRender: 'attribute01' },
    sorter: true,
    align: 'left',
    type: 'input',
    placeholder: '请输入消息标题'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    isSearch: true,
    title: '消息内容',
    dataIndex: 'content',
    sorter: true,
    type: 'textarea',
    decorator: {
      rules: []
    },
    rows: 1,
    placeholder: '请输入消息内容'
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: false,
    title: '来源',
    dataIndex: 'sourceName',
    sorter: true
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '消息发送人',
    dataIndex: 'sendUser',
    sorter: true,
    type: 'commonselect'
  },

  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    title: '发送时间',
    dataIndex: 'sendDate',
    sorter: true,
    align: 'center',
    type: 'datetimerange',
    format: 'YYYY-MM-DD HH:mm:ss',
    submitFormat: 'formatTime'
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: false,
    title: '消息接收人',
    dataIndex: 'recvUser',
    sorter: true,
    type: 'commonselect'
  },
  {
    isTableHidden: false,
    isFormHidden: true,
    isAuthFlag: false,
    title: '到期时间',
    dataIndex: 'disappearDate',
    sorter: true,
    align: 'center',
    format: 'YYYY-MM-DD HH:mm:ss',
    submitFormat: 'formatTime',
    type: 'date'
  },
  {
    isTableHidden: false,
    isFormHidden: false,
    isAuthFlag: false,
    align: 'center',
    title: '是否已读',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' }
  },
  {
    isTableHidden: true,
    isFormHidden: false,
    isAuthFlag: false,
    title: '我的接收',
    dataIndex: 'receiveMsg',
    sorter: true,
    type: 'radio',
    decorator: {
      initialValue: '-1'
    },
    list: [
      { lookupName: '全部', lookupCode: '-1' },
      { lookupName: '未读', lookupCode: '0' },
      { lookupName: '已读', lookupCode: '1' }
    ],
    changeEvent: that => {
      that.searchForm.setFieldsValue({ sendMsg: '' });
    }
  },
  {
    isTableHidden: true,
    isFormHidden: false,
    isAuthFlag: false,
    title: '我的发送',
    dataIndex: 'sendMsg',
    sorter: true,
    type: 'radio',
    list: [{ lookupName: '我的发送', lookupCode: '0' }],
    changeEvent: that => {
      that.searchForm.setFieldsValue({ receiveMsg: '' });
    }
  }
];
export default {
  name: 'NewsManage',
  components: {
    NewsDetail,
    NewsAdd,
    AIcon: Icon,
    AButton: Button,
    ASelect: Select,
    ASelectOption: Select.Option
  },
  mixins: [baseTableMixin, menuRefreshMixin, baseSearchMixin],
  data() {
    return {
      isAdvancedSearch: false,
      isSearchByKeyWord: false,
      moduleName,
      requestPublicUrl,
      lookupParams,
      rowKey,
      dataIndex, // 表格查看详情字段
      pageSettingData,
      isReadedList: '0',
      recvOrSend: '1',
      tableRefName: 'BaseTableList', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      addModalRefName: 'addModal', // 添加弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      isReadList: [],
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      },
      doReadParam: {
        url: requestPublicUrl + '/doread/v1',
        method: 'post'
      },
      doUnReadParam: {
        url: requestPublicUrl + '/dounread/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      let obj = {};
      if (!this.isSearchByKeyWord && !this.isAdvancedSearch) {
        //已读，未读查询条件
        obj = {
          // ...this.searchParam, // 普通查询数据
          // ...this.advancedSearchParam,// 高级查询数据
          isReaded: this.isReadedList, //已读，未读查询条件
          recvOrSend: this.recvOrSend //
        };
      } else if (this.isSearchByKeyWord) {
        // 普通查询数据
        obj = {
          ...this.searchParam, // 普通查询数据
          isReaded: this.isReadedList, //已读，未读查询条件
          recvOrSend: this.recvOrSend //
        };
      } else if (this.isAdvancedSearch) {
        // 高级查询数据
        obj = {
          // ...this.searchParam, // 普通查询数据
          ...this.advancedSearchParam // 高级查询数据
          // isReaded: this.isReadedList,//已读，未读查询条件
          // recvOrSend:this.recvOrSend//
        };
        if (this.advancedSearchParam.receiveMsg != '') {
          obj.recvOrSend = '1';
          obj.isReaded =
            this.advancedSearchParam.receiveMsg == '-1' ? '' : this.advancedSearchParam.receiveMsg;
        } else if (this.advancedSearchParam.sendMsg != '') {
          obj.recvOrSend = '0';
          obj.isReaded = '';
        }
      }
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: obj,
          keyWord: this.isSearchByKeyWord ? this.searchText : null,
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    //删除
    handleDelete() {
      let ids = this.selectedRowKeys;
      if (this.selectedRowKeys.length == 0) {
        this.$message.warning('请选择一条要删除的数据！');
        return;
      }
      Modal.confirm({
        title: '确认要删除选中的数据吗?',
        onOk: () => {
          // 确认删除
          this.handleConfirm(ids);
        },
        onCancel: () => {
          // 取消删除
          //            this.handleCancel();
        }
      });
    },
    handleConfirm(ids) {
      let that = this;
      httpAction(that.delParam.url, that.selectedRowKeys.join(','), that.delParam.method).then(
        res => {
          if (res.success) {
            that.$message.success('删除成功！'); // 提示删除成功
            that.selectedRowKeys = []; // 清空表格选中项
            that.reloadData(true, that.tableRefName); //刷新表格
          }
        }
      );
    },
    handleChange(value) {
      if (value == '2') {
        //我的发送
        this.isReadedList = '';
        this.recvOrSend = '0';
        this.isAdvancedSearch = false;
        this.$refs[this.tableRefName].loadData(this.queryParam);
      } else {
        //我的接收
        this.recvOrSend = '1';
        this.isReadedList = value;
        this.isAdvancedSearch = false;
        this.$refs[this.tableRefName].loadData(this.queryParam);
      }
    },
    //是否已读
    isRead(value) {
      //alert(JSON.stringify(value));
      let that = this;
      let param = value.param.id;
      let isReadFlag = value.param.isReadFlag;
      if (isReadFlag == '否') {
        httpAction(that.doReadParam.url, param, that.doReadParam.method).then(res => {
          if (res.success) {
            that.$message.success('设置已读成功！'); // 提示成功
            that.reloadData(true, that.tableRefName); //刷新表格
          }
        });
      } else {
        httpAction(that.doUnReadParam.url, param, that.doUnReadParam.method).then(res => {
          if (res.success) {
            that.$message.success('设置未读成功！'); // 提示成功
            that.selectedRowKeys = []; // 清空表格选中项
            that.reloadData(true, that.tableRefName); //刷新表格
          }
        });
      }
    },
    //标记已读
    haveRead() {
      let that = this;
      let ids = this.selectedRowKeys;
      if (this.selectedRowKeys.length == 0) {
        this.$message.warning('请选择一条数据！');
        return;
      }
      let param = ids.join(',');
      httpAction(that.doReadParam.url, param, that.doReadParam.method).then(res => {
        if (res.success) {
          that.$message.success('设置已读成功！'); // 提示成功
          that.selectedRowKeys = []; // 清空表格选中项
          that.reloadData(true, that.tableRefName); //刷新表格
        }
      });
    },
    //标记未读
    noRead() {
      let that = this;
      let ids = this.selectedRowKeys;
      if (this.selectedRowKeys.length == 0) {
        this.$message.warning('请选择一条数据！');
        return;
      }
      let param = ids.join(',');
      httpAction(that.doUnReadParam.url, param, that.doUnReadParam.method).then(res => {
        if (res.success) {
          that.$message.success('设置未读成功！'); // 提示成功
          that.selectedRowKeys = []; // 清空表格选中项
          that.reloadData(true, that.tableRefName); //刷新表格
        }
      });
    },
    // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
    menuRefresh() {
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    searchByKeyWord(tableRefName) {
      this.isSearchByKeyWord = true;
      console.log(this.queryParam);
      this.$refs[tableRefName].loadData(this.queryParam);
    }
  }
};
</script>
<style lang="less">
.news-manage > .ant-select-dropdown-menu-item-group-list > .ant-select-dropdown-menu-item {
  padding-left: 25px;
}
.news-manage-page {
  .table-operator {
    .ant-btn {
      padding: 0 8px;
    }
    .news-search-keyword {
      width: 140px !important;
    }
  }
}
</style>
