<template>
  <a-modal
    v-model="visible"
    title="网络请求日志"
    :after-close="afterClose"
    :body-style="{ padding: '5px' }"
    :width="960"
    style="top: 40px"
  >
    <a-table :columns="columns" :data-source="getAxiosList" size="small" />
    <template slot="footer">
      <a-button key="back" @click="visible = false">关闭</a-button>
    </template>
  </a-modal>
</template>

<script>
import { Modal, Table } from 'ant-design-vue';
import { mapGetters } from 'vuex';

const columns = [
  {
    title: '服务组件',
    dataIndex: 'moduleCode',
    key: 'moduleCode'
  },
  {
    title: 'URL',
    dataIndex: 'url',
    key: 'url'
  },
  {
    title: '耗时(ms)',
    dataIndex: 'duration',
    key: 'duration'
  }
];
export default {
  name: 'AxiosLogList',
  components: {
    AModal: Modal,
    ATable: Table
  },
  data() {
    return {
      visible: true,
      columns
    };
  },
  computed: {
    ...mapGetters(['getAxiosList'])
  },
  methods: {
    afterClose() {
      this.$emit('close');
    }
  }
};
</script>
