<template>
  <div class="dom_box flow-nav-demo">
    <h1>流程标签页组件</h1>
    <div class="dom_content">
      <h3>使用示例</h3>
      <div>
        <a-row :gutter="[8, 26]">
          <a-col :span="2" />
          <a-col :span="20">
            <AvicBpmTabs ref="flowNavRef" tabs-top="120px" @scrollViewByTab="scrollViewByTab" />
          </a-col>
          <a-col :span="2" />
        </a-row>
        <a-row>
          <a-col :span="24">
            <div class="code_box" @click="onOpenList">
              查看代码
              <div class="code_icon">
                <a-icon :type="openList ? 'eye' : 'eye-invisible'" />
              </div>
            </div>
            <div class="code_main" v-show="openList">
              <pre>
              <p>template部分</p>
              &lt;!-- 本例中修改组件定位到父容器中，无需定义tabsTop -->
              &lt;AvicBpmTabs
                ref="flowNavRef" 
                @scrollViewByTab="scrollViewByTab"
              /&gt;
              <p>script部分</p>
              mounted() {
                // 获取用户的流程详情标签页配置
                this.getBpmNavbarType()
              },
              <hr />
              // 导航选项点击事件
              scrollViewByTab(tab) {
                if (tab.id) {
                  // 流程详情模板组件中按需实现scrollViewByTab方法
                  // this.$refs[tab.id][0].scrollIntoView({ behavior: 'smooth' })
                }
              },
            </pre>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>方法</h3>
      <a-table :columns="columnsFunction" :data-source="dataFunction" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>

<script>
import AvicBpmTabs from '@/components/avic/bpm/AvicBpmTabs';
import { mapActions } from 'vuex';
export default {
  name: 'FlowNavDemo',
  components: {
    AvicBpmTabs
  },
  data() {
    return {
      openList: false,
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'tabsTop',
          explain:
            '组件相对窗口顶部定位的top样式。本组件默认fixed定位，可用全局作用域的的css覆盖该样式。',
          type: 'String',
          default: '-',
          required: '否'
        }
      ],
      columnsFunction: [
        {
          title: '方法名称',
          dataIndex: 'funcName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '参数',
          dataIndex: 'params'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      dataFunction: [
        {
          funcName: 'getBpmNavbarType',
          explain: '获取用户的流程详情标签页配置，由Vuex-BpmTabs模块提供',
          params: '-',
          required: '-'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'eventName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'parameter'
        }
      ],
      dataEvent: [
        {
          eventName: 'scrollViewByTab',
          explain: '标签页导航点击事件',
          parameter:
            'fn({id}), id：bpm_form_tab-文本内容；bpm_pic_tab：流程跟踪；bpm_idea_tab：流程意见'
        }
      ]
    };
  },
  mounted() {
    // 获取用户的流程详情标签页配置
    this.getBpmNavbarType();
  },
  methods: {
    //注册事件
    ...mapActions(['getBpmNavbarType']),
    onOpenList() {
      this.openList = !this.openList;
    },
    // 导航选项点击事件
    scrollViewByTab(tab) {
      if (tab.id) {
        // 流程详情模板组件中按需实现scrollViewByTab方法
        // this.$refs[tab.id][0].scrollIntoView({ behavior: 'smooth' })
      }
    }
  }
};
</script>
<style lang="less">
.flow-nav-demo {
  .flow-avic-top {
    position: static;
  }
}
</style>
<style lang="less" scoped>
@import '../style/base.less';
</style>
