<template>
  <div class="dom_box">
    <h1>流程图组件</h1>
    <div class="dom_content">
      <h3>使用示例</h3>
      <div>
        <a-row>
          <a-col :span="24">
            <AvicBpmChartTemplate
              :ref="refFlowNameEntry"
              :flow-param="flowParamByInstanceId"
              :type="type"
              :content-loading="contentLoading"
              @clickNode="clickNode"
            />
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24">
            <div class="code_box" @click="onOpenList">
              查看代码
              <div class="code_icon">
                <a-icon :type="openList ? 'eye' : 'eye-invisible'" />
              </div>
            </div>
            <div class="code_main" v-show="openList">
              <pre>
              <p>template部分</p>
              
              &lt;AvicBpmChartTemplate
                :ref="refFlowNameEntry"
                :flow-param="flowParamByInstanceId"
                :type="type"
                @clickNode="clickNode"
              /&gt;
              <hr />
              <p>script部分</p>
              
              //获取流程图数据请求
              flowParamByInstanceId: {
                url: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXml/v1',
                parameter: {},
                method: 'post'
              }
              <hr />
              mounted() {
                this.loadDataByEntryId(this.entryId)
              }
              <hr />
              loadDataByEntryId(entryId) {
                if (entryId) {
                  this.flowParamByInstanceId.parameter.processInstanceId = entryId
                }
                this.$refs[this.refFlowNameEntry].refreshFlowChart()
              },
            </pre>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
    <div class="dom_content">
      <h3>API</h3>
      <a-table :columns="columns" :data-source="data" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>方法</h3>
      <a-table :columns="columnsFunction" :data-source="dataFunction" :pagination="false" />
    </div>
    <div class="dom_content">
      <h3>事件</h3>
      <a-table :columns="columnsEvent" :data-source="dataEvent" :pagination="false" />
    </div>
  </div>
</template>

<script>
import AvicBpmChartTemplate from '@/components/avic/bpm/AvicBpmChartTemplate';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  name: 'FlowChartDemo',
  components: {
    AvicBpmChartTemplate
  },
  data() {
    return {
      refFlowNameEntry: 'flowEntry',
      openList: false,
      //获取流程图数据请求
      flowParamByInstanceId: {
        url: bpmUtils.baseurl + '/clientbpmdisplayaction/getProcessXml/v1',
        parameter: {},
        method: 'post'
      },
      type: null,
      contentLoading: false,
      entryId: '8a69c6b273945f22017399ba1438126b',
      columns: [
        {
          title: '参数',
          dataIndex: 'parameter'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '类型',
          dataIndex: 'type'
        },
        {
          title: '默认值',
          dataIndex: 'default'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      data: [
        {
          parameter: 'flowParam',
          explain: '加载流程图的必要参数',
          type: 'Object - {url:"请求地址", parameter: "请求参数", method: "请求类型"}',
          default: '-',
          required: '是'
        },
        {
          parameter: 'type',
          explain:
            '点击流程节点点击类型（dosupplement：补发；dowithdraw：拿回；doglobaljump：流程跳转；doretreattowant：任意退回；dostepuserdefined：自定义选人）',
          type: 'String',
          default: 'null',
          required: '否'
        },
        {
          parameter: 'contentLoading',
          explain: '是否隐藏流程图的加载动画',
          type: 'Boolean',
          default: true,
          required: '否'
        }
      ],
      columnsFunction: [
        {
          title: '方法名称',
          dataIndex: 'funcName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '参数',
          dataIndex: 'params'
        },
        {
          title: '是否必填',
          dataIndex: 'required'
        }
      ],
      dataFunction: [
        {
          funcName: 'refreshFlowChart',
          explain:
            'this.$refs.refName.refreshFlowChart()，按照指定参数请求流程图数据，并加载或重载流程图',
          params: '-',
          required: '否'
        }
      ],
      columnsEvent: [
        {
          title: '事件名称',
          dataIndex: 'eventName'
        },
        {
          title: '说明',
          dataIndex: 'explain'
        },
        {
          title: '回调参数',
          dataIndex: 'parameter'
        }
      ],
      dataEvent: [
        {
          eventName: 'clickNode',
          explain: '流程图节点点击事件-补发 type:dosupplement',
          parameter: 'fn(activityName, executionId), activityName-节点名称；executionId-执行ID'
        },
        {
          eventName: 'clickNode',
          explain: '流程图节点点击事件-拿回 type:dowithdraw',
          parameter: 'fn(activityName, executionId), activityName-节点名称；executionId-执行ID'
        },
        {
          eventName: 'clickNode',
          explain: '流程图节点点击事件-任意退回 type:doretreattowant',
          parameter: 'fn(activityName), activityName-节点名称'
        },
        {
          eventName: 'clickNode',
          explain: '流程图节点点击事件-自定义选人 type:dostepuserdefined',
          parameter:
            'fn(activityName, executionId, entryId) activityName-节点名称；executionId-执行ID；entryId：实例ID'
        }
      ]
    };
  },
  mounted() {
    this.loadDataByEntryId(this.entryId);
  },
  methods: {
    onOpenList() {
      this.openList = !this.openList;
    },
    loadDataByEntryId(entryId) {
      if (entryId) {
        this.flowParamByInstanceId.parameter.processInstanceId = entryId;
      }
      this.$refs[this.refFlowNameEntry].refreshFlowChart();
    },
    //流程点击事件
    clickNode(activityName, executionId, procinstDbid) {
      // this.$emit('clickNode', { activityName: activityName, executionId: executionId, procinstDbid: procinstDbid })
    }
  }
};
</script>
<style lang="less" scoped>
@import '../style/base.less';
</style>
