<template>
  <div class="avic-tab avic-bpm-process-delegation">
    <a-tabs
      id="BpmProcessDelegationManageTabs"
      default-active-key="1"
      class="module-tabs avic-module-tab"
    >
      <a-tab-pane key="1" tab="我的委托" force-render>
        <MyDelegation ref="MyDelegation" />
      </a-tab-pane>
      <a-tab-pane key="2" tab="我的受托">
        <MyTrusteeship ref="MyTrusteeship" />
      </a-tab-pane>
    </a-tabs>
  </div>
</template>
<script>
import './style/base.less';
import { Tabs } from 'ant-design-vue';
import MyDelegation from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/MyDelegation';
import MyTrusteeship from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/MyTrusteeship';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
export default {
  name: 'BpmProcessDelegationManage',
  components: {
    ATabs: Tabs,
    ATabPane: Tabs.TabPane,
    MyDelegation,
    MyTrusteeship
  },
  mixins: [menuRefreshMixin],
  methods: {
    /**
     * 右击页签刷新页面
     */
    menuRefresh() {
      if (this.$refs.MyDelegation) {
        this.$refs.MyDelegation.pageRefresh();
      }
      if (this.$refs.MyDelegation) {
        this.$refs.MyTrusteeship.pageRefresh();
      }
    }
  }
};
</script>
<style lang="less">
.card-container {
  background-color: #fff;
  .ant-tabs {
    width: 100%;
  }
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  .ant-tabs-content {
    height: calc(100% - 44px);
  }
}
</style>
