<template>
  <AvicModal
    :visible="visible"
    modal-title="委托详情"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    :footer="null"
    @cancel="closeModal"
  >
    <a-form :form="form" layout="horizontal">
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托人"
            >
              <AvicCommonSelect
                v-decorator="['workOwnerId']"
                type="userSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托人部门"
            >
              <AvicCommonSelect
                v-decorator="['workOwnerDeptId']"
                type="deptSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="默认受托人"
            >
              <AvicCommonSelect
                v-decorator="['receptUserId']"
                type="userSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="受托人部门"
            >
              <AvicCommonSelect
                v-decorator="['receptDeptId']"
                type="deptSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="起始日期"
            >
              <a-date-picker
                v-decorator="['handEffectiveDate']"
                format="YYYY-MM-DD"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="截止日期"
            >
              <a-date-picker v-decorator="['backDate']" format="YYYY-MM-DD" :disabled="true" />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托已有待办事宜"
            >
              <a-checkbox-group
                v-decorator="[
                  'handAcceptedTask',
                  {
                    initialValue: []
                  }
                ]"
                :disabled="true"
              >
                <a-checkbox value="1" />
              </a-checkbox-group>
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="到期后自动注销"
            >
              <a-checkbox-group
                v-decorator="[
                  'expireAutoCancel',
                  {
                    initialValue: []
                  }
                ]"
                :disabled="true"
              >
                <a-checkbox value="1" />
              </a-checkbox-group>
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="委托原因"
            >
              <a-textarea v-decorator="['handReason']" :rows="1" :disabled="true" />
            </a-form-item>
          </a-col>
        </a-row>
      </div>
      <div v-if="modelList.length > 0">
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="自定义委托"
            />
          </a-col>
        </a-row>
        <div v-for="(item, i) in modelList" :key="'mlist-' + i">
          <a-row>
            <a-col v-bind="formColLayout.cols">
              <a-form-item
                :label-col="formColLayout.labelCol"
                :wrapper-col="formColLayout.wrapperCol"
                label="委托范围"
              >
                <a-input v-model="item.modelName" :disabled="true" />
              </a-form-item>
            </a-col>
            <a-col v-bind="formColLayout.cols">
              <a-form-item
                :label-col="formColLayout.labelCol"
                :wrapper-col="formColLayout.wrapperCol"
                label="受托人"
              >
                <a-input v-model="item.receptUserName" :disabled="true" />
              </a-form-item>
            </a-col>
          </a-row>
        </div>
      </div>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { httpAction } from '@api/manage';
let modalFormData = [
  {
    dataIndex: 'workOwnerId',
    type: 'commonselect'
  },
  {
    dataIndex: 'workOwnerDeptId',
    type: 'commonselect'
  },
  {
    dataIndex: 'receptUserId',
    type: 'commonselect'
  },
  {
    dataIndex: 'receptDeptId',
    type: 'commonselect'
  },
  {
    dataIndex: 'handEffectiveDate',
    type: 'date',
    format: 'YYYY-MM-DD'
  },
  {
    dataIndex: 'backDate',
    type: 'date',
    format: 'YYYY-MM-DD'
  },
  {
    dataIndex: 'handAcceptedTask',
    type: 'checkbox'
  },
  {
    dataIndex: 'expireAutoCancel',
    type: 'checkbox'
  },
  {
    dataIndex: 'handReason',
    type: 'textarea'
  }
];
export default {
  name: 'DelegationDetail',
  mixins: [baseModalFormMixin],
  props: {
    paramId: {
      // 初始查询参数
      type: String,
      default: ''
    }
  },
  data() {
    return {
      detailParam: {
        // 弹窗详情的请求接口
        url: '/api/bpm/bpm/business/workhand/workHandDetail/v1',
        method: 'post'
      },
      modalFormData, // 表单基础信息
      modelList: [] // 自定义委托列表数据
    };
  },
  mounted() {
    this.openModal(this.paramId);
  },
  methods: {
    /**
     * 当前弹窗打开事件
     */
    openModal(paramId) {
      this.form.resetFields(); // 清空表单
      this.visible = true; // 打开弹窗
      let that = this;
      httpAction(this.detailParam.url, paramId, this.detailParam.method).then(res => {
        if (res.success) {
          if (res.result && res.result.workHand) {
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] =
                res.result.workHand[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key]) {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = this.moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = {
                    ids: data[key],
                    names: res.result.workHand[key.replace(/Id$/, 'Name')]
                  };
                }
              }
            }
            // 将处理好的数据塞入本页面表单
            this.form.setFieldsValue(newData);
          }
          if (res.result && res.result.modelList) {
            // 自定义委托数据
            this.modelList = res.result.modelList;
          }
        }
      });
    },
    /**
     * 当前弹窗关闭事件
     */
    closeModal() {
      this.$emit('close');
    }
  }
};
</script>
