<template>
  <AvicModal
    :visible="visible"
    modal-title="修改委托"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal">关闭</a-button>
      <a-button type="primary" :loading="modalLoading" @click="saveForm"> 确定 </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托人"
            >
              <AvicCommonSelect
                v-decorator="['workOwnerId']"
                type="userSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托人部门"
            >
              <AvicCommonSelect
                v-decorator="['workOwnerDeptId']"
                type="deptSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="默认受托人"
            >
              <AvicCommonSelect
                v-decorator="['receptUserId']"
                type="userSelect"
                select-model="single"
                placeholder="请选择默认接受人"
                @callBack="setReceptDept"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="受托人部门"
            >
              <AvicCommonSelect
                v-decorator="['receptDeptId']"
                type="deptSelect"
                select-model="single"
                :disabled="true"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="起始日期"
            >
              <a-date-picker
                v-decorator="[
                  'handEffectiveDate',
                  {
                    rules: [{ required: true, message: '请选择起始日期！' }]
                  }
                ]"
                format="YYYY-MM-DD"
                :show-today="true"
                :disabled-date="formatDisabledDate"
                placeholder="请选择起始日期"
              />
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="截止日期"
            >
              <a-date-picker
                v-decorator="[
                  'backDate',
                  {
                    rules: [{ required: true, message: '请选择截止日期！' }]
                  }
                ]"
                format="YYYY-MM-DD"
                :show-today="true"
                :disabled-date="formatDisabledDate"
                placeholder="请选择截止日期"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="委托已有待办事宜"
            >
              <a-checkbox-group
                v-decorator="[
                  'handAcceptedTask',
                  {
                    initialValue: []
                  }
                ]"
              >
                <a-checkbox value="1" />
              </a-checkbox-group>
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="到期后自动注销"
            >
              <a-checkbox-group
                v-decorator="[
                  'expireAutoCancel',
                  {
                    initialValue: []
                  }
                ]"
              >
                <a-checkbox value="1" />
              </a-checkbox-group>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="委托原因"
            >
              <a-textarea
                v-decorator="['handReason', { rules: [] }]"
                :rows="1"
                placeholder="请输入委托原因"
              />
              <AvicTextareaCount target="handReason" :len="100" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="自定义委托"
            >
              <a-checkbox :checked="checked" @change="customProcessWayChange">
                (注:配置特定流程的委托人)
              </a-checkbox>
            </a-form-item>
          </a-col>
        </a-row>
      </div>
      <div v-if="isCustomProcess">
        <a-row>
          <a-col :span="24">
            <a-button icon="plus" @click="addCustomProcess">添加</a-button>
          </a-col>
        </a-row>
        <div v-for="item in customProcessList" :key="item.id">
          <a-row>
            <a-col :span="10">
              <a-form-item
                :label-col="formColLayout.labelCol"
                :wrapper-col="formColLayout.wrapperCol"
                label="委托范围"
              >
                <a-input v-model="item.modelId" style="display: none" />
                <a-input v-model="item.workHandType" style="display: none" />
                <a-input
                  v-model="item.modelName"
                  readonly
                  @click="openDelegationScopeModal(item)"
                />
              </a-form-item>
            </a-col>
            <a-col :span="10">
              <a-form-item
                :label-col="formColLayout.labelCol"
                :wrapper-col="formColLayout.wrapperCol"
                label="受托人"
              >
                <AvicCommonSelect
                  v-model="item.receptUser"
                  type="userSelect"
                  select-model="single"
                />
              </a-form-item>
            </a-col>
            <a-col :span="4" style="padding-left: 20px">
              <a-form-item :label-col="{ span: 0 }" :wrapper-col="{ span: 24 }" label="">
                <a-button icon="delete" @click="removeCustomProcess(item)" style="margin: 0 5px">
                  删除
                </a-button>
              </a-form-item>
            </a-col>
          </a-row>
        </div>
      </div>
    </a-form>
    <DelegationScope :ref="DelegationScopeRefName" @sendSelectedFlow="sendSelectedFlow" />
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import DelegationScope from '@views/avic/pt/system/flowCenter/bpmprocessdelegation/DelegationScope';
import { httpAction } from '@api/manage';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },
  {
    dataIndex: 'workOwnerId',
    type: 'commonselect'
  },
  {
    dataIndex: 'workOwnerDeptId',
    type: 'commonselect'
  },
  {
    dataIndex: 'receptUserId',
    type: 'commonselect'
  },
  {
    dataIndex: 'receptDeptId',
    type: 'commonselect'
  },
  {
    dataIndex: 'handEffectiveDate',
    type: 'date',
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime'
  },
  {
    dataIndex: 'backDate',
    type: 'date',
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime'
  },
  {
    dataIndex: 'handAcceptedTask',
    type: 'checkbox'
  },
  {
    dataIndex: 'expireAutoCancel',
    type: 'checkbox'
  },
  {
    dataIndex: 'handReason',
    type: 'textarea'
  }
];
export default {
  name: 'DelegationEdit',
  mixins: [baseModalFormMixin],
  components: {
    DelegationScope
  },
  props: {
    paramId: {
      // 初始查询参数
      type: String,
      default: ''
    }
  },
  data() {
    return {
      modalFormData, // 表单基本信息数据
      toUpdateParam: {
        // 弹窗详情的请求接口
        url: '/api/bpm/bpm/business/workhand/toUpdate/v1',
        method: 'post'
      },
      updateParam: {
        // 添加弹窗保存时的请求接口
        url: '/api/bpm/bpm/business/workhand/updateWorkHand/v1',
        method: 'post'
      },
      checked: false,
      isCustomProcess: false,
      count: 0,
      customProcessList: [],
      DelegationScopeRefName: 'DelegationScopeModal' // 委托范围弹窗ref名称
    };
  },
  mounted() {
    this.openModal(this.paramId);
  },
  methods: {
    /**
     * 当前弹窗打开事件
     */
    openModal(id) {
      this.form.resetFields(); // 清空表单
      this.visible = true; // 打开弹窗
      // 清空处理
      this.checked = false;
      this.isCustomProcess = false;
      this.count = 0;
      this.customProcessList = [];
      // 获取详情
      this.getDetail(id);
    },
    /**
     * 当前弹窗关闭事件
     */
    closeModal() {
      this.$emit('close');
    },
    /**
     * 选择默认接受人后,将其所在部门自动带出来
     */
    setReceptDept(params) {
      this.form.setFieldsValue({ receptDeptId: { ids: params.deptid, names: params.deptname } });
    },
    /**
     * 自定义委托复选框变化
     */
    customProcessWayChange(e) {
      this.checked = e.target.checked;
      this.isCustomProcess = e.target.checked;
    },
    /**
     * 添加自定义委托列
     */
    addCustomProcess() {
      this.count += 1;
      this.customProcessList.push({
        id: this.count,
        modelId: '',
        modelName: '',
        workHandType: '',
        receptUser: {
          ids: '',
          names: ''
        }
      });
    },
    /**
     * 删除自定义委托列
     */
    removeCustomProcess(item) {
      this.customProcessList = this.customProcessList.filter(i => i.id !== item.id);
    },
    /**
     * 打开流程范围弹窗
     */
    openDelegationScopeModal(item) {
      this.$refs[this.DelegationScopeRefName].openModal(item);
    },
    /**
     * 拿到流程弹窗数据,渲染回自定义委托列表
     */
    sendSelectedFlow(params) {
      for (let i = 0; i < this.customProcessList.length; i++) {
        if (this.customProcessList[i].id === params.id) {
          this.customProcessList[i].modelId = params.data.modelIds;
          this.customProcessList[i].modelName = params.data.modelNames;
          this.customProcessList[i].workHandType = params.data.modelType;
        }
      }
    },
    /**
     * 获取详情
     */
    getDetail(id) {
      let that = this;
      httpAction(this.toUpdateParam.url, id, this.toUpdateParam.method).then(res => {
        if (res.success) {
          if (res.result && res.result.workHand) {
            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
            let data = new Object();
            for (let i = 0; i < this.modalFormData.length; i++) {
              data[this.modalFormData[i].dataIndex] =
                res.result.workHand[this.modalFormData[i].dataIndex];
            }
            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
            let newData = new Object();
            for (let key in data) {
              if (data[key]) {
                newData[key] = data[key];
              }
            }
            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
            for (let key in newData) {
              for (let i = 0; i < that.modalFormData.length; i++) {
                if (
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'date') ||
                  (that.modalFormData[i].dataIndex === key &&
                    that.modalFormData[i].type === 'datetime')
                ) {
                  newData[key] = this.moment(data[key]);
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'checkbox'
                ) {
                  newData[key] = data[key].split(',');
                } else if (
                  that.modalFormData[i].dataIndex === key &&
                  that.modalFormData[i].type === 'commonselect'
                ) {
                  newData[key] = {
                    ids: data[key],
                    names: res.result.workHand[key.replace(/Id$/, 'Name')]
                  };
                }
              }
            }
            // 将处理好的数据塞入本页面表单
            this.form.setFieldsValue(newData);
          }
          if (res.result && res.result.modelList.length > 0) {
            // 自定义委托数据
            this.checked = true;
            this.isCustomProcess = true;
            this.customProcessList = res.result.modelList;
            for (let i = 0; i < this.customProcessList.length; i++) {
              this.customProcessList[i].receptUser = {
                ids: this.customProcessList[i].receptUserId,
                names: this.customProcessList[i].receptUserName
              };
            }
          }
        }
      });
    },
    /**
     * 保存
     */
    saveForm(e) {
      e.preventDefault();
      let that = this;
      this.form.validateFields((err, values) => {
        // 校验基础表单并处理
        if (!err) {
          // 基础表单数据处理
          let newValues = formDataPretreatment(values, this.modalFormData);
          // 自定义委托数据定义
          let modulesData = [];
          // 校验: 默认委托人和自定义委托至少选择一个
          if (
            (newValues.receptUserId === undefined || newValues.receptUserId === '') &&
            !this.checked
          ) {
            this.$message.warning('默认受托人和自定义委托不能都为空！');
            return;
          }
          // 校验: 若勾选了自定义委托,则必须最少有一条自定义委托记录,并且每条记录流程范围和受托人均要有值
          if (this.checked) {
            if (this.customProcessList.length < 1) {
              this.$message.warning('您还没有添加自定义委托');
              return;
            } else {
              let flag = false;
              for (let i = 0; i < this.customProcessList.length; i++) {
                if (
                  this.customProcessList[i].modelId === '' ||
                  this.customProcessList[i].receptUser.ids === ''
                ) {
                  flag = true;
                  break;
                }
              }
              if (flag) {
                this.$message.warning('您还没有选择流程委托范围或受托人');
                return;
              } else {
                // 校验通过设置基础表单customWorkhand字段值
                newValues.customWorkhand = 'on';
                // 整理自定义委托数据
                for (let i = 0; i < this.customProcessList.length; i++) {
                  let customProcess = this.customProcessList[i];
                  let modelIdArr = customProcess.modelId.split(',');
                  let userId = customProcess.receptUser.ids;
                  let workHandTypeArr = customProcess.workHandType.split(',');
                  for (let j = 0; j < modelIdArr.length; j++) {
                    modulesData.push({
                      modelId: modelIdArr[j],
                      userId,
                      workHandType: workHandTypeArr[j]
                    });
                  }
                }
              }
            }
          }
          // 整理提交数据
          let param = {};
          if (this.checked) {
            param = {
              dataVo: JSON.stringify(newValues),
              modules: JSON.stringify(modulesData)
            };
          } else {
            param = {
              dataVo: JSON.stringify(newValues)
            };
          }
          // 发送请求
          this.modalLoading = true; // 按钮开启loading状态
          httpAction(this.updateParam.url, param, this.updateParam.method)
            .then(res => {
              if (res.success) {
                that.$message.success('操作成功！'); // 提示成功
                that.$emit('reloadData', false); // 刷新表格
                that.$emit('close');
              }
              that.modalLoading = false; // 按钮关闭loading状态
            })
            .catch(() => {
              that.modalLoading = false; // 按钮关闭loading状态
            });
        }
      });
    }
  }
};
</script>
