<template>
  <a-modal
    :visible="previewIndexModal"
    title="预览"
    :centered="true"
    :mask-closable="false"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    :destroy-on-close="true"
    :footer="null"
    wrap-class-name="table-modal-wrap"
    @cancel="closeModal"
  >
    <template v-if="show">
      <generate-form
        v-if="widgetForm.list.length > 0"
        insite="true"
        :data="widgetForm"
        ref="generateForm"
      />
      <a-empty description="暂无配置" v-else />
    </template>
  </a-modal>
</template>

<script>
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import GenerateForm from '@comp/avic/pt/common/AvicFormMaking/components/GenerateForm';
export default {
  name: 'PortalConfigPreview',
  components: {
    GenerateForm
  },
  data() {
    return {
      portLet: {},
      portalDesignData: null,
      previewIndexModal: false,
      widgetForm: {},
      show: false,
      modalWidthAndHeight: modalWidthAndHeight(1, 1, 55, 'hidden', '#f1f2f7'),
      defaultWidgetForm: {
        list: [],
        config: { labelWidth: 100, labelPosition: 'right', size: 'small' }
      },
      updateUrl: '/api/appsys/portlet/portalConfig/update/v1'
    };
  },
  mounted() {
    this.modalWidthAndHeight.modalStyle['top'] = '0px';
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 55, 'hidden', 'fff');
    });
  },
  methods: {
    closeModal() {
      // 返回关闭事件
      this.previewIndexModal = false;
    },
    openModal(res) {
      this.portLet = res;
      if (res.content && res.content != '') {
        this.widgetForm = JSON.parse(res.content);
      } else {
        this.widgetForm = res.content;
      }
      this.widgetForm = this.widgetForm ? this.widgetForm : this.defaultWidgetForm;
      this.visible = false;
      this.previewIndexModal = true;
      this.show = true;
    }
  }
};
</script>
