<template>
  <a-modal
    :visible="editIndexModal"
    :centered="true"
    :mask-closable="false"
    :closable="false"
    :footer="null"
    :style="modalWidthAndHeight.modalStyle"
    :width="modalWidthAndHeight.modalStyle.width"
    :body-style="modalWidthAndHeight.bodyStyle"
    :destroy-on-close="true"
    wrap-class-name="table-modal-wrap"
    ok-text="保存"
    @ok="savePortalDesign"
    @cancel="closeModal"
  >
    <template v-if="show">
      <AvicAsyncComponent
        :widget-form="widgetForm"
        :path="comPath"
        :port-let="portLet"
        :delay="delay"
        @updateDesign="updateDesign"
        @closeModal="closeModal"
        @savePortalDesign="savePortalDesign"
      />
    </template>
  </a-modal>
</template>

<script>
import '@assets/styles/common/base-modal.less';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { httpAction } from '@/api/manage';
import AvicAsyncComponent from '@comp/avic/pt/common/AvicAsyncComponent/index';
import { mapGetters } from 'vuex';
export default {
  name: 'PortalConfigDesign',
  components: {
    AvicAsyncComponent
  },
  data() {
    return {
      portLet: {},
      portalDesignData: null,
      editIndexModal: false,
      widgetForm: {},
      show: false,
      modalWidthAndHeight: modalWidthAndHeight(1, 1, 0, 'hidden', 'fff'),
      defaultWidgetForm: {
        list: [],
        config: { labelWidth: 100, labelPosition: 'right', size: 'small' }
      },
      updateUrl: '/api/appsys/portlet/portalConfig/update/v1',
      comPath: 'components/avic/pt/common/AvicFormMaking/entry',
      delay: 0
    };
  },
  computed: {
    ...mapGetters(['getPortLet'])
  },
  mounted() {
    this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 0, 'hidden', '#fff');
    this.modalWidthAndHeight.bodyStyle['padding'] = '0px';
    this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(1, 1, 0, 'hidden', '#fff');
      this.modalWidthAndHeight.bodyStyle['padding'] = '0px';
      this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
    });
  },
  methods: {
    updateDesign(data) {
      this.portalDesignData = data;
    },
    savePortalDesign() {
      if (this.portalDesignData && this.portLet.id) {
        let param = {
          id: this.portLet.id,
          content: JSON.stringify(this.portalDesignData),
          portletName: this.portLet.portletName
        };
        httpAction(this.updateUrl, param, 'post')
          .then(res => {
            if (res.success) {
              this.editIndexModal = false;
              this.$message.success('保存成功!');
              this.$emit('reloadData'); //更新表格
            } else {
              this.editIndexModal = false;
              this.$message.success('保存失败!');
            }
          })
          .catch(() => {});
      }
    },
    closeModal() {
      // 返回关闭事件
      this.editIndexModal = false;
    },
    openModal(res) {
      this.portLet = res;
      this.portLet.resourceType = 0;
      if (res.content && res.content != '') {
        this.widgetForm = JSON.parse(res.content);
      } else {
        this.widgetForm = res.content;
      }
      this.widgetForm = this.widgetForm ? this.widgetForm : this.defaultWidgetForm;
      this.widgetForm.config['id'] = this.portLet.id;
      this.initWigetForm();
      this.visible = false;
      this.modalWidthAndHeight.bodyStyle['padding'] = '0px';
      this.modalWidthAndHeight.bodyStyle['borderRadius'] = '4px';
      this.editIndexModal = true;
      this.show = true;
    },
    /*权限过滤*/
    initWigetForm() {
      // 门户小页权限过滤
      let basicComponents = this.getPortLet('PORTALLET_SMALLPAGES');
      if (this.widgetForm && this.widgetForm.list.length > 0) {
        //权限判断
        for (let i = 0; i < this.widgetForm.list.length; i++) {
          let isSwith = false;
          this.widgetForm.list[i].key =
            Date.parse(new Date()) + '_' + Math.ceil(Math.random() * 99999);
          if (basicComponents && basicComponents.length > 0) {
            let bcLen = basicComponents.length;
            for (let j = 0; j < bcLen; j++) {
              if (this.widgetForm.list[i].id == basicComponents[j].id) {
                isSwith = true;
                this.widgetForm.list[i].url = basicComponents[j].menuUrl;
              }
            }
          }
          if (!isSwith) {
            this.widgetForm.list.splice(i, 1);
          }
        }
      }
    }
  }
};
</script>
