.bpm-task-manage {
  height: 100%;
  .module-tabs{
    height: 100%;
    .ant-tabs-content{
      height: calc(100% - 44px);
      .ant-tabs-tabpane{
        height: 100%;
      }
    }
  }
  .surface{
    position: relative;
    .process-model-wrapper{
      height: calc(100% - 50px);
    }
    .surface-content {
      padding: 0 10px !important;
    }
  }
  .ant-tabs-bar{
    margin: 0;
  }
  .surface-tools-bar {
    padding-right: 15px;
    .opt-btn-advsearch {
      margin-left: 5px !important;
    }
  }
  .advanced-search-form {
    padding: 3px 8px;
  }
  .ant-tabs-nav {
    .ant-tabs-tab {
      border-right: 1px;
      border-right-style: solid;
      border-color: #ddd;
      margin: 0;
      padding: 14px 16px;
    }
    .ant-tabs-tab-active {
      background: #fff;
    }
  }
  .ant-tabs-ink-bar {
    top: 0;
    bottom:auto ;
  }
}