<template>
  <AvicModal
    modal-title="添加"
    :visible="visible"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    wrap-class-name="table-modal-wrap"
    :adjust-size="true"
    :centered="true"
    :destroy-on-close="true"
    :mask-closable="false"
    @onCancel="closeModal"
    @cancel="closeModal"
  >
    <template slot="footer">
      <a-button @click="closeModal" title="返回" :disabled="disabled">返回</a-button>
      <a-button type="primary" :loading="modalLoading" @click="saveForm" title="保存">
        保存
      </a-button>
    </template>
    <a-form :form="form" layout="horizontal">
      <a-form-item style="display: none">
        <a-input v-decorator="['id']" />
      </a-form-item>
      <div>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="名称"
            >
              <a-input
                v-decorator="[
                  'meetingName',
                  {
                    rules: [
                      { required: true, message: '请输入名称！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 300)
                      }
                    ]
                  }
                ]"
                placeholder="请输入名称"
                :title="form.getFieldValue('meetingName')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议类型"
            >
              <a-select
                v-decorator="[
                  'meetingType',
                  {
                    rules: [
                      { required: true, message: '请选择会议类型！' },
                      {
                        validator: (rule, value, callback) =>
                          validateCheckboxMaxlength(rule, value, callback, 50)
                      }
                    ]
                  }
                ]"
                :get-popup-container="triggerNode => triggerNode.parentNode"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
                placeholder="请选择会议类型"
              >
                <a-select-option
                  v-for="item in meetingTypeList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="发起人"
            >
              <a-input
                v-decorator="[
                  'meetingUser',
                  {
                    initialValue: nickname(),
                    rules: [
                      { required: false, message: '请输入发起人！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 50)
                      }
                    ]
                  }
                ]"
                placeholder="请输入发起人"
                :title="form.getFieldValue('meetingUser')"
                :disabled="true"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="所在部门"
            >
              <a-input
                v-decorator="[
                  'deptId',
                  {
                    rules: [
                      { required: false, message: '请输入所在部门！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 50)
                      }
                    ]
                  }
                ]"
                placeholder="请输入所在部门"
                :title="form.getFieldValue('deptId')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请时间"
            >
              <a-date-picker
                v-decorator="[
                  'applicationTime',
                  {
                    rules: [{ required: false, message: '请选择申请时间！' }]
                  }
                ]"
                :show-time="true"
                format="YYYY-MM-DD HH:mm:ss"
                :show-today="true"
                placeholder="请选择申请时间"
                :title="formatDate(form.getFieldValue('applicationTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 时间 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="联系电话"
            >
              <a-input
                v-decorator="[
                  'tel',
                  {
                    rules: [
                      { required: false, message: '请输入联系电话！' },
                      {
                        validator: (rule, value, callback) =>
                          validateInputMaxlength(rule, value, callback, 20)
                      }
                    ]
                  }
                ]"
                placeholder="请输入联系电话"
                :title="form.getFieldValue('tel')"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="议题"
            >
              <a-textarea
                v-decorator="[
                  'topic',
                  {
                    rules: [
                      { required: false, message: '请输入议题！' },
                      { max: 65535, message: '不可超过65535个字符!' }
                    ]
                  }
                ]"
                :rows="6"
                placeholder="请输入议题"
              />
              <!-- 文本域 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="参会人员"
            >
              <AvicCommonSelect
                v-decorator="[
                  'participants',
                  {
                    rules: [{ required: false, message: '请选择参会人员！' }]
                  }
                ]"
                type="userSelect"
                select-model="multi"
                :field-length="6599"
                placeholder="请选择参会人员"
              />
              <!-- 选人 多选为select-model="multi"-->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议形式"
            >
              <a-radio-group
                v-decorator="[
                  'meetingForm',
                  {
                    rules: [
                      { required: false, message: '请选择会议形式！' },
                      {
                        validator: (rule, value, callback) =>
                          validateCheckboxMaxlength(rule, value, callback, 50)
                      }
                    ]
                  }
                ]"
              >
                <a-radio
                  v-for="item in meetingFormList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-radio>
              </a-radio-group>
              <!-- 单选 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议室"
            >
              <a-select
                v-decorator="[
                  'meetingRoom',
                  {
                    rules: [
                      { required: false, message: '请选择会议室！' },
                      {
                        validator: (rule, value, callback) =>
                          validateCheckboxMaxlength(rule, value, callback, 50)
                      }
                    ]
                  }
                ]"
                :get-popup-container="triggerNode => triggerNode.parentNode"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
                placeholder="请选择会议室"
              >
                <a-select-option key="key" value="">请选择</a-select-option>
                <a-select-option
                  v-for="item in meetingRoomList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议开始时间"
            >
              <a-date-picker
                v-decorator="[
                  'startTime',
                  {
                    rules: [{ required: true, message: '请选择会议开始时间！' }]
                  }
                ]"
                :show-time="true"
                format="YYYY-MM-DD HH:mm:ss"
                :show-today="true"
                placeholder="请选择会议开始时间"
                :title="formatDate(form.getFieldValue('startTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 时间 -->
            </a-form-item>
          </a-col>

          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="会议结束时间"
            >
              <a-date-picker
                v-decorator="[
                  'endTime',
                  {
                    rules: [{ required: true, message: '请选择会议结束时间！' }]
                  }
                ]"
                :show-time="true"
                format="YYYY-MM-DD HH:mm:ss"
                :show-today="true"
                placeholder="请选择会议结束时间"
                :title="formatDate(form.getFieldValue('endTime'), 'YYYY-MM-DD HH:mm:ss')"
              />
              <!-- 时间 -->
            </a-form-item>
          </a-col>
        </a-row>
        <a-row />
        <a-row>
          <a-col v-bind="formColLayout.fixed.cols">
            <a-form-item
              :label-col="formColLayout.fixed.labelCol"
              :wrapper-col="formColLayout.fixed.wrapperCol"
              label="附件上传"
              class="avic-form-item-file-upload"
            >
              <AvicUploader
                key="1"
                v-decorator="['avicUploader']"
                element-id="1"
                form-type="add"
                :drag-uploader="true"
                :multiple="true"
                save-type="DataBase"
                :file-size-limit="40"
                :ref="attachmentRefName"
                :allow-encry="false"
                :allow-same-name="false"
                :allow-preview="true"
                :allow-download="true"
                :allow-delete="true"
                :chunk-enabled="true"
                :colspan="2"
                :update-level="true"
                :form-id="formId"
                :file-size="15"
                validate-secret-level="0"
                table-name="demo_meeting_plan"
                @afterUpload="uploadCompleteFile"
                @change="fileChange"
              />
              <!-- 附件上传 -->
            </a-form-item>
          </a-col>
        </a-row>
      </div>
    </a-form>
  </AvicModal>
</template>
<script>
import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
import { httpAction } from '@api/manage';
import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';
import isEqual from 'lodash.isequal';
import { mapGetters } from 'vuex';

// 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
let modalFormData = [
  {
    dataIndex: 'id',
    type: 'input'
  },

  {
    dataIndex: 'meetingName',
    type: 'input'
  },

  {
    dataIndex: 'meetingType',
    type: 'select'
  },

  {
    dataIndex: 'meetingUser',
    type: 'input'
  },

  {
    dataIndex: 'deptId',
    type: 'input'
  },

  {
    dataIndex: 'applicationTime',
    type: 'datetime'
  },

  {
    dataIndex: 'tel',
    type: 'input'
  },

  {
    dataIndex: 'topic',
    type: 'textarea'
  },

  {
    dataIndex: 'participants',
    type: 'commonselect'
  },

  {
    dataIndex: 'meetingForm',
    type: 'radio'
  },

  {
    dataIndex: 'meetingRoom',
    type: 'select'
  },

  {
    dataIndex: 'startTime',
    type: 'datetime'
  },

  {
    dataIndex: 'endTime',
    type: 'datetime'
  }
];
export default {
  name: 'DemoMeetingPlanAdd',
  mixins: [baseModalFormMixin],
  data() {
    return {
      modalFormData, // 表单数据
      meetingTypeList: [], // 会议类型通用代码数组
      meetingFormList: [], // 会议形式通用代码数组
      meetingRoomList: [], // 会议室通用代码数组
      secretLevelList: [], // 密级通用代码数组
      addParam: {
        // 添加弹窗保存时的请求接口
        url: this.requestPublicUrl + '/save/v1',
        method: 'post'
      },
      editParam: {
        // 多次保存时的请求接口
        url: this.requestPublicUrl + '/save/v1',
        method: 'post'
      },
      initFormData: {}, // 记录的表单初始化数据
      oldFormData: {}, // 记录的旧的表单数据
      attachmentUploadStatus: true, // 记录的附件的上传状态
      attachmentRefName: 'avicAddUploaderFile' // 标志表单是否含有附件
    };
  },
  mounted() {
    this.addModalHandleAdd();
  },
  methods: {
    ...mapGetters(['nickname', 'userInfo']),
    /**
     * 点击manage页面的添加按钮调用的弹窗页方法
     */
    addModalHandleAdd() {
      this.form.resetFields(); // 清空添加弹窗表单
      if (this.formId) {
        // 清空附件的formId
        this.formId = '';
      }
      this.visible = true; // 打开添加弹窗
      this.$nextTick(() => {
        this.initFormData = this.form.getFieldsValue(); // 记录表单初始化数据
      });
      this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
    },
    /**
     * 点击返回、点击X关闭事件
     */
    closeModal() {
      // 查看用户是否有未提交内容
      let newFormData = this.form.getFieldsValue();
      if (this.formSubmitTimes == 0 && isEqual(newFormData, this.initFormData)) {
        // 未添加数据，直接关闭
        this.$emit('close');
      } else if (
        (this.formSubmitTimes == 0 && !isEqual(newFormData, this.initFormData)) ||
        !this.attachmentUploadStatus ||
        !isEqual(newFormData, this.oldFormData)
      ) {
        // 数据有改动，提示用户
        this.Modal.confirm({
          title: '您有数据未提交，确定关闭弹窗吗？',
          onOk: () => {
            this.$emit('close');
          }
        });
      } else {
        this.$emit('reloadData', true); // 刷新列表
        this.$emit('close');
      }
    },
    /**
     * 附件发生变化
     */
    fileChange(data) {
      // 打开表单后，附件加载后重新获取表单初始化数据
      if (data.flag == 'completeUpload' && this.formSubmitTimes == 0) {
        this.$nextTick(() => {
          this.initFormData = this.form.getFieldsValue(); // 记录表单初始化数据
        });
      }
    },
    /**
     * 附件afterUpload执行函数
     */
    uploadCompleteFile(successFile, errorFile) {
      if (errorFile.length > 0) {
        // 有附件保存失败的处理
        this.attachmentUploadStatus = false; // 记录附件上传失败
        this.$refs[this.attachmentRefName].$el.scrollIntoView(); // 页面滚动到附件位置
        this.modalLoading = false; // 按钮关闭loading状态
        this.disabled = false; // 返回按钮可用
      } else {
        // 所有附件都保存成功的处理
        this.attachmentUploadStatus = true; // 记录附件上传成功
        this.reloadList();
      }
    },
    /**
     * 保存成功的处理函数
     */
    reloadList() {
      this.$message.success('保存成功！'); // 提示成功
      this.$emit('reloadData', true); // 刷新列表
      this.$emit('close');
    },
    /**
     * 保存
     */
    saveForm(e) {
      e.preventDefault();
      let that = this;
      this.form.validateFieldsAndScroll((err, values) => {
        // 校验表单并处理
        if (!err) {
          this.modalLoading = true; // 按钮开启loading状态
          this.disabled = true; // 返回按钮不可用
          let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
          // 如果第一次保存失败，后面进行的保存需要走编辑保存接口
          let postData = {};
          if (this.formId) {
            if (newValues.version == '') {
              newValues.version = '0';
              this.form.setFieldsValue({ version: newValues.version });
            } else {
              newValues.version = Number(newValues.version) + 1 + '';
              this.form.setFieldsValue({ version: newValues.version });
            }
            postData = {
              url: this.editParam.url,
              params: {
                ...newValues,
                id: this.formId // 注意id要写在后面，以盖掉newValues中的id
              },
              method: this.editParam.method
            };
          } else {
            postData = {
              url: this.addParam.url,
              params: newValues,
              method: this.addParam.method
            };
          }
          // 请求接口
          httpAction(postData.url, postData.params, postData.method)
            .then(res => {
              if (res.success) {
                // 保存成功后，记录提交成功次数
                that.formSubmitTimes++;
                // 保存成功后，记录下表单数据
                that.oldFormData = that.form.getFieldsValue();
                if (that.attachmentRefName) {
                  // 表单含有附件
                  if (that.formId == '') {
                    that.formId = res.result; // 附件上传formId
                  }
                  that.$refs[that.attachmentRefName].upload(that.formId); // 附件上传
                } else {
                  // 表单不含有附件
                  that.reloadList();
                }
              } else {
                that.modalLoading = false; // 按钮关闭loading状态
                that.disabled = false; //返回按钮可用
              }
            })
            .catch(() => {
              that.modalLoading = false; // 按钮关闭loading状态
              that.disabled = false; //返回按钮可用
            });
        }
      });
    },
    // 属性内校验显隐权限
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    }
  }
};
</script>
