<template>
  <!-- ManagePath = "avic/pt/examples/meetingDemo/demomeetingplan/DemoMeetingPlanManage" -->
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>会议列表</h3>
          <!-- 查询 -->
          <div class="surface-tools-bar">
            <a-input-search
              class="opt-btn-commonsearch"
              v-show="searchPlaceholder != ''"
              v-model="searchText"
              :placeholder="searchPlaceholder"
              :title="searchPlaceholder"
              :allow-clear="true"
              @search="searchByKeyWord(tableRefName)"
            />
            <!-- <a-button
              class="opt-btn-advsearch"
              title="高级搜索"
               @click="handleAdvancedSearch(tableRefName)"
            >
              高级搜索
            </a-button>-->
            <!-- 操作按钮 -->
            <a-button
              v-has="'user:add'"
              type="primary"
              icon="plus"
              title="添加"
              @click="handleAdd({ refName: addModalRefName, param: {} })"
            >
              添加
            </a-button>
            <a-button
              :disabled="!isShowEdit"
              v-has="'user:edit'"
              icon="edit"
              title="编辑"
              @click="handleEdit({ refName: editModalRefName, param: { id: selectedRowKeys[0] } })"
            >
              编辑
            </a-button>
            <a-button
              :disabled="!isShowEdit"
              v-has="'user:del'"
              icon="delete"
              :loading="delLoading"
              title="删除"
              @click="
                handleDelete({
                  refName: tableRefName,
                  param: { ids: selectedRowKeys, type: 'delete' }
                })
              "
            >
              删除
            </a-button>
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 高级搜索表单区域 -->

          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 操作按钮及查询区域 -->
            <AvicBaseTable
              :ref="tableRefName"
              :is-auto-count-scroll-x="true"
              :columns="selectColumns"
              :data-source="data"
              :row-key="rowKey"
              :data-index="dataIndex"
              :pagination-default="pagination"
              @getData="getData"
              @handleRowSelection="handleRowSelection"
              @handleTableChange="handleTableChange(tableRefName, $event)"
            >
              <!-- 点击查看详情 -->
              <template slot="meetingName" scope="obj">
                <a
                  href="javascript:;"
                  :title="obj.data['meetingName']"
                  class="table-detail-link"
                  @click="
                    handleDetail({ refName: detailModalRefName, param: { id: obj.data[rowKey] } })
                  "
                >
                  {{ obj.data['meetingName'] }}
                </a>
              </template>
            </AvicBaseTable>
          </div>
        </div>
        <!-- 弹窗表单区域 -->
        <AvicAsyncComponent
          v-if="showDetailModal"
          :param-id="paramId"
          :ref="detailModalRefName"
          layout="2"
          :path="demoMeetingPlanDetailUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @close="showDetailModal = false"
        />
        <AvicAsyncComponent
          v-if="showAddModal"
          :ref="addModalRefName"
          layout="2"
          :path="demoMeetingPlanAddUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @close="showAddModal = false"
        />
        <AvicAsyncComponent
          v-if="showEditModal"
          :param-id="paramId"
          :ref="editModalRefName"
          layout="2"
          :path="demoMeetingPlanEditUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @close="showEditModal = false"
        />
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import AvicAsyncComponent from '@comp/avic/pt/common/AvicAsyncComponent/index';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_DEMOMEETINGPLAN';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/demo/meeting/demomeetingplan/DemoMeetingPlanRest';
// 此模块通用代码params

let lookupParams = [
  { fileName: 'meetingType', lookUpType: 'DEMO_MEETING_TYPE' },
  { fileName: 'meetingForm', lookUpType: 'DEMO_MEETING_FORM' },
  { fileName: 'meetingRoom', lookUpType: 'DEMO_MEETING_ROOM' },
  { fileName: 'secretLevel', lookUpType: 'PLATFORM_FILE_SECRET_LEVEL' }
];

// 表格主键字段
let rowKey = 'id';
// 表格查看详情字段
let dataIndex = ['meetingName'];
export default {
  name: 'DemoMeetingPlanManage',
  components: {
    AvicAsyncComponent
  },
  mixins: [baseTableMixin, menuRefreshMixin, baseSearchMixin],
  permissionList: [
    {
      describe: '添加按钮',
      action: 'user:add',
      type: '1'
    },
    {
      describe: '编辑按钮',
      action: 'user:edit',
      type: '1'
    },
    {
      describe: '删除按钮',
      action: 'user:del',
      type: '1'
    },
    {
      describe: '导出按钮',
      action: 'user:export',
      type: '1'
    }
  ],
  data() {
    return {
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData: [
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '名称',
          dataIndex: 'meetingName',
          scopedSlots: { customRender: 'meetingName' },
          sorter: true,
          isSearch: true,
          type: 'input',
          decorator: {
            rules: [{ max: 300, message: '不可超过300个字符!' }]
          },
          placeholder: '请输入名称'
        },

        {
          isTableHidden: true,
          isFormHidden: false,
          isAuthFlag: false,
          title: '会议类型',
          dataIndex: 'meetingType',
          sorter: true,
          align: 'center',
          type: 'select',
          placeholder: '请选择会议类型',
          list: []
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '发起人',
          dataIndex: 'meetingUser',
          sorter: true,
          type: 'input',
          decorator: {
            rules: [{ max: 50, message: '不可超过50个字符!' }]
          },
          placeholder: '请输入发起人'
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '所在部门',
          dataIndex: 'deptId',
          sorter: true,
          type: 'input',
          decorator: {
            rules: [{ max: 50, message: '不可超过50个字符!' }]
          },
          placeholder: '请输入所在部门'
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '申请时间',
          titleRange: '申请时间范围',
          dataIndex: 'applicationTime',
          sorter: true,
          align: 'center',
          type: 'date',
          decorator: {
            rules: [{ required: false, message: '请选择申请时间！' }]
          },
          decoratorRange: {
            rules: [{ required: false, message: '请选择申请时间范围！' }]
          },
          placeholder: '请选择申请时间',
          placeholderRange: ['开始日期', '结束日期'],
          format: 'YYYY-MM-DD HH:mm:ss',
          submitFormat: 'formatTime',
          showToday: true
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '联系电话',
          dataIndex: 'tel',
          sorter: true,
          type: 'input',
          decorator: {
            rules: [{ max: 20, message: '不可超过20个字符!' }]
          },
          placeholder: '请输入联系电话'
        },

        {
          isTableHidden: true,
          isFormHidden: false,
          isAuthFlag: false,
          title: '会议形式',
          dataIndex: 'meetingForm',
          sorter: true,
          align: 'center',
          type: 'radio',
          list: []
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '会议室',
          dataIndex: 'meetingRoom',
          sorter: true,
          align: 'center',
          type: 'select',
          placeholder: '请选择会议室',
          list: []
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '会议开始时间',
          titleRange: '会议开始时间范围',
          dataIndex: 'startTime',
          sorter: true,
          align: 'center',
          type: 'date',
          decorator: {
            rules: [{ required: false, message: '请选择会议开始时间！' }]
          },
          decoratorRange: {
            rules: [{ required: false, message: '请选择会议开始时间范围！' }]
          },
          placeholder: '请选择会议开始时间',
          placeholderRange: ['开始日期', '结束日期'],
          format: 'YYYY-MM-DD HH:mm',
          submitFormat: 'formatTime',
          showToday: true
        },

        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '会议结束时间',
          titleRange: '会议结束时间范围',
          dataIndex: 'endTime',
          sorter: true,
          align: 'center',
          type: 'date',
          decorator: {
            rules: [{ required: false, message: '请选择会议结束时间！' }]
          },
          decoratorRange: {
            rules: [{ required: false, message: '请选择会议结束时间范围！' }]
          },
          placeholder: '请选择会议结束时间',
          placeholderRange: ['开始日期', '结束日期'],
          format: 'YYYY-MM-DD HH:mm',
          submitFormat: 'formatTime',
          showToday: true
        }
      ], // 页面数据配置
      templateCode: 'demoMeetingPlan', // 导入模板编码
      tableRefName: 'BaseTableList', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      addModalRefName: 'addModal', // 添加弹窗ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      },
      demoMeetingPlanDetailUrl:
        'views/avic/pt/examples/meetingDemo/demomeetingplan/DemoMeetingPlanDetail',
      demoMeetingPlanAddUrl:
        'views/avic/pt/examples/meetingDemo/demomeetingplan/DemoMeetingPlanAdd',
      demoMeetingPlanEditUrl:
        'views/avic/pt/examples/meetingDemo/demomeetingplan/DemoMeetingPlanEdit'
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.postAdvancedSearchParam // 高级查询数据
          },
          keyWord: this.postSearchParam, // 普通查询数据
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    // 属性内校验显隐权限
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      this.menuRefreshReset();
    }
  }
};
</script>
