<template>
  <a-icon v-if="iconSource == 'avic'" :component="svgComponent" v-bind="$attrs" v-on="$listeners" />
  <a-icon v-else :type="type" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
import { Icon } from 'ant-design-vue';
export default {
  name: 'AvicIcon',
  components: {
    AIcon: Icon
  },
  props: {
    // 图标来源。 ant: ant design vue图标库; avic: 项目自己画的图标
    iconSource: {
      type: String,
      default: 'ant'
    },
    // 图标来源为ant时，图标的type属性
    type: {
      type: String,
      default: ''
    },
    // 图标来源为avic时，图标的svg图的名称
    svgName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      svgComponent: () => ({
        component: import(`@/assets/svgs/${this.svgName}.svg`)
      })
    };
  }
};
</script>
