/* Simple主题-与切换皮肤无关的样式 */
.navLayout-simple {
  .base-layout-sider {
    .ant-menu {
      border-right: 0;
      margin-left: -8px;
      width: auto;
      display: block;
    }
    .ant-menu .ant-menu-item {
      padding-left: 16px;
      padding-right: 30px;
    }
    .ant-menu-inline-collapsed .ant-menu-item {
      padding-left: 0 !important;
    }
  }
  .nav {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: 0;
    .ant-menu {
      //导航
      background: none;
      border: none;
      color: #fff;
      height: 50px;
      .ant-menu-item:hover,
      .ant-menu-submenu:hover,
      .ant-menu-item-active,
      .ant-menu-submenu-active,
      .ant-menu-item-open,
      .ant-menu-submenu-open,
      .ant-menu-item-selected,
      .ant-menu-submenu-selected,
      .ant-menu-submenu-title:hover {
        border: none !important;
        color: #fff !important;
      }

      .ant-menu-item {
        //限定顶部导航显示文字 溢出变省略号
        max-width: 110px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .ant-menu-item-selected,
      .ant-menu-item:hover {
        border: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.15);
      }
      .ant-menu-submenu:hover .ant-menu-submenu-title {
        color: #fff !important;
        border: none;
      }
      .ant-menu-submenu-title:hover {
        color: #fff !important;
      }
      .ant-menu-submenu {
        margin: 0;
        height: 100%;
      }
      .ant-menu-submenu-title,
      .ant-menu-item {
        padding: 0 20px;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
        transition: none;
        top: 0;
        border: 0;
        .anticon {
          font-size: 10px;
        }
      }
    }
    .ant-tabs {
      color: #fff;
      .ant-tabs-bar {
        border: none;
      }
      .ant-tabs-tab {
        margin-right: 0;
        padding: 0;
      }
      .ant-tabs-tab-prev,
      .ant-tabs-tab-next {
        color: #fff;
        font-weight: 900;
      }
      .ant-tabs-ink-bar {
        height: 0;
      }
      // .ant-tabs-nav .ant-tabs-tab-active,
      // .ant-tabs-tab:hover {
      //   background: rgba(255, 255, 255, 0.15);
      //   color: #fff;
      //   border: none;
      //   height: 50px;

      //   .ant-tabs-ink-bar {
      //     width: 0 !important;
      //   }
      // }
    }
    .ant-tabs-tab-prev-icon-target,
    .ant-tabs-tab-next-icon-target {
      font-size: 20px;
    }
    .ant-menu-overflowed-submenu .ant-menu-submenu-title {
      font-size: 24px;
    }
  }
}