<template>
  <div ref="DropdownSelectPage" class="dropdown-select-page" :style="DropdownSelectPageStyle">
    <span @click.stop="showMenu">
      <slot />
    </span>
    <div
      v-show="isCanShowMenu"
      ref="DropdownSelectPageList"
      class="dropdown-select-page-list"
      :style="DropdownSelectPageListPositionStyle"
    >
      <transition name="fade">
        <div>
          <div class="menulist-wrap" :style="menulistWrapStyle">
            <vue-scroll :ops="ops">
              <a-menu>
                <a-menu-item v-for="item in navItems" :key="item.key" @click="onSubClick(item.key)">
                  <a-icon v-if="item.icon" :type="item.icon" />{{ item.text }}
                </a-menu-item>
              </a-menu>
            </vue-scroll>
          </div>
          <div class="divide-paging">
            <a-icon
              :style="{ cursor: current == 1 ? 'not-allowed' : 'pointer' }"
              type="backward"
              class="prev-arrow"
              @click.stop="prev"
            />
            {{ current }} / {{ total }}
            <a-icon
              :style="{ cursor: current == total ? 'not-allowed' : 'pointer' }"
              type="forward"
              class="next-arrow"
              @click.stop="next"
            />
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
import { Menu, Icon } from 'ant-design-vue';
import Vue from 'vue';
import { httpAction } from '@api/manage';
import VueScroll from 'vuescroll/dist/vuescroll-native';
Vue.use(VueScroll);
export default {
  name: 'AvicDropdownSelectPage',
  components: {
    AMenu: Menu,
    AMenuItem: Menu.Item,
    AIcon: Icon,
    VueScroll
  },
  props: {
    dropdownSelectPageStyle: {
      type: Object,
      required: true
    },
    getDropdownSelectPageAction: {
      type: String,
      required: true
    },
    actionMethod: {
      type: String,
      required: true
    },
    pageSize: {
      type: Number,
      default: 3
    }
  },
  data() {
    return {
      current: 1,
      total: 1,
      isCanShowMenu: false,
      navItems: [],
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      },
      DropdownSelectPageListPositionStyle: {
        left: '0px',
        top: '0px'
      }
    };
  },
  computed: {
    menulistWrapStyle() {
      return { height: this.pageSize * 48 > 160 ? 160 : this.pageSize * 48 + 'px' };
    }
  },
  mounted() {
    document.body.appendChild(this.$refs.DropdownSelectPageList);
    const _this = this;
    document.addEventListener('click', function (e) {
      _this.isCanShowMenu = false;
    });
  },
  methods: {
    fetch() {
      httpAction(
        this.getDropdownSelectPageAction + this.current,
        {
          page: this.current,
          pageSize: this.pageSize
        },
        this.actionMethod
      ).then(res => {
        if (res.success) {
          this.total = res.result.pages;
          this.navItems = res.result.records;
        }
      });
    },
    showMenu(e) {
      this.isCanShowMenu = !this.isCanShowMenu;
      if (this.isCanShowMenu) {
        this.fetch();
        if (e.clientY < document.body.offsetHeight / 2) {
          this.DropdownSelectPageListPositionStyle = {
            left: this.$refs.DropdownSelectPage.getBoundingClientRect().left + 'px',
            top: this.$refs.DropdownSelectPage.getBoundingClientRect().bottom + 'px'
          };
        } else {
          this.DropdownSelectPageListPositionStyle = {
            left: this.$refs.DropdownSelectPage.getBoundingClientRect().left + 'px',
            bottom:
              document.body.offsetHeight -
              this.$refs.DropdownSelectPage.getBoundingClientRect().top +
              'px'
          };
        }
      }
    },
    prev() {
      if (this.current == 1) {
        return;
      } else {
        this.current = this.current - 1;
        this.fetch();
      }
    },
    next() {
      if (this.current == this.total) {
        return;
      } else {
        this.current = this.current + 1;
        this.fetch();
      }
    },
    onSubClick(key) {
      this.isCanShowMenu = false;
      this.$emit('click-sub', key);
    }
  }
};
</script>
<style scoped>
.dropdown-select-page-list {
  position: absolute;
  width: 160px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 10;
}

.dropdown-select-page-list .menulist-wrap {
  max-height: 160px;
  overflow-y: auto;
}

.dropdown-select-page-list .ant-menu {
  border: 0 none;
  border-radius: 4px 4px 0 0;
}

.dropdown-select-page-list .ant-menu .ant-menu-item:hover {
  background-color: #e6f7ff;
}

.dropdown-select-page-list .divide-paging {
  border-top: 1px solid #e8e8e8;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
}

.dropdown-select-page-list .divide-paging .prev-arrow,
.dropdown-select-page-list .divide-paging .next-arrow {
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
}

.dropdown-select-page-list .divide-paging .prev-arrow {
  left: 0;
}

.dropdown-select-page-list .divide-paging .next-arrow {
  right: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
</style>
