@pubcolor: #409EFF;
@primary-background-color: #ecf5ff;

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fm-container{
  background: #fff;
  height: 100%;
  main{
    padding: 0;
  }

  /* 设计器内容区小页列表start */
  .fm-container-center-left{
    padding: 8px 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    .fm-left-title{
      padding: 8px 12px;
      font-size: 12px;
    }
    ul{
      position: relative;
      overflow: hidden;
      padding: 0 10px 10px;
      margin: 0;
    }

    .fm-left-li-list{
      font-size: 12px;
      display: block;
      width: 96%;
      line-height: 26px;
      position: relative;
      float: left;
      left: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 1%;
      border: 1px solid #f3f4f9;
      &> a{
        display: block;
        cursor: move;
        background: #f3f4f9;
        padding: 0 10px;
        position: relative;
        .icon{
          margin-right: 6px;
          margin-left: 8px;
          font-size: 14px;
          display: inline-block;
          vertical-align: middle;
        }
        i{
          position: absolute;
          top: 8px;
          right: 8px;
          visibility: hidden;
        }
        span{
          display: inline-block;
          vertical-align: middle;
        }
      }
      &:hover {
        i {
          visibility: visible;
        }
      }
    }
    .fm-left-li-modeltemp{
      &> a {
        cursor: pointer;
      }
    }
  }
  /* 设计器内容区小页列表end */
  /* 设计器内容区start */
  .fm-container-center{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    .fm-icon-question-circle{
      margin-left: 10px;
    }
  }
  /* 设计器内容区end */
  .fm-widget-form-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    .fm-widget-form-list {
      background: #fff;
      height: 100%;

      .fm-widget-col-list {
        min-height: 50px;
        background: #fff;
      }
      /* widgetFormItem 样式style */
      .fm-widget-view {
        position: relative;
        background-color: rgba(236, 245, 255, 0.3);
        box-shadow: 0 0 2px 2px #eee;
        height: 100%;
        .fm-widget-view-action {
          position: absolute;
          top: -8px;
          right: 0;
          bottom: 0;
          height: 20px;
          z-index: 9;
          span {
            cursor: pointer;
            display: inline-block;
            margin: 0 3px;
            background: #f2f2f2;
            border-radius: 3px;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          }
          i {
            font-size: 14px;
            margin: 0 5px;
            cursor: pointer;
          }
          span:hover i{
            color:#ffffff;
          }
        }

        &::after {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: block;
        }

        &:hover {
          outline-offset: 0;

          &.active {
            outline-offset: 0;
          }

          .widget-view-drag {
            display: block;
          }
        }
      }
      /* widgetFormItem 样式end */
    }
    /* 拖拽显示可放入的位置 */
    .ghost {
      background: #F56C6C;
      border: 2px solid #F56C6C;
      position: relative;

      &::after {
        background: #F56C6C;
      }
    }

    li.ghost {
      height: 5px;
      list-style: none;
      font-size: 0;
      overflow: hidden;
    }
    /* 空数据显示 */
    .fm-widget-form-empty {
      position: absolute;
      text-align: center;
      width: 300px;
      font-size: 20px;
      top: 200px;
      left: 50%;
      margin-left: -150px;
      color: #ccc;
    }
  }
  .fm-widget-config-container {
    position: relative;
    .fm-config-tab {
      height: 45px;
      line-height: 45px;
      display: inline-block;
      // width: 145px;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      cursor: pointer;

      &.active {
        border-bottom: solid 2px @pubcolor;
      }
    }

    .fm-config-content {
      padding: 10px;
      background: #fff;
    }


    ul {
      margin: 0;
      padding: 0;
    }
  }
}
