/* 2020-07-13 mzy 主题样式 start */
.avic_formmake_skin(@primary-color){
  /* 桌面门户设计器 --基础组件 */
  .fm-container-center-left {
    
    .fm-left-li-list {
      &:hover {
        border: 1px dashed;
        border-color: fade(@primary-color, 90%);
        //background-color: fade(@primary-color, 8%) !important;
      }
      a {
        color: #333;
      }
      a:hover {
        color: fade(@primary-color, 90%);
        background-color: fade(@primary-color, 8%);
      }
    }
  }
  .fm-widget-view.active {
    outline: 2px dashed @primary-color;
    border: 0 solid @primary-color;
    i {
      color: @primary-color;
    }
  }  
  .fm-container .fm-widget-form-container .fm-widget-form-list .fm-widget-view .fm-widget-view-action span:hover{
    background-color: @primary-color!important;
  }
  .fm-container {
    .fm-widget-config-container.drawer-box-right {
      .fm-config-tab.active {
          border-color: @primary-color;
      }
    }
  }
}

