<template>
  <avic-resize-layout id="MpmProjectInfoTree" direction="h" class="avic-bpm-myprocess">
    <avic-resize-layout-panel :width="treeWidth">
      <div class="surface">
        <!-- 操作按钮及查询区域 -->
        <div class="surface-title">
          <h3>流程模型</h3>
        </div>
        <div class="process-model-wrapper">
          <AvicTree
            :ref="treeRefName"
            :tree-param="treeParam"
            :is-load-data="true"
            :show-line="true"
            :default-expand-all="true"
            :default-show-context-menu="false"
            :default-max-parent-id="defaultParentId"
            :tree-loading="treeLoading"
            :default-expand-hierarchy="defaultLevel"
            :selected-keys.sync="selectedKeys"
            @select="(e, data) => selectNodeTree(e, data, tableRefName)"
            @afterLoadData="afterLoadData"
            @beforeLoadData="beforeLoadData"
          />
        </div>
      </div>
    </avic-resize-layout-panel>
    <avic-resize-layout-panel id="MpmProjectInfoTable">
      <a-tabs v-model="activeKey" class="module-tabs avic-module-tab">
        <a-tab-pane key="1" :tab="'我的草稿(' + DraftCount + ')'">
          <MyDraft ref="myDraft" :params="params" @getDraftCount="getDraftCount" />
        </a-tab-pane>
        <a-tab-pane key="2" :tab="'我的申请(' + ApplicationCount + ')'">
          <MyApplication
            ref="myApplication"
            :params="params"
            @getApplicationCount="getApplicationCount"
          />
        </a-tab-pane>
        <a-tab-pane key="3" :tab="'我的经办(' + ManagementCount + ')'">
          <MyManagement
            ref="myManagement"
            :params="params"
            @getManagementCount="getManagementCount"
          />
        </a-tab-pane>
      </a-tabs>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>

<script>
import { baseTreeListMixin } from '@mixins/avic/pt/BaseTreeListMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import MyDraft from '@/views/avic/pt/system/flowCenter/bpmmyprocess/MyDraft';
import MyApplication from '@/views/avic/pt/system/flowCenter/bpmmyprocess/MyApplication';
import MyManagement from '@/views/avic/pt/system/flowCenter/bpmmyprocess/MyManagement';
import { httpAction } from '@/api/manage';
// 模块名称
let moduleName = 'MN_BPMMYPROCESSMANAGE';
// 请求地址路径,公共部分抽为变量
let requestPublicUrl = '/api/bpm/mpmprojectinfotree/MpmProjectInfoTreeRest';
export default {
  name: 'BpmMyProcessManage',
  components: {
    MyDraft,
    MyApplication,
    MyManagement
  },
  mixins: [baseTreeListMixin, menuRefreshMixin],
  data() {
    return {
      requestTreeUrl: '/api/bpm/bpm/monitor/getFlowModelTree/v1', //加载树节点访问地址
      //树展开
      treeParam: {
        url: '',
        method: 'post',
        parameter: {
          id: ''
        }
      },
      //加载后两个tab的表格数量
      initCountParam: {
        url: 'api/bpm/bpm/process/initHistProcessByPage/v1',
        method: 'post',
        parameter: {
          nodeId: '-1',
          nodeType: 'catalog',
          pdId: ''
        }
      },
      //初始化生成根节点
      insertRootParam: {
        url: requestPublicUrl + '/insertRoot/v1',
        method: 'post'
      },
      activeKey: '1',
      DraftCount: '',
      ApplicationCount: '',
      ManagementCount: '',
      nodeId: '',
      nodeType: '',
      procDefId: '',
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      treeRefName: 'avicTreeElement',
      moduleName, //模块的名称
      requestPublicUrl,
      tableRefName: 'MouldBaseTable',
      addModalRefName: 'modalAddForm',
      editModalRefName: 'modalEditForm',
      detailModalRefName: 'modalDetailForm',
      advancedSearchRefName: 'AdvancedSearch' // 高级查询ref名称
    };
  },
  computed: {
    params() {
      return {
        nodeId: this.nodeId,
        nodeType: this.nodeType,
        pdId: this.procDefId
      };
    }
  },
  created() {
    this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
    // 进入页面,加载树列表数据
    this.treeParam.url = this.requestTreeUrl;
    this.treeParam.parameter.id = this.defaultParentId;
  },
  beforeRouteEnter(to, from, next) {
    //刷新页面事件组册到window事件
    next(_this => {
      window['bpmOperatorRefresh'] = () => {
        _this.bpmOperatorRefresh();
      };
    });
  },
  mounted() {
    /**
     * 树区域高度控制
     * @param {String} wrapId 包含按钮及表格的容器的id
     * @param {String} cutHeight 为得到表格高度,需要减去的高度(一般包括按钮高度及margin,容器的padding)
     */
    this.initTreeHeight({ wrapId: 'MpmProjectInfoTree', cutHeight: '20' });
  },
  methods: {
    //流程详情页面关闭后刷新页面
    bpmOperatorRefresh() {
      this.selectNodeTree();
    },
    //点击树节点
    selectNodeTree(e, data, refName) {
      // this.activeKey = '1';
      if (e && e.length > 0) {
        this.selectedKeys = e;
        this.page = 1;
        if (data.attributes) {
          this.procDefId = data.attributes.pdId;
        } else {
          this.procDefId = '';
        }
        this.nodeType = data.nodeType;
        this.nodeId = data.id;
        //加载后面两个tab数量
        this.initCount();
      }
    },
    //初始化我的申请我的经办数量
    initCount() {
      let that = this;
      httpAction(that.initCountParam.url, that.params, that.initCountParam.method).then(res => {
        if (res.success) {
          that.ApplicationCount = res.result.startCount;
          that.ManagementCount = res.result.doneCount;
        }
      });
    },
    //获取我的草稿数量
    getDraftCount(DraftCount) {
      if (DraftCount != undefined && DraftCount != '' && DraftCount != null) {
        this.DraftCount = DraftCount;
      } else {
        this.DraftCount = 0;
      }
    },
    //获取我的申请数量
    getApplicationCount(ApplicationCount) {
      if (ApplicationCount != undefined && ApplicationCount != '' && ApplicationCount != null) {
        this.ApplicationCount = ApplicationCount;
      } else {
        this.ApplicationCount = 0;
      }
    },
    //获取我的经办数量
    getManagementCount(ManagementCount) {
      if (ManagementCount != undefined && ManagementCount != '' && ManagementCount != null) {
        this.ManagementCount = ManagementCount;
      } else {
        this.ManagementCount = 0;
      }
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      this.treeMenuRefreshReset();
    },
    //右键刷新树的重写方法
    treeMenuRefreshReset() {
      this.$refs[this.treeRefName].emptySearch();
      this.$refs[this.treeRefName].empty();
      this.loadTreeParentId = this.defaultParentId; //当前加载的树节点id
      // 进入页面,加载树列表数据
      this.treeParam.url = this.requestTreeUrl;
      this.treeParam.parameter.id = this.defaultParentId;
      this.$refs[this.treeRefName].expandHierarchy = 2;
      this.$refs[this.treeRefName].refresh(this.defaultParentId);
      this.nodeId = '';
      this.nodeType = 'process';
      this.pdId = '';
    },
    //加载树节点之前
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter.id = parentId;
    },
    //加载树节点之后的回调
    afterLoadData(treeData) {
      //加载后面两个tab数量
      this.initCount();
      // 根节点加载表格数据
      if (this.loadTreeParentId == this.defaultParentId) {
        if (treeData.result.length > 0) {
          this.selectedKeys = [treeData.result[0].id];
          if (treeData.result[0].attributes) {
            this.procDefId = treeData.result[0].attributes.pdId;
          }
          this.nodeId = treeData.result[0].id;
          this.nodeType = treeData.result[0].nodeType;
        }
      }
    }
  }
};
</script>
<style lang="less">
@import './style/base.less';
</style>
