<template>
  <div class="surface" style="position: relative">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-tools-bar surface-tools-bar-bpm">
      <!-- 普通查询 -->
      <AvicBpmBaseSearch
        ref="bpmBaseSearch"
        style="display: inline-block"
        :options="options"
        @bpmBaseSearch="bpmBaseSearch"
      />
      <!-- 高级查询 -->
      <a-button
        class="opt-btn-advsearch"
        title="高级搜索"
        @click="handleAdvancedSearch(tableRefName)"
      >
        <!--         @click="handleAdvancedSearch(tableRefName)"-->
        高级搜索
      </a-button>
      <AvicChangeTableSize @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <!-- 表格 -->
    <!-- 内容区域 -->
    <div class="surface-content">
      <!-- 高级搜索表单区域 -->
      <AvicAdvancedSearchCollapse
        :ref="advancedSearchRefName"
        class="adv-search"
        :real-advanced-search-form-data="realAdvancedSearchFormData"
        @onChange="changeShowAdvancedSearch"
        @search="advancedSearch"
      >
        <template #form>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="标题"
            >
              <a-input
                v-decorator="['procDefName']"
                allow-clear
                @pressEnter="handleEnterForSearch"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期开始日期"
            >
              <a-date-picker
                v-decorator="['startDate' + 'Begin']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="开始日期"
                :disabled-date="startValue => disabledStartDate(startValue, 'startDate' + 'End')"
              />
              <!-- 开始日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期结束日期"
            >
              <a-date-picker
                v-decorator="['startDate' + 'End']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="结束日期"
                :disabled-date="endValue => disabledEndDate(endValue, 'startDate' + 'Begin')"
              />
              <!-- 结束日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="流程状态"
            >
              <a-select
                v-decorator="['businessState']"
                option-filter-prop="children"
                :show-search="true"
                :allow-clear="true"
              >
                <a-select-option
                  v-for="item in businessStateList"
                  :key="item.sysLookupTlId"
                  :value="item.lookupCode"
                >
                  {{ item.lookupName }}
                </a-select-option>
              </a-select>
              <!-- 下拉框 多选加mode="multiple"-->
            </a-form-item>
          </a-col>
        </template>
      </AvicAdvancedSearchCollapse>
      <!-- 表格内容 -->
      <div class="surface-table">
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          :is-row-selection="false"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="procDefName" scope="obj">
            <a href="javascript:;" class="table-detail-link" @click="handleDetail(obj.data)">
              {{ obj.data['procDefName'] }}
            </a>
          </template>
        </AvicBaseTable>
        <AvicBpmDetailList />
      </div>
    </div>
  </div>
</template>
<script>
import { Button } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import AvicBpmBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmBaseSearch';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import AvicBpmDetailList from '@/components/avic/bpm/AvicBpmDetailList';

// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_MYAPPLICATION';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/bpm/bpm/process';
// 表格主键字段
let rowKey = 'executionId';
// 表格查看详情字段
let dataIndex = ['procDefName'];
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    scopedSlots: { customRender: 'procDefName' }
  },

  {
    title: '申请日期',
    dataIndex: 'startDate',
    sorter: true,
    width: 140,
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss'
  },
  {
    title: '当前节点',
    dataIndex: 'activityName'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    sorter: true,
    width: 80,
    align: 'center',
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },
  {
    title: '处理人',
    dataIndex: 'assigneeName',
    width: 140
  }
];
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    scopedSlots: { customRender: 'procDefName' },
    type: 'input',
    decorator: {
      rules: [{ max: 15, message: '不可超过15个字符！' }]
    },
    placeholder: '请输入标题'
  },

  {
    title: '申请日期',
    titleRange: '申请日期',
    dataIndex: 'startDate',
    scopedSlots: { customRender: 'startDate' },
    sorter: true,
    align: 'center',
    type: 'daterange',
    decorator: {
      rules: [{ required: false, message: '请选择申请日期！' }]
    },
    decoratorRange: {
      rules: [{ required: false, message: '请选择申请日期！' }]
    },
    placeholderRange: ['开始日期', '结束日期'],
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    scopedSlots: { customRender: 'businessState' },
    sorter: true,
    align: 'center',
    type: 'select',
    list: [
      {
        sysLookupTlId: '0',
        lookupCode: 'start',
        lookupName: '拟稿中'
      },
      {
        sysLookupTlId: '1',
        lookupCode: 'active',
        lookupName: '流转中'
      },
      {
        sysLookupTlId: '2',
        lookupCode: 'ended',
        lookupName: '已完成'
      }
    ]
  }
];
export default {
  name: 'MyApplication',
  components: {
    AvicBpmBaseSearch,
    AvicBpmDetailList,
    AButton: Button
  },
  mixins: [baseTableMixin, menuRefreshMixin, baseSearchMixin],
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      businessStateList: [
        {
          sysLookupTlId: '0',
          lookupCode: 'start',
          lookupName: '拟稿中'
        },
        {
          sysLookupTlId: '1',
          lookupCode: 'active',
          lookupName: '流转中'
        },
        {
          sysLookupTlId: '2',
          lookupCode: 'ended',
          lookupName: '已完成'
        }
      ],
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      keyWord: '',
      myApplicationCount: 0,
      avicAdvancedSearchData, //高级查询配置
      isActiveAllLookup: false,
      pageSettingData, // 页面数据配置
      templateCode: 'mpmProjectInfo', // 导入模板编码
      tableRefName: 'BaseTableList', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      addModalRefName: 'addModal', // 添加弹窗ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      options: [
        //普通查询组件传入的选项值
        { value: 'applyDate', name: '申请日期' }
      ],
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchHistProcessByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            type: 1,
            nodeId: this.params.nodeId,
            nodeType: this.params.nodeType,
            procDefId: this.params.pdId,
            title: this.keyWord
          },

          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  watch: {
    queryParam(newVal) {
      true; // 这句重要
      if (this.params.nodeId != '' && this.params.nodeType != '') {
        this.$refs[this.tableRefName].loadData(newVal);
      }
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    //初始化表格的回调函数
    getData(obj) {
      this.myApplicationCount = obj.data.records;
      this.$emit('getApplicationCount', this.myApplicationCount);
      this.data = obj.data.rows; // 渲染表格
    },
    //打开流程详情
    handleDetail(data) {
      bpmUtils
        .detail(data.dbId)
        .then(res => {})
        .catch(() => {
          this.$message.error('启动流程失败!');
        });
    },
    //普通查询的回调函数
    bpmBaseSearch(params) {
      this.keyWord = params.params.title;
      let searchParamReset = {
        type: 1,
        nodeId: this.params.nodeId,
        nodeType: this.params.nodeType,
        procDefId: this.params.pdId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },

    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      this.menuRefreshReset();
    },
    initRealAdvancedSearchFormData() {
      return this.avicAdvancedSearchData;
    }
  }
};
</script>
