<template>
  <div class="surface" style="position: relative">
    <!-- 操作按钮及查询区域 -->
    <div class="surface-tools-bar surface-tools-bar-bpm">
      <!-- 操作按钮: 删除 -->
      <AvicDelete
        v-show="selectedRowKeys.length > 0"
        class="table-handle-button"
        :loading="delLoading"
        type="default"
        @click-confirm="handleDelete({ refName: tableRefName, param: { ids: selectedRowKeys } })"
      />
      <!-- 普通查询 -->
      <AvicBpmBaseSearch
        ref="bpmBaseSearch"
        style="display: inline-block"
        :options="options"
        @bpmBaseSearch="bpmBaseSearch"
      />
      <!-- 高级查询 -->
      <a-button
        class="opt-btn-advsearch"
        @click="handleAdvancedSearch(tableRefName)"
        title="高级搜索"
      >
        高级搜索
      </a-button>
      <AvicChangeTableSize @changeTableSize="changeTableSize" />
      <a-icon type="sync" class="opt-icon" title="刷新" @click="handleRefreshTable(tableRefName)" />
      <AvicTableColumnSettings
        :init-setting-columns="initSettingColumns"
        :default-setting-columns="selectColumns"
        @colMenuSelect="changeColumns"
      />
    </div>
    <!-- 表格 -->
    <!-- 内容区域 -->
    <div class="surface-content">
      <!-- 高级搜索表单区域 -->
      <AvicAdvancedSearchCollapse
        :ref="advancedSearchRefName"
        class="adv-search"
        :real-advanced-search-form-data="realAdvancedSearchFormData"
        @onChange="changeShowAdvancedSearch"
        @search="advancedSearch"
      >
        <template #form>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="标题"
            >
              <a-input
                v-decorator="['procDefName']"
                allow-clear
                @pressEnter="handleEnterForSearch"
              />
              <!-- 普通输入框 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期开始日期"
            >
              <a-date-picker
                v-decorator="['startDate' + 'Begin']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="开始日期"
                :disabled-date="startValue => disabledStartDate(startValue, 'startDate' + 'End')"
              />
              <!-- 开始日期 -->
            </a-form-item>
          </a-col>
          <a-col v-bind="formColLayout.cols">
            <a-form-item
              :label-col="formColLayout.labelCol"
              :wrapper-col="formColLayout.wrapperCol"
              label="申请日期结束日期"
            >
              <a-date-picker
                v-decorator="['startDate' + 'End']"
                format="YYYY-MM-DD"
                :show-today="true"
                placeholder="结束日期"
                :disabled-date="endValue => disabledEndDate(endValue, 'startDate' + 'Begin')"
              />
              <!-- 结束日期 -->
            </a-form-item>
          </a-col>
        </template>
      </AvicAdvancedSearchCollapse>
      <!-- 表格内容 -->
      <div class="surface-table">
        <AvicBaseTable
          :ref="tableRefName"
          :table-size="tableSize"
          :is-auto-count-scroll-x="true"
          :columns="selectColumns"
          :data-source="data"
          :row-key="rowKey"
          :data-index="dataIndex"
          :pagination-default="pagination"
          @getData="getData"
          @handleRowSelection="handleRowSelection"
          @handleTableChange="handleTableChange(tableRefName, $event)"
        >
          <!-- 点击查看详情 -->
          <template slot="procDefName" scope="obj">
            <a href="javascript:;" class="table-detail-link" @click="handleDetail(obj.data)">
              {{ obj.data['procDefName'] }}
            </a>
          </template>
        </AvicBaseTable>
        <AvicBpmDetailList />
      </div>
    </div>
  </div>
</template>
<script>
import { Button } from 'ant-design-vue';
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
import AvicBpmBaseSearch from '@comp/avic/bpm/AvicBpmCenterSearch/AvicBpmBaseSearch';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import { baseFlowMixin } from '@mixins/avic/pt/BaseFlowMixin';
import { httpAction } from '@/api/manage';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_MYDRAFT';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/bpm/bpm/process';
// 表格主键字段
let rowKey = 'executionId';
// 表格查看详情字段
let dataIndex = ['procDefName'];
let pageSettingData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    scopedSlots: { customRender: 'procDefName' }
  },
  {
    title: '申请日期',
    dataIndex: 'startDate',
    sorter: true,
    width: 140,
    align: 'center',
    type: 'date',
    format: 'YYYY-MM-DD HH:mm:ss'
  },
  {
    title: '状态',
    dataIndex: 'businessState',
    sorter: true,
    width: 80,
    align: 'center',
    customRender(value, row, rowKey) {
      if (value && value === 'active') {
        return '流转中';
      } else if (value && value === 'ended') {
        return '已完成';
      } else if (value && value === 'start') {
        return '拟稿中';
      } else {
        return value;
      }
    }
  },

  {
    title: '发送人',
    dataIndex: 'taskSendUser',
    width: 140
  }
];
let avicAdvancedSearchData = [
  {
    title: '标题',
    dataIndex: 'procDefName',
    type: 'input'
  },
  {
    title: '申请日期',
    dataIndex: 'startDate',
    type: 'daterange',
    format: 'YYYY-MM-DD',
    submitFormat: 'formatTime',
    showToday: true
  }
];
export default {
  name: 'MyDraft',
  components: {
    AvicBpmBaseSearch,
    AButton: Button
  },
  mixins: [baseTableMixin, menuRefreshMixin, baseFlowMixin, baseSearchMixin],
  props: {
    params: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      myDraftCount: 0,
      avicAdvancedSearchData,
      keyWord: '',
      rowKey, // 表格主键字段
      dataIndex, // 表格查看详情字段
      pageSettingData, // 页面数据配置
      templateCode: 'mpmProjectInfo', // 导入模板编码
      tableRefName: 'BaseTableList', // 表格ref名称
      advancedSearchRefName: 'AdvancedSearch', // 高级查询ref名称
      addModalRefName: 'addModal', // 添加弹窗ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      options: [
        //普通查询组件传入的选项值
        { value: 'applyDate', name: '申请日期' }
      ],
      delParam: {
        // manage页面删除的请求接口
        url: 'api/bpm/bpm/bpmConsoleAction/deleteProcessEntry/v1',
        method: 'post'
      }
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchHistProcessByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.searchParam, // 普通查询数据
            ...this.advancedSearchParam, // 高级查询数据
            type: 0,
            nodeId: this.params.nodeId,
            nodeType: this.params.nodeType,
            procDefId: this.params.pdId,
            title: this.keyWord
          },
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  watch: {
    queryParam(newVal) {
      true; // 这句重要
      if (this.params.nodeId != '' && this.params.nodeType != '') {
        this.$refs[this.tableRefName].loadData(newVal);
      }
    }
  },
  mounted() {
    // 进入页面,加载表格数据
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    //初始化table表格的回调函数
    getData(obj) {
      this.myDraftCount = obj.data.records;
      this.$emit('getDraftCount', this.myDraftCount);
      this.data = obj.data.rows; // 渲染表格
    },
    //打开流程详情
    handleDetail(data) {
      bpmUtils
        .detail(data.dbId)
        .then(res => {})
        .catch(() => {
          this.$message.error('启动流程失败!');
        });
    },
    handleRowSelection(obj) {
      if (obj.selectedRowKeys) {
        this.selectedRowKeys = obj.selectedRowKeys;
        this.$emit('selectProcess', obj.selectedRows);
      }
    },
    //普通查询的回调函数
    bpmBaseSearch(params) {
      this.keyWord = params.params.title;
      let searchParamReset = {
        type: 0,
        nodeId: this.params.nodeId,
        nodeType: this.params.nodeType,
        procDefId: this.params.pdId
      };
      let serach = searchParamReset;
      this.queryParam.parameter.searchParams = Object.assign({}, serach, params.params);
      this.$refs[this.tableRefName].loadData(this.queryParam);
    },
    //删除
    handleDelete(params) {
      if (!params) return;
      this.delLoading = true;
      httpAction(
        this.delParam.url,
        { processInstanceId: params.param.ids.join(',') },
        this.delParam.method
      )
        .then(res => {
          if (res.success) {
            this.$message.success('删除成功！'); // 提示成功
            this.selectedRowKeys = []; // 清空表格选中项
            this.reloadData(false, params.refName); // 刷新表格
          }
          this.delLoading = false;
        })
        .catch(() => {
          this.delLoading = false;
        });
    },
    menuRefresh() {
      // 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
      this.menuRefreshReset();
    },
    // 覆盖baseSearchMixin中的初始化realAdvancedSearchFormData 的方法
    initRealAdvancedSearchFormData() {
      return this.avicAdvancedSearchData;
    }
  }
};
</script>
