<!--
 流程意见文本输入框
-->
<template>
  <div class="select-count">
    <div class="ope-box" ref="flowOpinionRef">
      <div class="input-box" :style="{ height: `${height}px` }">
        <textarea
          placeholder="请填写审批意见"
          id="flowOpinionTextarea"
          v-model="text"
          allow-clear
          :maxlength="textareaMax"
          :auto-size="{ minRows: 6, maxRows: 6 }"
        />
        <AvicTextareaCount
          ref="flowTextarea"
          target="flowOpinionTextarea"
          :default-style="{ bottom: '0' }"
          :len="textareaMax"
        />
      </div>
      <div class="tool-box">
        <span class="idea-box">常用意见</span>
        <div class="button-box">
          <a-button icon="eye" size="small" @click="setText('已阅')">已阅</a-button>
          <a-button icon="check-circle" size="small" @click="setText('同意')">同意</a-button>
          <a-button icon="close-circle" size="small" @click="setText('不同意')">不同意</a-button>
          <a-popover
            placement="top"
            trigger="click"
            :get-popup-container="() => $refs.flowOpinionRef"
            class="flow-show-set"
          >
            <a-button icon="caret-down">常用</a-button>
            <template slot="title">
              <span class="delete-box">
                <AvicDelete
                  class="table-handle-button"
                  title="您确定要删除选中吗?"
                  @click="clickDelete"
                  @click-confirm="deleteAll"
                >
                  <a-button icon="delete">清空</a-button>
                </AvicDelete>
              </span>
            </template>
            <template slot="content">
              <!-- 此处点击输入按钮可输入 点击删除 删除此条信息 -->
              <ul class="popover-box-ul">
                <li v-for="item in myIdeaList" :key="item.id" @click="setText(item.value)">
                  <span class="text-box" :title="item.value">{{ item.value }}</span>
                  <span class="delete-box">
                    <AvicDelete
                      class="table-handle-button"
                      :title="`确定把常用意见“${item.value}”移除吗？`"
                      @click="clickDelete"
                      @click-confirm="deleteById(item.id)"
                    >
                      <a-icon type="delete" title="删除此项" />
                    </AvicDelete>
                  </span>
                </li>
              </ul>
            </template>
          </a-popover>
        </div>
        <div class="button-box right">
          <a-button icon="star" :disabled="isAddIdea" size="small" @click="addIdea">
            添加到常用
          </a-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Button, Icon, Popover } from 'ant-design-vue';
import { AvicDelete } from '@comp/avic/pt/common/AvicButtons';
import AvicTextareaCount from '@comp/avic/pt/common/AvicTextarea/Count';
import { httpAction } from '@api/manage';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
export default {
  components: {
    AButton: Button,
    AIcon: Icon,
    APopover: Popover,
    AvicDelete,
    AvicTextareaCount
  },
  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    buttonData: {
      required: false,
      type: Object,
      default: () => {}
    },
    height: {
      type: Number,
      required: false,
      default: 100
    }
  },
  data() {
    return {
      text: '', //文本内容
      showSet: false, // 设置
      selectedIds: [], // 设置选中的值
      myIdeaList: [], //设置的列表
      textareaMax: 250, //文本框最多输入文字
      oftenVisible: false,
      // 获取收藏的列表
      getMyIdeaListParam: {
        url: bpmUtils.baseurl + '/business/getMyIdeaList/v1',
        parameter: {},
        method: 'post'
      },
      // 删除收藏
      deleteMyIdeaParam: {
        url: '/api/appsys/console/customed/deleteApprovalOptionList/v1',
        method: 'post'
      },
      // 添加收藏
      addMyIdeaParam: {
        url: '/api/appsys/console/customed/insertOrUpdateApprovalOptionList/v1',
        method: 'post'
      }
    };
  },
  computed: {
    indeterminate() {
      return !!this.selectedIds.length && this.selectedIds.length < this.myIdeaList.length;
    },
    checkAll() {
      return this.selectedIds.length === this.myIdeaList.length;
    },
    isAddIdea() {
      return (
        !this.text ||
        !(
          this.myIdeaList.length === 0 ||
          this.myIdeaList.filter(item => item.value === this.text).length === 0
        )
      );
    }
  },
  created() {
    this.init();
  },
  methods: {
    //初始化函数
    init() {
      this.getMyIdeaList();
    },
    //添加收藏
    addMyIdeaHttp(newTxt) {
      if (newTxt !== '') {
        let data = [
          {
            value: newTxt,
            processType: '1',
            processIds:'',
            processTypeName: "全部"
          }
        ];
        httpAction(this.addMyIdeaParam.url, data, this.addMyIdeaParam.method) // 提交
          .then(res => {
            if (res.success) {
              this.getMyIdeaList();
              this.$message.success('已收藏');
            }
          })
          .catch(() => {});
      }
    },
    //删除我的收藏
    deleteMyIdeaHttp(ids) {
      if (ids.length > 0) {
        httpAction(
          this.deleteMyIdeaParam.url,
          ids,
          this.deleteMyIdeaParam.method
        ) // 提交
          .then(res => {
            if (res.success) {
              this.$message.success('删除成功!');
              this.deleteSuccess(ids);
            }
          })
          .catch(() => {
            this.$message.error('删除失败!');
          });
      }
    },
    //添加收藏
    addIdea() {
      let str = this.text.replace(/\s/g, '');
      if (str == '') {
        this.$message.warning('内容为空!');
      } else {
        this.addMyIdeaHttp(this.text);
      }
    },
    deleteById(id) {
      this.deleteMyIdeaHttp([id]);
    },
    //删除选中
    deleteAll() {
      this.onCheckAllChange();
      this.deleteMyIdeaHttp(this.selectedIds);
    },
    //点击删除按钮
    clickDelete() {
      this.showSet = false;
    },
    setText(e) {
      this.text = e;
      this.$refs.flowTextarea.checkWord(e);
    },
    getText() {
      return this.text;
    },
    //获取按钮数据
    getButtonData() {
      if (this.visible) {
        return { buttonData: this.buttonData, submitFuncName: '' };
      } else {
        return this.$store.state.bpmCommonSelect;
      }
    },
    //获取设置数据
    getMyIdeaList() {
      let buttonData = this.getButtonData();
      if (buttonData && buttonData.buttonData && buttonData.buttonData.defineId) {
        let parameter = {
          defineId: buttonData.buttonData.defineId
        };
        httpAction(this.getMyIdeaListParam.url, parameter, this.getMyIdeaListParam.method) // 提交
          .then(res => {
            if (res.success) {
              res.result.map(tim => {
                tim.checked = false;
              });
              this.myIdeaList = res.result;
            }
          })
          .catch(() => {});
      }
    },
    deleteSuccess(ids) {
      this.myIdeaList = this.myIdeaList.filter(item => {
        return ids.indexOf(item.id) === -1;
      });
      this.selectedIds = this.selectedIds.filter(item => {
        return ids.indexOf(item) === -1;
      });
    },
    onChange(e) {
      if (e.target.checked) {
        this.selectedIds.push(e.target.value);
      } else {
        let tgtIdx = -1;
        this.selectedIds.map((item, index) => {
          if (item == e.target.value) {
            tgtIdx = index;
          }
        });
        this.selectedIds.splice(tgtIdx, 1);
      }
    },
    onCheckAllChange() {
      this.selectedIds = [];
      this.myIdeaList.map(item => {
        this.selectedIds.push(item.id);
      });
    },
    //设置的显示与隐藏
    setShowChange() {
      this.showSet = !this.showSet;
    }
  }
};
</script>
<style lang="less">
@base-font-size: 12px; /* 基本文字大小 */
.select-count {
  display: flex;
  .title {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: left;
  }
  .ope-box {
    flex: 1;
    margin-top: 10px;
    padding: 0 13px 10px 13px;

    .tool-box {
      height: 36px;
      line-height: 36px;
      background: #f8f8f8;
      font-size: @base-font-size;
      border-color: #f2f2f2;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      .idea-box {
        width: 60px;
        height: 36px;
        line-height: 36px;
        color: #c1c1c1;
        text-align: center;
        display: inline-block;
      }
      .button-box {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        position: relative;
        button {
          margin: 0 5px;
          border: 0;
          color: #7d7d7d;
          font-size: 12px;
          height: 24px;
        }
      }
      .right {
        float: right;
      }
    }
    .input-box {
      border-color: #f2f2f2;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      width: 100%;
      height: 100px;
      position: relative;
      textarea {
        height: 93%;
        width: 100%;
        border: 0;
        outline: 0;
        resize: none;
        padding: 5px;
        line-height: 18px;
        font-size: @base-font-size;
      }
      textarea::-webkit-input-placeholder {
        color: #c1c1c1;
      }
      textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c1c1c1;
      }
      textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c1c1c1;
      }
      textarea:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #c1c1c1;
      }
      .input_text {
        display: inline-block;
        position: absolute;
        right: 5px;
        bottom: 0;
        color: #8e8e8e;
      }
    }
    /* 常用 */
    .ant-btn {
      border: none;
      color: #7d7d7d;
      border-radius: 2px;
      font-size: 12px;
    }
    .ant-btn-group {
      width: calc(100% - 60px);
    }
    .ant-input {
      border: none;
    }
    .ant-popover-inner {
      width: 200px;
      height: 200px;
      .checkbox {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .delete-box {
        float: right;
      }
      .ant-popover-title {
        padding: 0;
        overflow: hidden;
        .ant-btn {
          padding: 0 10px;
        }
        .ant-btn:nth-child(1) {
          color: #526ecc;
        }
      }
      .ant-popover-inner-content {
        height: 164px;
        overflow: auto;
        padding: 5px;
        .ant-input-affix-wrapper {
          padding-right: 45px;
          cursor: pointer;
          .ant-input {
            height: 26px;
            background: none;
            font-size: 12px;
            padding-right: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .ant-input:focus {
            box-shadow: none;
            border-right-width: 0 !important;
          }
          .ant-input-suffix {
            right: 0;
            .anticon {
              margin: 0 3px;
              display: none;
            }
          }
        }

        .ant-input-affix-wrapper:hover {
          background: #f5f5f5;
          .ant-input {
            color: #526ecc;
          }
          .anticon {
            display: block;
          }
        }
        /* 常用语列表 */
        .popover-box-ul {
          list-style: none;
          padding: 0 0 0 0;
          li {
            padding: 5px 5px 0 5px;
            cursor: pointer;
            .anticon {
              display: none;
              margin: 0 3px;
            }
            .text-box {
              width: 154px;
              display: inline-block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &:hover {
              background: #f5f5f5;
              .text-box {
                color: #526ecc;
              }
              .anticon {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
</style>
