<!--
 选择区域
-->
<template>
  <div class="flow-select-tree-box">
    <div class="search-box">
      <a-input-search
        v-model="searchText"
        placeholder="请输入用户名或拼音检索"
        @search="onSearch"
        allow-clear
      />
    </div>
    <div class="select-role-box">
      <big-tree
        v-if="!treeCheckable"
        :ref="treeRefName"
        :has-input="false"
        :diff="true"
        :single="true"
        checked-action="click"
        :expand-level="expandLevel"
        :auto-load="autoLoadAsyn"
        :is-loading="loading"
        :load-data="loadDataAsyn"
        :asyn-load="true"
        :is-list-data="isListData"
        :item-height="32"
        :show-checkbox="true"
        :empty-text="emptyText"
        :default-checked-keys="treeCheckedKeys"
        @onChange="onChange"
        @onClickLabel="onClickLabel"
        @onClickCheckbox="onClickCheckbox"
      >
        <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
          <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
            {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
            <span style="color: #f50">{{ dtKeyword }}</span>
            {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
          </span>
          <span v-else>
            {{ dtItem.title }}
            <span v-if="dtItem['deptName'] != null" class="cell-txt-dept">
              （{{ dtItem['deptName'] }}）
            </span>
            <span
              v-if="
                (dtItem['deptName'] == null || dtItem['deptName'] == undefined) &&
                dtItem['attributes']['deptName'] != null
              "
              class="cell-txt-dept"
            >
              （{{ dtItem['attributes']['deptName'] }}）
            </span>
          </span>
        </template>
      </big-tree>
      <!--      多选-->
      <big-tree
        v-if="treeCheckable"
        :ref="treeRefName"
        :has-input="false"
        :diff="true"
        checked-action="click"
        :expand-level="expandLevel"
        :auto-load="autoLoadAsyn"
        :is-loading="loading"
        :is-list-data="isListData"
        :load-data="loadDataAsyn"
        :asyn-load="true"
        :item-height="30"
        :show-checkbox="true"
        :default-checked-keys="treeCheckedKeys"
        :empty-text="emptyText"
        @onChange="onChange"
        @onClickLabel="onClickLabel"
        @onClickCheckbox="onClickCheckbox"
      >
        <template v-slot:dtTitle="{ item: dtItem, keyword: dtKeyword }">
          <span v-if="dtItem.title.indexOf(dtKeyword) > -1">
            {{ dtItem.title.substr(0, dtItem.title.indexOf(dtKeyword)) }}
            <span style="color: #f50">{{ dtKeyword }}</span>
            {{ dtItem.title.substr(dtItem.title.indexOf(dtKeyword) + dtKeyword.length) }}
          </span>
          <span v-else>
            {{ dtItem.title }}
            <span v-if="dtItem['deptName'] != null" class="cell-txt-dept">
              （{{ dtItem['deptName'] }}）
            </span>
            <span
              v-if="
                (dtItem['deptName'] == null || dtItem['deptName'] == undefined) &&
                dtItem['attributes']['deptName'] != null
              "
              class="cell-txt-dept"
            >
              （{{ dtItem['attributes']['deptName'] }}）
            </span>
          </span>
        </template>
      </big-tree>
    </div>
  </div>
</template>
<script>
import { Input } from 'ant-design-vue';
import BigTree from '@comp/avic/pt/common/AvicBigTree';
import { httpAction } from '@api/manage';
import { setUserList } from './_util';

const tableColumns = [
  {
    title: '用户',
    headerAlign: 'left',
    dataIndex: 'title'
  }
];
const rowKey = 'id';

export default {
  name: 'SelectTree',
  components: {
    AInputSearch: Input.Search,
    BigTree
  },
  props: {
    //prop接收传过来的参数
    select: {
      required: true //校验
    },
    data: {
      required: true, //校验
      default: []
    },
    //双向绑定
    value: {
      required: false, //校验
      default: ''
    },
    selectAll: {
      required: false, //校验
      default: ''
    },
    formId: {
      type: String,
      required: false, //校验
      default: ''
    },
    visible: {
      type: Boolean,
      required: false,
      default: false
    },
    buttonData: {
      required: false,
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      selectUser: [], //选中的用户
      tableColumns,
      rowKey,
      dataIndex: 'title',
      searchList: [],
      userList: [],
      treeCheckedKeys: [],
      treeSelectedKeys: [],
      defaultMaxParentId: '-1',
      initTreeData: [], //初始化加载树数据
      tableRefName: 'userListTable',
      treeRefName: 'avicTreeElement',
      deptUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/dept/v1', //部门树访问地址
      positionUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/position/v1', //岗位树访问地址
      groupUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/group/v1', //群组树访问地址
      roleUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/role/v1', //角色树访问地址
      selectFlowTab: 0, // 当前选中的流程页签
      selectTag: '', // 当前选人的纬度类型
      // 树组件需要的加载数据格式
      treeParam: {
        url: '',
        parameter: {
          checked: false
        },
        method: 'post'
      },
      // 树搜索组件需要的加载数据格式
      searchTreeParam: {
        url: '/api/bpm/bpmActor/bpmSelectUserAction2/getSearchUsersJSONData/v1',
        parameter: {},
        method: 'post'
      },
      isSwitch: false,
      showSearchList: false,
      searchText: '',
      treeCheckable: true, //是否多选
      scopedSlots: { title: 'title' }, //树收藏
      menuList: [],
      menuVisible: false,
      addCommonContactUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/addCommonContact/v1',
      delCommonContactUrl: '/api/bpm/bpmActor/bpmSelectUserAction2/delCommonContact/v1',
      rightNode: null,
      roleSpinning: false,
      treeNodeDataRef: {}, //当前节点信息
      loading: false, //bigtree loading
      selectListMap: {}, //bigtree 选中的用户
      expandLevel: '1', //展开层级
      emptyText: '暂无数据', //搜索为空时的提示数据
      isListData: false
    };
  },
  //接收组件传参
  watch: {
    select: {
      immediate: true,
      handler(newV) {
        console.log(newV, '-----select-----');
        if (
          newV &&
          newV.selectTag &&
          newV.selectFlowTab > -1 &&
          (newV.selectTag != this.selectTag || newV.selectFlowTab != this.selectFlowTab)
        ) {
          this.selectFlowTab = newV.selectFlowTab;
          if (newV.selectTag != this.selectTag) {
            this.isSwitch = true;
          }
          this.showSearchList = false;
          this.searchText = '';
          this.selectTag = newV.selectTag;
          this.iniTree();
        }
      }
    },
    value: {
      immediate: true,
      handler(newV) {
        setTimeout(() => {
          this.setSelectUser(newV);
        }, 1);
      }
    }
  },
  mounted() {
    this.iniTree();
  },
  methods: {
    iniTree() {
      if (this.selectTag && this.selectFlowTab > -1) {
        this.iniTreeUrl();
        this.iniTreeData();
      }
    },
    //获取按钮数据
    getButtonData() {
      if (this.visible) {
        return { buttonData: this.buttonData, submitFuncName: '' };
      } else {
        return this.$store.state.bpmCommonSelect;
      }
    },
    /** 1.初始化查询路径url */
    iniTreeUrl() {
      if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].currentActivityAttr) {
        if (
          this.data.nextTask[this.selectFlowTab].currentActivityAttr.dealType == '1' ||
          this.data.nextTask[this.selectFlowTab].currentActivityAttr.single == 'yes'
        ) {
          //单选用户
          this.treeCheckable = false;
        } else {
          this.treeCheckable = true;
        }
      }
      if (this.selectTag != 'user') {
        let para = [];
        let list = '';
        let nodeType = '';
        if (this.selectTag == 'orgDept') {
          if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].orgList.length > 0) {
            list = 'orgList'; //组织
            nodeType = 'rootOrg';
          } else if (
            this.data.nextTask &&
            this.data.nextTask[this.selectFlowTab].deptList.length > 0
          ) {
            list = 'deptList'; //部门
            nodeType = 'root';
          }
          this.treeParam.url = this.data.orgDeptTreeUrl ? this.data.orgDeptTreeUrl : this.deptUrl;
        } else if (this.selectTag == 'role') {
          list = 'roleList';
          nodeType = this.selectTag;
          this.treeParam.url = this.data.roleTreeUrl ? this.data.roleTreeUrl : this.roleUrl;
        } else if (this.selectTag == 'group') {
          list = 'groupList';
          nodeType = this.selectTag;
          this.treeParam.url = this.data.groupTreeUrl ? this.data.groupTreeUrl : this.groupUrl;
        } else if (this.selectTag == 'position') {
          list = 'positionList';
          nodeType = this.selectTag;
          this.treeParam.url = this.data.positionTreeUrl
            ? this.data.positionTreeUrl
            : this.positionUrl;
        }
        if (
          this.data.nextTask &&
          list != '' &&
          this.data.nextTask[this.selectFlowTab][list] &&
          this.data.nextTask[this.selectFlowTab][list].length > 0
        ) {
          this.data.nextTask[this.selectFlowTab][list].map(tim => {
            para.push(tim.id);
          });
        }
        let buttonData = this.getButtonData();
        if (this.selectTag == 'role') {
          this.setParameter(para, buttonData);
        } else {
          this.treeParam.parameter = {
            nodeType,
            para: JSON.stringify(para),
            filterUser: '',
            secretLevel: this.data.secretLevel,
            formId: this.formId,
            executionId: buttonData.buttonData.executionId,
            processInstanceId: buttonData.buttonData.processInstanceId,
            taskId: buttonData.buttonData.taskId
          };
        }
        // if (this.$refs[this.treeRefName]) {
        //   this.$refs[this.treeRefName].empty()
        // }
        /* if (nodeType == 'rootOrg' || nodeType == 'root') {
            if (this.$refs[this.treeRefName]) {
              this.$refs[this.treeRefName].refresh();
            }
          }*/
      }
    },
    // 2. bigtree 初始化数据
    async iniTreeData() {
      this.initTreeData = [];
      let treeData = [];
      if (this.selectTag == 'orgDept') {
        if (this.data.orgDeptTreeZNode && this.data.orgDeptTreeZNode.length > 0) {
          treeData = this.data.orgDeptTreeZNode;
        }
      } else if (this.selectTag == 'role') {
        this.$emit('loading', true);
        // if (this.data.orgDeptTreeZNode && this.data.orgDeptTreeZNode.length > 0) {
        //   treeData = this.data.orgDeptTreeZNode
        // } else {
        //   if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].roleList.length > 0) {
        //     treeData = this.processTreeData(this.data.nextTask[this.selectFlowTab].roleList)
        //   }
        // }
        this.$refs[this.treeRefName].refresh(true);
        let result = await this.getRole();
        if (result.success) {
          treeData = result.result;
          this.setIniRole(treeData);
          // this.processRoleData(treeData,null);   //key值重组
        }
        this.$emit('loading', false);
      } else if (this.selectTag == 'user') {
        if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].userList.length > 0) {
          treeData = setUserList(
            this.data.nextTask[this.selectFlowTab].userList,
            this.treeCheckable
          );
        }
      } else if (this.selectTag == 'model') {
        if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].modelList.length > 0) {
          treeData = this.processTreeData(this.data.nextTask[this.selectFlowTab].modelList);
        }
      } else if (this.selectTag == 'group') {
        if (this.data.groupTreeZNode && this.data.groupTreeZNode.length > 0) {
          treeData = this.data.groupTreeZNode;
        } else {
          if (this.data.nextTask && this.data.nextTask[this.selectFlowTab].groupList.length > 0) {
            treeData = this.processTreeData(this.data.nextTask[this.selectFlowTab].groupList);
          }
        }
      } else if (this.selectTag == 'position') {
        if (this.data.positionTreeZNode && this.data.positionTreeZNode.length > 0) {
          treeData = this.data.positionTreeZNode;
        } else {
          if (
            this.data.nextTask &&
            this.data.nextTask[this.selectFlowTab].positionList.length > 0
          ) {
            treeData = this.processTreeData(this.data.nextTask[this.selectFlowTab].positionList);
          }
        }
      }
      if (this.selectTag !== 'user') {
        this.isListData = false;
      } else {
        this.isListData = true;
      }
      // bigtree 中放入数据
      if (this.selectTag !== 'orgDept' && this.selectTag !== 'root') {
        this.expandLevel = '1';
        if (this.$refs[this.treeRefName]) {
          this.$refs[this.treeRefName].refresh(true);
          this.$refs[this.treeRefName].setData({ data: treeData, node: null, keyword: null });
          this.$refs[this.treeRefName].refresh(false);
        }
      } else if (this.selectTag == 'orgDept') {
        this.expandLevel = '2';
        if (this.$refs[this.treeRefName]) {
          this.autoLoadAsyn();
        }
      }
    },

    setUser(user, ids) {
      if (user && user.attributes && user.attributes.nodeType == 'user') {
        this.selectUser.map(tim => {
          if (tim.selectFlowTab == this.selectFlowTab) {
            let selectUser = tim.users.filter(u => u.id == user.id);
            if (selectUser.length == 0) {
              tim.users.push(user); //如果没有选中则添加到users数组中
            }
            this.treeCheckedKeys = [];
            tim.users = tim.users.filter(user => {
              let existUser = ids.filter(id => id == user.id);
              if (existUser.length > 0) {
                this.treeCheckedKeys.push(user.id);
                return user;
              }
            });
          }
        });
      }
    },
    // 判断selectUser 中是否有该用户
    getIsHasUser(user) {
      let isUser = false;
      if (user) {
        this.selectUser.map(tim => {
          if (tim.selectFlowTab == this.selectFlowTab) {
            let selectUser = tim.users.filter(u => u.id == user.id);
            if (selectUser.length > 0) {
              isUser = true;
            }
          }
        });
      }
      return isUser;
    },

    //删除全部用户
    removeAllUser() {
      this.selectUser.map(tim => {
        if (tim.selectFlowTab == this.selectFlowTab) {
          tim.users.map((u, index) => {
            tim.users = [];
          });
        }
      });
    },
    // 删除 selectUser 和 treeCheckedKeys中的元素
    removeTreeKeysAndUser(e) {
      if (e.id) {
        this.selectUser.map(tim => {
          if (tim.selectFlowTab == this.selectFlowTab) {
            tim.users = tim.users.filter(u => u.id != e.id);
            this.treeCheckedKeys = [];
            tim.users = tim.users.filter(u => {
              this.treeCheckedKeys.push(u.id);
              return u;
            });
          }
        });
        delete this.selectListMap[e.id];
      }
    },

    /**
       数据加载前参数设置
       */
    beforeLoadData(treeData, parentId) {
      if (treeData.attributes && treeData.attributes.nodeType) {
        this.treeParam.parameter.nodeType = treeData.attributes.nodeType;
      }
      this.treeParam.parameter.formId = '';
      this.treeParam.parameter.id = parentId;
      this.treeNodeDataRef = treeData;
    },
    /**
     * 数据加载完成事件
     */
    afterLoadData(res) {
      if (this.treeCheckable) {
        if (res.result.length > 0) {
          // this.setTreeData(res.result,this.treeNodeDataRef.key);
        }
      }
      if (res.result.length == 0) {
        this.treeNodeDataRef.disableCheckbox = true;
        this.treeNodeDataRef.disabled = true;
        this.treeNodeDataRef.isLeaf = true;
      }
    },
    //搜索数据入口
    onSearch(e) {
      if (e) {
        this.showSearchList = true;
        this.$refs[this.treeRefName].refresh(true);
        let searchCondition = this.getSearchCondition();
        let selectTag = this.selectTag;
        if (selectTag == 'user') {
          selectTag = 'userList';
        }
        let paramDeptIds = '';
        if (this.selectTag == 'role') {
          if (this.initTreeData && this.initTreeData.length > 0) {
            if (this.initTreeData[0].attributes.nodeType == 'dept') {
              paramDeptIds = this.initTreeData[0].attributes.deptId;
            }
          }
        }
        let parameter = {
          searchContent: e,
          searchType: selectTag,
          searchCondition,
          paramDeptIds,
          secretLevel: this.data.secretLevel
        };
        this.$emit('loading', true);
        httpAction(this.searchTreeParam.url, parameter, this.searchTreeParam.method) // 提交
          .then(res => {
            if (res.success) {
              this.setSearchList(res.result);
              this.$refs[this.treeRefName].setData({
                data: this.searchList,
                node: null,
                keyword: null
              });
            } else {
              this.showSearchList = false;
            }
            this.$refs[this.treeRefName].refresh(false);
            if (e !== '' && res.result.length == 0) {
              this.emptyText = '未查询到匹配数据！';
            } else {
              this.emptyText = '暂无数据！';
            }
            this.$emit('loading', false);
          })
          .catch(() => {
            this.showSearchList = false;
            this.$refs[this.treeRefName].refresh(false);
            this.$emit('loading', false);
          });
      } else {
        this.showSearchList = false;
        this.iniTreeData();
      }
    },
    //设置搜索数据数据
    setSearchList(list) {
      this.searchList = [];
      if (list && list.length > 0) {
        list.map(user => {
          let bigTableDataChecked = false;
          if (this.selectListMap[user.id]) {
            bigTableDataChecked = true;
          }
          this.searchList.push({
            key: user.id,
            attributes: {
              deptId: user.deptId,
              deptName: user.deptName,
              nodeType: 'user'
            },
            isLeaf: true,
            title: user.userName,
            deptId: user.deptId,
            deptName: user.deptName,
            id: user.userId,
            name: user.userName,
            orderBy: user.orderBy,
            bigTableDataChecked
          });
        });
      }
    },

    //拼接查询条件
    getSearchCondition() {
      let conditionList = [];
      let nextTask = null;
      if (this.data.nextTask.length >= this.selectFlowTab) {
        nextTask = this.data.nextTask[this.selectFlowTab];
      }
      if (nextTask) {
        if (this.selectTag == 'user') {
          let condition = {};
          condition.processInstanceId = nextTask.currentActivityAttr.processInstanceId;
          condition.executionId = nextTask.currentActivityAttr.executionId;
          if (
            nextTask.currentActivityAttr.outcome == null ||
            nextTask.currentActivityAttr.outcome == 'null'
          ) {
            condition.outcome = '';
          } else {
            condition.outcome = nextTask.currentActivityAttr.outcome;
          }

          condition.type = nextTask.currentActivityAttr.type;
          condition.targetActivityName = nextTask.currentActivityAttr.targetActivityName;
          condition.userId = nextTask.currentActivityAttr.userId;
          condition.taskId = nextTask.currentActivityAttr.taskId;
          condition.index = nextTask.currentActivityAttr.index;
          conditionList[0] = condition;
        } else if (this.selectTag == 'orgDept') {
          if (nextTask.orgList != null && nextTask.orgList.length && nextTask.orgList.length > 0) {
            for (let i = 0; i < nextTask.orgList.length; i++) {
              let orgInfo = {};
              orgInfo.id = nextTask.orgList[i].id;
              orgInfo.name = nextTask.orgList[i].name;
              orgInfo.type = 'org';
              conditionList.push(orgInfo);
            }
          } else {
            for (let i = 0; i < nextTask.deptList.length; i++) {
              let deptInfo = {};
              deptInfo.id = nextTask.deptList[i].id;
              deptInfo.name = nextTask.deptList[i].name;
              deptInfo.type = 'dept';
              conditionList.push(deptInfo);
            }
          }
        } else if (this.selectTag == 'role') {
          conditionList = nextTask.roleList;
        } else if (this.selectTag == 'model') {
          conditionList = nextTask.modelList;
        } else if (this.selectTag == 'group') {
          conditionList = nextTask.groupList;
        } else if (this.selectTag == 'position') {
          conditionList = nextTask.positionList;
        }
        // if(conditionList.length>0){
        //   conditionList[0].secretLevel = '3'
        // }
      }

      return JSON.stringify(conditionList);
    },
    //人员页签 全部选中和删除事件
    handleOnSelectAll(e) {
      if (e.selectedRowKeys.length == 0) {
        this.userList.map(user => {
          this.removeTreeKeysAndUser(user);
        });
      } else if (e.selectedRowKeys.length == this.userList.length) {
        this.treeCheckedKeys.push(...e.selectedRowKeys);
        let ids = Array.from(new Set(this.treeCheckedKeys));
        e.selectedRowKeys.map(id => {
          let selectUser = this.userList.filter(user => user.id == id);
          if (selectUser.length > 0 && !this.selectListMap[id]) {
            this.selectListMap[id] = selectUser[0];
            this.setUser(selectUser[0], ids);
          }
        });
      }
    },
    //人员页签 选中事件
    handleRowSelection(e) {
      if (e.isFromCheckboxAll) {
        return;
      }
      if (!this.treeCheckable) {
        //单选
        this.removeAllUser();
        this.treeCheckedKeys = [];
        this.selectListMap = {};
        if (e.selectedRowKeys.length > 0) {
          this.selectListMap[e.record.id] = e.record;
          this.treeCheckedKeys.push(...e.selectedRowKeys);
          let ids = Array.from(new Set(this.treeCheckedKeys));
          e.selectedRowKeys.map(id => {
            let selectedUser = this.userList.filter(user => user.id == id); //获取当前id 的数据
            if (selectedUser.length > 0) {
              this.setUser(selectedUser[0], ids);
            }
          });
        }
      } else {
        //多选
        if (!e.isSelected) {
          //删除
          if (this.selectListMap[e.record.id]) {
            delete this.selectListMap[e.record.id];
            this.selectUser.map(tim => {
              // 选中名称时  treeCheckedKeys 中存在该用户,则删除
              if (tim.selectFlowTab == this.selectFlowTab) {
                tim.users = tim.users.filter(user => user.id != e.record.id);
                this.treeCheckedKeys = [];
                tim.users.filter(user => {
                  this.treeCheckedKeys.push(user.id);
                });
              }
            });
          }
        } else {
          //选中名称时   treeCheckedKeys 中不存在该用户则添加该用户
          if (!this.selectListMap[e.record.id]) {
            this.selectListMap[e.record.id] = e.record;
            this.selectUser.map(tim => {
              if (tim.selectFlowTab == this.selectFlowTab) {
                let selectUser = tim.users.filter(u => u.id == e.record.id);
                if (selectUser.length == 0) {
                  tim.users.push(e.record); //如果没有选中则添加到users数组中
                }
              }
            });
            this.treeCheckedKeys.push(e.record.id);
          }
        }
      }
    },

    //搜索-人员页签 全部选中和删除事件
    handleSearchOnSelectAll(e) {
      if (e.selectedRowKeys.length == 0) {
        this.searchList.map(user => {
          this.removeTreeKeysAndUser(user);
        });
      } else if (e.selectedRowKeys.length == this.searchList.length) {
        this.treeCheckedKeys.push(...e.selectedRowKeys);
        let ids = Array.from(new Set(this.treeCheckedKeys));
        e.selectedRowKeys.map(id => {
          let selectUser = this.searchList.filter(user => user.id == id);
          if (selectUser.length > 0 && !this.selectListMap[id]) {
            this.selectListMap[id] = selectUser[0];
            this.setUser(selectUser[0], ids);
          }
        });
      }
    },

    //搜索-人员页签 选中事件
    handleSearchRowSelection(e) {
      if (e.isFromCheckboxAll) {
        return;
      }
      if (!this.treeCheckable) {
        //单选
        this.removeAllUser();
        this.treeCheckedKeys = [];
        this.selectListMap = {};
        if (e.selectedRowKeys.length > 0) {
          this.selectListMap[e.record.id] = e.record;
          this.treeCheckedKeys.push(...e.selectedRowKeys);
          let ids = Array.from(new Set(this.treeCheckedKeys));
          e.selectedRowKeys.map(id => {
            let selectedUser = this.searchList.filter(user => user.id == id); //获取当前id 的数据
            if (selectedUser.length > 0) {
              this.setUser(selectedUser[0], ids);
            }
          });
        }
      } else {
        //多选
        if (!e.isSelected) {
          //删除
          if (this.selectListMap[e.record.id]) {
            // 选中名称时  treeCheckedKeys 中存在该用户,则删除
            delete this.selectListMap[e.record.id];
            this.selectUser.map(tim => {
              if (tim.selectFlowTab == this.selectFlowTab) {
                tim.users = tim.users.filter(user => user.id != e.record.id);
                this.treeCheckedKeys = [];
                tim.users.filter(user => {
                  this.treeCheckedKeys.push(user.id);
                });
              }
            });
          }
        } else {
          //选中名称时   treeCheckedKeys 中不存在该用户则添加该用户
          if (!this.selectListMap[e.record.id]) {
            this.selectListMap[e.record.id] = e.record;
            this.treeCheckedKeys.push(e.record.id);
            this.selectUser.map(tim => {
              if (tim.selectFlowTab == this.selectFlowTab) {
                let selectUser = tim.users.filter(u => u.id == e.record.id);
                if (selectUser.length == 0) {
                  tim.users.push(e.record); //如果没有选中则添加到users数组中
                }
              }
            });
          }
        }
      }
    },
    /**
     * 把平台返回的tree数据转换成 ant.design tree数据
     * @param {*} data  原始数据
     * @param {*} scopedSlot   可通过 slot-scope 属性支持的属性
     * @param {*} scopedSlot   可通过 slot-scope 属性支持的属性
     */
    processTreeData(data, nodeType, scopedSlot = {}, custom) {
      let result = [];
      if (data && data.length > 0) {
        data.map(tim => {
          let tree = {
            id: tim.id,
            nodeType: tim.nodeType ? tim.nodeType : nodeType,
            title: tim.name,
            key: tim.id,
            isLeaf: false,
            children: null,
            scopedSlots: scopedSlot,
            _parentId: this.defaultMaxParentId,
            disableCheckbox: false,
            disabled: false,
            selectable: true,
            checked: false
          };
          if (custom) {
            custom(tree);
          }
          result.push(tree);
        });
      }
      return result;
    },
    changeSelectUser(list) {
      this.setSelectUser(list);
    },
    //设置选中的user
    setSelectUser(list) {
      if (list && list.length > 0) {
        this.treeCheckedKeys = [];
        this.selectListMap = {};
        let _this = this;
        list.map(tim => {
          if (tim.selectFlowTab == _this.selectFlowTab) {
            if (tim.users.length == 0) {
              this.treeCheckedKeys = [];
            } else {
              tim.users.map(user => {
                if (!Object.prototype.hasOwnProperty.call(user, 'bigTableDataChecked')) {
                  user['bigTableDataChecked'] = false;
                }
                this.treeCheckedKeys.push(user.id);
                this.selectListMap[user.id] = user; //初始化listmap
              });
            }
          }
        });
        this.selectUser = list;
      }
    },
    /**
     * 异步加载树---成飞流程自定义选人方案
     */
    onLoadDataTree(treeNode) {
      if (treeNode.dataRef) {
        if (treeNode.dataRef.attributes) {
          if (
            treeNode.dataRef.attributes.nodeType == 'user' ||
            treeNode.dataRef.attributes.nodeType == 'commonContacts'
          ) {
            this.treeParam.parameter.nodeType = treeNode.dataRef.attributes.nodeType;
            this.treeParam.parameter.roleId = treeNode.dataRef.attributes.roleId;
            this.treeParam.parameter.deptId = treeNode.dataRef.attributes.deptId;
            return new Promise((resolve, reject) => {
              httpAction(this.roleUrl, this.treeParam.parameter, 'post')
                .then(res => {
                  if (res.success && res.result.length > 0) {
                    treeNode.dataRef.children = res.result;
                  } else {
                    treeNode.dataRef.children = [];
                    treeNode.dataRef.isLeaf = true;
                  }
                  this.initTreeData = [...this.initTreeData];
                  resolve(this.initTreeData);
                })
                .catch(() => {
                  resolve();
                });
            });
          } else {
            return new Promise((resolve, reject) => {
              resolve();
            });
          }
        } else {
          return new Promise((resolve, reject) => {
            resolve();
          });
        }
      }
    },
    /**
     * 右键树---成飞流程自定义选人方案
     */
    treeRightClick(treeNode) {
      if (treeNode.node.$parent.eventKey == 'commonContacts') {
        this.menuList = [{ key: '2', icon: 'delete', text: '删除常用联系人', disabled: false }];
      } else {
        this.menuList = [{ key: '1', icon: 'plus', text: '添加常用联系人' }];
      }
      this.rightNode = treeNode.node.dataRef;
      this.menuVisible = true;
    },
    /**
     * 选中右键菜单---成飞流程自定义选人方案
     */
    onMenuSelect(e) {
      if (this.rightNode) {
        if (e == '1') {
          this.addCommonContact();
        } else {
          this.delCommonContact();
        }
      }
    },
    /**
     * 添加常用联系人---成飞流程自定义选人方案
     */
    async addCommonContact() {
      if (this.rightNode) {
        let parameter = {
          processKey: this.rightNode.attributes.processKey,
          toActivityName: this.rightNode.attributes.toActivityName,
          contactId: this.rightNode.id,
          contactDeptId: this.rightNode.attributes.deptId
        };
        let result = await httpAction(this.addCommonContactUrl, parameter, 'post');
        if (result.success) {
          this.treeParam.parameter.nodeType = '';
          this.treeParam.parameter.roleId = '';
          this.treeParam.parameter.deptId = '';
          let res = await this.getRole();
          if (res.success) {
            // res.result.map((tim)=>{
            //   tim.isLeaf = false;
            // })
            this.setIniRole(res.result);
            this.initTreeData = res.result;
          }
          this.$message.success('操作成功!');
        } else {
          this.$message.error('添加失败!');
        }
      }
    },
    /**
     * 删除常用联系人---成飞流程自定义选人方案
     */
    async delCommonContact() {
      if (this.rightNode) {
        let parameter = {
          processKey: this.rightNode.attributes.processKey,
          toActivityName: this.rightNode.attributes.toActivityName,
          contactId: this.rightNode.id
        };
        let result = await httpAction(this.delCommonContactUrl, parameter, 'post');
        if (result.success) {
          this.treeParam.parameter.nodeType = '';
          this.treeParam.parameter.roleId = '';
          this.treeParam.parameter.deptId = '';
          let res = await this.getRole();
          if (res.success) {
            // res.result.map((tim)=>{
            //   tim.isLeaf = false;
            // })
            this.setIniRole(res.result);
            this.initTreeData = res.result;
          }
          this.$message.success('操作成功!');
        } else {
          this.$message.error('删除失败!');
        }
      }
    },
    /**
     * 设置参数---成飞流程自定义选人方案
     */
    setParameter(para, buttonData) {
      let toActivityName = '';
      if (this.buttonData && this.buttonData.targetActivityName) {
        toActivityName = this.buttonData.targetActivityName;
      } else if (this.data.nextTask.length > 0) {
        toActivityName = this.data.nextTask[0].currentActivityAttr.activityName;
      }
      let deptImpl = '';
      if (this.data.nextTask.length > 0 && this.data.nextTask[0].currentActivityAttr.deptImpl) {
        deptImpl = this.data.nextTask[0].currentActivityAttr.deptImpl;
      }
      this.treeParam.parameter = {
        nodeType: '',
        //para: JSON.stringify(para),
        para: '',
        roleIds: para.join(','),
        // procInstId:buttonData.buttonData.procinstDbid ,
        procInstId: buttonData.buttonData.processInstanceId,
        fromActivityName: this.data.currentActivityAttr.activityName
          ? this.data.currentActivityAttr.activityName
          : '',
        toActivityName,
        deptImpl,
        processKey: this.data.processKey ? this.data.processKey : '',
        filterUser: '',
        secretLevel: this.data.secretLevel,
        formId: this.data.formId,
        executionId: buttonData.buttonData.executionId,
        // processInstanceId: buttonData.buttonData.processInstanceId,
        taskId: buttonData.buttonData.taskId,
        id: ''
      };
    },
    /**
     * 异步获取角色树---成飞流程自定义选人方案
     */
    async getRole() {
      this.roleSpinning = true;
      let result = await httpAction(this.roleUrl, this.treeParam.parameter, 'post');
      return new Promise(resolve => {
        this.roleSpinning = false;
        if (result.success) {
          resolve(result);
        } else {
          resolve(result);
        }
      });
    },
    //角色key值唯一性组合
    processRoleData(data, parentId) {
      if (data && data.length > 0) {
        data.map(tim => {
          // if(!tim.isLeaf){
          if (parentId != null && parentId != undefined) {
            // tim.id= parentId + '-'+ tim.id
            tim.key = parentId + '-' + tim.key;
          }
          this.processRoleData(tim.children, tim.key);
          // }
        });
      }
    },

    setIniRole(tree) {
      if (tree && tree.length > 0) {
        tree.map(tim => {
          if (tim.attributes.nodeType != 'user') {
            tim.isLeaf = false;
            tim.disableCheckbox = false;
          }
          if (tim.children) {
            this.setIniRole(tim.children);
          }
        });
      }
    },
    /*  bigtree 方法 start*/

    // bigtree 自动初始化节点
    autoLoadAsyn() {
      this.loadDataAsyn(null, '');
    },

    // bigtree 请求数据
    loadDataAsyn(node, keyword) {
      let _this = this;
      return new Promise(resolve => {
        if (node && node.children.length > 0) {
          resolve();
          return;
        }
        // 非查询条件下异步加载节点，修改treeParam传递的node的id
        if (node) {
          let id = node.id;
          _this.beforeLoadData(node, id);
        }
        // else {
        //   //非异步加载节点加载清除id 和nodeType
        //   _this.treeParam.parameter.id = ''
        //   _this.treeParam.parameter.nodeType = ''
        //   _this.$refs[_this.treeRefName].setData({ data: _this.initTreeData, node: null, keyword: null })
        // }
        /*  _this.$refs[_this.treeRefName].refresh(true)*/
        let param = {};
        if (keyword == '') {
          _this.treeParam.parameter.keyword = keyword;
          param = this.treeParam;
        } else {
          param = this.searchTreeParam;
        }
        if (param.url == '' || param.url == null || param.url === undefined) {
          return;
        }
        this.$emit('loading', true);
        httpAction(
          param.url,
          param.parameter ? param.parameter : '',
          param.method,
          true,
          true,
          false
        )
          .then(res => {
            if (res.success) {
              if (res.result.length > 0) {
                // _this.afterLoadData(res)
                _this.$refs[_this.treeRefName].setData({
                  data: res.result,
                  node,
                  keyword
                });
                _this.$refs[_this.treeRefName].refresh(false);
              } else {
                _this.$refs[_this.treeRefName].loadErr(node);
                node.isLeaf = true;
                node.disabled = true;
                _this.$message.warning(`${node.title} 节点下无数据。`);
                this.emptyText = '暂无数据！';
              }
            } else {
              _this.$refs[this.treeRefName].loadErr(node);
            }

            this.$emit('loading', false);
            resolve();
          })
          .catch(response => {
            this.$refs[this.treeRefName].refresh(false);
            this.$refs[this.treeRefName].loadErr(node);
            this.$emit('loading', false);
          });
      });
    },

    // bigtree 数据变化处理
    onChange({ checkedKeys, checkedNodes }) {
      // debugger
      let select = this.$refs[this.treeRefName].getAllLeafNodes();
      this.setSelectUserList(select);
      // this.$refs[treeRefName].setData(this.selectList)
    },
    // bigtree 标签点击事件处理
    onClickLabel(nodeInfo) {
      if (!this.treeCheckable) {
        if (nodeInfo.checked) {
          this.selectListMap = {};
          this.selectListMap[nodeInfo.id] = { ...nodeInfo };
          this.selectUser.map(tim => {
            if (tim.selectFlowTab == this.selectFlowTab) {
              tim.users = Object.values(this.selectListMap);
            }
          });
        } else {
          this.selectListMap = {};
        }
      }
    },
    // bigtree 复选框点击事件处理
    onClickCheckbox(node) {
      this.checkBigTree(node);
    },
    // bigtree 选中逻辑处理
    checkBigTree(nodeInfo) {
      if (!this.treeCheckable) {
        //单选
        if (nodeInfo.checked) {
          this.selectListMap = {};
          this.selectListMap[nodeInfo.id] = { ...nodeInfo };
          this.selectUser.map(tim => {
            if (tim.selectFlowTab == this.selectFlowTab) {
              tim.users = Object.values(this.selectListMap);
            }
          });
        } else {
          this.selectListMap = {};
        }
      } else {
        //多选
        if (!nodeInfo.checked && !nodeInfo.indeterminate) {
          //节点删除操作，先删除selectListMap中的节点信息
          // debugger
          this.deleteNode(nodeInfo);
          this.selectUser.map(tim => {
            if (tim.selectFlowTab == this.selectFlowTab) {
              tim.users = Object.values(this.selectListMap);
            }
          });
          // this.setCheckData()
        } else {
          let select = this.$refs[this.treeRefName].getAllLeafNodes();
          this.setSelectUserList(select);
        }
      }
    },
    // 删除节点
    deleteNode(node) {
      if (node.isLeaf && !node.cheched) {
        delete this.selectListMap[node.id];
      } else if (node.children && node.children.length > 0) {
        node.children.map(tim => {
          this.deleteNode(tim);
        });
      }
    },
    // 过滤出选中的节点
    setSelectUserList(nodes) {
      let selectList = []; //保存选中的节点
      if (nodes) {
        nodes.map(tim => {
          if (!this.selectListMap[tim.id]) {
            let str = JSON.stringify(tim);
            let item = JSON.parse(str);
            item.bigTableDataChecked = false;
            selectList.push(item);
            this.selectListMap[tim.id] = item;
          }
        });
      }
      this.setDatatoSelectUser(selectList);
    },
    // 选中的节点放入selectUser 中
    setDatatoSelectUser(list) {
      this.selectUser.map(tim => {
        if (tim.selectFlowTab == this.selectFlowTab) {
          tim.users = tim.users.concat(list);
        }
      });
    },
    // 设置treeCheckedKeys
    setCheckData() {
      this.treeCheckedKeys = Object.keys(this.selectListMap);
    }
    /*  bigtree 方法 end*/
  }
};
</script>
<style lang="less">
.ant-tree-checkbox-inner {
  transition: none;
  transition-duration: 0s;
}

.ant-tree-checkbox-checked .ant-tree-checkbox-inner::after {
  transition: none;
}
.flow-select-tree-box {
  width: 100%;
  height: 100%;
  min-height: 252px;
  .search-box {
    width: 100%;
    padding: 0 10px 0 15px;
    .ant-input-search {
      width: 100%;
    }
  }
  .select-role-box {
    height: calc(100% - 32px);
    width: 100%;
    overflow: auto;
    min-height: 150px;
    padding-left: 5px;
    /* bigtree样式调整 */
    .big-tree {
      padding-top: 0;
      .content-wrap .tree-content .item {
        padding: 1px 18px 1px 6px;
      }
      .check-box .box {
        width: 16px;
        height: 16px;
        border-radius: 2px;
      }
      .check-box .box::after {
        top: 45%;
        left: 24%;
        width: 6px;
        height: 9px;
      }
      .check-box .box.radio {
        border-radius: 50%;
      }
      .check-box .box.radio::after {
        top: 50%;
        left: 38%;
        width: 8px;
        height: 8px;
      }
      .check-box .box.is-part-checked {
        background-color: #fff;
        border: 1px solid #ddd;
      }
      .check-box .box.is-part-checked::after {
        width: 8px;
        height: 8px;
        /* background: #0e94cd; */
        border: 0;
        transform: none;
        top: 24%;
        left: 22%;
      }
      .check-box .text {
        line-height: 28px;
        font-size: 12px; /* 树的文字大小 */
      }
    }
    .ant-spin-nested-loading {
      padding: 0;
      min-height: 140px;
    }
    .avic-tree-box {
      padding-top: 0;
      overflow: initial;
      .ant-tree-node-content-wrapper {
        span {
          color: rgba(0, 0, 0, 0.65);
        }
      }
      .select-role-box {
        overflow: initial;
        position: static;
      }
    }
  }

  .editable-cell-text-wrapper {
    height: 24px;

    .editable-cell-text {
      max-width: 140px;
    }
  }

  .collect-box {
    .on-collect {
      margin-left: 10px;
      display: none;
    }

    .collect {
      margin-left: 10px;
      color: #1890ff;
    }
  }

  .collect-box:hover .on-collect {
    display: inline-block;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 10px;
  }
  .cell-txt-dept {
    color: #c9c9c9;
    font-size: 12px;
  }
}
</style>
