<!--
  批示 ，已阅
-->
<template>
  <div class="container-box">
    <div class="container-right-top" v-if="selectList.length != 0">
      <a-icon class="total-delete-icon" type="delete" @click="handleDelSelectedTotal" />
    </div>
    <div class="checkgroup">
      <AvicBigTable
        v-if="selectList.length != 0"
        :is-big-data-table="true"
        :ref="tableRefName"
        :bordered="true"
        :style="{ height: '100%' }"
        :is-auto-count-scroll-x="true"
        :is-add-order-number="false"
        :columns="selectListColumns"
        row-key="id"
        :data-index="dataIndex"
        :is-custom-row-click-as-single-check="false"
        :is-add-row-drop="true"
        :resizable="false"
        :checkbox-column-setting="{ width: 24 }"
        :pagination-default="false"
        :virtual-scroll-y="{ gt: 100 }"
        @handleRowSelection="handleRowSelection"
        @rowDrop="rowDrop"
        @hook:mounted="reFreshBigTable"
      >
        <template scope="obj">
          <span class="cell-txt">
            <span>{{ obj.data[dataIndex] }} </span>
            <span v-if="obj.data['deptName'] != null" class="cell-txt-dept">
              （{{ obj.data['deptName'] }}）
            </span>
            <span
              v-if="
                (obj.data['deptName'] == null || obj.data['deptName'] == undefined) &&
                obj.data['attributes']['deptName'] != null
              "
              class="cell-txt-dept"
              >（{{ obj.data['attributes']['deptName'] }}）
            </span>
          </span>
          <div class="checkadd custom-icons-list drag-btn">
            <plus-icon />
          </div>
          <div class="checkclose" @click="handleDelSelectedItem($event, obj.data)">
            <a-icon type="close-circle" theme="filled" />
          </div>
        </template>
      </AvicBigTable>
      <div class="nodata-card" v-if="selectList.length == 0">
        <svg
          t="1597733991059"
          class="icon"
          viewBox="0 0 1692 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="2175"
          width="80"
          height="42"
        >
          <path
            d="M454.529406 945.631607h31.639427A15.673428 15.673428 0 0 1 501.54969 961.305035c0 8.651732-6.750023 15.673428-15.380857 15.673428H454.529406v31.639426A15.673428 15.673428 0 0 1 438.855979 1023.998746a15.443551 15.443551 0 0 1-15.673428-15.380857V976.978463h-31.639427A15.673428 15.673428 0 0 1 376.162267 961.305035c0-8.651732 6.750023-15.673428 15.380857-15.673428h31.639427v-31.639426A15.673428 15.673428 0 0 1 438.855979 898.611324c8.651732 0 15.673428 6.750023 15.673427 15.380857v31.639426zM52.244759 512.000104h21.106883A10.448952 10.448952 0 0 1 83.591615 522.449056c0 5.767821-4.493049 10.448952-10.239973 10.448952H52.244759v21.106883A10.448952 10.448952 0 0 1 41.795807 564.244864a10.281769 10.281769 0 0 1-10.448951-10.239973V532.898008H10.239973A10.448952 10.448952 0 0 1 0 522.449056c0-5.767821 4.493049-10.448952 10.239973-10.448952H31.346856v-21.106882A10.448952 10.448952 0 0 1 41.795807 480.653249c5.767821 0 10.448952 4.493049 10.448952 10.239973v21.106882z m1567.342781-480.651786V10.241436A10.281769 10.281769 0 0 0 1609.138588 0.001463a10.448952 10.448952 0 0 0-10.448952 10.239973V31.348318h-21.106883A10.281769 10.281769 0 0 0 1567.342781 41.79727c0 5.600638 4.597539 10.448952 10.239972 10.448952h21.106883v21.106883c0 5.746924 4.68113 10.239973 10.448952 10.239973a10.448952 10.448952 0 0 0 10.448952-10.239973V52.246222h21.106883c5.746924 0 10.239973-4.68113 10.239972-10.448952a10.448952 10.448952 0 0 0-10.239972-10.448952H1619.58754zM543.345497 355.265826a20.897904 20.897904 0 0 1 20.877006-20.897903H752.324535a20.897904 20.897904 0 1 1 0 41.795807H564.243401A20.83521 20.83521 0 0 1 543.345497 355.265826z m0 125.387423c0-11.535643 9.299567-20.897904 20.751619-20.897904h251.067415c11.452051 0 20.751618 9.278669 20.751619 20.897904 0 11.535643-9.299567 20.897904-20.751619 20.897904H564.097116A20.772516 20.772516 0 0 1 543.345497 480.653249z m0 125.387422c0-11.535643 9.320465-20.897904 20.856108-20.897903h104.57311c11.514745 0 20.856108 9.278669 20.856108 20.897903 0 11.535643-9.320465 20.897904-20.856108 20.897904h-104.57311A20.814312 20.814312 0 0 1 543.345497 606.040671zM188.081134 229.878404a62.693711 62.693711 0 1 1 0-125.387422 62.693711 62.693711 0 0 1 0 125.387422z m73.142663 417.958075a31.346856 31.346856 0 1 1 0-62.693711 31.346856 31.346856 0 0 1 0 62.693711zM188.081134 198.531548a31.346856 31.346856 0 1 0 0-62.693711 31.346856 31.346856 0 0 0 0 62.693711zM1630.036492 501.551153a62.693711 62.693711 0 1 1 0-125.387423 62.693711 62.693711 0 0 1 0 125.387423z m0-31.346856a31.346856 31.346856 0 1 0 0-62.693711 31.346856 31.346856 0 0 0 0 62.693711zM1295.670032 1003.100842a41.795807 41.795807 0 1 1 0-83.591615 41.795807 41.795807 0 0 1 0 83.591615z m0-20.897903a20.897904 20.897904 0 1 0 0-41.795808 20.897904 20.897904 0 0 0 0 41.795808zM1037.727206 567.839303A167.245924 167.245924 0 0 1 1170.282609 731.428094c0 20.856108 0.543345 20.856108-165.594989 20.856108S835.91615 752.284202 835.91615 731.428094c0-80.456929 56.842298-147.64369 132.555403-163.588791l17.324362 17.303465H982.201476l-16.760119 83.842389c-2.298769 11.36846 2.654034 27.188173 11.034093 35.254764L1004.68762 731.428094l25.704422-26.707521c8.045693-8.359161 12.66413-24.32516 10.36536-35.735416L1023.997283 585.142768h-3.594439l17.324362-17.303465zM1003.09938 543.34696a83.591615 83.591615 0 1 1 0-167.18323 83.591615 83.591615 0 0 1 0 167.18323z m-606.039209 188.081134V292.572115c0-46.184367 37.428146-83.591615 83.758798-83.591615H501.54969V188.082597c0-46.184367 37.428146-83.591615 83.758798-83.591615h710.194361A83.612513 83.612513 0 0 1 1379.261647 188.082597v438.855978c0 46.184367-37.428146 83.591615-83.758798 83.591615H1274.772128v20.897904c0 15.234572-4.075091 29.50784-11.180378 41.795807h115.732591c11.493847 0 20.83521 9.278669 20.83521 20.897904 0 11.535643-9.46675 20.897904-20.83521 20.897904H355.20167A20.814312 20.814312 0 0 1 334.36646 794.121805c0-11.535643 9.46675-20.897904 20.83521-20.897904h53.03888A83.110963 83.110963 0 0 1 397.060171 731.428094z m877.711957-62.693711h20.83521A41.858501 41.858501 0 0 0 1337.465839 627.001269V188.019903A41.795807 41.795807 0 0 0 1295.607338 146.286789H585.203998A41.858501 41.858501 0 0 0 543.345497 188.019903V208.9805h647.667833A83.612513 83.612513 0 0 1 1274.772128 292.572115v376.162268zM438.855979 292.509422v438.981365A41.795807 41.795807 0 0 0 480.71448 773.223901h710.403339A41.858501 41.858501 0 0 0 1232.976321 731.490787V292.509422A41.795807 41.795807 0 0 0 1191.117819 250.776308H480.71448A41.858501 41.858501 0 0 0 438.855979 292.509422zM1441.955358 794.121805c0-11.535643 9.46675-20.897904 20.83521-20.897904h83.717002c11.493847 0 20.83521 9.278669 20.835211 20.897904 0 11.535643-9.46675 20.897904-20.835211 20.897904h-83.717002A20.814312 20.814312 0 0 1 1441.955358 794.121805z"
            fill="#dbdbdb"
            p-id="2176"
          />
        </svg>
        <div class="nodata-card-message">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { Icon } from 'ant-design-vue';
import Vue from 'vue';
import VueDND from 'awe-dnd';
import AvicBigTable from '@comp/avic/pt/common/AvicBigTable';
Vue.use(VueDND);
// 自定义图标
const plusSvg = {
  template: `
   <svg t="1592876808635" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2074" width="32" height="32"><path d="M912.122445 499.544317c-0.901533-0.901533-1.840928-1.740644-2.808976-2.526543l-92.575442-92.578512c-14.060227-14.06125-36.858466-14.06125-50.918693 0-14.06125 14.06125-14.059204 36.856419 0 50.91767l32.605605 32.608675L542.600437 487.965607 542.600437 231.761458l34.57854 34.579563c14.060227 14.06125 36.855396 14.06125 50.918693 0 14.06125-14.06125 14.059204-36.858466 0-50.919716l-95.008864-95.006817c-7.030114-7.02909-16.246009-10.54517-25.460882-10.54517-9.215896 0-18.428721 3.515057-25.459858 10.54517-0.901533 0.901533-1.740644 1.840928-2.526543 2.809999l-92.577488 92.574419c-14.06125 14.06125-14.06125 36.858466 0 50.918693 14.06125 14.06125 36.856419 14.059204 50.91767 0l32.607652-32.606629 0 221.249033c-0.203638 1.550309-0.319272 3.12927-0.319272 4.733814l0 27.870768-27.550473 0c-0.106424 0-0.210801 0.007163-0.316202 0.008186L214.387253 487.97277l34.57854-34.579563c14.06125-14.06125 14.06125-36.854373 0-50.918693-14.06125-14.06125-36.857443-14.059204-50.918693 0l-95.007841 95.008864c-7.02909 7.030114-10.54517 16.244986-10.54517 25.458835 0 9.214872 3.515057 18.430768 10.54517 25.458835 0.901533 0.901533 1.840928 1.74269 2.809999 2.52859l92.575442 92.578512c14.06125 14.06125 36.858466 14.06125 50.918693 0 14.06125-14.060227 14.059204-36.858466 0-50.918693l-32.606629-32.606629 253.53332 0 0 258.164804-34.579563-34.57854c-14.06125-14.06125-36.854373-14.06125-50.918693 0-14.06125 14.060227-14.059204 36.858466 0 50.918693L479.780693 929.495626c7.030114 7.02909 16.249079 10.54517 25.462928 10.54517 9.214872 0 18.428721-3.51301 25.458835-10.54517 0.901533-0.901533 1.740644-1.841951 2.527566-2.809999l92.578512-92.574419c14.060227-14.06125 14.060227-36.858466 0-50.919716-14.06125-14.060227-36.857443-14.057157-50.91767 0l-32.608675 32.606629L542.282189 594.536808c0.202615-1.546216 0.319272-3.120061 0.319272-4.721535l0-29.831422 29.841655 0c0.12689 0 0.251733-0.008186 0.378623-0.010233l227.953735 0-34.57854 34.579563c-14.060227 14.060227-14.060227 36.854373 0 50.918693 14.06125 14.06125 36.858466 14.06125 50.919716 0l95.006817-95.007841c7.02909-7.031137 10.54517-16.247033 10.54517-25.460882C922.666592 515.78828 919.152559 506.574431 912.122445 499.544317z" p-id="2075"></path></svg>
  `
};
const plusIcon = {
  template: `
      <a-icon :component="plusSvg" />
    `,
  data() {
    return {
      plusSvg
    };
  }
};
export default {
  name: 'SelectUserBox',
  components: {
    AIcon: Icon,
    plusIcon,
    AvicBigTable
  },
  props: {
    //双向绑定
    value: {
      required: false, //校验
      default: ''
    },
    userBoxList: {
      type: Array,
      default: () => []
    },
    selectFlowTab: {
      type: [Number, String],
      required: false, //校验
      default: 0
    }
  },
  data() {
    return {
      selectUser: [],
      selectList: [], //保存表格数据列表
      select: null, //单选选中的人
      tableRefName: 'tableRefName',
      selectListColumns: [
        {
          title: '已选用户',
          headerAlign: 'left',
          dataIndex: 'title'
        }
      ],
      dataIndex: 'title',
      indeterminate: false, // 右侧区域已选用户复选框半选状态
      checkAll: false, // 右侧区域已选用户复选框全选状态
      errorMessage: '暂无数据'
    };
  },
  //接收组件传参
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler(newV) {
        this.selectUser = newV;
        this.selectList = [];
        this.selectUser.map(tim => {
          if (tim.selectFlowTab == this.selectFlowTab) {
            tim.users.map(item => {
              if (!Object.prototype.hasOwnProperty.call(item, 'bigTableDataChecked')) {
                item['bigTableDataChecked'] = false;
              }
              this.selectList.push(item);
            });
          }
        });
        this.reFreshBigTable();
      }
    }
  },
  mounted() {
    this.$dragging.$on('dragged', ({ value }) => {});
  },
  methods: {
    handleDelSelectedTotal() {
      let selectedNum = 0;
      let selectedData = [];
      let unselectedData = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].bigTableDataChecked) {
          selectedNum++;
          selectedData.push(this.selectList[i]);
        } else {
          unselectedData.push(this.selectList[i]);
        }
      }
      if (selectedNum == 0) {
        this.$message.warning('请选择要删除的数据！');
        return;
      } else {
        this.selectList = unselectedData;
        this.deleteUser(unselectedData);
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },
    handleRowSelection({ selectedRowKeys, selectedRows, record, isSelected, isFromCheckboxAll }) {
      let select = this.selectList;
      select.map(item => {
        if (selectedRowKeys.includes(item.id)) {
          item.bigTableDataChecked = true;
        } else {
          item.bigTableDataChecked = false;
        }
      });
      this.selectList = select;
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
    },
    handleDelSelectedItem(e, item) {
      e.stopPropagation();
      let selectList = [];
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].id != item.id) {
          selectList.push(this.selectList[i]);
        }
      }
      this.selectList = selectList;
      this.deleteUser(selectList);
      this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      // this.$refs['avicTreeList'].setData(this.selectList)
    },
    rowDrop(tableData) {
      console.log(tableData, 'tableData');
      if (tableData) {
        this.selectList = tableData;
      }
    },
    // 表格数据刷新
    reFreshBigTable() {
      if (this.$refs[this.tableRefName]) {
        this.$refs[this.tableRefName].bigDataTableLoadData(this.selectList);
      }
    },

    //获取数组下标
    getIndex(all, id) {
      let index = -1;
      all.map((tim, i) => {
        if (tim.id == id) {
          index = i;
        }
      });
      return index;
    },
    changeSelectUser(e) {
      this.selectUser = e;
      this.selectUser.map(tim => {
        if (tim.selectFlowTab == this.selectFlowTab) {
          this.selectList = tim.users;
        }
      });
      this.reFreshBigTable();
    },
    //排序
    sorting(arr, k, j) {
      arr.splice(k, 1, ...arr.splice(j, 1, arr[k]));
    },
    //选中人员
    clickSelect(tim) {
      if (this.select && this.select.id == tim.id) {
        this.select = null;
      } else {
        this.select = tim;
      }
    },
    //删除单项
    deleteUser(itemList) {
      if (this.selectUser) {
        this.selectUser.map((tim, i) => {
          if (this.selectFlowTab == i) {
            tim.users = JSON.parse(JSON.stringify(itemList));
          }
        });
        this.$emit('changeSelectUser', this.selectUser);
      }
    },
    selectEmpty(index) {
      if (this.selectUser) {
        this.selectUser.map((tim, i) => {
          if (index == i) {
            tim.users = [];
          }
        });
        this.$emit('changeSelectUser', this.selectUser);
      }
    }
  }
};
</script>
<style lang="less">
@base-font-size: 12px;
@base-height: 30px;
.container-box {
  position: relative;
  width: 100%;
  height: 100%;
  .container-right-top {
    position: relative;
    .total-delete-icon {
      position: absolute;
      right: 10px;
      top: 4px;
      line-height: 34px;
      font-size: 16px;
      color: #999;
      z-index: 2;
    }
  }
  .anticon.anticon-delete {
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #999;
  }
  .checkgroup {
    position: relative;
    height: 300px;
    overflow: auto;
  }
  .checkadd {
    position: absolute;
    top: 4px;
    right: 36px;
    cursor: move;
  }
  .checkclose {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
  }
  .checkadd i,
  .checkclose i {
    line-height: 36px;
    display: block;
    font-size: 15px;
  }
  .checkclose i {
    color: #39f;
  }
  .checkclose,
  .checkadd {
    display: none;
  }
  /* 大数据表格样式修改 start */
  .vxe-cell:hover .checkclose {
    display: block;
  }
  .vxe-cell:hover .checkadd {
    display: block;
  }
  .v-select {
    position: absolute;
    top: 56px;
    right: 20px;
  }
  .ant-btn {
    height: 30px;
    padding: 0 25px;
  }
  .vxe-table--header .vxe-header--row {
    height: 38px;
  }
  .vxe-table .vxe-table--body-wrapper {
    padding-top: 6px;
  }
  .vxe-table .vxe-table--border-line {
    border: none;
  }

  .vxe-table .vxe-table--header-wrapper {
    background-color: transparent !important;
  }
  .vxe-table th {
    font-weight: normal;
  }
  .vxe-table.column--highlight .vxe-header--column:not(.col--seq):hover {
    background-color: transparent !important;
  }

  .vxe-table .vxe-table--body .vxe-body--column,
  .vxe-table .vxe-header--column {
    background-image: none !important;
    height: 40px !important;
  }
  .vxe-table.border--full .vxe-header--column {
    background: transparent !important;
  }
  .vxe-table .vxe-header--colum {
    line-height: 41px;
  }
  .vxe-table .vxe-table--body .vxe-body--row,
  .vxe-table .vxe-table--body .vxe-body--row.row--hover,
  .vxe-table .vxe-table--body .vxe-body--row.row--hover.row--stripe {
    background-color: transparent;
  }

  .vxe-table .vxe-body--column .vxe-cell {
    padding-right: 40px;
  }

  .vxe-table .vxe-body--column.col--checkbox .vxe-cell,
  .vxe-table .vxe-header--column.col--checkbox .vxe-cell {
    padding-right: 3px;
    width: 30px !important;
  }
  .vxe-table .vxe-cell--checkbox,
  .vxe-table .vxe-cell--radio {
    line-height: @base-height;
  }
  .vxe-table .vxe-body--column .cell-txt-dept {
    color: #c9c9c9;
    font-size: @base-font-size;
  }

  /* 大数据表格样式修改 end */

  .nodata-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 80px;
    height: 54px;
    text-align: center;
    .nodata-card-message {
      font-size: @base-font-size;
      color: #c9c9c9;
    }
  }
}

// @media screen and (max-height: 1080px) {
//   .container-box .vxe-table.size--mini .vxe-body--column.col--ellipsis .vxe-cell,
//   .container-box .vxe-table.size--mini .vxe-header--column.col--ellipsis .vxe-cell {
//     height: @base-height !important;
//     max-height: 40px !important;
//     padding-left: 0 !important;
//   }

//   .container-box .vxe-table.size--mini .vxe-body--column,
//   .container-box .vxe-table.size--mini .vxe-header--column {
//     line-height: @base-height !important;
//   }
//   .container-box .vxe-table.size--mini .vxe-body--column.col--ellipsis {
//     height: @base-height !important;
//   }
//   .container-box .ant-input-search .ant-input {
//     height: 32px !important;
//   }
// }
</style>
