<!--
  跳转流程详情页面多个任务选择打开的任务操作
-->
<template>
  <AvicModal
    :visible="visible"
    :modal-title="title"
    :set-modal-style="modalWidthAndHeight.modalStyle"
    :set-modal-body-style="modalWidthAndHeight.bodyStyle"
    :modal-width="modalWidthAndHeight.standardModalStyle.width"
    :modal-height="modalWidthAndHeight.standardModalStyle.height"
    :modal-cut-height="98"
    :adjust-size="true"
    wrap-class-name="table-modal-wrap"
    :centered="true"
    :destroy-on-close="true"
    @cancel="handleCancel"
  >
    <div>
      <AvicBaseTable
        :is-auto-count-scroll-x="true"
        :columns="tableColumns"
        :data-source="data"
        :row-key="rowKey"
        :pagination-default="false"
        :is-multi-selection="false"
        :is-add-order-number="false"
        @handleRowSelection="handleRowSelection"
        @handleRowDblClick="handleRowDblClick"
      />
    </div>
    <template slot="footer">
      <a-button @click="handleCancel">取消</a-button>
      <a-button type="primary" @click="handleOk">确定</a-button>
    </template>
  </AvicModal>
</template>
<script>
import '@assets/styles/common/base-modal.less';
import AvicModal from '@comp/avic/pt/common/AvicModal';
import AvicBaseTable from '@comp/avic/pt/common/AvicBaseTable';
import { mapGetters } from 'vuex';
import { modalWidthAndHeight } from '@utils/avic/layout/baseMouldStyles';
import { bpmUtils } from '@utils/avic/bpm/bpmUtils';
import Store from '@/store/index';

const tableColumns = [
  {
    title: '任务名称',
    dataIndex: 'taskTitle'
  },
  {
    title: '任务类型',
    dataIndex: 'userIdentity'
  },
  {
    title: '节点',
    dataIndex: 'taskName'
  },
  {
    title: '发送人',
    dataIndex: 'taskSendUser'
  },
  {
    title: '接收时间',
    dataIndex: 'cTime'
  }
];
const rowKey = 'dbid';
export default {
  name: 'AvicBpmDetailList',
  components: {
    AvicModal,
    AvicBaseTable
  },
  //注册接受组件传参事件
  computed: {
    ...mapGetters(['getFlowDetailSelectData'])
  },
  watch: {
    getFlowDetailSelectData(data) {
      if (data && data.length > 0) {
        this.visible = true;
        this.data = data;
      }
    }
  },
  data() {
    return {
      title: '选择要打开的任务',
      visible: false,
      rowKey,
      data: [],
      tableColumns,
      modalWidthAndHeight: modalWidthAndHeight(960, 500, 98)
    };
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.modalWidthAndHeight = modalWidthAndHeight(960, 500, 98);
    });
  },
  methods: {
    handleOk() {
      if (this.selectCode.length > 0) {
        this.visible = false;
        const n = this.selectCode[0];
        bpmUtils.executeTask(
          n.processInstance,
          n.executionId,
          n.dbid,
          n.businessId,
          n.formResourceName,
          n.processDefName || n.taskTitle,
          n.taskType,
          Store.state.bpmDetailSelect.flowDetailUrl
        );
        this.$emit('beforeLoadformCode', this.selectCode[0], this.params);
      } else {
        this.$message.error('请选择您要打开的任务节点');
      }
    },
    handleCancel() {
      this.selectCode = [];
      this.visible = false;
      this.$emit('beforeLoadformCode', null, this.params);
    },
    //选中事件
    handleRowSelection(e) {
      if (e.selectedRowKeys.length > 0) {
        this.selectCode = this.data.filter(tim => tim.dbid == e.selectedRowKeys[0]);
      } else {
        this.selectCode = [];
      }
    },
    // 表格行双击选择
    handleRowDblClick(row) {
      if (row[this.rowKey]) {
        this.selectCode = [row];
      }
      this.handleOk();
    }
  }
};
</script>
