
.navLayout-win {
  .ant-anchor-link {
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border-left: 2px solid transparent;
    a {
      color: #5d6b7e;
    }
  }
  // 头部
  .ant-layout-header {
    .cloud-but {
      float: left;
      height: 50px;
      font-size: 22px;
      background: none;
      border: 0;
      box-shadow: none;
      padding: 0;
      width: 50px;
      min-width: 50px;
    }
  }
  // 导航栏-left
  .left-nav-drawer {
    height: calc(100% - 50px) !important;
    top: 50px;
  }
  .left-nav-drawer .ant-drawer-content-wrapper {
    .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
      height: 100%;
      padding: 0;
      .__vuescroll {
        height: calc(100% - 42px) !important;
      }
      .__rail-is-vertical {
        left: 0;
      }
      .nav-menu {
        width: 200px;
        float: left;
        height: 100%;
        background: #fff;
        border-right: 1px solid #e8e8e8;
        box-shadow: none;
        .ant-menu {
          border-right: none;
          height: 100%;
          li {
            height: 38px;
            margin: 0;
            padding: 0 25px 0 15px;
            transition: none;
          }
        }
        .ant-menu-light > .ant-menu-item {
          span {
            font-size: 12px;
          }
          .anticon-star {
            right: 4px;
            display: none !important;
          }
          .star-block {
            display: block !important;
          }
          .star-none {
            display: none !important;
          }
          .anticon:nth-child(1) {
            font-size: 16px;
            margin-right: 8px;
          }
        }
        .ant-menu-light > .ant-menu-item:hover .anticon-star {
          display: block !important;
        }
        // 全部菜单
        .details {
          width: 100%;
          display: block;
          border: none !important;
          text-align: left;
          height: 42px;
          line-height: 42px;
          border-bottom: 1px solid #e8e8e8 !important;
          overflow: hidden;
          border-radius: 0;
          transition: none;
          color: #252b3a;
          span {
            font-size: 12px;
          }
          .anticon{
            font-size: 16px;
            color: #7D899D;
          }
          .anticon-right {
            float: right;
            margin: 0;
            font-size: 12px;
            margin-right: -6px;
            margin-top: 16px;
          }
        }
        .details:hover,
        .details:focus {
          box-shadow: none;
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .left-nav-drawer.ant-drawer-open .ant-drawer-content-wrapper {
      width: 100% !important;
    }
  }
  // 导航栏-right
  .ant-drawer-header-no-title{
    position: relative;
    width: 1280px;
  }
  .gridtest {
    background: #fff;
    height: 100%;
    padding-left: 200px;
    width:1280px;
    .ant-input-suffix{
      top: 58%;
      right: 30px;
    }
    .ant-input-affix-wrapper{
      padding: 20px 20px 10px 20px;
      display: block;
      .ant-input:not(:last-child){
        border-color: #e8e8e8;
      }
    }
    .ant-menu-item-group .ant-menu-item-group-list {
      .ant-menu-item {
        font-size: 12px ;
        color: #888 !important;
        height: 24px ;
        line-height: 24px ;
        padding-left: 20px !important;
      }
      p {
        margin-bottom: 0;
      }
      .anticon-star {
        top: 23%;
        right: 0;
      }
    }
    .ant-menu-item-group-title{
      color: #000;
      margin: 0;
    }
    .ant-menu-item-group > .ant-menu-item-group-title:hover .anticon-star {
      display: block;
    }
    
    .recently {
      overflow: hidden;
      padding: 0 10px 10px 20px;
      height: 30px;
      h4 {
        cursor: pointer;
        float: left;
        margin: 0;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        font-weight: normal;
      }
      .recent-visit-devider{
        position: relative;
        top: -6px;
        display: inline-block;
        width: 1px;
        height: 16px;
        margin: 0;
        vertical-align: middle;
      }
      .recent-visit-menu {
        .recent-visit-menu-item {
          display: inline-block;
          margin: 0;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          &:hover, &.ant-menu-item-selected{
            background: none;
          }
        }
      }
      
    }
    .txt-roll {
      overflow: auto;
      height: calc(100% - 90px);
      padding:0 20px;

      .gridtest-in {
        .myGrid {
          // 方案一
          column-count: 4;
          column-gap: 0;

          // // 方案二
          // column-count: 3;
          .myGrid-in {
            box-sizing: border-box;
            break-inside: avoid;
            i{
              display: none;
            }
            .myGrid-in-con {
              // 方案一
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: 16px;
            }
            .ant-menu-item-group-title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .ant-menu-item-group-title:hover {
              background: #fff;
            }
            h4 {
              margin: 0;
              font-weight: 600;
              position: relative;
              height: 24px;
              line-height: 24px;
              margin-top: 10px;
              margin-bottom:6px;
              font-size: 14px;
              span {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 10px;
              }
              .anticon-star {
                margin-right: 11px;
                top: 50%;
                margin-top: -5px;
              }
              .star-block {
                display: block ;
              }
              .star-none {
                display: none ;
              }
            }
            .ant-menu-light > .ant-menu-item {
              span {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .anticon-star {
                right: 9px !important;
                display: none !important;
              }
              .star-block {
                display: block !important;
              }
              .star-none {
                display: none !important;
              }
            }
            .ant-menu-light > .ant-menu-item:hover .anticon-star {
              display: block !important;
            }
          }
        }
      }
      
      .ant-menu-root.ant-menu-vertical {
        background: none;
        border: none;
        .ant-menu-item,
        .ant-menu-item-group-title {
          margin: 0;
          height: 30px;
          line-height: 20px;
          padding: 5px 10px;
          font-size: 12px;
          color: #484848;
          p {
            margin: 0;
          }
          .anticon {
            margin: 8px 0 0 0;
            font-size: 13px;
            display: none;
            right: 9px;
            top: 31%;
          }
        }
        .ant-menu-item:hover .anticon {
          display: block;
        }
      }
    }
    .gridtestAnchor {
      height:100%;
      padding-top: 100px;
      overflow: auto;
      border-left: 1px solid #e8e8e8;
      .ant-anchor{
        font-size: 12px;
        padding:0 ;
      }
      .ant-anchor-wrapper {
        background: none;
        max-height: 100% !important;
      }
      .ant-anchor-ink::before {
        background: none;
      }
      .ant-anchor-ink-ball {
        display: none;
      }
    }
  }
}