@import '../avic-default';

/* 内容区高度公用样式 只可作用于主题部分 */
/* 主题头部高度 */
@theme-header-height: 50px;
/* 主题标签页高度 */
@theme-tab-height: 36px;
@theme-tab-height-2: 36px;
/* 主题内容区容器内边距 */
@theme-content-padding: 10px;
// 定义字体大小
@theme-con-font-12: 12px;
/* 页签右键菜单样式皮肤 By Cj start */
.vue-contextmenu-listWrapper {
  border-radius: @border-radius-base / 2;
  box-shadow: rgba(62, 57, 107, 0.2) 0 0 10px 0 !important;
}

.context-menu .context-menu-list {
  float: none;
  width: 120px;
  height: 32px;
  padding: 8px 14px;
  margin: 0 !important;
  text-align: left;
  font-size: 12px;
  border-radius: 0;
  border-bottom: 1px solid #e8e8e8;
  color: #575962;
  cursor: pointer;
}
/* 页签右键菜单样式皮肤 By Cj end */
.navLayout {
  height: 100%;
  min-width: 1024px;
  .base-layout-header {
    //头部
    //   line-height: 50px;
    color: #fff;
    height: @theme-header-height;
    padding: 0;
    .new-head {
      display: flex;
      .new-head-in {
        height: @theme-header-height;
        line-height: @theme-header-height;
        position: relative;
      }
      .new-head-in:first-child {
        width: auto;
        max-width: 350px;
      }
      .new-head-in:nth-child(2) {
        flex-grow: 1;
      }
      .new-head-in:nth-child(3) {
        width: auto;
        min-width: 484px;
      }
    }
    .head-right {
      padding: 0 10px;
      li {
        float: right;
        padding: 0;
        list-style: none;
        height: @theme-header-height;
        line-height: @theme-header-height;
        .anticon {
          font-size: 18px;
          color: #fff;
          cursor: pointer;
          vertical-align: middle;
        }
        .ant-input {
          background: rgba(255, 255, 255, 0.1);
          border: none;
          font-size: @theme-con-font-12;
          color: #bcd5e1;
          width: 220px;
          height: 30px;
        }
        
        .ant-input:focus {
          box-shadow: none;
        }
        .ant-input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.6);
        }
        span {
          // margin-bottom:4px;
          display: inline-block;
        }
        &.header-right-icon {
          line-height: 50px;
          width: 34px;
          text-align: center;
          .header-message-wrapper {
            height: 100%;
          }
        }
        &.active {
          background: rgba(255, 255, 255, 0.1);
        }
      }
      li.header-right-icon:hover {
        background: rgba(255, 255, 255, 0.1);
      }
      li.header-right-search {
        margin-right: 10px;
      }
      .header-right-search:hover {
        background: none;
      }
      .header-right-user {
        .user-info-arrow-down {
          margin-right: 10px;
        }
      }
    }
    .anticon.user-info-arrow-down {
      font-size: @theme-con-font-12 !important;
    }
  }
  .user-but {
    background: none;
    border: none;
    color: #fff;
    font-size: @theme-con-font-12;
    padding: 0 8px;
    // width: 78px;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .user-but:hover,
  .user-but:focus,
  .user-but:active {
    background: none;
    color: #fff !important;
  }
  .user-img {
    background: #fff;
    margin-left: 10px;
    border:1px solid rgba(255, 255, 255, 0.1);
    width: 28px;
    height: 28px;
  }
  .logo {
    line-height: @theme-header-height;
    height: @theme-header-height;
    padding-left: 50px;
    background: url('~@assets/images/common/logo-new.png') 8px center no-repeat;
    margin-right: 4px;
    .anticon {
      font-size: 20px;
      margin-right: 10px;
      line-height: 46px;
      margin-left: 10px;
    }
    span {
      font-size: 20px;
      line-height: 50px;
      font-weight: 600;
    }
    .trigger {
      vertical-align: top;
      padding: 5px 0 0 0;
      width: 40px;
      height: @theme-header-height;
      line-height: 46px;
      font-size: 18px;
      background: none;
      margin-right: 0;
      .anticon {
        font-size: 18px;
      }
    }
    .trigger:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .base-layout-sider.ant-layout-sider-collapsed {
    width: 54px !important;
    flex: 0 0 54px !important;
    max-width: 54px !important;
    min-width: 54px !important;
    .ant-menu-item:hover .anticon-star {
      display: none !important;
    }
    .ant-input-search {
      padding: 6px 13px !important;
    }
    .ant-menu-item,
    .ant-menu-submenu,
    .ant-menu-submenu .ant-menu-submenu-title {
      .anticon:nth-child(1) {
        font-size: 16px;
      }
    }
    .ant-menu .ant-menu-item,
    .ant-menu .ant-menu-submenu {
      text-align: center;
      padding: 0 !important;
      .ant-menu-submenu-title{
        padding: 0 0 0 10px !important;
      }
    }
    .ant-menu .ant-menu-submenu-title{
      padding: 0 !important;
    }
    .ant-input-suffix {
      right: 20px !important ;
    }
  }
  .ant-menu-inline .ant-menu-item,
  .ant-menu-inline .ant-menu-submenu-title {
    width: auto;
  }
  .base-layout-sider {
    box-shadow: rgba(62, 57, 107, 0.1) 0 2px 6px 0;
    position: relative;
    z-index: 20;
    .__rail-is-vertical {
      left: 0;
    }
    .__vuescroll {
      height: calc(100% - 40px) !important;
      transition: none;
    }
    .ant-menu {
      //导航菜单
      .ant-menu-vertical .ant-menu-item::after,
      .ant-menu-vertical-left .ant-menu-item::after,
      .ant-menu-vertical-right .ant-menu-item::after,
      .ant-menu-inline .ant-menu-item::after {
        transition: none;
      }
      .ant-menu-inline{
        border-right: 0;
        background: transparent;
      }
      .ant-menu-item,
      .ant-menu-submenu {
        // height: 40px;
        line-height: 40px;
        font-size: @theme-con-font-12;
        color: #fff;
        margin: 0;
        .ant-menu-submenu-title {
          height: 40px;
          line-height: 40px;
          color: #fff;
          font-size: 12px;
          margin: 0;
        }
      }
      .ant-menu-item,
      .ant-menu-submenu,
      .ant-menu-submenu .ant-menu-submenu-title {
        transition: none;
        color: #252b3a;
        .anticon:nth-child(1) {
          font-size: 16px;
          vertical-align: middle;
          margin-right: 8px;
          margin-top: -4px;
        }
        .anticon {
          transition: none;
        }
        .anticon + span {
          transition: none;
        }
      }
    }
    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-right: 15px;
      font-size: @theme-con-font-12;
    }
    .ant-input-search {
      // 导航搜索框
      padding: 6px;
      .ant-input {
        height: 28px;
        background: #f6f7fb;
        border: 1px solid #dee3ea;
        border-radius: @border-radius-base * 8;
      }
      .ant-input:focus {
        box-shadow: none;
      }
      .ant-input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        color: #757575 !important;
      }
      .ant-input-suffix {
        right: 15px;
        .anticon {
          color: #666;
        }
        .ant-input:focus {
          box-shadow: none;
        }
      }
    }
    
    // 解决导航收起时收藏图标显示问题 RENKE
    .ant-menu-inline-collapsed {
      width: 54px;
      height: calc(100% - 56px);
      overflow-y: auto;
      overflow-x: hidden;
      border: 0;
      .ant-menu-item,
      .ant-menu-submenu,
      .ant-menu-submenu .ant-menu-submenu-title {
        .anticon:nth-child(1) {
          margin-top: 0;
        }
      }
      .ant-menu-item{
        .anticon-star{
          display: none !important;
        }
        .anticon{
          margin: 0;
          margin-left: 10px;
        }
      }
      .ant-menu-submenu-title {
        .anticon-star{
          display: none !important;
        }
      }
    }
    .ant-menu-vertical .ant-menu-item::after,
    .ant-menu-vertical-left .ant-menu-item::after,
    .ant-menu-vertical-right .ant-menu-item::after,
    .ant-menu-inline .ant-menu-item::after {
      border-right: none;
    }
  }
  .ant-layout-content {
    .labelPage {
      height: @theme-tab-height;
      border-bottom:1px solid #e8e8e8;
      position: relative;
      z-index: 10;
      background: #fff;
      .ant-tabs {
        height: 40px;
      }
      .ant-btn {
        border: none;
        background: none;
        font-size: @theme-con-font-12;
        float: left;
        line-height: @theme-tab-height;
        color: #888;
        padding-left: 30px;
        overflow: hidden;
      }
      .ant-tabs-bar {
        margin: 0;
        border: none;
      }
      .ant-tabs-nav-wrap{
        margin: 0;
      }
      .ant-tabs-nav .ant-tabs-tab:first-child {
        padding: 0 16px ;
        border-left:1px solid #e8e8e8 ;
        .anticon-home{
          font-size: 14px;
          margin-right: 4px;
        }
        .close-icon{
          display: none;
        }
      }
      .ant-tabs-nav .ant-tabs-tab {
        font-size: 12px;
        height: @theme-tab-height;
        padding: 0 32px 0 16px;
        border: 0;
        margin: 0;
        color: #888;
        vertical-align: top;
        transition:none;
        border-right:1px solid #e8e8e8 ;
        // box-shadow: rgba(62, 57, 107, 0.1) 0 2px 6px 0;
        &.ant-tabs-tab-active{
          font-weight: normal;
          background: #e8edf7;
        }
        span {
          //   限制标签页最大宽度 溢出变省略号
          display: inline-block;
          max-width: 112px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: @theme-tab-height-2;
        }
        .close-icon {
          position: absolute;
          top: 13px;
          right: 10px;
          opacity: 1 !important;
          color: #8594aa;
          margin-right: 4px;
        }
        .close-icon:hover{
          color: red;
        }
      }
      .ant-tabs-ink-bar {
        height: 4px;
        display: none !important;
      }
      .ant-tabs-tab-prev.ant-tabs-tab-arrow-show, 
      .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
        width: 36px;
      }
      .ant-tabs-nav-container-scrolling{
        padding-right: 36px;
        padding-left: 36px;
      }
      .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        font-weight: normal;
        border: 0;
      }
    }
    .navLayout-con {
      height: 100%;
      padding: 0;
      // background: rgba(0, 0, 0, 0.1);
      // 返回顶部
      .ant-back-top {
        right: 0;
        bottom: 90px;
        height: 48px;
        width: 48px;
        line-height: 48px;
        border-radius: @border-radius-base;
        color: #fff;
        text-align: center;
        font-size: 24px;
        background: rgba(0, 0, 0, 0.3);
      }
      .ant-back-top:hover {
        background: rgba(0, 0, 0, 0.4);
      }
      overflow: hidden;
      .ant-tabs-extra-content {
        color: #9fa0b5;
      }
      .ant-badge-not-a-wrapper .ant-scroll-number {
        // padding:0 6px;
        height: 14px;
        line-height: 14px;
      }
      .ant-tabs-nav .ant-tabs-tab .tab-new02 {
        margin-right: 4px;
      }
      .navLayout-con-in {
        height: 100%;
        overflow: hidden;
      }
      .set-but {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 0 8px;
      }
      .ste .ant-drawer-mask {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .ant-menu-vertical {
    border-right: none;
  }
  /* 主题部分覆盖全局样式 By Cj start */
  .theme-content {
    padding:@theme-content-padding ;
    padding-bottom: 0;
    overflow: auto;
    height: calc(100% - 44px);
    .theme-content-wrapper {
      position: relative;
      width: 100%;
      min-height: calc(
        100vh - 40px - @theme-header-height - @theme-content-padding - @theme-content-padding
      );
      > *:first-child {
        min-height: calc(
          100vh - 40px - @theme-header-height - @theme-content-padding - @theme-content-padding
        );
        width: 100%;
      }
    }
  }
  .code_main {
    pre{
      background: #f5f7fa;
      padding:10px;
      border: 1px solid #e8e8e8;
      margin-top: 10px;
    }
  }
  .code_icon{
    display: inline-block;
  }
  /* 主题部分覆盖全局样式 By Cj end */
}
/* 主题菜单中的收藏图标 */
.icon-menu-fav {
  margin-top: 0 !important;
  font-size: 12px !important;
  position: absolute;
  display: none !important;
  right: 4px;
  top: 37%;
}
/* H+导航中侧边收起时，menu会变为inline模式，不能简单去掉下述动画 */
// .ant-menu{
//   transition: none;
// }
// 二级三级限定最大高度滚动start renk
.base-sub-menu .ant-menu-submenu-content,
.base-sub-menu .ant-menu-vertical {
  max-height: 90vh;
  overflow: auto;
  .nav-second,
  .ant-menu-submenu,
  .ant-menu-item {
    width: 200px;
    font-size: 12px;
  }
}
.ant-menu-item .star-block {
  display: block !important;
}
.ant-menu-item {
  .anticon{
    color: #8594aa;
  }
}
.base-layout-sider,
.ant-menu-submenu-popup{
  .ant-menu-submenu-title,
  .sub-menu-li,
  .ant-menu-item{
    color: #252b3a;
    .anticon{
      color: #8594aa;
    }
  }
}

.ant-menu-item .star-none {
  display: none !important;
}
.ant-menu-item:hover .anticon-star {
  display: block !important;
}
.base-sub-menu .ant-menu-sub .ant-menu-item,
.base-sub-menu .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical .sub-menu-li {
  height: 40px;
  line-height: 40px;
  margin: 0 !important;
  padding-right: 30px;
  font-size: 12px;
}

.popover-user {
  padding-top: 0;
  width: 180px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-title {
    min-width: unset;
    padding: 10px 16px;
    padding-left: 20px;
    .popover-user-title {
      span {
        color: #333;
      }
      p {
        font-size: 12px;
        line-height: 20px;
        margin: 4px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
      }
    }
  }
  .ant-popover-inner-content {
    padding: 0;
    .popover-user-con {
      background: none;
      border: none;
      li {
        height: 36px;
        line-height: 36px;
        margin: 0 !important;
        font-size: 12px;
      }
    }
  }
}
/* 主题-消息Pop层 */
.popover-news {
  width: 240px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0;
    .popover-news-new {
      height: 216px;
      background: none;
      border: none;
      li {
        height: 36px;
        line-height: 36px;
        margin: 0;
        font-size: 12px;
        border-bottom: 1px solid #f7f7f7;
      }
      .no-data {
        height: 100%;
        .ant-empty {
          margin: 74px 0 0;
          .ant-empty-image {
            height: 34px;
          }
        }
      }
      .no-data:hover {
        color: #ccc;
        background-color: #fff;
      }
    }
    .popover-news-but {
      background: none;
      border: none;
      border-top: 1px solid #f7f7f7;
      li {
        margin: 0;
        padding: 0;
      }
      li:hover {
        background: none;
      }
      .ant-btn {
        width: 50%;
        border: none;
        padding: 0;
        font-size: 12px;
        border-radius: 0;
        height: 40px;
        .anticon {
          margin-right: 0;
        }
        span {
          margin-left: 2px;
        }
      }
    }
  }
  .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    right: 11px;
  }
  .ant-menu-item,
  .ant-menu-submenu-title,
  .ant-anchor-link-title,
  .ant-menu-submenu,
  .ant-menu-submenu-inline {
    transition: none !important;
    animation: none !important;
  }
  .ant-menu-submenu > .ant-menu-submenu-title::after {
    transition: none !important;
  }
}

.base-menu .ant-menu-submenu-vertical > .ant-menu-submenu-title {
  .ant-menu-submenu-arrow::before {
    background-image: linear-gradient(to right, #8594aa, #8594aa);
    transition: none;
  }
  .ant-menu-submenu-arrow::after {
    background-image: linear-gradient(to right, #8594aa, #8594aa);
    transition: none;
  }
}
