/* form 表单的样式 */
@base-font-size: 12px;
@element-base-height: 28px;

.avic-base-form {
  .ant-form {
    .ant-form-item-label {
      line-height: 34px;
    }
    label {
      font-size: @base-font-size;
    }
    .ant-form-item-control {
      padding-left: 5px;
      line-height: 34px;
      .ant-form-item-children {
        // input 组件覆盖
        .ant-input:not(textarea) {
          line-height: 28px;
          height: @element-base-height;
          font-size: @base-font-size;
        }
        // 输入类型为数字的input-number 组件覆盖
        .ant-input-number,
        .ant-input-number-input {
          font-size: @base-font-size;
          height: @element-base-height;
          line-height: 28px;
        }
        //select 组件覆盖
        .ant-select {
          font-size: @base-font-size;
          .ant-select-selection {
            line-height: 26px;
            border-top-width: 1px;
            height: @element-base-height;
            .ant-select-selection__placeholder {
              font-size: @base-font-size;
            }
            .ant-select-selection__rendered {
              line-height: 26px;
            }
          }
        }
        //select 组件的下拉列表内容
        .ant-select-dropdown {
          .ant-select-dropdown-menu-item {
            font-size: @base-font-size;
          }
        }
        .ant-input-number {
          height: @element-base-height;
          font-size: @base-font-size;
          .ant-input-number-input {
            height: 26px;
          }
        }
        /* 表单附件组件相关按钮 */
        .avic-upload {
          .button-box {
            .ant-btn {
              height: @element-base-height;
              font-size: @base-font-size;
              margin: 0;
            }
          }
          .file-text {
            font-size: @base-font-size;
          }
        }
       
        .ant-select-tree li .ant-select-tree-node-content-wrapper {
          font-size: 12px;
        }
      }
      .ant-form-explain {
        font-size: 12px;
      }
    }
  }
}