/* 树单表样式 */
.input-style {
  width: 100%;
}
.vue_scroll_tree .ant-form-item {
  margin-bottom: 15px;
}
/* 表单验证提示 */
.vue_scroll_tree .ant-form-item-with-help {
  margin-bottom: 15px;
}
.vue_scroll_tree .ant-form-explain {
  position: absolute;
}
