/*
 表格的容器
 作用范围：全局
*/
.surface {
  height: 100%;
  .surface-title {
    border-bottom: 1px solid #e8e8e8;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    h3 {
      float: left;
      height: 48px;
      font-size: 14px;
      margin: 0 0 0 10px;
    }
  }

  .surface-content {
    height: calc(100% - 60px);
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 10px 10px 0 10px;
    width: 100%;
    .surface-table {
      flex: 1;
      max-height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
}
