* {
  font-family: 'Microsoft YaHei', FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei',
    'Hiragino Sans GB', 'Hiragino Sans GB W3', FontAwesome, sans-serif;
}
.clear {
  color: rgba(0, 0, 0, 0.65);
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #e8e8e8;
}
.clear:hover {
  color: rgba(0, 0, 0, 0.85);
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  /* 整页最小宽度 */
  min-width: 1280px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
}
ol, ul, dl{
  padding: 0;
  margin: 0;
 
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 0;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
}
img {
  border-style: none;
}
table {
  border-collapse: collapse;
}
caption {
  color: rgba(0, 0, 0, 0.45);
}
input,
button,
select,
optgroup,
textarea {
  color: inherit;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
}
fieldset {
  border: 0;
}
legend {
  color: inherit;
}
mark {
  background-color: #feffe6;
}
//scroll bar css
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background:rgba(0, 0, 0, 0.15);
  // outline: 1px solid #708090;
  border-radius: 3px;
  // background-clip: padding-box;

  &:vertical {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  &:horizontal {
    border-left-width: 0;
    border-right-width: 0;
  }
}
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 6px;
  background:rgba(0, 0, 0, 0.35);
}
//修改全局按钮大小，复写ant-desigin样式
.ant-form label{
  font-size: 12px;
}
.ant-btn,.ant-input,.ant-select{
  height:28px;
  font-size: 12px;
}
.ant-form-item-label > label::after{
  content: '：';
  position: relative;
  top: 0;
  margin: 0;
}
.ant-pagination.mini{
  .ant-pagination-prev{
    margin-right: 8px;
  }
  .ant-pagination-next{
    margin-left: 8px;
  }
  .ant-pagination-options{
    margin-left: 12px;
  }
} 
.ant-checkbox + span {
  padding-left: 4px;
  padding-right: 12px;
}
.ant-dropdown-menu-item{
  font-size: 12px;
}
.ant-pagination-options-quick-jumper input{
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin: 0 8px;
  vertical-align: top;
}
.ant-calendar-picker{
  width: 100%;
}
.ant-input-number{
  width: 100%;
}
.ant-input-number,
.ant-input-number-input,
.ant-select-selection,
.ant-select-selection__rendered{
  font-size: 12px;
  height: 28px;
  line-height: 26px;
}

/* 流程中心模块通用的Tab选项卡样式 */
.avic-module-tab {
  .ant-tabs-nav-scroll {
    padding: 0 10px;
    .ant-tabs-nav .ant-tabs-tab {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #e8e8e8;
      border-top: 0;
      height: 100%;
      padding: 13px 16px;
      text-decoration: none;
      margin: 0 0 0 -1px;
      border-bottom:0 ;
      cursor: pointer;
      transition: none;
    }
    .ant-tabs-ink-bar {
      top: 0;
    }
  }
}
/* 去掉主题导航动画 */
.base-menu,
.base-sub-menu{
  &.ant-menu-submenu-popup::before{
    display: none;
  }
  *{
    transition: none;
  }
}

/* 模态框最大尺寸为全屏 */

@media (max-width: 767px){
  .ant-modal {
    max-width: 100vw;
    margin: 0; 
  }

}
.ant-select-selection--multiple {
  min-height: @base-edit-table-form-line-height;
  font-size: @base-edit-table-form-font-size;
  .ant-select-selection__rendered{
    ul{
      li{
        margin-top: 1px;
      }
    }
  }
}
.table-operator{
  .table-handle-button{
    margin-right: 8px;
    margin-bottom: 10px;
  }
}
/* 栅格布局扩展 */

@media (min-width: 1024px){
  .ant-col-lg-45{
    width: 18.75%;
  }
  .ant-col-lg-195{
    width: 81.25%;
  }
}