<template>
  <a-row style="height: 100%">
    <a-col :span="8" style="padding: 5px; height: 100%">
      <!-- <div class="tree-box"> -->
      <AvicTree
        :ref="treeRefName"
        :tree-param="treeParam"
        :is-load-data="true"
        :show-line="true"
        :default-max-parent-id="defaultParentId"
        :default-expand-hierarchy="defaultLevel"
        :selected-keys.sync="selectedKeys"
        @select="(ids, data) => selectNodeTree(ids, data)"
        @beforeLoadData="beforeLoadData"
      />
      <!-- </div> -->
    </a-col>
    <a-col :span="8" style="padding: 5px; height: 100%">
      <a-list :data-source="modelList" class="my-list">
        <div slot="header" class="my-list-title">候选流程</div>
        <a-list-item
          slot="renderItem"
          slot-scope="item"
          class="my-list-item"
          @click="selectModel(item)"
        >
          {{ item.name }}
        </a-list-item>
      </a-list>
    </a-col>
    <a-col :span="8" style="padding: 5px; height: 100%">
      <a-list :data-source="selectedModelList" class="my-list">
        <div slot="header" class="my-list-title">
          已选流程
          <a-icon type="delete" style="float: right; cursor: pointer" @click="deleteAll" />
        </div>
        <a-list-item slot="renderItem" slot-scope="item" class="my-list-item">
          {{ item.name }}
          <a-icon type="close" class="my-close" @click="deleteFlow(item)" />
        </a-list-item>
      </a-list>
    </a-col>
  </a-row>
</template>
<script>
import AvicTree from '@comp/avic/pt/common/AvicTree';
import { httpAction } from '@api/manage';
export default {
  name: 'ProcessTreeSelect',
  components: {
    AvicTree
  },
  props: {
    defaultSelectList: {
      type: Object
    }
  },
  data() {
    return {
      treeRefName: 'flowScopeTree',
      //树展开
      treeParam: {
        url: '/api/bpm/bpm/deploy/getFlowTypeTree/v1',
        parameter: { id: 'root' },
        method: 'post'
      },
      nodeListParam: {
        url: '/api/bpm/bpm/deploy/getDeployedFlowFileLastVer/v1',
        method: 'post'
      },
      defaultParentId: 'root', //树节点默认最高级id
      defaultLevel: 2, //默认加载层级
      openLevel: 1, //每次树展开层级
      selectedKeys: [],
      modelList: [],
      selectedModelList: [],
      parentItemId: ''
    };
  },
  methods: {
    /**
     * 当前弹窗打开事件
     */
    init() {
      let item = this.defaultSelectList;
      // 清空处理
      this.treeParam.parameter = { id: 'root' }; // 清空树查询条件
      this.modelList = []; // 清空候选流程
      this.selectedModelList = []; // 清空已选流程
      // 记录父组件input绑定id,以便回显数据时,找到相应input
      this.parentItemId = item.id;
      // 根据初始带过来的值,渲染已选流程数据
      if (item.modelId !== '') {
        let modelIdsArr = item.modelId.split(',');
        let modelNamesArr = item.modelName.split(',');
        let workHandTypsArr = item.workHandType.split(',');
        let modelArr = [];
        for (let i = 0; i < modelIdsArr.length; i++) {
          modelArr.push({
            key: modelIdsArr[i],
            name: modelNamesArr[i],
            modelType: workHandTypsArr[i]
          });
        }
        this.selectedModelList = modelArr;
      }
    },
    /**
     * 加载树节点之前
     */
    beforeLoadData(treeData, parentId) {
      this.loadTreeParentId = parentId;
      this.treeParam.parameter = { id: parentId };
    },
    /**
     * 点击某个节点拿到数据渲染候选流程列表
     */
    selectNodeTree(ids, data) {
      if (ids && ids.length > 0) {
        this.selectedKeys = ids;
        // 添加节点目录
        let muluData = [];
        if (data.id !== '-1') {
          muluData = [
            {
              key: data.id,
              name: data.title + '(分类)',
              modelType: '0'
            }
          ];
        }
        // 获取节点下的流程列表
        let flowData = [];
        httpAction(
          this.nodeListParam.url,
          { selectedNodeId: ids[0] },
          this.nodeListParam.method
        ).then(res => {
          if (res.success) {
            // 渲染候选流程
            for (let i = 0; i < res.result.deployedList.length; i++) {
              flowData.push({
                key: res.result.deployedList[i].key,
                name: res.result.deployedList[i].name,
                modelType: '1'
              });
            }
            this.modelList = [...muluData, ...flowData];
          }
        });
      }
    },
    /**
     * 点击候选流程拿到数据渲染已选流程模板选择流程模板
     */
    selectModel(item) {
      // 不可重复添加
      for (let i = 0; i < this.selectedModelList.length; i++) {
        if (this.selectedModelList[i].key === item.key) {
          this.$message.warning('已添加该条记录');
          return;
        }
      }
      this.selectedModelList.push(item);
      this.$emit('select', this.selectedModelList);
    },
    /**
     * 删除当前已选流程
     */
    deleteFlow(item) {
      this.selectedModelList = this.selectedModelList.filter(i => i.key !== item.key);
      this.$emit('select', this.selectedModelList);
    },
    /**
     * 删除所有已选流程
     */
    deleteAll() {
      this.selectedModelList = [];
      this.$emit('select', this.selectedModelList);
    },
    /**
     * 点击确定事件
     */
    handleEnsure() {
      //  将数据传回
      let modelIdsArr = [];
      let modelNamesArr = [];
      let modelTypeArr = [];
      for (let i = 0; i < this.selectedModelList.length; i++) {
        modelIdsArr.push(this.selectedModelList[i].key);
        modelNamesArr.push(this.selectedModelList[i].name);
        modelTypeArr.push(this.selectedModelList[i].modelType);
      }
      this.$emit('sendSelectedFlow', {
        id: this.parentItemId,
        data: {
          modelIds: modelIdsArr.join(','),
          modelNames: modelNamesArr.join(','),
          modelType: modelTypeArr.join(',')
        }
      });
      // 关闭弹窗
      this.visible = false;
    }
  }
};
</script>
