<template>
  <div class="topside-layout-header header">
    <img class="logo" src="~@assets/images/common/logo.png" />
    <div class="system-title">业务基础云平台</div>
    <div class="head_right">
      <a-popover overlay-class-name="user-menu-panel">
        <div class="user paneltag">
          <img src="~@assets/images/console/icon_person.png" />
          <span :title="nickname()">
            WELCOME
            <br />
            {{ nickname() }}
          </span>
          <a name="#mm2">
            <img class="bottom" src="~@assets/images/console/icon_bottom.png" />
          </a>
          <div class="topside-clear" />
        </div>
        <template slot="content">
          <div class="menu-panel paneltag">
            <router-link to="/console">
              <div>
                <i class="icondefault iconhome" />
                <span>工作台</span>
              </div>
            </router-link>
            <!-- <div>
              <i class="icondefault iconhelp" />
              <span>帮助</span>
            </div>-->
            <div @click="handleMulti">
              <a-icon type="team" :style="{ marginRight: '15px', fontSize: '20px' }" />
              <span>切换组织</span>
            </div>
            <div @click="handleLogout">
              <i class="icondefault iconexit" />
              <span>注销</span>
            </div>
            <!-- <div>
              <i class="icondefault iconabout" />
              <span>关于</span>
            </div>-->
          </div>
        </template>
      </a-popover>
      <div class="topside-clear" />
    </div>
    <div class="topside-clear" />
    <!-- 组织切换 -->
    <ChangeMultiOrg :ref="orgModalRefName" />
  </div>
</template>
<script>
import { Popover } from 'ant-design-vue';
import { mapActions, mapGetters } from 'vuex';

import ChangeMultiOrg from '@views/avic/pt/system/personalSetting/ChangeMultiOrg';

export default {
  name: 'ConsoleHeader',
  components: {
    APopover: Popover,
    ChangeMultiOrg
  },
  data() {
    return {
      orgModalRefName: 'multiOrgModal'
    };
  },
  methods: {
    ...mapActions(['Logout']),
    ...mapGetters(['nickname']),
    handleLogout() {
      const that = this;
      this.$confirm({
        title: '提示',
        content: '需要注销登录吗 ?',
        closable: true,
        onOk() {
          return that
            .Logout(true)
            .then(() => {
              window.location.href = '/';
            })
            .catch(() => {
              window.location.href = '/';
            });
        },
        onCancel() {}
      });
    },
    handleMulti() {
      this.$refs[this.orgModalRefName].openModal();
    }
  }
};
</script>
<style scoped src="./style/public.css"></style>
<style scoped src="./style/index.css"></style>
<style lang="less">
.user-menu-panel {
  .ant-popover-inner {
    background-color: #05466e;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
}
</style>
