<template>
  <div class="topside-layout datagrid-m-body">
    <ConsoleHeader />
    <div class="datagrid-m-nav">
      <div class="datagrid-m-navbg">
        <div class="datagrid-m-start">
          <i class="datagrid-m-initial" v-show="!showPre" />
          <a-icon type="left-circle" v-show="showPre" @click="slidePre" />
        </div>
        <div class="menu-bar">
          <slider ref="slider" :options="options" @init="init" @slide="slide">
            <slideritem v-for="(item, index) in permissionList" :key="index" :style="pageStyle">
              <div class="datagrid-m-firstnav">
                <div @click="getActivefirstMenu(index)">
                  <i class="datagrid-img-line" />
                  <i
                    class="datagrid-img-circle"
                    :class="[activedMenuIndex === index ? 'datagrid-img-active' : '']"
                  />
                  <span
                    class="datagrid-m-arttext"
                    :class="[activedMenuIndex === index ? 'datagrid-m-arttextactive' : '']"
                    :title="item.meta.title"
                  >
                    {{ item.meta.title }}
                  </span>
                </div>
              </div>
            </slideritem>
          </slider>
        </div>
        <div class="datagrid-m-end">
          <a-icon type="right-circle" v-show="showNext" @click="slideNext" />
        </div>
      </div>
    </div>
    <div class="datagrid-m-contain">
      <div class="datagrid-m-slider">
        <div class="datagrid-m-slider-body innerbox">
          <ul class="datagrid-m-ul">
            <li
              v-for="(subMenu, index) in subMenuList"
              :key="'subMenu-' + index"
              :title="subMenu.meta.title"
              @click="openMenu(subMenu)"
            >
              <a href="javascript:void(0)" class="easyui-linkbutton">
                <span>{{ subMenu.meta.title }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="datagrid-m-mainpart">
        <div
          class="innerbox"
          :class="[fullscreen ? 'datagrid-m-mainpart-body-fullscreen' : 'datagrid-m-mainpart-body']"
        >
          <a-tabs
            :active-key="selected"
            class="topside-layout-tabs"
            :hide-add="true"
            type="editable-card"
            @contextmenu.native="showContextMenu"
            @change="changePage"
            @edit="editPage"
          >
            <a-tab-pane class="test-pane-class" v-for="(page, key) in pageList" :key="key">
              <span slot="tab" :pagekey="key">{{ page.meta.title }}</span>
            </a-tab-pane>
          </a-tabs>
          <vue-context-menu
            class="context-menu"
            :context-menu-data="contextMenuData"
            :transfer-index="0"
            @close2left="close2left"
            @close2right="close2right"
            @closeAllOthers="closeAllOthers"
            @refresh="refresh"
          />
          <div class="topside-layout-content">
            <vue-scroll :ops="ops">
              <div :class="[fullscreen ? 'content-wrapper-fullscreen' : 'content-wrapper']">
                <transition :name="transitionName" mode="out-in">
                  <keep-alive :include="getKeepAliveCompList">
                    <router-view />
                  </keep-alive>
                </transition>
              </div>
            </vue-scroll>
          </div>
        </div>
      </div>
    </div>
    <setting-drawer />
    <div class="screeabtn-wrapper">
      <a-icon
        :type="fullscreen ? 'fullscreen-exit' : 'fullscreen'"
        class="screenbtn"
        @click="changeFullscreenMode"
      />
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import { Tabs } from 'ant-design-vue';
import store from '@/store/index';
import VueContextMenu from 'vue-contextmenu';
import { mapGetters } from 'vuex';
import { mixin, mixinDevice } from '@/utils/avic/layout/mixin.js';
import { slider, slideritem } from 'vue-concise-slider';
import VueScroll from 'vuescroll/dist/vuescroll-native';
import SettingDrawer from '@portal/pageModules/drawer/SettingDrawer';
import ConsoleHeader from '@portal/theme/ConsoleLayout/ConsoleHeader';
import { triggerWindowResizeEvent } from '@/utils/avic/common/util';
import config from '@config/defaultSettings';
Vue.use(VueContextMenu);
export default {
  name: 'ConsoleLayout',
  components: {
    slider,
    slideritem,
    SettingDrawer,
    ConsoleHeader,
    VueScroll,
    ATabs: Tabs,
    ATabPane: Tabs.TabPane
  },
  mixins: [mixin, mixinDevice],
  data() {
    return {
      activedMenuIndex: 0,
      isCloseView: false,
      showNext: false,
      showPre: false,
      fullscreen: false,
      transitionName: 'open',
      optMenuIdx: -1, // 调用右键菜单的当前标签页索引,默认-1表示未调用
      selected: 0,
      pageList: [],
      subMenuList: [],
      // 右键菜单数据
      contextMenuData: {
        menuName: 'demo',
        // 菜单显示的位置
        axis: {
          x: null,
          y: null
        },
        // 菜单选项
        menulists: [
          {
            fnHandler: 'close2left', // Binding events(绑定事件)
            icoName: 'arrow-left', // icon (icon图标 )
            btnName: '关闭左边' // The name of the menu option (菜单名称)
          },
          {
            fnHandler: 'close2right',
            icoName: 'arrow-right',
            btnName: '关闭右边'
          },
          {
            fnHandler: 'closeAllOthers',
            icoName: 'close',
            btnName: '关闭其他'
          },
          {
            fnHandler: 'refresh',
            icoName: '',
            btnName: '刷新'
          }
        ]
      },
      ops: {
        vuescroll: {},
        scrollPanel: {
          scrollingX: false
        },
        rail: {},
        bar: {
          onlyShowBarOnScroll: false,
          background: '#ccc'
        }
      },
      options: {
        loop: false,
        freeze: true,
        pagination: false,
        grabCursor: false,
        speed: 300,
        infinite: 8,
        slidesToScroll: 3
      },
      pageStyle: {
        width: 'auto'
      }
    };
  },
  watch: {
    pageList() {
      let res = [];
      this.pageList.map(item => {
        res = res.concat(item.meta.compName);
      });
      this.$store.commit('SET_KEEPALIVE_COMP_LIST', res);
    },
    $route(newRoute) {
      if (!this.multipage) {
        this.pageList = [this.routeObj2PageObj(newRoute)];
        this.transitionName = 'open';
      } else {
        let isExistIndex = -1;
        this.pageList.map((item, index) => {
          if (item.fullPath === newRoute.fullPath) {
            isExistIndex = index;
          }
        });
        if (isExistIndex !== -1) {
          this.selected = isExistIndex;
          if (this.isCloseView) {
            this.transitionName = 'close';
            this.isCloseView = false;
          } else {
            this.transitionName = 'review';
          }
          this.pageList[isExistIndex] = this.routeObj2PageObj(newRoute);
        } else {
          this.pageList.push(this.routeObj2PageObj(newRoute));
          this.selected = this.pageList.length - 1;
          this.transitionName = 'open';
        }
      }
    },
    multipage(newVal) {
      if (!newVal) {
        this.pageList = [this.routeObj2PageObj(this.$route)];
      }
    }
  },
  computed: {
    ...mapGetters(['getKeepAliveCompList']),
    permissionList() {
      return store.getters.permissionList;
    },
    multipage() {
      //判断如果是手机模式，自动切换为单页面模式
      if (this.isMobile()) {
        return false;
      } else {
        return this.$store.state.app.multipage;
      }
    }
  },

  created() {
    if (this.$route.path !== this.homePageRoutePath) {
      const homePageRoute = {
        name: config.homePageConfig.name,
        path: this.homePageRoutePath,
        fullPath: this.homePageRoutePath,
        meta: {
          icon: config.homePageConfig.icon,
          permissionList: [],
          title: config.homePageConfig.title,
          compName: ['Dashboard']
        }
      };
      this.pageList.push(homePageRoute);
    }
    this.pageList.push(this.routeObj2PageObj(this.$route));
    this.selected = this.pageList.length - 1;
    this.getActivefirstMenu(0);
  },
  methods: {
    init() {},
    slide(data) {
      this.showPre = data.currentPage > 0;
      this.showNext = data.currentPage < this.permissionList.length - 1;
    },
    slideNext() {
      this.$refs.slider.$emit('slideNext');
    },
    slidePre() {
      this.$refs.slider.$emit('slidePre');
    },
    changeFullscreenMode() {
      this.fullscreen = !this.fullscreen;
      this.$nextTick(() => {
        triggerWindowResizeEvent();
      });
    },
    changePage(key) {
      this.selected = key;
      this.$router.push(this.pageList[key].path);
    },
    editPage(key, action) {
      // this[action](key)
      if (action === 'remove') {
        this.deletethis(key);
      }
    },
    //关闭指定页面
    deletethis(key) {
      // 关闭当前标签页时，路由定向到后一页或者前一页
      if (key === this.selected) {
        let toPath = null;
        if (key < this.pageList.length - 1) {
          toPath = this.pageList[key + 1].fullPath;
        } else {
          toPath = this.pageList[key - 1].fullPath;
        }

        this.pageList.splice(key, 1);
        this.$router.push(toPath);
        this.isCloseView = true;
      } else {
        this.pageList.splice(key, 1);
        this.selected = key < this.selected ? this.selected - 1 : this.selected;
      }
    },
    routeObj2PageObj(obj) {
      let _comps = [];
      obj.matched.map(item => {
        if (item.components.default && item.components.default.name) {
          _comps.push(item.components.default.name);
        }
      });
      return {
        id: obj.meta.id || 'MENU_ID_UNDEFINED',
        name: obj.name,
        path: obj.path,
        fullPath: obj.fullPath,
        meta: {
          icon: obj.meta.icon,
          permissionList: obj.meta.permissionList,
          title: obj.meta.title,
          compName: _comps, // 路由匹配的所有组件名称
          routeObj: obj
        }
      };
    },
    select(key) {
      this.selected = key;
    },
    showContextMenu(e) {
      const pagekey = this.getPageKey(e.target);
      if (pagekey !== null) {
        e.preventDefault();

        this.optMenuIdx = parseInt(pagekey);
        let x = e.clientX;
        let y = e.clientY;
        // Get the current location
        this.contextMenuData.axis = {
          x,
          y
        };
      }
    },
    getPageKey(target, depth) {
      depth = depth || 0;
      if (depth > 2) {
        return null;
      }
      let pageKey = target.getAttribute('pagekey');
      pageKey =
        pageKey ||
        (target.previousElementSibling
          ? target.previousElementSibling.getAttribute('pagekey')
          : null);
      return (
        pageKey ||
        (target.firstElementChild ? this.getPageKey(target.firstElementChild, ++depth) : null)
      );
    },
    // 关闭左边
    close2left() {
      if (this.selected === 0) {
        return;
      }
      let closedNum = this.pageList.splice(1, this.optMenuIdx - 1).length;
      if (this.selected < this.optMenuIdx) {
        this.selected = 1;
        this.$router.push(this.pageList[1].fullPath);
      } else {
        this.selected = this.selected - closedNum;
      }
    },
    // 关闭右边
    close2right() {
      this.pageList.splice(this.optMenuIdx + 1, this.pageList.length - this.optMenuIdx - 1);
      if (this.selected > this.optMenuIdx) {
        this.selected = this.optMenuIdx;
        this.$router.push(this.pageList[this.optMenuIdx].fullPath);
      }
    },
    // 关闭其他, 不关闭首页
    closeAllOthers() {
      this.pageList.splice(this.optMenuIdx + 1, this.pageList.length - this.optMenuIdx - 1);
      this.pageList.splice(1, this.optMenuIdx - 1);
      this.selected = this.optMenuIdx === 0 ? 0 : 1;
      this.$router.push(this.pageList[this.selected].fullPath);
    },

    // 单标签页刷新事件
    refresh() {
      this.pageList.map((item, idx) => {
        if (
          this.optMenuIdx === idx &&
          item.meta.routeObj &&
          item.meta.routeObj.matched &&
          item.meta.routeObj.matched.length > 0
        ) {
          this.$store.commit(
            'SET_REFRESH_MENU_NAME',
            item.meta.routeObj.matched[item.meta.routeObj.matched.length - 1].components.default
              .name
          );
        }
      });
    },
    // 一级导航点击事件
    getActivefirstMenu(index) {
      this.activedMenuIndex = index;
      this.subMenuList =
        this.permissionList[index].children && this.permissionList[index].children.length > 0
          ? this.permissionList[index].children
          : [this.permissionList[index]];
    },
    //添加panel
    openMenu(subMenu) {
      this.$router.push(subMenu.path);
    }
  }
};
</script>
<style scoped src="./style/public.css"></style>
<style scoped src="./style/main.css"></style>
<style lang="less">
.topside-layout {
  /* 修改 ant-tabs 样式 */
  .topside-layout-tabs {
    padding: 5px 12px 0 12px;
    height: 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .ant-tabs-bar {
      margin: 0;
      border: none;
    }
  }

  .topside-layout-content {
    width: 100%;
    height: calc(100% - 43px);
    padding: 0 12px 12px 12px;

    .content-wrapper {
      width: 100%;
      height: calc(100vh - 213px);
    }
    .content-wrapper > *:first-child {
      position: relative;
      min-height: calc(100vh - 213px);
      border-radius: 8px;
    }
    .content-wrapper-fullscreen {
      width: 100%;
      height: calc(100vh - 57px);
    }
    .content-wrapper-fullscreen > *:first-child {
      position: relative;
      min-height: calc(100vh - 57px);
      border-radius: 8px;
    }
  }
  .context-menu .context-menu-list {
    float: none;
    width: 100px;
    height: 28px;
    padding: 5px;
    margin: 5px 2px !important;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
  }
  .context-menu .context-menu-list:hover {
    background: #1890ff;
  }
  .datagrid-m-ul > li {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: inherit;
  }
}
</style>
