<template>
  <avic-resize-layout direction="h">
    <avic-resize-layout-panel>
      <div class="surface">
        <!-- 查询及操作按钮区域 -->
        <div class="surface-title">
          <h3>stock_test</h3>
          <!-- 查询 -->
          <div class="surface-tools-bar">
            <a-input-search
              class="opt-btn-commonsearch"
              v-show="searchPlaceholder != ''"
              v-model="searchText"
              :placeholder="searchPlaceholder"
              :title="searchPlaceholder"
              :allow-clear="true"
              @search="searchByKeyWord(tableRefName)"
            />
            <a-button
              class="opt-btn-advsearch"
              title="高级搜索"
              @click="handleAdvancedSearch(tableRefName)"
            >
              高级搜索
            </a-button>
            <!-- 操作按钮 -->
            <a-button v-has="'user:add'" type="primary" icon="plus" title="添加" @click="handleAdd">
              添加
            </a-button>
            <a-button
              v-has="'user:del'"
              icon="delete"
              title="删除"
              :loading="delLoading"
              @click="
                handleDelete({
                  refName: tableRefName,
                  param: { ids: selectedRowKeys },
                  isNeedAsk: true
                })
              "
            >
              删除
            </a-button>
            <!-- 导出 -->
            <AvicExport
              v-has="'user:export'"
              :file-name="exportFileName"
              :data-gridheaders="selectColumns"
              :datas="exportData"
              :selected-rows="selectedRows"
              @back-export="backExport"
            />
            <AvicChangeTableSize :init-size="tableSize" @changeTableSize="changeTableSize" />
            <a-icon
              type="sync"
              class="opt-icon"
              title="刷新"
              @click="handleRefreshTable(tableRefName)"
            />
            <AvicTableColumnSettings
              :init-setting-columns="initSettingColumns"
              :default-setting-columns="selectColumns"
              @colMenuSelect="changeColumns"
            />
          </div>
        </div>
        <!-- 内容区域 -->
        <div class="surface-content">
          <!-- 高级搜索表单区域 -->
          <AvicAdvancedSearchCollapse
            :ref="advancedSearchRefName"
            :real-advanced-search-form-data="realAdvancedSearchFormData"
            @onChange="changeShowAdvancedSearch"
            @search="advancedSearch"
          >
            <template #form>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="商品名称"
                >
                  <a-input
                    v-decorator="['name']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                    :label-col="formColLayout.labelCol"
                    :wrapper-col="formColLayout.wrapperCol"
                    label="库存数量"
                >
                    <a-input-number
                            v-decorator="['num']"
                            :min="-9999999999"
                            :max="9999999999"
                            :step="1"
                            :precision="0"
                            :parser="value => formatNumber(value, 0)"
                            allow-clear
                            @pressEnter="handleEnterForSearch"
                    />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="组织ID"
                >
                  <a-input
                    v-decorator="['orgId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="部门ID"
                >
                  <a-input
                    v-decorator="['deptId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
              <a-col v-bind="formColLayout.cols">
                <a-form-item
                  :label-col="formColLayout.labelCol"
                  :wrapper-col="formColLayout.wrapperCol"
                  label="系统标识ID"
                >
                  <a-input
                    v-decorator="['sysId']"
                    allow-clear
                    @pressEnter="handleEnterForSearch"
                  />
                  <!-- 普通输入框 -->
                </a-form-item>
              </a-col>
            </template>
          </AvicAdvancedSearchCollapse>
          <!-- 表格内容 -->
          <div class="surface-table">
            <!-- 表格 -->
            <AvicBaseTable
                :ref="tableRefName"
                :table-size="tableSize"
                :is-auto-count-scroll-x="true"
                :default-col-width="120"
                :columns="selectColumns"
                :data-source="data"
                :row-key="rowKey"
                :data-index="dataIndex"
                :pagination-default="pagination"
                @getData="getData"
                @handleRowSelection="handleRowSelection"
                @handleTableChange="handleTableChange(tableRefName, $event)"
            >
              <!-- 点击查看详情 -->
              <template slot="name" scope="obj">
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  :title="obj.data.name"
                  @click="
                    handleDetail({
                      refName: detailModalRefName,
                      param: { id: obj.data[rowKey] }
                    })
                  "
                >
                  {{ obj.data.name }}
                </a>
              </template>
              <!-- 表格操作列 -->
              <template slot="action" scope="obj">
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click="
                    handleEdit({
                      refName: editModalRefName,
                      param: { id: obj.data[rowKey] }
                    })
                  "
                >
                  编辑
                </a>
                <a
                  href="javascript:;"
                  class="table-detail-link"
                  @click="
                    handleDelete({
                      refName: tableRefName,
                      param: { ids: [obj.data[rowKey]] },
                      isNeedAsk: true
                    })
                  "
                >
                  <a-divider type="vertical" />
                  删除
                </a>
              </template>
            </AvicBaseTable>
          </div>
        </div>
        <!-- 弹窗表单区域 -->
        <AvicAsyncComponent
          v-if="showAddModal"
          :ref="addModalRefName"
          layout="2"
          :path="stockTestAddUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @close="showAddModal = false"
        />
        <AvicAsyncComponent
          v-if="showDetailModal"
          :ref="detailModalRefName"
          layout="2"
          :param-id="paramId"
          :path="stockTestDetailUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @close="showDetailModal = false"
        />
        <AvicAsyncComponent
          v-if="showEditModal"
          :ref="editModalRefName"
          layout="2"
          :param-id="paramId"
          :path="stockTestEditUrl"
          :request-public-url="requestPublicUrl"
          :modal-form-lookup-params="lookupParams"
          @reloadData="reloadData($event, tableRefName)"
          @close="showEditModal = false"
        />
      </div>
    </avic-resize-layout-panel>
  </avic-resize-layout>
</template>
<script>
import { baseTableMixin } from '@mixins/avic/pt/BaseTableMixin';
import { baseSearchMixin } from '@mixins/avic/pt/BaseSearchMixin';
import { menuRefreshMixin } from '@mixins/avic/pt/MenuRefreshMixin';
// 模块名称 格式: MN_模块名_子模块名
let moduleName = 'MN_STOCKTEST';
// 请求地址路径的公共部分抽为变量
let requestPublicUrl = '/api/demo/stocktest/StockTestRest';
// 此模块通用代码params
let lookupParams = [
];
// 表格主键字段
let rowKey = 'id';
// 表格需要slot渲染字段
let dataIndex = ['name', 'action'];

export default {
    name: 'StockTestManage',
    mixins: [baseTableMixin, baseSearchMixin, menuRefreshMixin],
    permissionList: [
    {
        describe: '添加按钮',
        action: 'user:add',
        type: '1'
    },
    {
        describe: '删除按钮',
        action: 'user:del',
        type: '1'
    },
    {
        describe: '导出按钮',
        action: 'user:export',
        type: '1'
    }
    ],
  data() {
    return {
      moduleName, // 模块名称
      requestPublicUrl, // 请求地址路径的公共部分
      lookupParams, // 此模块通用代码
      rowKey, // 表格主键字段
      dataIndex, // 表格slot渲染字段集合
      pageSettingData: [
        {
          isTableHidden:false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '商品名称',
          dataIndex: 'name',
          scopedSlots: { customRender: 'name' },
          isSearch: true,
          align: 'left',
          sorter: true,
          width: 120
        },
        {
          isTableHidden:false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '库存数量',
          dataIndex: 'num',
          customRender: val => {
              if(val == null){
                  return "";
              }else{
                  return Number(val).toFixed(0);
              }
          },
          align: 'right',
          sorter: true,
          width: 120
        },
        {
          isTableHidden:false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '组织ID',
          dataIndex: 'orgId',
          isSearch: true,
          align: 'left',
          sorter: true,
          width: 120
        },
        {
          isTableHidden:false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '部门ID',
          dataIndex: 'deptId',
          align: 'left',
          sorter: true,
          width: 120
        },
        {
          isTableHidden:false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '系统标识ID',
          dataIndex: 'sysId',
          align: 'left',
          sorter: true,
          width: 120
        },
        {
          isTableHidden: false,
          isFormHidden: false,
          isAuthFlag: false,
          title: '操作',
          dataIndex: 'action',
          scopedSlots: { customRender: 'action' },
          fixed: 'right',
          width: 100
        }
      ], // 页面数据配置
      tableRefName: 'StockTestTable', // 表格ref名称
      stockTestDetailUrl: 'views/avicit/demo/stocktest/StockTestDetail', // 详情弹窗组件路径
      stockTestAddUrl: 'views/avicit/demo/stocktest/StockTestAdd', // 添加弹窗组件路径
      stockTestEditUrl: 'views/avicit/demo/stocktest/StockTestEdit', // 编辑弹窗组件路径
      addModalRefName: 'addModal', // 添加弹窗ref名称
      editModalRefName: 'editModal', // 编辑弹窗ref名称
      detailModalRefName: 'detailModal', // 详情弹窗ref名称
      templateCode: ' stockTest', // 导入模板编码
      delParam: {
        // manage页面删除的请求接口
        url: requestPublicUrl + '/deleteByIds/v1',
        method: 'post'
      },
    };
  },
  computed: {
    queryParam() {
      // 表格数据请求参数
      return {
        url: requestPublicUrl + '/searchByPage/v1',
        parameter: {
          pageParameter: {
            page: this.page, // 页数
            rows: this.rows // 每页条数
          },
          searchParams: {
            ...this.postAdvancedSearchParam // 高级查询数据
          },
          keyWord: this.postSearchParam, // 普通查询数据
          sidx: this.sidx, // 排序字段
          sord: this.sord // 排序方式: desc降序 asc升序
        },
        method: 'post'
      };
    }
  },
  mounted() {
    /**
     * 进入页面,加载表格数据
     */
    this.$refs[this.tableRefName].loadData(this.queryParam);
  },
  methods: {
    /**
     * 属性内校验显隐权限
     */
    isVisiable(code) {
      return this.visiableFilter(code, this.$route.meta);
    },
    /**
     * 右击页签刷新页面, 下面是统一的重置设置,可自行编写自己页面的刷新逻辑
     */
    menuRefresh() {
      this.menuRefreshReset();
    }
  }
};
</script>

