<template>
    <AvicModal
            class="table-modal"
            :visible="visible"
            modal-title="详情"
            :set-modal-style="modalWidthAndHeight.modalStyle"
            :set-modal-body-style="modalWidthAndHeight.bodyStyle"
            :modal-width="modalWidthAndHeight.standardModalStyle.width"
            :modal-height="modalWidthAndHeight.standardModalStyle.height"
            wrap-class-name="table-modal-wrap"
            :adjust-size="true"
            :centered="true"
            :destroy-on-close="true"
            :mask-closable="false"
            @cancel="closeModal"
    >
        <template slot="footer">
            <a-button @click="closeModal" title="返回">返回</a-button>
        </template>
        <a-form :form="form" layout="horizontal">
            <a-form-item style="display: none">
                <a-input v-decorator="['id']" />
            </a-form-item>
            <div>
                <a-row>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="商品名称">
                            <a-input v-decorator="['name']" placeholder="请输入商品名称" :disabled="true" :title="form.getFieldValue('name')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="库存数量">
                            <a-input-number  v-decorator="['num']" :min="-9999999999" :disabled="true" :max="9999999999" :step="1" :precision="0" :parser="value => formatNumber(value, 0)" placeholder="请输入库存数量"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="组织ID">
                            <a-input v-decorator="['orgId']" placeholder="请输入组织ID" :disabled="true" :title="form.getFieldValue('orgId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="部门ID">
                            <a-input v-decorator="['deptId']" placeholder="请输入部门ID" :disabled="true" :title="form.getFieldValue('deptId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="系统标识ID">
                            <a-input v-decorator="['sysId']" placeholder="请输入系统标识ID" :disabled="true" :title="form.getFieldValue('sysId')"/>
                        </a-form-item>
                    </a-col>
                </a-row>
            </div>
        </a-form>
    </AvicModal>
</template>
<script>
    import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
    import { httpAction } from '@api/manage';
    // 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
    let modalFormData = [
        {
            dataIndex: 'id',
            type: 'input'
        },
        {
            dataIndex: 'name',
            type: 'input'
        },
        {
            dataIndex: 'num',
            type: 'inputnumber',
            precision: 0
        },
        {
            dataIndex: 'orgId',
            type: 'input'
        },
        {
            dataIndex: 'deptId',
            type: 'input'
        },
        {
            dataIndex: 'sysId',
            type: 'input'
        }
    ];
    export default {
        name: 'StockTestDetail',
        mixins: [baseModalFormMixin],
        props: {
            paramId: {
                // 初始查询参数
                type: String,
                default: ''
            }
        },
        data() {
            return {
                modalFormData, // 表单数据
                detailParam: {
                    // 弹窗详情的请求接口
                    url: this.requestPublicUrl + '/get/v1/',
                    method: 'get'
                }
            };
        },
        mounted() {
            this.modalHandleDetailOrEdit(this.paramId);
        },
        methods: {
            /**
             * 点击返回、点击X关闭事件
             */
            closeModal() {
                this.$emit('close');
            },
            /**
             * 点击manage页面的编辑按钮,调用的弹窗页方法: 回显数据
             * @param {String} id 行数据的id
             */
            modalHandleDetailOrEdit(id) {
                // 点击编辑按钮或者查看详情时,回显数据
                this.visible = true; // 打开弹窗
                this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
                let that = this;
                httpAction(this.detailParam.url + id, '', this.detailParam.method) // 请求数据
                    .then(res => {
                        if (res.success) {
                            this.formId = res.result.id; // 设置附件formId
                            // 从返回结果中抽取本页面表单字段,原因: 多余表单字段的字段不能set到表单里
                            let data = new Object();
                            for (let i = 0; i < this.modalFormData.length; i++) {
                                data[this.modalFormData[i].dataIndex] = res.result[this.modalFormData[i].dataIndex];
                            }
                            // 从本页面表单字段抽取值不为null的字段,原因: 字段值为null,set不到表单里
                            let newData = new Object();
                            for (let key in data) {
                                if (data[key] !== null && data[key] !== '') {
                                    newData[key] = data[key];
                                }
                            }
                            // 对时间、多选框等前后台数据格式不一致的字段进行数据处理
                            for (let key in newData) {
                                for (let i = 0; i < that.modalFormData.length; i++) {
                                    if (
                                        (that.modalFormData[i].dataIndex === key &&
                                                that.modalFormData[i].type === 'date') ||
                                        (that.modalFormData[i].dataIndex === key &&
                                                that.modalFormData[i].type === 'datetime')
                                    ) {
                                        newData[key] = this.moment(data[key]);
                                    } else if (
                                            that.modalFormData[i].dataIndex === key &&
                                            that.modalFormData[i].type === 'checkbox'
                                    ) {
                                        newData[key] = data[key].split(';');
                                    } else if (
                                            that.modalFormData[i].dataIndex === key &&
                                            that.modalFormData[i].type === 'commonselect'
                                    ) {
                                        newData[key] = { ids: data[key], names: res.result[key + 'Alias'] };
                                    }
                                }
                            }
                            this.form.setFieldsValue(newData); // 将处理好的数据塞入本页面表单
                        }
                    });
                }
            }
        };
</script>

