<template>
    <AvicModal
            class="table-modal"
            :visible="visible"
            modal-title="添加"
            :set-modal-style="modalWidthAndHeight.modalStyle"
            :set-modal-body-style="modalWidthAndHeight.bodyStyle"
            :modal-width="modalWidthAndHeight.standardModalStyle.width"
            :modal-height="modalWidthAndHeight.standardModalStyle.height"
            wrap-class-name="table-modal-wrap"
            :adjust-size="true"
            :centered="true"
            :destroy-on-close="true"
            :mask-closable="false"
            @cancel="closeModal"
    >
        <template slot="footer">
            <a-button @click="closeModal" title="返回" :disabled="disabled">返回</a-button>
            <a-button type="primary" :loading="modalLoading" @click="saveForm" title="保存">
                保存
            </a-button>
        </template>
        <a-form :form="form" layout="horizontal">
            <a-form-item style="display: none">
                <a-input v-decorator="['id']"/>
            </a-form-item>
            <a-form-item style="display: none">
                <a-input v-decorator="['version', { initialValue: '' }]"/>
            </a-form-item>
            <div>
                <a-row>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="商品名称">
                            <a-input v-decorator="['name',{rules: [{ required: true , message: '请输入商品名称！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入商品名称" :title="form.getFieldValue('name')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="库存数量">
                            <a-input-number  v-decorator="['num',{rules: [{ required: true , message: '请输入库存数量！' }]}]" :min="-9999999999" :max="9999999999" :step="1" :precision="0" :parser="value => formatNumber(value, 0)" placeholder="请输入库存数量"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="组织ID">
                            <a-input v-decorator="['orgId',{rules: [{ required: true , message: '请输入组织ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入组织ID" :title="form.getFieldValue('orgId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="部门ID">
                            <a-input v-decorator="['deptId',{rules: [{ required: true , message: '请输入部门ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入部门ID" :title="form.getFieldValue('deptId')"/>
                        </a-form-item>
                    </a-col>
                    <a-col v-bind="formColLayout.cols">
                        <a-form-item :label-col="formColLayout.labelCol" :wrapper-col="formColLayout.wrapperCol" label="系统标识ID">
                            <a-input v-decorator="['sysId',{rules: [{ required: true , message: '请输入系统标识ID！' },{validator: (rule, value, callback) => validateInputMaxlength(rule, value, callback, 50)}]}]" placeholder="请输入系统标识ID" :title="form.getFieldValue('sysId')"/>
                        </a-form-item>
                    </a-col>
                </a-row>
            </div>
        </a-form>
    </AvicModal>
</template>
<script>
    import { baseModalFormMixin } from '@mixins/avic/pt/BaseModalFormMixin';
    import { httpAction } from '@api/manage';
    import { formDataPretreatment } from '@utils/avic/common/formDataPretreatment';

    // 表单设置 dataIndex: 控件英文字段;type: 控件类型;submitFormat: 提交后台接口时,时间处理格式(formatTime格式化时间 timeStamp时间戳)
    let modalFormData = [
        {
            dataIndex: 'id',
            type: 'input'
        },
        {
            dataIndex: 'name',
            type: 'input'
        },
        {
            dataIndex: 'num',
            type: 'inputnumber',
            precision: 0
        },
        {
            dataIndex: 'orgId',
            type: 'input'
        },
        {
            dataIndex: 'deptId',
            type: 'input'
        },
        {
            dataIndex: 'sysId',
            type: 'input'
        }
    ];
    export default {
        name: 'StockTestAdd',
        mixins: [baseModalFormMixin],
        data() {
            return {
                modalFormData, // 表单数据
                addParam: {
                    // 添加弹窗保存时的请求接口
                    url: this.requestPublicUrl + '/save/v1',
                    method: 'post'
                },
                editParam: {
                    // 多次保存时的请求接口
                    url: this.requestPublicUrl + '/save/v1',
                    method: 'post'
                },
                attachmentRefName: '',
            };
        },
        mounted() {
            this.addModalHandleAdd();
        },
        methods: {
            /**
             * 点击manage页面的添加按钮调用的弹窗页方法
             */
            addModalHandleAdd() {
                this.form.resetFields(); // 清空添加弹窗表单
                this.isDataChange = false;
                if (this.formId) {
                    // 清空附件的formId
                    this.formId = '';
                }
                this.visible = true; // 打开添加弹窗
                this.loadLookUp(this.modalFormLookupParams); // 获取通用代码
            },
            /**
             * 点击返回、点击X关闭事件
             */
            closeModal() {
                // 查看用户是否有未提交内容
                if (this.isDataChange) {
                    // 数据有改动，提示用户
                    this.Modal.confirm({
                        title: '您有数据未提交，确定关闭弹窗吗？',
                        onOk: () => {
                            if (this.formSubmitTimes !== 0) {
                                this.$emit('reloadData', true); // 已提交表单则刷新列表
                            }
                            this.$emit('close');
                        }
                    });
                } else {
                    if (this.formSubmitTimes !== 0) {
                        this.$emit('reloadData', true); // 刷新列表
                    }
                    this.$emit('close');
                }
            },
            /**
             * 附件发生变化
             */
            fileChange(data) {
                // 打开表单后，附件加载后重新获取表单初始化数据
                if (data.flag == 'completeUpload' && this.formSubmitTimes == 0) {
                    this.$nextTick(() => {
                        this.isDataChange = false;
                    });
                }
            },
            /**
             * 附件afterUpload执行函数
             */
            uploadCompleteFile(successFile, errorFile) {
                if (errorFile.length > 0) {
                    // 有附件保存失败的处理
                    this.$refs[this.attachmentRefName].$el.scrollIntoView(); // 页面滚动到附件位置
                    this.modalLoading = false; // 按钮关闭loading状态
                    this.disabled = false; // 返回按钮可用
                } else {
                    // 所有附件都保存成功的处理
                    this.reloadList();
                }
            },

            /**
             * 保存成功的处理函数
             */
            reloadList() {
                this.$message.success('保存成功！'); // 提示成功
                this.$emit('reloadData', true); // 刷新列表
                this.$emit('close');
            },
            /**
             * 保存
             */
            saveForm(e) {
                e.preventDefault();
                let that = this;
                this.form.validateFieldsAndScroll((err, values) => {
                    // 校验表单并处理
                    if (!err) {
                        this.modalLoading = true; // 按钮开启loading状态
                        this.disabled = true; // 返回按钮不可用
                        let newValues = formDataPretreatment(values, this.modalFormData); // 提交前数据处理
                        // 如果第一次保存失败，后面进行的保存需要走编辑保存接口
                        let postData = {};
                        if (this.formId) {
                            if (newValues.version == '') {
                                newValues.version = '0';
                                this.form.setFieldsValue({version: newValues.version});
                            } else {
                                newValues.version = Number(newValues.version) + 1 + '';
                                this.form.setFieldsValue({version: newValues.version});
                            }
                            postData = {
                                url: this.editParam.url,
                                params: {
                                    ...newValues,
                                    id: this.formId // 注意id要写在后面，以盖掉newValues中的id
                                },
                                method: this.editParam.method
                            };
                        } else {
                            postData = {
                                url: this.addParam.url,
                                params: newValues,
                                method: this.addParam.method
                            };
                        }
                        // 请求接口
                        httpAction(postData.url, postData.params, postData.method)
                            .then(res => {
                                if (res.success) {
                                    // 保存成功后，记录提交成功次数
                                    that.formSubmitTimes++;
                                    if (that.attachmentRefName) {
                                        // 表单含有附件
                                        if (that.formId == '') {
                                            that.formId = res.result; // 附件上传formId
                                        }
                                        that.$refs[that.attachmentRefName].upload(that.formId); // 附件上传
                                    } else {
                                        // 表单不含有附件
                                        that.reloadList();
                                    }
                                } else {
                                    that.modalLoading = false; // 按钮关闭loading状态
                                    that.disabled = false; //返回按钮可用
                                }
                            })
                            .catch(() => {
                                that.modalLoading = false; // 按钮关闭loading状态
                                that.disabled = false; //返回按钮可用
                            });
                        }
                    });
                }
            }
        };
</script>

