<!-- 表格列设置组件 -->
<template>
  <a-popover
    :placement="placement"
    :trigger="trigger"
    arrow-point-at-center
    overlay-class-name="table-column-setting-popover"
    @visibleChange="visibleChange"
  >
    <template slot="title">
      <div class="table-column-setting-title">
        <a-checkbox :indeterminate="indeterminate" :checked="checkAll" @change="allColumnChange">
          列展示
        </a-checkbox>
        <a href="#" @click="resetColumn" class="table-column-setting-reset">重置</a>
      </div>
    </template>
    <template slot="content">
      <div class="table-column-setting-list">
        <!-- 固定左侧的列 -->
        <ul class="table-column-setting-list-item">
          <li
            class="table-column-setting-list-item-li"
            v-for="(item, index) in fixedLeftColumns"
            :key="index"
            :title="item.title"
          >
            <a-checkbox
              :value="item.dataIndex"
              :checked="item.visible"
              @change="columnChange(item)"
            >
              {{ item.title }}
            </a-checkbox>
          </li>
        </ul>
        <ul class="table-column-setting-list-item">
          <draggable
            v-model="settingColumns"
            v-bind="dragOptions"
            handle=".li-drag"
            @start="drag = true"
            @end="dragEnd"
          >
            <transition-group type="transition" :name="!drag ? 'flip-list' : null">
              <template v-for="(item, index) in settingColumns">
                <li
                  v-if="!item.fixed"
                  :key="index"
                  :title="item.title"
                  class="table-column-setting-list-item-li"
                >
                  <a-checkbox
                    :value="item.dataIndex"
                    :checked="item.visible"
                    @change="columnChange(item)"
                  >
                    {{ item.title }}
                  </a-checkbox>
                  <AvicIcon
                    class="li-drag"
                    icon-source="avic"
                    svg-name="drag"
                    style="
                      position: absolute;
                      right: 5px;
                      top: 0;
                      font-size: 1rem;
                      color: #888;
                      line-height: 26px;
                      cursor: move;
                    "
                  />
                </li>
              </template>
            </transition-group>
          </draggable>
        </ul>
        <!-- 固定右侧的列 -->
        <ul class="table-column-setting-list-item">
          <li
            class="table-column-setting-list-item-li"
            v-for="(item, index) in fixedRightColumns"
            :key="index"
            :title="item.title"
          >
            <a-checkbox
              :value="item.dataIndex"
              :checked="item.visible"
              @change="columnChange(item)"
            >
              {{ item.title }}
            </a-checkbox>
          </li>
        </ul>
      </div>
    </template>
    <a-icon type="setting" class="opt-icon" title="列设置" />
  </a-popover>
</template>
<script>
import { Popover, Checkbox, Icon } from 'ant-design-vue';
import draggable from 'vuedraggable';
import AvicIcon from '@comp/avic/pt/common/AvicIcon';
export default {
  name: 'AvicTableColumnSettings',
  components: {
    APopover: Popover,
    ACheckbox: Checkbox,
    AIcon: Icon,
    draggable,
    AvicIcon
  },
  props: {
    // 弹出框位置
    placement: {
      type: String,
      default: 'bottomRight'
    },
    // 触发方式
    trigger: {
      type: String,
      default: 'click'
    },
    // 记录的初始列设置columns
    initSettingColumns: {
      type: Array,
      default: () => []
    },
    // 接收的列设置columns
    defaultSettingColumns: {
      type: Array,
      default: () => []
    }
  },
  watch: {
    defaultSettingColumns(val) {
      this.settingColumns = val;
    }
  },
  data() {
    return {
      initColumns: this.initSettingColumns,
      settingColumns: this.defaultSettingColumns, // 内部的列设置columns
      indeterminate: false, // 列显隐全选按钮的半选状态的样式控制
      checkAll: true, // 列显隐全选按钮的全选与全不选标志
      dragOptions: {
        // 列表拖拽配置参数
        animation: 300,
        group: 'columnsSettingDragGroup',
        disabled: false,
        ghostClass: 'ghost',
        forceFallback: true,
        fallbackClass: 'drag-fallback'
      },
      drag: false // 列表拖拽状态
    };
  },
  computed: {
    fixedLeftColumns() {
      let leftCols = [];
      this.defaultSettingColumns.map(item => {
        if (item.fixed === 'left') {
          let fixLeftCol = Object.assign({}, item);
          leftCols.push(fixLeftCol);
        }
      });
      return leftCols;
    },
    fixedRightColumns() {
      let rightCols = [];
      this.defaultSettingColumns.map(item => {
        if (item.fixed === 'right') {
          let fixRightCol = Object.assign({}, item);
          rightCols.push(fixRightCol);
        }
      });
      return rightCols;
    }
  },
  methods: {
    /**
     * 打开列显隐列表时，初始化列显隐列表
     */
    visibleChange(visible) {
      if (visible) {
        this.allCheckStyle(this.settingColumns);
      }
    },
    /**
     * 列显隐的全选半选样式变化
     */
    allCheckStyle(fullColumn) {
      let showNum = 0;
      fullColumn.map(item => {
        if (item.visible) {
          showNum++;
        }
      });
      this.checkAll = showNum > 0 && showNum == fullColumn.length;
      this.indeterminate = showNum > 0 && showNum < fullColumn.length;
    },
    /**
     * 改变单个字段的显隐
     */
    columnChange(column) {
      let columns = [...this.settingColumns];
      columns.map(item => {
        if (item.dataIndex == column.dataIndex) {
          item.visible = !item.visible;
        }
      });
      this.settingColumns = columns;
      this.allCheckStyle(this.settingColumns);
      this.$nextTick(() => {
        this.columnShowChange();
      });
    },
    /**
     * 改变所有字段的显隐
     */
    allColumnChange(e) {
      let columns = [...this.settingColumns];
      if (e.target.checked) {
        // 全选
        columns.map(item => {
          item.visible = true;
        });
        this.indeterminate = false;
        this.checkAll = true;
      } else {
        // 全不选
        columns.map(item => {
          item.visible = false;
        });
        this.indeterminate = false;
        this.checkAll = false;
      }
      this.settingColumns = columns;
      this.$nextTick(() => {
        this.columnShowChange();
      });
    },
    /**
     * 列显隐变化传回父组件事件
     */
    columnShowChange() {
      this.$emit('colMenuSelect', this.settingColumns);
    },
    /**
     * 重置
     */
    resetColumn() {
      // 深拷贝，以免改变原数组
      let dealColumns = [];
      this.initColumns.map(item => {
        let newObj = Object.assign({}, item);
        dealColumns.push(newObj);
      });
      this.settingColumns = dealColumns;
      this.allCheckStyle(this.settingColumns);
      this.$nextTick(() => {
        this.columnShowChange();
      });
    },
    /**
     * 列表拖拽end事件
     */
    dragEnd() {
      this.drag = false;
      this.$nextTick(() => {
        this.columnShowChange();
      });
    }
  }
};
</script>
<style lang="less">
@import './style/base';
</style>
