.dom_box {
  .ant-menu-inline {
    border: 0;
    height: calc(100% - 60px);
    padding-top: 10px;
    overflow: auto;
    color: #252b3a;
    font-size: 12px;
    .ant-menu-item {
      margin: 0;
      padding: 0 16px !important;
      height: 38px;
      line-height: 38px;
      font-size: 12px;
    }
    .dian {
      display: inline-block;
      width: 4px;
      height: 4px;
      background: #9fa0b5;
      border-radius: 50%;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
    }
  }
  .ant-input-number {
    width: auto;
    height: 28px;
  }
  .ant-input-number-input {
    height: 28px;
  }
  h1 {
    display: none;
  }
  .dom_content {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    > div,
    .ant-form {
      padding: 10px 20px;
      overflow: hidden;
    }
    h3 {
      margin: 0;
      line-height: 38px;
      padding: 0 20px;
      font-size: 14px;
      border-bottom: 1px solid #e8e8e8;
    }
    .attr-label {
      text-align: right;
      line-height: 28px;
      font-size: 12px;
    }
    .ant-select-selection--single {
      height: 28px;
      .ant-select-selection__rendered {
        line-height: 28px;
      }
    }
    .ant-row {
      margin: 0 !important;
    }
  }
}
