/* 暂无数据样式 Start */
.ant-table-small > .ant-table-content .ant-table-placeholder {
  border-bottom: 1px solid #e8e8e8;
}
.ant-table-bordered.ant-table-empty {
  .ant-table-scroll {
    padding-right: 0;
  }
  .ant-table-placeholder {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}
/* 暂无数据样式 End */

/* 表格背景 Start */
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
.ant-table-small
> .ant-table-content
> .ant-table-scroll
> .ant-table-header
> table
> .ant-table-thead
> tr
> th,
.ant-table-small
> .ant-table-content
> .ant-table-scroll
> .ant-table-body
> table
> .ant-table-thead
> tr
> th,
.ant-table-small
> .ant-table-content
> .ant-table-fixed-left
> .ant-table-header
> table
> .ant-table-thead
> tr
> th,
.ant-table-small
> .ant-table-content
> .ant-table-fixed-right
> .ant-table-header
> table
> .ant-table-thead
> tr
> th,
.ant-table-small
> .ant-table-content
> .ant-table-fixed-left
> .ant-table-body-outer
> .ant-table-body-inner
> table
> .ant-table-thead
> tr
> th,
.ant-table-small
> .ant-table-content
> .ant-table-fixed-right
> .ant-table-body-outer
> .ant-table-body-inner
> table
> .ant-table-thead
> tr
> th {
  background-color: #f5f7fa;
}
.ant-table-small > .ant-table-content .ant-table-header {
  background: #f5f7fa;
}
/* 表格背景 End */

/* 表格padding Start */
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 0 8px !important;
}
/* 表格padding End */

/* 表格颜色 Start */
.ant-table-header,
.ant-table-thead > tr > th {
  background-color: #f5f7fa;
  font-weight: 600;
}
/* 表格颜色 End */

/* 表格高度 Start */
.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-spin-container .ant-table-content {
  height: 100%;
}
.ant-spin-container .ant-table-content {
  overflow-y: hidden;
}
.ant-table {
  color: rgba(0, 0, 0, 0.85);
  height: calc(100% - 42px);
}
.ant-table.ant-table-bordered {
  height: calc(100% - 41px);
}
.no-pagination .ant-table,
.no-pagination .ant-table.ant-table-bordered {
  height: 100%;
}
.ant-spin-container {
  .ant-table-body {
    height: 100%;
  }
  // .ant-table-scroll {
  // height: calc(100% + 8px);
  // }
  .ant-table-empty {
    height: 100%;
    .ant-table-body {
      height: auto;
      border-bottom: 0;
    }
    .ant-table-placeholder {
      // height: calc(100% - 49px);
      border-bottom: 0;
    }
  }
}
/* 表格高度 End */

/* 无border状态small模式清除border Start */
.no-border .ant-table-small {
  border: none;
}
/* 无border状态small模式清除border End */

/* small模式最后一行加border Start */
.ant-table-small > .ant-table-content .ant-table-row:last-child td {
  border-bottom: 1px solid #e8e8e8;
}
/* small模式最后一行加border End */

/* 解决表格边线对齐问题start */
.has-scrolly .ant-spin-container .ant-table-scroll {
  padding-right: 6px;
}
.has-scrolly .ant-table-scroll > .ant-table-body {
  margin-right: -6px;
}
.has-scrolly .ant-spin-container .ant-table-bordered .ant-table-scroll {
  padding-right: 6px;
  margin-right: 0;
}
.ant-table .ant-table-fixed-right .ant-table-body-inner::-webkit-scrollbar {
  background-color: #fff;
}
.ant-table-fixed-left .ant-table-body-inner::-webkit-scrollbar {
  width: 0;
}
.ant-table-fixed-left .ant-table-body-inner::-webkit-scrollbar-track {
  width: 0;
}
.ant-table-fixed-left .ant-table-body-inner::-webkit-scrollbar-thumb {
  width: 0;
}
.ant-table-fixed-left .ant-table-body-outer,
.ant-table-fixed-left .ant-table-body-outer .ant-table-body-inner {
  width: 100%;
}
.ant-table-fixed-left .ant-table-body-outer .ant-table-body-inner .ant-table-fixed {
  min-width: -webkit-fill-available;
}
.ant-table.ant-table-small,
.ant-table.ant-table-middle,
.ant-table.ant-table-default {
  border: 1px solid #e8e8e8;
}
.ant-table-bordered .ant-table-header > table,
.ant-table-bordered .ant-table-body > table,
.ant-table-bordered .ant-table-fixed-left table,
.ant-table-bordered .ant-table-fixed-right table {
  border-top: 0;
  border-left: 0;
}
.ant-table-fixed-left table, .ant-table-fixed-right table{
  width: 10px;
}
.ant-table-bordered .ant-table-fixed-right {
  border-left: 0 !important;
  border-right: 0 !important;
}
.ant-table-bordered.ant-table-small .ant-table-content {
  border-right: 0;
}
.ant-table-bordered.ant-table-small .ant-table-tbody > tr > td:last-child {
  border-right: 1px solid #e8e8e8;
}
.ant-table-bordered.ant-table-fixed-header
.ant-table-scroll
.ant-table-header.ant-table-hide-scrollbar
.ant-table-thead
> tr:only-child
> th:last-child {
  border-right: 1px solid #e8e8e8;
}
.ant-table-bordered
.ant-table-fixed-right
.ant-table-header.ant-table-hide-scrollbar
.ant-table-fixed {
  border-top: 0;
}
.ant-table-fixed-right
.ant-table-header.ant-table-hide-scrollbar
.ant-table-fixed
.ant-table-thead
tr
th:last-child {
  border-right-color: transparent;
}
/* 解决表格边线对齐问题end  */

/* 表格尺寸 Start */
/* 紧凑(42px 35px   font-size:12px;) */
@base-table-smallsize-line-height-th: 42px;
@base-table-smallsize-line-height-td: 35px;
@base-table-smallsize-font-size: 12px;
/* 中等(42px 43px   font-size:12px;) */
@base-table-middlesize-line-height-th: 42px;
@base-table-middlesize-line-height-td: 43px;
@base-table-middlesize-font-size: 12px;
/* 宽松（42px 49px    font-size:14px;） */
@base-table-largesize-line-height-th: 42px;
@base-table-largesize-line-height-td: 49px;
@base-table-largesize-font-size: 12px;
/* 表格展示内容尺寸 */
.ant-table-small .ant-table-thead > tr > th {
  height: @base-table-smallsize-line-height-th;
  font-size: @base-table-smallsize-font-size;
}
.ant-table-small .ant-table-tbody > .ant-table-row,
.ant-table-small .ant-table-tbody > .ant-table-row-selected {
  height: @base-table-smallsize-line-height-td;
  font-size: @base-table-smallsize-font-size;
}
.ant-table-middle .ant-table-thead > tr > th {
  height: @base-table-middlesize-line-height-th;
  font-size: @base-table-middlesize-font-size;
}
.ant-table-middle .ant-table-tbody > .ant-table-row,
.ant-table-middle .ant-table-tbody > .ant-table-row-selected {
  height: @base-table-middlesize-line-height-td;
  font-size: @base-table-middlesize-font-size;
}
.ant-table-default .ant-table-thead > tr > th {
  height: @base-table-largesize-line-height-th;
  font-size: @base-table-largesize-font-size;
}
.ant-table-default .ant-table-tbody > .ant-table-row,
.ant-table-default .ant-table-tbody > .ant-table-row-selected {
  height: @base-table-largesize-line-height-td;
  font-size: @base-table-largesize-font-size;
}
/* 表格行编辑控件尺寸 */
@base-edit-table-form-line-height: 28px;
@base-edit-table-form-font-size: 12px;
.ant-table .editable-cell-input-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  .ant-input {
    height: @base-edit-table-form-line-height;
    min-height: @base-edit-table-form-line-height;
    font-size: @base-edit-table-form-font-size;
  }
  .ant-input-number {
    width: 100%;
    height: @base-edit-table-form-line-height;
    font-size: @base-edit-table-form-font-size;
  }
  .ant-input-number-input {
    height: @base-edit-table-form-line-height;
    font-size: @base-edit-table-form-font-size;
  }
  .ant-select-selection--single {
    height: @base-edit-table-form-line-height;
    font-size: @base-edit-table-form-font-size;
  }
  .ant-select-selection__rendered {
    line-height: calc(@base-edit-table-form-line-height - 2px );
    font-size: @base-edit-table-form-font-size;
  }
  .ant-select-selection--multiple {
    min-height: @base-edit-table-form-line-height;
    font-size: @base-edit-table-form-font-size;
    .ant-select-selection__rendered{
      ul{
        li{
          margin-top: 1px;
        }
      }
    }
  }
}
/* 表格尺寸 End */

/* 表格分页样式 Start */
.ant-table-pagination {
  font-size: 12px;
  &.mini{
    .ant-pagination-prev .ant-pagination-item-link, 
    .ant-pagination-next .ant-pagination-item-link{
      line-height: calc(@base-edit-table-form-line-height - 6px );
    }
  }
  &.ant-pagination {
    margin:10px;
  }
  .ant-pagination-total-text {
    line-height: calc(@base-edit-table-form-line-height - 2px );
    height: @base-edit-table-form-line-height;
  }
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next,
  .ant-pagination-item {
    line-height: calc(@base-edit-table-form-line-height - 2px );
    height: @base-edit-table-form-line-height;
    min-width: 24px;
  }
  .ant-pagination-item a{
    color:#8594aa;
  }
  .ant-select-selection--single .ant-select-selection__rendered {
    line-height: calc(@base-edit-table-form-line-height - 2px );
    font-size: @base-table-smallsize-font-size;
  } 
  .ant-pagination-prev .ant-pagination-item-link, 
  .ant-pagination-next .ant-pagination-item-link{
    line-height: calc(@base-edit-table-form-line-height - 2px );
  }
  .ant-select-selection--single,
  .ant-pagination-options-quick-jumper {
    height: @base-edit-table-form-line-height;
    line-height: calc(@base-edit-table-form-line-height - 2px );
  }
  & .mini {
    .ant-pagination-options-quick-jumper {
      line-height: calc(@base-edit-table-form-line-height - 2px );
      height: @base-edit-table-form-line-height;
      input{
        line-height: calc(@base-edit-table-form-line-height - 2px );
        height: @base-edit-table-form-line-height;
      }
    }
  }
}
.ant-pagination-options{
  margin-left: 12px;
}
.ant-table-fixed-header .ant-table-scroll .ant-table-header {
  margin-bottom: -8px !important;
  padding-bottom: 8px !important;
  overflow: hidden !important;
}  
/* 表格分页样式 End */

/* 排序图标下沉解决 Start */
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-full {
  margin-top: -0.45em;
}
/* 排序图标下沉解决 End */

/* 表头添加红色星号表示必填 Start */
.ant-table-thead th.required-table-title::before {
  content: '*';
  color: red;
  display: inline;
}
/* 表头添加红色星号表示必填 End */

/* 行编辑时，日期控件文字与图标重叠解决 Start */
.editable-cell .ant-calendar-picker-input {
  padding-right: 27px !important;
}
/* 行编辑时，日期控件文字与图标重叠解决 End */
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover{
  background:#f5f7fa;
}
.ant-table-thead > tr > th.ant-table-column-sort{
  background:#ebeef6;
}
/* 树形展示表格中展开图标样式定义 */
.ant-table .ant-table-row-cell-ellipsis{
  .ant-table-row-expand-icon{
    background: none;
    border: none;
  }
}