/* Start 列显隐样式 */
.table-column-setting-popover .ant-popover-inner-content {
  max-height: 260px;
  overflow-y: auto;
}
/* 列显隐列表的滚动条样式 */
.table-column-setting-popover .ant-popover-inner-content::-webkit-scrollbar-thumb {
  border-width: 0 0 0 9px;
}
.table-column-setting-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}
.table-column-setting-list {
  display: flex;
  flex-direction: column;
  width: 168px;
  .table-column-setting-list-item {
    display: block;
    width: 100%;
    .table-column-setting-list-item-li {
      position: relative;
      width: 100%;
      height: 30px;
      padding-right: 0.8rem;
      .ant-checkbox-wrapper {
        margin-bottom: 8px;
        margin-left: 0;
        width: 100%;
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
/* End 列显隐样式 */
/* Start 拖拽相关 */
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.8;
}

.drag-fallback {
  opacity: 0 !important;
}

/* End 拖拽相关 */
